<div class="row" translate-namespace="Condominiums.CadastralReference" ng-form="$ctrl.form">
    <div class="col-md-12">
        <div class="form-group">
            <label for="cadastralStatus"><span translate>.State.Label</span></label>
            <select id="cadastralStatus" name="cadastralStatus" class="form-control"
                    ng-model="$ctrl.value.cadastralStatus" ng-change="$ctrl.onChange()">
                <option value=""></option>
                <option value="PROPERTY_REGISTERED" translate>.State.PROPERTY_REGISTERED</option>
                <option value="QUERY_ONGOING" translate>.State.QUERY_ONGOING</option>
            </select>
        </div>
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="districtCode"><span translate>.DistrictCode</span></label>
                    <input id="districtCode" name="districtCode" class="form-control"
                           ng-model="$ctrl.value.districtCode" maxlength="4" ng-change="$ctrl.onChange()">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="propertyType"><span translate>.PropertyType.Label</span></label>
                    <select id="propertyType" name="propertyType" class="form-control"
                            ng-model="$ctrl.value.propertyType" ng-change="$ctrl.onChange()">
                        <option value=""></option>
                        <option value="URBAN" translate>.PropertyType.URBAN</option>
                        <option value="TERRAIN" translate>.PropertyType.TERRAIN</option>
                    </select>
                </div>
            </div>
            <div class="clearfix visible-md visible-lg visible-sm hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="propertySection"><span translate>.PropertySection.Label</span></label>
                    <select id="propertySection" name="propertySection" class="form-control"
                            ng-model="$ctrl.value.propertySection" ng-change="$ctrl.onChange()">
                        <option value=""></option>
                        <option value="INTERO" translate>.PropertySection.INTERO</option>
                        <option value="PORZIONE" translate>.PropertySection.PORZIONE</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="cadastralDistrict"><span translate>.CadastralDistrict</span></label>
                    <input id="cadastralDistrict" name="cadastralDistrict" class="form-control"
                           ng-model="$ctrl.value.cadastralDistrict" maxlength="4" ng-change="$ctrl.onChange()">
                </div>
            </div>
            <div class="clearfix visible-md visible-lg visible-sm hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="page"><span translate>.Page</span></label>
                    <input id="page" name="page" class="form-control"
                           ng-model="$ctrl.value.page" maxlength="7" ng-change="$ctrl.onChange()">
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="parcel"><span translate>.Parcel</span></label>
                    <input id="parcel" name="parcel" class="form-control"
                           ng-model="$ctrl.value.parcel" maxlength="7" ng-change="$ctrl.onChange()">
                </div>
            </div>
            <div class="clearfix visible-md visible-lg visible-sm hidden-xs"></div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="parcelType"><span translate>.ParcelType.Label</span></label>
                    <select id="parcelType" name="parcelType" class="form-control"
                            ng-model="$ctrl.value.parcelType" ng-change="$ctrl.onChange()">
                        <option value=""></option>
                        <option value="FONDIARIA" translate>.ParcelType.FONDIARIA</option>
                        <option value="EDIFICIALE" translate>.ParcelType.EDIFICIALE</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="subordinate"><span translate>.Subordinate</span></label>
                    <input id="subordinate" name="subordinate" class="form-control"
                           ng-model="$ctrl.value.subordinate" maxlength="7" ng-change="$ctrl.onChange()">
                </div>
            </div>
        </div>
    </div>
</div>