<div class="form-group">
    <label for="notes"><span translate>Condominiums.Form.Notes</span></label>
    <input id="notes" class="form-control" maxlength="256"
           ng-model="$ctrl.notes" ng-maxlength="256" ng-change="$ctrl.onChange()">
</div>