<div  translate-namespace="Condominiums.Form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="name"><span translate>.CondominiumName</span> *</label>
                <input id="name" name="name" class="form-control" maxlength="80"
                       ng-model="$ctrl.value.name" ng-required="true" ng-minlength="3" ng-maxlength="80"
                       ng-change="$ctrl.onChange()">
            </div>
            <div class="form-group">
                <label for="taxCode"><span translate>.TaxCode</span> *</label>
                    <tax-code-input id="taxCode" name="taxCode"
                        ng-model="$ctrl.value.taxCode" ng-change="$ctrl.onChange()"
                        ng-required="true"></tax-code-input>
            </div>
            <div class="form-group">
                <label for="manager"><span translate>.Manager</span> *</label>
                <manager-chooser id="manager" name="manager" ng-required="true"
                                 ng-model="$ctrl.value.managerId" ng-change="$ctrl.onChange()"></manager-chooser>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="$ctrl.active">
                <uib-tab index="0" heading="{{ 'Condominiums.Form.Address' | translate }}">
                    <div class="row m-t-md">
                        <div class="col-md-6">
                            <address-input id="condominium" ng-required="true" ng-model="$ctrl.value.address" ng-change="$ctrl.onChange()"></address-input>
                        </div>
                        <div class="col-md-6">
                            <google-map-address id="map" ng-model="$ctrl.value.address" ng-change="$ctrl.onChange()"></google-map-address>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="1" heading="{{ 'Condominiums.Form.CadastralReference' | translate }}">
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <cadastral-reference ng-model="$ctrl.value.cadastralReference" ng-change="$ctrl.onChange()"></cadastral-reference>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="2" heading="{{ 'Condominiums.Form.OtherData' | translate }}">
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <condominium-tax-data-input ng-model="$ctrl.value" ng-change="$ctrl.onChange()"></condominium-tax-data-input>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab index="3" heading="{{ 'Condominiums.Form.Notes' | translate }}">
                    <div class="row m-t-md">
                        <div class="col-md-12">
                            <condominium-notes-input ng-model="$ctrl.value.notes" ng-change="$ctrl.onChange()"></condominium-notes-input>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>