.condominiums-wrapper {
  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .summary {
    h2 {
      color: #1ab394;
    }
  }

  .row {
    .map {
      height: 310px;

      .map-placeholder {
        background-color: #aaa;
        height: 100%;
      }
    }
  }
}