<div class="wrapper wrapper-content" translate-namespace="Condominiums.List">
    <div class="row">
        <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
        <div class="col-lg-12" ng-show="!$ctrl.loading">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools">
                        <button ui-sref=".create"
                                class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew.Label</span>
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table ng-table="$ctrl.tableParams" class="table table-hover table-bordered table-striped">
                            <colgroup>
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-4">
                                <col class="col-md-3">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data track by item.id">
                                <td data-title="'Condominiums.List.TaxCode' | translate"
                                    data-sortable="'taxCode'">
                                    {{ item.taxCode }}
                                </td>
                                <td data-title="'Condominiums.List.Name' | translate"
                                    data-sortable="'name'">
                                    {{ item.name }}
                                </td>
                                <td data-title="'Condominiums.List.Address' | translate">
                                    {{ item | address }}
                                </td>
                                <td data-title="'Condominiums.List.Manager' | translate">
                                    {{ item.managerFirstName }} {{ item.managerLastName }}
                                </td>
                                <td data-title="'actions' | translate" class="text-right">
                                    <button ui-sref=".edit({ condominiumId: item.id })"
                                            uib-tooltip="{{ 'Condominiums.List.Edit.Tooltip' | translate }}"
                                            data-tooltip-append-to-body="true"
                                            class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>