<div translate-namespace="Condominiums.TaxData">
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="inpsCode"><span translate>.InpsCode</span></label>
                <input id="inpsCode" name="inpsCode" class="form-control" maxlength="35"
                       ng-model="$ctrl.value.inpsCode"
                       ng-maxlength="35"
                       ng-change="$ctrl.onChange()">
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="entratelCodes"><span translate>.EntratelCodes</span></label>
                <input id="entratelCodes" name="entratelCodes" class="form-control"
                       ng-model="$ctrl.value.entratelCodes" ng-list=", "
                       ng-change="$ctrl.onChange()">
            </div>
        </div>
    </div>
</div>