<nav ng-show="!$state.current.data.navigationHide" class="navbar navbar-static-top" role="navigation">
    <div class="navbar-collapse collapse" id="navbar" ng-controller="commons.TopnavbarController">
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.dashboard({condominiumId: condominiumId})" href="#" class="dropdown-toggle"
                    data-toggle="dropdown"> Home </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.financial-periods-list({condominiumId: condominiumId})" class="dropdown-toggle"
                    data-toggle="dropdown"> Esercizi </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.structure.root({condominiumId: condominiumId, backHistory: true})"
                    class="dropdown-toggle" data-toggle="dropdown"> Struttura </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.person.list({condominiumId: condominiumId, backHistory: true})" class="dropdown-toggle"
                    data-toggle="dropdown"> Anagrafica </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.centre-cost({condominiumId: condominiumId, backHistory: true})" class="dropdown-toggle"
                    data-toggle="dropdown"> Centri di Costo </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.condominium-report({condominiumId: condominiumId, backHistory: true})"
                    class="dropdown-toggle" data-toggle="dropdown"> Riparti Energetici </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.condominium-report-prints({condominiumId: condominiumId, backHistory: true})"
                    class="dropdown-toggle" data-toggle="dropdown"> Lista Report </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.distribution-criterion({condominiumId: condominiumId, backHistory: true})"
                    class="dropdown-toggle" data-toggle="dropdown"> Criteri di Ripartizione </a>
            </li>
            <li class="dropdown">
                <a aria-expanded="false" role="button" ui-sref="index.distribution-criterio({condominiumId: condominiumId, backHistory: true})"
                    class="dropdown-toggle" data-toggle="dropdown"> Ripartizione </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" uib-dropdown>
                <a href="#" class="dropdown-toggle" uib-dropdown-toggle role="button" aria-haspopup="true" aria-expanded="false">
                    {{condominium_data.name}}
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li class="dropdown">
                        <a ui-sref="index.structure-list" data-toggle="dropdown">Seleziona Condominio </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>