<div class="wrapper wrapper-content manual-transaction-container" translate-namespace="ManualTransaction">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div ibox-tools class="text-right">
                        <a ng-click="vm.newRecord()" tooltip-placement="top" uib-tooltip="{{  'ManualTransaction.NewRecord.' + vm.tx.type  | translate }}"
                         translate class="btn btn-sm btn-primary" type="button"  ng-if="vm.checkNewRecordAction(vm.tx)">
                        <i class="fa fa-plus"></i>
                        <span translate>{{ 'ManualTransaction.NewRecord.' + vm.type  }}</span>
                        </a>&nbsp; 
                        <a ui-sref="^" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.BackToList' | translate }}"
                            class="btn btn-sm btn-primary" type="button">
                               <span translate>ManualTransaction.BackToList</span>
                             </a>
                    </div>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div ng-hide="vm.loading" class="ibox-content">
                    <div class="row">                        
                        <div  ng-include="'app/accounting-transaction/manual-transaction/manual-transaction-detail.html'" ng-if="vm.tx.type == 'MAN_TX_GENERAL' ||
                            vm.tx.type == 'MAN_TX_PERSONAL' || vm.tx.type == 'MAN_TX_REVENUE'" >
                        </div> 
                        <div  ng-include="'app/accounting-transaction/instalment-transaction/instalment-transaction-detail.html'" ng-if="vm.tx.type == 'INSTALMENT_TX'">
                        </div> 
                        <div  ng-include="'app/accounting-transaction/money-transfer/money-transfer-tx-detail.html'" ng-if="vm.tx.type == 'MONEY_TRANSFER_TX' ||
                        vm.tx.type == 'INVESTMENT_FUND_TX' || vm.tx.type == 'DISINVESTMENT_FUND_TX'">
                        </div>
                        <div  ng-include="'app/accounting-transaction/user-defined/user-defined-tx-detail.html'" ng-if="vm.tx.type == 'USER_DEFINED_TX'">
                        </div>
                        <div class="col-sm-8 col-lg-9">
                            <div class="table-responsive">
                                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover">
                                    <colgroup>
                                        <col class="col-md-1">
                                        <col class="col-md-1">
                                        <col class="col-md-3">
                                        <col class="col-md-2">
                                        <col class="col-md-1">
                                        <col class="col-md-1">
                                        <col class="col-md-1">
                                        <col class="col-md-1">
                                    </colgroup>
                                    <tr ng-repeat="row in $data track by row.id">
                                        <td data-title="'ManualTransaction.Protocol' | translate">{{ vm.tx.typeCode}}{{ vm.tx.protocol}}-{{row.subProtocol}}</td>
                                        <td data-title="'ManualTransaction.Kind.Title' | translate"><span translate>{{ 'ManualTransaction.RecordKind.' + row.type }}</span></td>
                                        <td data-title="'ManualTransaction.Description' | translate">{{ row.description }}</td>
                                        <td data-title="'ManualTransaction.Date' | translate" class="text-center">
                                            {{ row.date | date: 'shortDate' }}
                                        </td>
                                        <td data-title="'ManualTransaction.Amount' | translate" class="text-right"><span translate>{{ row.amount | currency }}</span></td>
                                        <td data-title="'ManualTransaction.Paid' | translate" class="text-right"><span translate>{{ row.status}}</span></td>
                                        <td data-title="'ManualTransaction.Checked' | translate" class="text-right"><input type="checkbox" ng-model="row.checked" disabled="true"></td>
                                        <td data-title="'ManualTransaction.Actions' | translate">
                                            <a ng-click="vm.editRecord(row)" uib-tooltip="{{ 'ManualTransaction.Edit' | translate }}" tooltip-placement="top" tooltip-append-to-body="true"
                                                ng-if="vm.recordFormConfiguration[row.type].update  == 'true' && row.masterRecordId == null" class="btn btn-circle btn-primary"
                                                type="button">
                                                        <i class="fa fa-edit"></i>
                                                    </a>
                                            <button ng-click="vm.removeRecord(row)" uib-tooltip="{{ 'ManualTransaction.Delete' | translate }}" tooltip-placement="top"
                                                tooltip-append-to-body="true" ng-if="vm.recordFormConfiguration[row.type].delete  == 'true'"
                                                class="btn btn-circle btn-danger" type="button">
                                                        <i class="fa fa-remove"></i>
                                                    </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>