.accounting-transaction-container {

  min-height: 350px;
  
  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .btn-group {
    &.dropdown {
      margin-right: 3px;
    }
  }

  .dropdown-toggle {
    > .caret {
      border-top: 4px dashed;
    }
  }

  // override to follow the original bootstrap definitions
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
}

.manual-transaction-container,
.accounting-transaction-container {
  .transaction-types {
    display: inline;
  }

  .btn {
    
    &.btn-mix-CHECKED,
    &.btn-mix-PAID {
      .btn-success;
    }
    &.btn-mix-PARTIALLY_CHECKED,
    &.btn-mix-PARTIALLY_PAID,
    &.btn-mix-PARTIALLY_REJECTED {
      .btn-warning;
    }
    &.btn-mix-TO_PAY,
    &.btn-mix-TO_CHECK,
    &.btn-mix-PAID_WITH_OVERFLOW,
    &.btn-mix-REJECTED {
      .btn-danger;
    }
  }
  .fa {

    &.fa-mix-PAID,
    &.fa-mix-PAID_WITH_OVERFLOW {
      &:before {
        content: "\f240";
      }
    }
    &.fa-mix-TO_PAY:before {
      content: "\f244";
    }
    &.fa-mix-PARTIALLY_PAID:before {
      content: "\f242";
    }
    &.fa-mix-CHECKED:before,
    &.fa-mix-TO_CHECK:before,
    &.fa-mix-PARTIALLY_CHECKED:before {
      content: "\f00c";
    }

    &.fa-mix-REJECTED:before,
    &.fa-mix-NOT_REJECTED:before,
    &.fa-mix-PARTIALLY_REJECTED:before {
      content: "\f122";
    }
      
  }
}


.transaction-totals-container {
  text-align: -webkit-right;

  .table {
    width: 75%;
    margin-bottom: 0px;

    & > tbody > tr:first-child > td {
      border: none;
    }
  }
}
