<div class="wrapper wrapper-content manual-transaction-container" translate-namespace="ManualTransaction">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div ibox-tools class="text-right">
                        <a ui-sref="^" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.BackToList' | translate }}"
                            class="btn btn-sm btn-primary" type="button">
                            <span translate>ManualTransaction.BackToList</span>
                        </a>
                    </div>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div ng-hide="vm.loading" class="ibox-content">
                    <div class="row">


                        <div ng-include="'app/accounting-transaction/manual-transaction/manual-transaction-detail.html'" ng-if="vm.tx.type == 'MAN_TX_GENERAL' ||
                            vm.tx.type == 'MAN_TX_PERSONAL' || vm.tx.type == 'MAN_TX_REVENUE'">
                        </div>
                        <div ng-include="'app/accounting-transaction/instalment-transaction/instalment-transaction-detail.html'" ng-if="vm.tx.type == 'INSTALMENT_TX'">
                        </div>
                        <div ng-include="'app/accounting-transaction/money-transfer/money-transfer-tx-detail.html'" ng-if="vm.tx.type == 'MONEY_TRANSFER_TX' ||
                        vm.tx.type == 'INVESTMENT_FUND_TX' || vm.tx.type == 'DISINVESTMENT_FUND_TX'">
                        </div>
                        <div ng-include="'app/accounting-transaction/user-defined/user-defined-tx-detail.html'" ng-if="vm.tx.type == 'USER_DEFINED_TX'">
                        </div>

                        <div class="col-sm-8 col-lg-9 accounting-transactions-writing-detail">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="row">
                                        <th class="col-md-1 col-sm-4 col-xs-4 text-center">Data</th>
                                        <th class="col-md-2 col-sm-4 col-xs-4 text-center">Competenze</th>
                                        <th class="col-md-5 col-sm-4 col-xs-4">Conto</th>
                                        <th class="col-md-2 col-sm-4 col-xs-4 text-center">Dare</th>
                                        <th class="col-md-2 col-sm-4 col-xs-4 text-center">Avere</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="row" ng-repeat="row in vm.writingList">
                                        <td colspan="5">
                                            <div class="row" ng-repeat="detail in row.details['TO_GIVE']">
                                                <div class="col-md-1 col-sm-4 col-xs-4">
                                                    <span ng-if="$index == 0">
                                                        {{ row.recordingDate | date: 'shortDate' }}
                                                  </span>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-4">
                                                    <span ng-if="$index == 0">
                                                        {{ row.competence.startDate | date: 'shortDate' }} - {{ row.competence.endDate | date: 'shortDate' }}
                                                        <span type="button" tooltip-placement="top" uib-tooltip="{{ 'AccountingTransaction.WarningFinancialPeriod' | translate }}"
                                                            tooltip-append-to-body="true" ng-if="row.financialPeriodId != vm.periodId">
                                                            <i class="fa fa-exclamation"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                                <div class="col-md-5 col-sm-4 col-xs-4 text-left">{{ detail.materializedPath}} - {{ detail.materializedPathDescription }}</div>
                                                <div class="col-md-2 col-sm-4 col-xs-4 text-right">{{ detail.amount | currency }}</div>
                                                <div class="col-md-2 col-sm-4 col-xs-4 text-right"></div>
                                            </div>
                                            <div class="row" ng-repeat="detail in row.details['TO_HAVE']">
                                                <div class="col-md-3 col-sm-4 col-xs-4"></div>
                                                <div class="col-md-5 col-sm-4 col-xs-4 text-left">{{ detail.materializedPath}} - {{ detail.materializedPathDescription }}</div>
                                                <div class="col-md-2 col-sm-4 col-xs-4 text-right"></div>
                                                <div class="col-md-2 col-sm-4 col-xs-4 text-right">{{ detail.amount | currency }}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">&nbsp;</div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-3 col-sm-4 col-xs-4"></div>
                                                <div class="col-md-9 col-sm-8 col-xs-12" ng-if="row.description.length <= 300">
                                                    {{ row.description }}
                                                </div>
                                                <div class="col-md-9 col-sm-8   col-xs-12" ng-if="row.description.length > 300">
                                                    <uib-accordion ng-if="row.description">
                                                        <div uib-accordion-group class="panel-default" is-open="vm.accordian[$index].isOpen">
                                                            <uib-accordion-heading>
                                                                Descrizione
                                                                <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': vm.accordian[$index].isOpen, 'glyphicon-chevron-right': !vm.accordian[$index].isOpen}"></i>
                                                            </uib-accordion-heading>
                                                            {{ row.description }}
                                                        </div>
                                                    </uib-accordion>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>