<script type="text/ng-template" id="app/accounting-transaction/accounting-transaction-type-filter.html">
    <select name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
            class="input-filter form-control"
            ng-options="item.name as item.name| translate for item in vm.accoutingTransactionTypes | orderBy:'name | translate'" >
    
        <option value="">
    </select>
</script>
<script type="text/ng-template" id="app/accounting-writing/accounting-transaction-data-filter.html">
    <date-range-filter id="dateFilter" name="dateFilter" 
   ng-required="false"
    name="{{ name }}"  ng-model="params"
    class="input-filter" filter-from-name="startDate" filter-to-name="endDate" 
    ></date-range-filter>
</script>
<script type="text/ng-template" id="app/accounting-writing/accounting-transaction-amount-filter.html">
    <amount-range-filter id="amountFilter" name="amountFilter" 
   ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params"
    class="input-filter" filter-from-name="startAmount" filter-to-name="endAmount" 
    ></amount-range-filter>
</script>
<div class="wrapper wrapper-content accounting-transaction-container" translate-namespace="AccountingTransaction">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>


                    <div ibox-tools class="text-right">
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span translate>.Add</span>&nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ui-sref=".add-manual-tx" translate>.AddCost</a>
                                </li>
                                <li>
                                    <a ui-sref=".add-manual-tx({ transactionType: 'MAN_TX_PERSONAL'})" translate>.AddPersonal</a>
                                </li>

                                <li role="separator" class="divider"></li>
                                <li>
                                    <a ui-sref=".add-money-transfer({ transactionType: 'MONEY_TRANSFER_TX'})" translate>.AddMoneyTransfer</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a ui-sref=".add-manual-tx({ transactionType: 'MAN_TX_REVENUE'})" translate>.AddRevenue</a>
                                </li>
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span translate>.Funds</span>&nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ui-sref=".add-money-transfer({ transactionType: 'INVESTMENT_FUND_TX'})" translate>.AddInvestmentFund</a>
                                </li>
                                <li>
                                    <a ui-sref=".add-money-transfer({ transactionType: 'DISINVESTMENT_FUND_TX'})" translate>.AddDisinvestemtFund</a>
                                </li>
                                <!--
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a ui-sref=".add-user-defined({ transactionType: 'ADVANCE_PAYMENT_TX'})" translate>.AddAdvancePayment</a>
                                </li>
                                <li>
                                    <a ui-sref=".add-user-defined({ transactionType: 'CLOSING_ADVANCE_PAYMENT_TX'})" translate>.AddDisinvestmentAdvancePayment</a>
                                </li>
                                -->
                            </ul>
                        </div>
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span translate>.AddUserDefined</span>&nbsp;
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ui-sref=".add-user-defined({ transactionType: 'USER_DEFINED_TX'})" translate>.AddUserDefined</a>
                                </li>
                            </ul>
                        </div>                          
                        <div class="btn-group dropdown">
                            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-print fa-fw"></i>&nbsp;
                                <span translate>.Print</span>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a ng-click="vm.openPrintFinalBalanceOption()" translate>.PrintFinalBalance</a>
                                </li>
                                <li>
                                    <a ng-click="vm.openPrintRipartitionsOption()" translate>.PrintRepartition</a>
                                </li>
                            </ul>
                        </div>
                        <button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" ng-disabled="$vm.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div ng-hide="vm.loading" class="ibox-content">
                    <div class="table-responsive">
                        <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" data-show-filter="vm.showFilters">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-4">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="row in $data track by row.id">
                                <td data-title="'AccountingTransaction.Protocol' | translate" data-sortable="'protocol'">  {{ row.typeCode}}{{ row.protocol}}
                                    <span type="button" tooltip-placement="top" uib-tooltip="{{ 'AccountingTransaction.WarningFinancialPeriod' | translate }}"
                                        tooltip-append-to-body="true" ng-if="row.financialPeriodExternalId != vm.periodId">
                                        <i class="fa fa-exclamation"></i>
                                    </span>

                                </td>
                                <td data-title="'AccountingTransaction.Kind.Title' | translate" data-filter="{ type: 'app/accounting-transaction/accounting-transaction-type-filter.html' }">
                                    <span translate>{{ row.type }}</span>  
                                </td>
                                <td data-title="'AccountingTransaction.Description' | translate" filter="{writingDescription: 'text'}">{{ row.writingDescription }}</td>
                                <td data-title="'AccountingTransaction.Period' | translate" class="text-center" data-sortable="'startDate'" data-filter="{ date: 'app/accounting-writing/accounting-transaction-data-filter.html' }">
                                    {{ row.startDate | date: 'shortDate' }}
                                    <span ng-if="row.endDate != row.startDate"> - {{ row.endDate | date: 'shortDate' }} </span>
                                </td>
                                <td data-title="'AccountingTransaction.Amount' | translate" class="text-right" data-sortable="'totalAmount'" data-filter="{ date: 'app/accounting-writing/accounting-transaction-amount-filter.html' }">
                                    <span translate>{{ row.totalAmount | currency }}</span>
                                </td>
                                <td data-title="'AccountingTransaction.Status.Title' | translate" class="text-right" >
                                    <div ng-repeat="counter in row.counter.amountCounter track by counter.type" class="transaction-types" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'">
                                        <button class="btn btn-mix-{{ counter.status }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.RecordKind.' + counter.type | translate }} - {{ 'ManualTransaction.Status.' + counter.status | translate }}"
                                            tooltip-append-to-body="true">
                                            <i class="fa fa-mix-{{ counter.status }}"></i>
                                        </button>
                                    </div>
                                    <button class="btn btn-mix-{{ row.checked }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + row.checked | translate }}"
                                        tooltip-append-to-body="true" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'">
                                        <i class="fa fa-mix-{{ row.checked }}"></i>
                                    </button>
                                    <button class="btn btn-mix-{{ row.rejected }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + row.rejected | translate }}"
                                        tooltip-append-to-body="true" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'">
                                        <i class="fa fa-mix-{{ row.rejected }}"></i>
                                    </button>
                                </td>
                                <td data-title="'AccountingTransaction.Actions' | translate" class="text-right">

                                    <div class="btn-group btn-group-sm" uib-dropdown data-dropdown-append-to-body="true">
                                        <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                            <span translate>.Actions</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu data-is-open="true" role="menu" aria-labelledby="single-button">
                                            <li role="menuitem" ng-if="vm.transactionFormConfiguration[row.type].modify  == 'true'">
                                                <a href="" ng-click="vm.openEditForm(row)">
                                                    <i class="fa fa-edit fa-fw"></i>
                                                    <span translate>.Edit</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'">
                                                <a ui-sref=".detail({ transactionId: row.id , transactionType: row.type})">
                                                    <i class="fa fa-credit-card fa-fw"></i>
                                                    <span translate>.Detail</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'">
                                                <a ui-sref=".detailWriting({ transactionId: row.id, transactionType: row.type})">
                                                    <i class="fa fa-book fa-fw"></i>
                                                    <span translate>.DetailWriting</span>
                                                </a>
                                            </li>
                                            <li role="separator" ng-if="vm.transactionFormConfiguration[row.type].delete  == 'true'" class="divider"></li>
                                            <li role="menuitem" ng-if="vm.transactionFormConfiguration[row.type].delete  == 'true'">
                                                <a href="" ng-click="vm.removeTransaction(row)">
                                                    <i class="fa fa-remove fa-fw"></i>
                                                    <span translate>.Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>

                                    <!--
                                    <a ng-click="vm.openEditForm(row)" uib-tooltip="{{ 'AccountingTransaction.Edit' | translate }}" tooltip-placement="top" tooltip-append-to-body="true"
                                        class="btn btn-circle btn-primary" type="button" ng-if="vm.transactionFormConfiguration[row.type].modify  == 'true'">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ui-sref=".detail({ transactionId: row.id , transactionType: row.type})" uib-tooltip="{{ 'AccountingTransaction.Detail' | translate }}"
                                        tooltip-placement="top" tooltip-append-to-body="true" class="btn btn-circle btn-primary" ng-if="vm.transactionFormConfiguration[row.type].detail  == 'true'"
                                        type="button">
                                        <i class="fa fa-credit-card"></i>
                                    </a>
                                    <a ui-sref=".detailWriting({ transactionId: row.id, transactionType: row.type})" uib-tooltip="{{ 'AccountingTransaction.DetailWriting' | translate }}"
                                        tooltip-placement="top" tooltip-append-to-body="true" class="btn btn-circle btn-primary"
                                        type="button">
                                        <i class="fa fa-book"></i>
                                    </a>
                                    <button ng-click="vm.removeTransaction(row)" uib-tooltip="{{ 'AccountingTransaction.Delete' | translate }}" tooltip-placement="top"
                                        tooltip-append-to-body="true" class="btn btn-circle btn-danger" type="button" ng-if="vm.transactionFormConfiguration[row.type].delete  == 'true'">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                    -->
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>