<form novalidate name="form" translate-namespace="AccountingTransaction">
    <div class="modal-header">
        <i class="fa fa-list-alt modal-icon"></i>
        <h4 class="modal-title" translate>.PrintRepartition</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="print-type">
                <span translate>.PrintType</span>*</label>
            <select id="print-type" name="print-type" class="form-control" ng-model="vm.printOption.printType" required>
                <option value="distribution-by-registry" translate>.AnagraficRepartition</option>
                <option value="distribution-by-unit" translate>.UnitRepartition</option>
                <option value="distribution-by-registry-by-unit" translate>.AnagraficUnitRepartition</option>
                <option value="distribution-by-unit-by-registry" translate>.UnitAnagraficRepartition</option>
            </select>
        </div>

        <div class="form-group" ng-if="vm.printOption.printType !=undefined">
            <label for="print-type">
                <span translate>.DatailLevel</span>*</label>
            <select id="print-type" name="print-type" class="form-control" ng-model="vm.printOption.printDetail" required>
                <option value="table" translate>.DetailTable</option>
                <option value="account" translate>.DetailAccount</option>
                <option value="subaccount" translate>.DetailSubAccount</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'xlsx');$dismiss();" translate>.ConfirmExcelExport</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'pdf');$dismiss();" translate>.ConfirmPrint</button>
    </div>
</form>