<script type="text/ng-template" id="app/accounting-writing/accounting-writing-account-filter.html">
    <account-input id="accountFilter" name="accountFilter" chart-of-accounts-id="vm.period.chartOfAccountsId"
    company-id="vm.period.ownerCompanyId" allow-all="true" ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
    class="input-filter"
    ></account-input>
</script>
<script type="text/ng-template" id="app/accounting-writing/accounting-writing-data-filter.html">
    <date-range-filter id="dateFilter" name="dateFilter" 
   ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params"
    class="input-filter" filter-from-name="competenceFrom" filter-to-name="competenceTo" 
    ></date-range-filter>
</script>
<script type="text/ng-template" id="app/accounting-writing/accounting-writing-type-filter.html">
    <writing-type-filter id="typeFilter" name="typeFilter" 
   ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
    class="input-filter" name="type" company-id="vm.period.ownerCompanyId" 
    ></writing-type-filter>
</script>
<div class="wrapper wrapper-content accounting-writing-wrapper" translate-namespace="AccountingWriting.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>


                    <div ibox-tools class="text-right">
                        <button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" ng-disabled="vm.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <div class="ibox-content" ng-class="vm.form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive accounting-writing-container">
                                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" data-show-filter="vm.showFilters">

                                    <tr ng-repeat="row in $data track by row.id">
                                        <td data-title="'AccountingWriting.List.RecordingDate' | translate" class="text-center" >
                                            {{ row.recordingDate | date: 'shortDate' }}
                                        </td>
                                        <td data-title="'AccountingWriting.List.CompetenceDate' | translate" class="text-center" data-filter="{ date: 'app/accounting-writing/accounting-writing-data-filter.html' }">
                                            {{ row.competence.startDate | date: 'shortDate' }}
                                            <span ng-if="row.competence.endDate != row.competence.startDate"> - {{ row.competence.endDate | date: 'shortDate' }} </span>

                                        </td>
                                        <td data-title="'AccountingWriting.List.Type' | translate" data-filter="{ type: 'app/accounting-writing/accounting-writing-type-filter.html' }" >
                                             <span ng-if="row.type"> {{ 'UserDefinedTransaction.Types.' + row.type | translate }}</span>
                                             [  {{ row.automatedWriting.description }}  ]
                                        </td>
                                        <td data-title="'AccountingWriting.List.Description' | translate">{{ row.description }}
                                        </td>
                                        <td data-title="'AccountingWriting.List.Account' | translate" data-filter="{ materializedPath: 'app/accounting-writing/accounting-writing-account-filter.html' }">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-4 col-xs-4 text-left"></div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right">
                                                    <span class="text-underline">Dare</span>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right">
                                                    <span class="text-underline">Avere</span>
                                                </div>
                                            </div>
                                            <div class="row PNG-detail-row" ng-repeat="detail in row.details['TO_GIVE']">

                                                <div class="col-md-6 col-sm-4 col-xs-4 text-left">{{ detail.materializedPath}} - {{ detail.materializedPathDescription }}</div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right">{{ detail.amount | currency }}</div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right"> </div>
                                            </div>
                                            <div class="row PNG-detail-row" ng-repeat="detail in row.details['TO_HAVE']">
                                                <div class="col-md-6 col-sm-4 col-xs-4 text-left">{{ detail.materializedPath}} - {{ detail.materializedPathDescription }}</div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right"></div>
                                                <div class="col-md-3 col-sm-4 col-xs-4 text-right">{{ detail.amount | currency }}</div>
                                            </div>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>