
<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-list-alt modal-icon"></i>
        <span translate>AmountRangeFilter.Title</span>
    </h4>
</div>
<div class="modal-body" id="PNG-date-filter-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="dateFrom">
                    <span translate>AmountRangeFilter.StartAmount</span></label>
                <div class="input-group">
                    <input id="dateFrom" name="dateFrom" class="form-control" ng-model="$ctrl.startAmount" ng-currency size="250px">
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="dateTo">
                    <span translate>AmountRangeFilter.EndAmount</span>
                </label>
                <div class="input-group">
                    <input id="dateTo" name="dateTo" class="form-control" ng-model="$ctrl.endAmount" ng-currency size="250px" >
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>AmountRangeFilter.Cancel</button>
    <button class="btn btn-primary" ng-click="$ctrl.doConfirm()" translate>AmountRangeFilter.Confirm</button>
</div>
