
<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-list-alt modal-icon"></i>
        <span translate>DataRangeFilter.Title</span>
    </h4>
</div>
<div class="modal-body" id="PNG-date-filter-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="dateFrom">
                    <span translate>DataRangeFilter.StartDate</span>*</label>
                <div class="input-group">
                    <input id="dateFrom" name="dateFrom" class="form-control" ng-model="$ctrl.startDate" ng-required="true" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        is-open="$ctrl.dateFromOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.dateFromOpened = !$ctrl.dateFromOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="form-group">
                <label for="dateTo">
                    <span translate>DataRangeFilter.EndDate</span>
                </label>
                <div class="input-group">
                    <input id="dateTo" name="dateTo" class="form-control" ng-model="$ctrl.endDate" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        is-open="$ctrl.dateToOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.dateToOpened = !$ctrl.dateToOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>DataRangeFilter.Cancel</button>
    <button class="btn btn-primary" ng-click="$ctrl.doConfirm()" translate>DataRangeFilter.Confirm</button>
</div>
