<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-list-alt modal-icon"></i>
        <span translate>WritingTypeFilter.Title</span>
    </h4>
</div>
<div class="modal-body" id="PNG-date-filter-body" ng-show="!$ctrl.loading">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="dateFrom">
                    <span translate>WritingTypeFilter.WritingType</span>*</label>
                    <select id="writingType" name="writingType" class="form-control" ng-model="$ctrl.writingType" ng-required="true"
                     ng-options="item.name as item.translated  for item in $ctrl.writingTypeList | orderBy:'translated'"></select>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>WritingTypeFilter.Cancel</button>
    <button class="btn btn-primary" ng-click="$ctrl.doConfirm()" translate>WritingTypeFilter.Confirm</button>
</div>