<form novalidate name="$ctrl.form" translate-namespace="Meetings.CallChooser" class="meetings-container">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="call"><span translate>.Call</span><span> *</span></label>
            <select id="call" name="call" ng-model="$ctrl.call" ng-required="true" class="form-control">
                <option value="0" translate>.FirstCall</option>
                <option value="1" translate>.SecondCall</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" data-ng-disabled="$ctrl.form.$invalid"
                progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
    </div>
</form>
