<div translate-namespace="Meetings.Form">
    <div class="form-group">
        <label for="financialPeriod"><span translate>.FinancialPeriod</span><span> *</span></label>
        <financial-period-select id="financialPeriod" name="financialPeriod"
                                 data-ng-model="$ctrl.value.financialPeriod"
                                 data-company-id="$ctrl.condominium.companyId"
                                 data-ng-required="true"
                                 data-ng-change="$ctrl.onChange()"></financial-period-select>
    </div>
    <div class="form-group">
        <label for="description"><span translate>.Description</span><span> *</span></label>
        <input id="description" name="description" data-ng-model="$ctrl.value.description"
               data-ng-required="true" data-ng-maxlength="150" maxlength="150" class="form-control"
               data-ng-change="$ctrl.onChange()">
    </div>
    <div class="form-group">
        <label for="propertyTable"><span translate>.PropertyTable</span><span> *</span></label>
        <thousandths-table-select id="propertyTable" name="propertyTable" data-property-only="true"
                                  data-ng-model="$ctrl.value.propertyTable"
                                  data-condominium-id="$ctrl.condominium.id"
                                  data-ng-required="true"
                                  data-ng-change="$ctrl.onChange()"></thousandths-table-select>
    </div>
</div>