<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Meetings.Attachments">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.meeting">.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref="^.^" class="btn btn-default btn-sm">
                            <i class="fa fa-backward"></i>
                            <span translate>.Cancel</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="table-responsive installment-plan-table-container">
                                <table ng-table="$ctrl.tableParams"
                                       data-show-filter="false"
                                       class="table table-bordered table-bordered table-hover">
                                    <colgroup>
                                        <col class="col-md-9">
                                        <col class="col-md-2">
                                        <col class="col-md-1">
                                    </colgroup>
                                    <tr ng-repeat="item in $data">
                                        <td data-title="'Meetings.Attachments.FileName' | translate">
                                            {{ item.fileName }}
                                        </td>
                                        <td data-title="'Meetings.Attachments.Size' | translate" class="text-right">
                                            {{ item.contentLength | byteFmt: 0 }}
                                        </td>
                                        <td data-title="'Meetings.Attachments.Actions.Title' | translate" class="text-right">
                                            <button class="btn btn-circle btn-danger"
                                                    ng-click="$ctrl.remove(item)"
                                                    uib-tooltip="{{ 'Meetings.Attachments.Actions.Delete' | translate }}"
                                                    data-tooltip-placement="top"
                                                    data-tooltip-append-to-body="true">
                                                <i class="fa fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <div ngf-select="$ctrl.upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                 ngf-drop="$ctrl.upload($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                 class="drop-box"
                                 ngf-drop-available="true">
                                <span translate>.SelectFile</span>
                                <span translate>.OrDropFile</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
