<div translate-namespace="Meetings.Form" ng-form="$ctrl.form">
    <div class="form-group">
        <label for="datetime"><span translate>.DateTime</span><span> *</span></label>
        <p class="input-group">
            <input id="datetime" name="dateTime" type="text" class="form-control text-right"
                   datetime-picker="dd/MM/yyyy HH:mm"
                   data-ng-model="$ctrl.value.dateTime"
                   ng-required="true"
                   ng-model-options="{ timezone: 'utc' }"
                   data-ng-change="$ctrl.onDateTimeChange()"
                   data-is-open="$ctrl.open"
                   data-datepicker-append-to-body="true"
                   data-datepicker-options="$ctrl.datepickerOptions"
                   data-timepicker-options="{ 'show-meridian': false }"
                   data-ng-datetime-err-type="secondCallDateTime">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default"
                        ng-click="$ctrl.open = !$ctrl.open">
                    <i class="fa fa-calendar"></i>
                </button>
                <button type="button" class="btn btn-warning" data-ng-disabled="!$ctrl.referenceSet"
                        ng-click="$ctrl.doForceRefresh()" ng-if="$ctrl.forceRefresh">
                    <i class="fa fa-refresh"></i>
                </button>
                <button type="button" class="btn btn-danger" data-ng-disabled="!$ctrl.value.dateTime"
                        ng-click="$ctrl.value.dateTime = undefined">
                    <i class="fa fa-remove"></i>
                </button>
          </span>
        </p>
    </div>
    <address-input data-ng-model="$ctrl.value.address" ng-required="true"
                   data-ng-change="$ctrl.onChange()" include-town="false"></address-input>
</div>