<div class="wrapper wrapper-content" translate-namespace="Meetings.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.condominium">.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()"
                                ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info"
                         ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoRecordFound</span>
                    </div>
                    <div class="table-responsive"
                         ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters"
                               class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Meetings.List.Description' | translate"
                                    data-filter="{description:'text'}"
                                    data-sortable="'description'">{{ item.description }}
                                </td>
                                <td data-title="'Meetings.List.FinancialPeriod' | translate"
                                    data-sortable="'financialPeriodId'">{{ item.financialPeriod.name }}
                                </td>
                                <td data-title="'Meetings.List.FirstCall' | translate" class="text-center">
                                    {{ item.firstCall.dateTime | date: 'short' }}
                                </td>
                                <td data-title="'Meetings.List.SecondCall' | translate" class="text-center">
                                    {{ item.secondCall.dateTime | date: 'short' }}
                                </td>
                                <td data-title="'Meetings.List.PropertyTable' | translate" class="text-center">
                                    <span ng-if="item.propertyTable">
                                        {{ item.propertyTable.description }}
                                        ({{ 'ThousandthsTables.Form.Type.' + item.propertyTable.thousandthType | translate }})
                                    </span>
                                </td>
                                <td data-title="'Meetings.List.State.Title' | translate" class="text-center">
                                    <span class="label label-default" ng-if="!item.summoned && !item.unrolled" translate>.State.New</span>
                                    <span class="label label-info" ng-if="item.summoned && !item.unrolled" translate>.State.Summoned</span>
                                    <span class="label label-success" ng-if="item.unrolled" translate>.State.Unrolled</span>
                                </td>
                                <td data-title="''" class="text-center">
                                    <div class="btn-group btn-group-sm" uib-dropdown data-is-open="item.buttonOpen"
                                         data-dropdown-append-to-body="true">
                                        <button type="button" class="btn btn-default" uib-dropdown-toggle>
                                            <span translate>.Actions</span> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu role="menu"
                                            aria-labelledby="single-button">
                                            <li role="menuitem" ng-if="item.summoned">
                                                <a href="" ng-click="$ctrl.unrollMeeting(item)">
                                                    <i class="fa fa-play fa-fw"></i>
                                                    <span translate>.Unroll</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="item.summoned && item.unrolled">
                                                <a href="" ng-click="$ctrl.sendMeetingUnroll(item)">
                                                    <i class="fa fa-send fa-fw"></i>
                                                    <span translate>.SendUnroll</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.unrolled">
                                                <a ui-sref=".attachments({ meetingId: item.id })">
                                                    <i class="fa fa-upload fa-fw"></i>
                                                    <span translate>.Attachments</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.unrolled">
                                                <a ui-sref=".summon({ meetingId: item.id })">
                                                    <i class="fa fa-address-book fa-fw"></i>
                                                    <span translate>.Summon</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.unrolled && item.summoned">
                                                <a ui-sref=".summon.send({ meetingId: item.id })">
                                                    <i class="fa fa-send fa-fw"></i>
                                                    <span translate>.Send</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.summoned">
                                                <a href="" ng-click="$ctrl.editParticipants(item)">
                                                    <i class="fa fa-users fa-fw"></i>
                                                    <span translate>.Participants</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.summoned">
                                                <a ui-sref=".agenda({ meetingId: item.id })">
                                                    <i class="fa fa-th-list fa-fw"></i>
                                                    <span translate>.Agenda</span>
                                                </a>
                                            </li>
                                            <li role="menuitem" ng-if="!item.summoned">
                                                <a ui-sref=".edit({ meetingId: item.id })">
                                                    <i class="fa fa-edit fa-fw"></i>
                                                    <span translate>.Edit</span>
                                                </a>
                                            </li>
                                            <li role="separator" ng-if="!item.summoned" class="divider"></li>
                                            <li role="menuitem" ng-if="!item.summoned">
                                                <a href="" ng-click="$ctrl.deleteMeeting(item)">
                                                    <i class="fa fa-remove fa-fw"></i>
                                                    <span translate>.Delete</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>