.meetings-container {

  .wrapper {
    &.wrapper-content {
      min-height: 815px;
    }
  } 

  .table > tbody > tr > td {
    vertical-align: middle;
    .form-group {
      margin-bottom: 0;
    }
  }

  .table .ng-table-group-header {
    display: none;
  }

  .tree {
    height: 400px;
    overflow: hidden;
  }

  .mCSB_container_wrapper > .mCSB_container {
    padding-right: 0px;
  }

  .angular-ui-tree-node {
    min-height: 27px;
    line-height: 27px;
  }

  .tree-node {
    padding: 8px 6px;

    &.tree-node-content {
      margin-right: 2px;
    }
    > .fa {
      font-size: 16px;

      &.fa-user {
        margin-right: 8px;
      }
    }
    > a.btn {
      margin-left: 5px;
    }
  }

  .vertical-container, .unrolling-expansion {
    height: 600px;
    overflow: hidden;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .pdf-container {
    height: 600px;
  }

  .drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    height: 170px;
    text-align: center;
    padding: 50px 10px;
    margin-left: 10px;
  }
}
.datetime-picker-dropdown {
  z-index: 1400;

  .uib-time input {
    width: 102px;
  }
}
