<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Meetings.Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.condominium">.Title</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <meeting-input ng-model="$ctrl.meeting" condominium="$ctrl.condominium"></meeting-input>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <legend><span translate>.FirstCall</span></legend>
                                <meeting-call-input ng-model="$ctrl.meeting.firstCall"
                                                    on-date-changed="$ctrl.firstCallDateChanged(previousDateTime, dateTime)"></meeting-call-input>
                            </fieldset>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <fieldset>
                                <legend><span translate>.SecondCall</span></legend>
                                <meeting-call-input ng-model="$ctrl.meeting.secondCall"
                                                    force-refresh="true"
                                                    reference-date="$ctrl.meeting.firstCall.dateTime"></meeting-call-input>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="button" data-ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                    progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
            <a ui-sref="^" class="btn btn-default" translate>.Cancel</a>
        </div>
    </div>
</div>
