<div ng-form="inner" translate-namespace="InstalmentPayment.Form">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title" translate>.Instalment</div>
        </div>
        <div class="panel-body">
            <div class="row" ng-if="!$ctrl.loading">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label for="paymentPersonPath"><span translate>.PersonPath</span></label>
                        <account-input id="paymentPersonPath" name="paymentPersonPath" ng-model="$ctrl.value.personMaterializedPath" chart-of-accounts-id="$ctrl.period.chartOfAccountsId"
                            company-id="$ctrl.period.ownerCompanyId" ng-disabled="$ctrl.disableUpdateRootCredit" ng-change="$ctrl.onChange()" root-account="{{$ctrl.prefixedPersonPath}}" ng-required="true"></account-input>
                </div>                  
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="payment-paymentDate"><span translate>.Date</span>*</label>
                    <div class="input-group">
                        <input id="payment-paymentDate" name="paymentDate" class="form-control" ng-model="$ctrl.value.date" ng-required="false"
                            ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate }}" is-open="$ctrl.paymentDateOpened"
                            on-open-focus="true" ng-change="$ctrl.onChange()" show-button-bar="false" disable-valid-styling="true" ng-required="true">
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.paymentDateOpened = !$ctrl.paymentDateOpened" >
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                    </div>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <label for="amount"><span translate>.Amount</span>*</label>
                    <input id="amount" name="amount" class="form-control" ng-model="$ctrl.value.amount" ng-currency ng-required="true"
                      ng-change="$ctrl.onChange()" ng-readonly="$ctrl.disableUpdateAmount">
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                        <label for="payment-refPay"><span translate>.ReferencPayment</span></label>
                        <input id="payment-refPay" name="referenceDocument" ng-change="$ctrl.onChange()" class="form-control" ng-model="$ctrl.value.referenceDocument">
                </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label for="PaymentMode"><span translate>.PaymentMode</span>*</label>
                    <select id="PaymentMode" name="PaymentMode" class="form-control" ng-model="$ctrl.value.paymentMode"
                            ng-options="item as item | translate for item in $ctrl.instalmentpaymentModeList" required="true" >
                    </select>
                    </div>
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label for="paymentResourcePath"><span translate>.PaymentResourcePath</span></label>
                  
                    <account-input id="paymentResourcePath" name="paymentResourcePath" ng-model="$ctrl.value.resourceMatPath" chart-of-accounts-id="$ctrl.period.chartOfAccountsId"
                        company-id="$ctrl.period.ownerCompanyId" ng-change="$ctrl.onChange()" root-account="{{$ctrl.prefixedAccountPath}}" ng-required="true"></account-input>
                </div>              
            </div>
        </div>
    </div>

</div>

