<form novalidate name="form" translate-namespace="InstalmentPayment">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>

    <div class="modal-body">
        <instalment-payment-input ng-model="$ctrl.value" root-credit-path="$ctrl.rootCreditPath" company-id="$ctrl.companyId" financialperiod-id="$ctrl.financialPeriodId"></instalment-payment-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.doSave()" translate>.Save</button>
    </div>
</form>
