<div translate-namespace="TrasitionalAccounts.TransitionalDetail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span ng-if="$ctrl.mode === 'TO_GIVE'" translate>.ToGive</span>
            <span ng-if="$ctrl.mode === 'TO_HAVE'" translate>.ToHave</span>
        </div>
        <div class="panel-body2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <span translate>.Protocol</span>
                        </td>
                        <td class="text-right">
                            <span class="text-right"> {{ $ctrl.transitionalAccount.protocol}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.Description</span>
                        </td>
                        <td class="text-right">
                            <span class="text-right"> {{ $ctrl.transitionalAccount.description}}</span>
                        </td>
                    </tr>
                    <!--<tr>
                        <td>
                            <span translate>.Type</span>
                        </td>
                        <td class="text-right">
                            <span class="label" translate> {{ $ctrl.transitionalAccount.type}}</span>
                        </td>
                    </tr>-->
                    <tr>
                        <td>
                            <span translate>.RecordingDate</span>
                        </td>
                        <td class="text-right">
                            <span class="text-right" translate> {{ $ctrl.transitionalAccount.recordingDate | date:"shortDate" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.Competence</span>
                        </td>
                        <td class="text-right">
                            <span class="text-right" translate>{{$ctrl.transitionalAccount.competence.startDate | date:"shortDate" }} - </span>
                            <span class="text-right" translate>{{$ctrl.transitionalAccount.competence.endDate | date:"shortDate" }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.Amount</span>
                        </td>
                        <td class="text-right">
                            <span ng-if="$ctrl.mode === 'TO_GIVE'" class="text-right">{{$ctrl.transitionalAccount.details.TO_GIVE[0].amount | currency}}</span>
                            <span ng-if="$ctrl.mode === 'TO_HAVE'" class="text-right">{{$ctrl.transitionalAccount.details.TO_HAVE[0].amount | currency}}</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>