<form novalidate name="form" translate-namespace="FinancialPeriod.Edit">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner ng-show="vm.loading"></spinner>
        <div class="wrapper financial-period-print">
            <div class="modalPrintReport">
                <div class="form-group">
                    <label for="inputEndDate"><span translate>FinancialPeriod.Report.EndDate</span></label>
                    <div class="input-group">
                        <input id="reportClosingDate" name="reportClosingDate" class="form-control text-right" ng-model="vm.report.balanceRequestDate"
                            ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate }}" is-open="vm.closingDateOpened"
                            on-open-focus="true" show-button-bar="false">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="vm.closingDateOpened = !vm.closingDateOpened">
                                <i class="fa fa-calendar"></i>
                            </button>
                        </span>
                    </div>
                </div>
                <label for="withDetails">
                    <span translate>FinancialPeriod.Report.WithDetails</span>
                    <input name="withDetails" type="checkBox" ng-model="vm.report.withDetails">
                </label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" ng-click="vm.cancel()" translate>FinancialPeriod.Report.Cancel</button>
        <button class="btn btn-primary" ng-click="vm.print()" translate>FinancialPeriod.Report.Print</button>
    </div>
</form>