<spinner ng-show="$ctrl.loading"></spinner>
<div ng-hide="$ctrl.loading" class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="FinancialPeriod.Historic">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content">
                    <financial-period-historic-input company-id="$ctrl.companyId"
                                                     condominium-id="$ctrl.condominiumId"
                                                     ng-model="$ctrl.financialPeriod"
                                                     data="$ctrl.data"></financial-period-historic-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="$ctrl.loading">
        <div class="col-md-12 text-right">
            <button ng-if="$ctrl.data.status == 'OPEN'" class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid" ng-click="$ctrl.doSave()" translate>.Save</button>
            <button ng-if="$ctrl.data.status == 'CLOSE'" class="btn btn-primary" type="button" ng-disabled="true" translate>.Save</button>
            <button ng-disabled="$ctrl.data.status == 'OPEN'" class="btn btn-default" type="button" ng-click="$ctrl.consolidate()" translate>.Consolidate.Title</button>
        </div>
    </div>
</div>