<form novalidate name="form" translate-namespace="FinancialPeriod.Create">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner ng-show="vm.loading"></spinner>

        <div ng-if="!vm.loading" ng-include="'app/financial-period/financial-period-form.html'">
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.doSave()" ng-disabled="form.$invalid" translate>.Save</button>
    </div>
</form>
