<div translate-namespace="FinancialPeriod.Historic">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="period-name"><span translate>.Name</span>*</label>
                <input id="period-name" name="name" class="form-control" ng-model="$ctrl.value.name" ng-required="true"
                       ng-change="$ctrl.onChange()">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="period-description"><span translate>.Description</span>*</label>
                <input id="period-description" name="description" class="form-control" ng-model="$ctrl.value.description"
                       ng-required="true" ng-change="$ctrl.onChange()">
            </div>
        </div>
        <div class="col-md-3" ng-if="$ctrl.data.type != 'HISTORICAL'">
            <div class="form-group">
                <label for="period-type"><span translate>.Kind</span>*</label>
                <select id="period-type" name="type" class="form-control"
                        ng-options="item as ('FinancialPeriod.Historic.Type.' + item | translate) for item in $ctrl.data"
                        ng-model="$ctrl.value.type" ng-disabled="true" ng-change="$ctrl.onChange()"></select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="period-startDate"><span translate>.StartDate</span>*</label>
                <div class="input-group">
                    <input ng-model="$ctrl.value.startDate" class="form-control"
                        ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        data-datepicker-append-to-body="true"
                        data-is-open="$ctrl.startDateOpened"
                        data-on-open-focus="true"
                        data-show-button-bar="false"
                        data-disable-valid-styling="true"
                        ng-required="true"
                        ng-change="$ctrl.onChange()">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.startDateOpened = !$ctrl.startDateOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="period-endDate"><span translate>.EndDate</span>*</label>
                <div class="input-group">
                    <input ng-model="$ctrl.value.endDate" class="form-control"
                        ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        data-datepicker-append-to-body="true"
                        data-is-open="$ctrl.endDateOpened"
                        data-on-open-focus="true"
                        data-show-button-bar="false"
                        data-disable-valid-styling="true"
                        ng-required="true"
                        ng-change="$ctrl.onChange()">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.endDateOpened = !$ctrl.endDateOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <uib-tabset active="$ctrl.active">
                <uib-tab index="0" heading="{{ 'FinancialPeriod.Historic.Roles.Title' | translate }}">
                    <historic-roles-input condominium-id="$ctrl.condominiumId" ng-model="$ctrl.value.roles"
                                          ng-change="$ctrl.onChange()" roles="$ctrl.roles"></historic-roles-input>
                </uib-tab>
                <uib-tab index="1" heading="{{ 'FinancialPeriod.Historic.Accounts.Title' | translate }}">
                    <historic-accounts-input condominium-id="$ctrl.condominiumId" ng-model="$ctrl.value.accounts"
                                             ng-change="$ctrl.onChange()" accounts="$ctrl.accounts"></historic-accounts-input>
                </uib-tab>
                <uib-tab index="2" heading="{{ 'FinancialPeriod.Historic.Funds' | translate }}">
                    <historic-funds-input condominium-id="$ctrl.condominiumId" ng-model="$ctrl.value.funds"
                                          ng-change="$ctrl.onChange()" funds="$ctrl.funds"></historic-funds-input>
                </uib-tab>
                <uib-tab index="3" heading="{{ 'FinancialPeriod.Historic.Other' | translate }}">
                    <historic-others-input condominium-id="$ctrl.condominiumId" ng-model="$ctrl.value.others"
                                           ng-change="$ctrl.onChange()" others="$ctrl.others"></historic-others-input>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>