<form novalidate name="form" translate-namespace="FinancialPeriod.Accounts">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner ng-show="vm.loading"></spinner>
        <uib-tabset active="vm.activeTab" ng-if="!vm.loading">
            <uib-tab index="0" disable="!vm.costs">
                <uib-tab-heading translate>.Costs</uib-tab-heading>
                <div class="m-t-md">
                    <account-list id="costs" name="costs" ng-model="vm.costs"
                                  chart-of-accounts-id="vm.period.chartOfAccountsId"
                                  root-account="vm.rootAccounts.costs"
                                  company-id="vm.period.ownerCompanyId" show-code="false"></account-list>
                </div>
            </uib-tab>
            <uib-tab index="1" disable="!vm.revenue">
                <uib-tab-heading translate>.Revenues</uib-tab-heading>
                <div class="m-t-md">
                    <account-list id="revenues" name="revenues" ng-model="vm.revenue"
                                  chart-of-accounts-id="vm.period.chartOfAccountsId"
                                  root-account="vm.rootAccounts.revenue"
                                  company-id="vm.period.ownerCompanyId" show-code="false"></account-list>
                </div>
            </uib-tab>
            <uib-tab index="2" disable="!vm.personal">
                <uib-tab-heading translate>.PersonalExpenses</uib-tab-heading>
                <div class="m-t-md">
                    <account-list id="personal" name="personal" ng-model="vm.personal"
                                  chart-of-accounts-id="vm.period.chartOfAccountsId"
                                  root-account="vm.rootAccounts.personal" allow-accounts="true"
                                  company-id="vm.period.ownerCompanyId" show-code="false"></account-list>
                </div>
            </uib-tab>
            <uib-tab index="3" disable="!vm.provisions">
                <uib-tab-heading translate>.Provisions</uib-tab-heading>
                <div class="m-t-md">
                    <account-list id="provisions" name="provisions" ng-model="vm.provisions"
                                  chart-of-accounts-id="vm.period.chartOfAccountsId"
                                  root-account="vm.rootAccounts.provisions"
                                  company-id="vm.period.ownerCompanyId" show-code="false"></account-list>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.doSave()" ng-disabled="form.$invalid" translate>.Save</button>
    </div>
</form>
