<select id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.class }}"
        data-ng-model="$ctrl.value" data-ng-change="$ctrl.onChange()" data-ng-required="$ctrl.ngRequired"
        data-ng-disabled="$ctrl.ngDisabled" ng-options="fp as fp.name for fp in $ctrl.financialPeriods track by fp.id">
    <option value="" ng-if="!$ctrl.ngRequired"></option>
</select>