<div ng-form="inner" translate-namespace="FinancialPeriod.Form">
    <div class="form-group">
        <label for="period-name"><span translate>.Name</span>*</label>
        <input id="period-name" name="name" class="form-control" ng-model="vm.financialPeriod.name" ng-required="true">
    </div>
    <div class="form-group">
        <label for="period-description"><span translate>.Description</span>*</label>
        <input id="period-description" name="description" class="form-control" ng-model="vm.financialPeriod.description" ng-required="true">
    </div>
    <div class="form-group">
        <label for="period-startDate"><span translate>.StartDate</span>*</label>
        <div class="input-group">
            <input id="period-startDate" name="startDate" class="form-control" ng-model="vm.financialPeriod.period.startDate"
                   ng-required="true"
                   ng-model-options="{timezone: 'utc'}"
                   uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                   is-open="vm.startDateOpened"
                   on-open-focus="true"
                   show-button-bar="false"
                   disable-valid-styling="true"
                   ng-disabled="vm.startDateLock">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.startDateOpened = !vm.startDateOpened" ng-disabled="vm.startDateLock">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="period-endDate"><span translate>.EndDate</span>*</label>
        <div class="input-group">
            <input id="period-endDate" name="endDate" class="form-control" ng-model="vm.financialPeriod.period.endDate"
                   ng-required="true"
                   ng-model-options="{timezone: 'utc'}"
                   uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                   is-open="vm.endDateOpened"
                   on-open-focus="true"
                   show-button-bar="false"
                   disable-valid-styling="true"
                   datepicker-options="{ minDate: vm.financialPeriod.period.startDate }"
                   ui-validate="{date_range_error:' vm.checkPeriodDate($value)'}"
                   ui-validate-watch="'vm.financialPeriod.period.startDate'">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="vm.endDateOpened = !vm.endDateOpened">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="period-type"><span translate>.Kind</span>*</label>
        <select id="period-type" name="type" class="form-control"
                ng-options="item as ('FinancialPeriod.List.Kind.' + item | translate) for item in vm.managementTypes"
                ng-model="vm.financialPeriod.type"
                ng-change="vm.onFinancialPeriodTypeChange()" required></select>
    </div>
</div>
