<spinner ng-show="vm.loading"></spinner>

<form ng-hide="vm.loading" novalidate name="form" translate-namespace="FinancialPeriod.List">
    <div class="financial-period-container">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 translate>.Title</h5>
                            <a class="btn btn-sm btn-primary pull-right" ui-sref="^.list.add" translate>.AddNew</a>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table ng-table="vm.tableParams" class="table table-striped">
                                    <tr ng-repeat="row in $data track by row.id">
                                        <td data-title="'FinancialPeriod.List.Name' | translate"
                                            header-class="'text-left col-md-6'">
                                            <a href="" ng-click="vm.selectPeriod(row)">{{ row.name }}</a>
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Period' | translate"
                                            header-class="'text-center col-md-2'"
                                            class="text-center">
                                                {{ row.period.startDate | date: 'shortDate' }} - {{ row.period.endDate | date: 'shortDate' }}
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Status.Title' | translate"
                                            header-class="'text-left col-md-2'" class="text-center">
                                            <span translate>{{ '.Status.' + row.status}}</span>
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Kind.Title' | translate"
                                            header-class="'text-left col-md-2'">
                                            <span class="label"
                                                  ng-class="{ 'label-primary' : row.type == 'ORDINARY', 'label-info' : row.type == 'SPECIAL', 'label-success' : row.type == 'AUXILIARY'}"
                                                  translate>
                                                {{ '.Kind.' + row.type }}
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
