.financial-period-container {
  .table > tbody > tr > td {
    vertical-align: middle;
  }
  .disabledPrint,
  .disabledPrint:hover {
    background-color: lightgray;
  }
}
.financial-period-accounts-modal {
  .modal-body .account-list {
    .m-b-md;
    height: 300px;
    overflow: auto;
  }
}
.financial-period-print {
  .modalPrintReport {
    display: grid;
  }
}
.financial-period-report {
  .actions {
    display: inline-flex;
  }
  .margin-right {
    margin-right: 5px;
  }
}