<div class="wrapper financial-period-report" translate-namespace="FinancialPeriod.Report.List">
    <spinner-loader ng-show="vm.loading"></spinner-loader>
    <div ng-show="!vm.loading">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.Title</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="buttons">
                            <button class="btn btn-default btn-sm" type="button" uib-tooltip="{{'FinancialPeriod.Report.List.Reload' | translate}}" tooltip-append-to-body="true"
                                ng-click="vm.reload()">
                                <i class="fa fa-refresh"></i>
                                <span class="margin-right">Ricarica</span>
                            </button>
                            <button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" type="button">
                                <i class="fa fa-search"></i>
                                <span translate>.ToggleFilters</span>
                            </button>
                        </div>
                        <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-striped" show-filter="vm.showFilters">
                            <tr ng-repeat="row in $data">
                                <td data-title="'FinancialPeriod.Report.List.FinancialPeriodName' | translate" filter="{financialPeriodName : 'text'}">{{row.financialPeriodName}}</td>
                                <td data-title="'FinancialPeriod.Report.List.FinancialPeriodDescription' | translate">{{row.financialPeriodDescription}}</td>
                                <td data-title="'FinancialPeriod.Report.List.BalanceRequestDate' | translate">{{row.balanceRequestDate | date: 'dd/MM/yyyy'}}</td>
                                <td data-title="'FinancialPeriod.Report.List.FinancialPeriodStartDate' | translate">{{row.financialPeriodDateStart | date: 'dd/MM/yyyy'}}</td>
                                <td data-title="'FinancialPeriod.Report.List.FinancialPeriodEndDate' | translate">{{row.financialPeriodDateEnd | date: 'dd/MM/yyyy'}}</td>
                                <td data-title="'FinancialPeriod.Report.List.ReportRequestDate' | translate">{{row.reportRequestDate | date: 'dd/MM/yyyy HH:mm' }}</td>
                                <td data-title="'FinancialPeriod.Report.List.ReportFinishDate' | translate">{{row.reportFinishDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                                <td data-title="'FinancialPeriod.Report.List.Status' | translate" translate>{{'.RowStatus.' + row.status}}</td>
                                <td data-title="'FinancialPeriod.Report.List.Details' | translate" translate>{{'.RowDetails.' + row.withDetails}}</td>
                                <td data-title="'FinancialPeriod.Report.List.Actions' | translate">
                                    <div class="actions">
                                        <button class="btn btn-circle btn-primary" type="button" uib-tooltip="{{'FinancialPeriod.Report.List.Download' | translate}}"
                                            tooltip-append-to-body="true" ng-if="row.status == 'READY'" ng-click="vm.downloadReport(row.id)">
                                            <i class="fa fa-download"></i>
                                        </button>
                                        <button class="btn btn-circle btn-danger" uib-tooltip="{{'FinancialPeriod.Report.List.Delete' | translate}}" tooltip-append-to-body="true"
                                            ng-if="row.status == 'READY'" ng-click="vm.deleteReport(row.id)">
                                            <i class="fa fa-trash-o"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>