<spinner ng-show="vm.loading"></spinner>

<form ng-hide="vm.loading" novalidate name="form" translate-namespace="FinancialPeriod.List">
    <div class="financial-period-container">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5 translate>.Title</h5>
                            <!-- a class="btn btn-sm btn-primary pull-right" ui-sref="index.financial-period.historic" translate>.AddNewHistorical</a -->
                            <a class="btn btn-sm btn-primary pull-right" ui-sref=".add" translate>.AddNew</a>
                        </div>
                        <div class="ibox-content">
                            <div class="table-responsive">
                                <table ng-table="vm.tableParams" class="table table-condensed table-striped">
                                    <tr ng-repeat="row in $data track by row.id" ng-class="{'info': row.id === vm.selectedPeriod.id, 'warning' : row.status === 'CLOSED'}">
                                        <td data-title="'FinancialPeriod.List.Name' | translate"
                                            header-class="'text-left col-md-4'">
                                            <span>{{ row.name }}</span>
                                            <strong ng-if="row.id === vm.selectedPeriod.id" translate>.Current</strong>
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Period' | translate"
                                            header-class="'text-center col-md-2'"
                                            class="text-center">
                                                {{ row.period.startDate | date: 'shortDate' }} - {{ row.period.endDate | date: 'shortDate' }}
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Status.Title' | translate"
                                            header-class="'text-left col-md-2'" class="text-center">
                                            <span translate>{{ '.Status.' + row.status}}</span>
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Kind.Title' | translate"
                                            header-class="'text-left col-md-2'">
                                            <span class="label"
                                                  ng-class="{ 'label-primary' : row.type == 'ORDINARY', 'label-info' : row.type == 'SPECIAL', 'label-success' : row.type == 'AUXILIARY'}"
                                                  translate>
                                                {{ '.Kind.' + row.type }}
                                            </span>
                                        </td>
                                        <td data-title="'FinancialPeriod.List.Actions' | translate" class="text-right"
                                            header-class="'text-right col-md-2'">
                                            <a ui-sref=".accounts({ periodId: row.id })" class="btn btn-circle btn-default"
                                                    ng-show="row.status === 'OPEN'"
                                                    uib-tooltip="{{ 'FinancialPeriod.List.Accounts' | translate }}"
                                                    tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-list"></i>
                                            </a>
                                            <a ui-sref=".print({ periodId: row.id })" class="btn btn-circle btn-default" uib-tooltip="{{ 'FinancialPeriod.List.Print' | translate }}"
                                               tooltip-append-to-body="true" ng-if="row.type != 'SPECIAL'">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                            <a class="btn btn-circle btn-default disabledPrint" uib-tooltip="{{ 'FinancialPeriod.List.DisabledPrint' | translate }}"
                                               tooltip-append-to-body="true" ng-if="row.type == 'SPECIAL'" ng-disabled="true">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                            <a ui-sref="index.financial-period.report({ periodId: row.id })" class="btn btn-circle btn-default" uib-tooltip="{{ 'FinancialPeriod.Report.Button' | translate }}"
                                               tooltip-append-to-body="true">
                                               <i class="fa fa-list-alt"></i>
                                            </a>
                                            <a ng-if="row.type != 'HISTORICAL'" ui-sref=".edit({ periodId: row.id })" class="btn btn-circle btn-default" ng-show="row.status === 'OPEN'" uib-tooltip="{{ 'FinancialPeriod.List.Edit' | translate }}"
                                                tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-pencil"></i>
                                            </a>
                                            <a ng-if="row.type == 'HISTORICAL'" ui-sref="index.financial-period.historic" class="btn btn-circle btn-default" ng-show="row.status === 'OPEN'" uib-tooltip="{{ 'FinancialPeriod.List.Edit' | translate }}"
                                               tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-pencil"></i>
                                            </a>
                                            <button class="btn btn-circle btn-warning" ng-click="vm.reopenPeriod(row)"
                                                    ng-show="row.status === 'CLOSED'"
                                                    uib-tooltip="{{ 'FinancialPeriod.List.Reopen' | translate }}"
                                                    tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-unlock"></i>
                                            </button>
                                            <button class="btn btn-circle btn-default" ng-click="vm.closePeriod(row)"
                                                    ng-show="row.status === 'OPEN'"
                                                    uib-tooltip="{{ 'FinancialPeriod.List.Close' | translate }}"
                                                    tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-lock"></i>
                                            </button>
                                            <button class="btn btn-circle btn-success" ng-click="vm.consolidatePeriod(row)"
                                                    ng-show="row.status === 'CLOSED'"
                                                    uib-tooltip="{{ 'FinancialPeriod.List.Consolidate' | translate }}"
                                                    tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-gavel"></i>
                                            </button>
                                            <button class="btn btn-circle btn-danger" ng-click="vm.removePeriod(row)"
                                                    ng-disabled="row.id === vm.selectedPeriod.id"
                                                    ng-show="row.status === 'OPEN'"
                                                    uib-tooltip="{{ 'FinancialPeriod.List.Delete' | translate }}"
                                                    tooltip-append-to-body="true">
                                                <i class="fa fa-fw fa-trash-o"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
