<div class="table-responsive">
    <table ng-table="$ctrl.tableParams" class="table table-striped table-condensed table-bordered">
        <colgroup>
            <col class="col-md-6">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tr ng-repeat="row in $data">
            <td data-title="'FinancialPeriod.Historic.Others.Description' | translate">{{ row.description }}</td>
            <td data-title="'FinancialPeriod.Historic.Others.CompetenceDate' | translate">
                <div class="input-group">
                    <input ng-model="row.competenceDate" class="form-control"
                        ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        data-datepicker-append-to-body="true"
                        data-is-open="row.datePickerOpened"
                        data-on-open-focus="true"
                        data-show-button-bar="false"
                        data-disable-valid-styling="true">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="row.datePickerOpened = !row.datePickerOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </td>
            <td data-title="'FinancialPeriod.Historic.Others.ToGive' | translate">
                <input min="0" ng-model="row.toGive" class="form-control text-right input-sm"
                       ng-currency ng-required="true"
                       ng-change="$ctrl.onChange()">
            </td>
            <td data-title="'FinancialPeriod.Historic.Others.ToHave' | translate">
                <input min="0" ng-model="row.toHave" class="form-control text-right input-sm"
                       ng-currency ng-required="true"
                       ng-change="$ctrl.onChange()">
            </td>
        </tr>
        <tfoot>
            <td class="text-right"><strong translate>.GrandTotal</strong></td>
            <td>&nbsp;</td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.others, "toGive") | currency }}</em></td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.others, 'toHave') | currency }}</em></td>
        </tfoot>
    </table>
</div>