<div class="table-responsive">
    <table ng-table-dynamic="$ctrl.tableParams with $ctrl.columns"
           class="table table-bordered table-hover">
        <colgroup>
            <col class="col-md-3">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
            <td ng-repeat="col in $columns" ng-init="$groupRow.show = false"
                ng-class="{ 'danger': $ctrl.isExpired(group, col), 'warning': $ctrl.isPaidPartially(group, col), 'success': $ctrl.isPaidFully(group, col), 'text-right': col.kind === 'amount', 'text-center': col.kind === 'switch'  }">
                <span ng-switch="col.kind">
                    <span ng-switch-when="switch">
                        <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                            <span>{{ group.data[0][col.field] }}</span>
                            <i class="fa fa-fw " ng-class="{ 'fa-plus-circle': group.$hideRows, 'fa-minus-circle': !group.$hideRows }"></i>
                        </a>
                        <span ng-if="group.data.length == 1">
                            {{ group.data[0][col.field] }}
                        </span>
                    </span>
                    <span ng-switch-when="amount">
                        <span ng-switch="group.data.length">
                            <span ng-switch-when="1">
                                <input ng-model="group.data[0][col.field]" 
                                       class="form-control text-right input-sm" ng-currency>
                            </span>
                            <span ng-switch-default>
                                <span>{{ $ctrl.sumBy(group.data, col.field) | currency }}</span>
                            </span>
                        </span>
                    </span>
                    <span ng-switch-when="text">
                        <span ng-if="group.data.length > 1"></span>
                        <span ng-if="group.data.length == 1">{{ group.data[0][col.field] }}</span>
                    </span>
                    <span ng-switch-when="date">
                        <span ng-if="group.data.length > 1"></span>
                        <span ng-if="group.data.length == 1">
                            <div class="input-group">
                                <input ng-model="group.data[0][col.field]" class="form-control"
                                    ng-model-options="{timezone: 'utc'}"
                                    uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                    data-datepicker-append-to-body="true"
                                    data-is-open="row.datePickerOpened"
                                    data-on-open-focus="true"
                                    data-show-button-bar="false"
                                    data-disable-valid-styling="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="row.datePickerOpened = !row.datePickerOpened">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </span>
                    </span>
                    <span ng-switch-default>{{ group.data[0][col.field] }}</span>
                </span>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
            <td ng-repeat="col in $columns"
                ng-class="{ 'danger': $ctrl.isExpired(row, col), 'warning': $ctrl.isPaidPartially(row, col), 'success': $ctrl.isPaidFully(row, col), 'text-right': col.kind === 'amount', 'text-center': col.kind === 'switch' }">
                <span ng-switch="col.kind" ng-if="$index >= 0">
                    <soan ng-switch-when="switch"></soan>
                    <span ng-switch-when="amount">
                        <input ng-model="row[col.field]"
                               class="form-control text-right input-sm" ng-currency>
                    </span>
                    <span ng-switch-when="text">{{ row[col.field] }}</span>
                    <span ng-switch-when="date">
                        <div class="input-group">
                            <input ng-model="row[col.field]" class="form-control"
                                ng-model-options="{timezone: 'utc'}"
                                uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                data-datepicker-append-to-body="true"
                                data-is-open="row.datePickerOpened"
                                data-on-open-focus="true"
                                data-show-button-bar="false"
                                data-disable-valid-styling="true">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="row.datePickerOpened = !row.datePickerOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </span>
                    <span ng-switch-default>{{ row[col.field] }}</span>
                </span>
            </td>
        </tr>
        <tfoot>
            <td colspan="4" class="text-right"><strong translate>.GrandTotal</strong></td>
            <td>&nbsp;</td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.roles, "toGive") | currency }}</em></td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.roles, 'toHave') | currency }}</em></td>
        </tfoot>
    </table>
</div>