<div class="table-responsive">
    <table ng-table="$ctrl.tableParams" class="table table-striped table-condensed table-bordered">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tr ng-repeat="row in $data">
            <td data-title="'FinancialPeriod.Historic.Accounts.Code' | translate">{{ row.code }}</td>
            <td data-title="'FinancialPeriod.Historic.Accounts.Name' | translate">{{ row.name }}</td>
            <td data-title="'FinancialPeriod.Historic.Accounts.IBAN' | translate">{{ row.iban }}</td>
            <td data-title="'FinancialPeriod.Historic.Accounts.Kind' | translate">{{ 'FinancialPeriod.Historic.Account.Tipology.' + row.typology | translate }}</td>
            <td data-title="'FinancialPeriod.Historic.Accounts.CompetenceDate' | translate">
                <div class="input-group">
                    <input ng-model="row.competenceDate" class="form-control"
                        ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        data-datepicker-append-to-body="true"
                        data-is-open="row.datePickerOpened"
                        data-on-open-focus="true"
                        data-show-button-bar="false"
                        data-disable-valid-styling="true">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="row.datePickerOpened = !row.datePickerOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </td>
            <td data-title="'FinancialPeriod.Historic.Accounts.ToGive' | translate">
                <input min="0" ng-model="row.toGive" class="form-control text-right input-sm"
                       ng-currency ng-required="true"
                       ng-change="$ctrl.onChange()">
            </td>
            <td data-title="'FinancialPeriod.Historic.Accounts.ToHave' | translate">
                <input min="0" ng-model="row.toHave" class="form-control text-right input-sm"
                       ng-currency ng-required="true"
                       ng-change="$ctrl.onChange()">
            </td>
        </tr>
        <tfoot>
            <td colspan="4" class="text-right"><strong translate>.GrandTotal</strong></td>
            <td>&nbsp;</td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.accounts, "toGive") | currency }}</em></td>
            <td class="text-right"><em>{{ $ctrl.sumBy($ctrl.accounts, 'toHave') | currency }}</em></td>
        </tfoot>
    </table>
</div>