<div class="row" translate-namespace="Commons.AddressInternational">
    <div class="col-md-2">
        <div class="form-group">
            <label for="country"><span translate>.Country</span></label>
            <select id="country" name="country" ng-model="$ctrl.value.country"
                    class="input-filter form-control"
                    ng-options="item.code as item.name for item in $ctrl.countries  | orderBy:'name' ">
                <option value="">
            </select>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group">
            <label for="{{ $ctrl.id }}_streetName"><span translate>.Address</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="{{ $ctrl.id }}_streetName" name="streetName" class="form-control" maxlength="70"
                   ng-model="$ctrl.value.streetName" ng-maxlength="70" ng-required="$ctrl.ngRequired"
                   ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="{{ $ctrl.id }}_buildingNumber"><span translate>.BuildingNumber</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="{{ $ctrl.id }}_buildingNumber" name="buildingNumber" class="form-control" maxlength="18"
                   ng-model="$ctrl.value.buildingNumber" ng-maxlength="18" ng-required="$ctrl.ngRequired"
                   ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-12" ng-if="$ctrl.includeTown">
        <div class="form-group">
            <label for="town"><span translate>.Town</span><span ng-if="$ctrl.ngRequiredTown"> *</span></label>
            <input id="town" name="town" class="form-control" maxlength="35"
                   ng-model="$ctrl.value.town" ng-maxlength="35"
                   ng-change="$ctrl.onChange()" ng-required="$ctrl.ngRequiredTown">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <label for="postalCode"><span translate>.PostalCode</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="postalCode" name="postalCode" class="form-control" maxlength="5"
                   ng-model="$ctrl.value.postalCode"
                   ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/" ng-required="$ctrl.ngRequired"
                   ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div ng-if="$ctrl.value.country == 'IT'">
        <div class="col-md-8">
            <div class="form-group">
                <label for="district"><span translate>.District</span><span ng-if="$ctrl.ngRequired"> *</span></label>
                <input id="district" name="district" class="form-control" ng-change="$ctrl.cleanProvince()"
                       ng-model="$ctrl.value.district" ng-required="$ctrl.ngRequired"
                       uib-typeahead="district.name as district.name + ' (' + district.province + ')' for district in $ctrl.getDistricts($viewValue)"
                       data-typeahead-append-to-body="false" data-typeahead-editable="true"
                       data-typeahead-min-length="3" data-typeahead-no-results="'Commons.Address.NoDistricts' | translate"
                       data-typeahead-on-select="$ctrl.onSelect($item, $model, $label, $event)"
                       data-typeahead-wait-ms="250" ng-model-options="{updateOn: 'default'}">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="province"><span translate>.Province</span><span ng-if="$ctrl.ngRequired"> *</span></label>
                <input id="province" name="province" class="form-control" readonly ng-model="$ctrl.value.province"
                       ng-required="$ctrl.ngRequired">
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.value.country != 'IT'">
        <div class="col-md-8">
            <div class="form-group">
                <label for="district"><span translate>.District</span><span ng-if="$ctrl.ngRequired"> *</span></label>
                <input name="districtInternational" class="form-control" ng-model="$ctrl.value.district"
                       ng-required="$ctrl.ngRequired" ng-change="$ctrl.cleanProvince()">
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label for="province"><span translate>.Province</span><span ng-if="$ctrl.ngRequired"> *</span></label>
                <input name="provinceInternational" class="form-control" ng-model="$ctrl.value.province" ng-maxlength="2"
                       maxlength="2" data-ng-min="2" minlength="2"
                      ng-required="$ctrl.ngRequired" ng-change="$ctrl.onChange()">
            </div>
        </div>
    </div>
</div>