<div class="panel" ng-class="'panel-' + $ctrl.type"><!-- {'panel-primary': $ctrl.type === 'primary', 'panel-success': $ctrl.type === 'success', 'panel-info': $ctrl.type === 'info', 'panel-warning': $ctrl.type === 'warning', 'panel-danger': $ctrl.type === 'danger'} -->
    <div class="panel-heading">
        <div class="panel-title">{{ $ctrl.title | translate }}</div>
    </div>
    <div class="panel-body" ng-transclude>
    </div>
</div>
