<div class="row" translate-namespace="Templates.Form">
    <div class="col-md-4 col-xs-12">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="title"><span translate>.Title</span><span> *</span></label>
                    <input id="title" name="title" class="form-control" maxlength="150"
                           data-ng-model="$ctrl.value.title" ng-required="true" ng-maxlength="150"
                           data-ng-change="$ctrl.onChange()">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="typology"><span translate>.Typology</span><span> *</span></label>
                    <select id="typology" name="typology" class="form-control"
                            data-ng-model="$ctrl.value.typologyId" data-ng-required="true"
                            data-ng-change="$ctrl.onChange()"
                            data-ng-options="t.id as t.description for t in $ctrl.typologies"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="description"><span translate>.Description</span></label>
                    <textarea id="description" name="description" class="form-control" rows="4"
                              data-ng-model="$ctrl.value.description" ng-maxlength="4000"
                              data-ng-change="$ctrl.onChange()"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12">
        <div class="form-group">
            <label for="content"><span translate>.Content</span><span> *</span></label>
            <template-editor id="content" name="content" rows="20"
                             data-ng-model="$ctrl.value.content"
                             data-ng-change="$ctrl.onChange()"
                             data-ng-required="true"
                             on-editor-setup="$ctrl.editorSetup(editor)"></template-editor>
        </div>
    </div>
</div>