<div class="wrapper wrapper-content" translate-namespace="Templates.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()"
                                data-ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info"
                         ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoRecordsFound</span>
                    </div>
                    <div class="table-responsive"
                         ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table data-ng-table="$ctrl.tableParams"
                               data-show-filter="$ctrl.showFilters"
                               class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-3">
                                <col class="col-md-1">
                                <col class="col-md-4">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Templates.List.Name' | translate"
                                    data-filter="{title:'text'}"
                                    data-sortable="'title'">
                                    {{ item.title }}
                                </td>
                                <td data-title="'Templates.List.Typology' | translate"
                                    data-sortable="'typologyName'" class="text-center">
                                    {{ item.typologyName }}
                                </td>
                                <td data-title="'Templates.List.Description' | translate">
                                    {{ item.description }}
                                </td>
                                <td data-title="'Templates.List.Shared' | translate" class="text-center">
                                    <i class="fa fa-check" ng-if="!item.shared"></i>
                                </td>
                                <td data-title="'Templates.List.Actions' | translate" class="text-right">
                                    <a ui-sref=".edit({templateId: item.id})"
                                       uib-tooltip="{{ 'Templates.List.Edit' | translate }}"
                                       data-tooltip-placement="top"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ui-sref=".copy({templateId: item.id})"
                                       uib-tooltip="{{ 'Templates.List.Copy' | translate }}"
                                       data-tooltip-placement="top"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-copy"></i>
                                    </a>
                                    <button ng-click="$ctrl.deleteTemplate(item)"
                                            data-ng-disabled="item.shared"
                                            uib-tooltip="{{ 'Templates.List.Delete' | translate }}"
                                            data-tooltip-placement="top"
                                            data-tooltip-append-to-body="true"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>