<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Templates.Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content">
                    <template-input ng-model="$ctrl.template" typologies="$ctrl.typologies"></template-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                    progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
            <a ui-sref="^" class="btn btn-default" translate>.Cancel</a>
        </div>
    </div>
</div>
