/* Only demo */
@media (max-width: 1000px) {
  .welcome-message {
    display: none;
  }
}

// aliasing di una classe del tema definita male
.first-item {
  .fist-item;
}

// personalizzazioni WebApp Cedac

// classe generica per aree clickabili
.clickable {
  cursor: pointer;
}

.dropdown-header {
  padding: 3px 10px;
  font-size: 11px;
}

// - rappresentazione menu LifeRay
.top-navigation {
  .nav > li {
    &.open > a {
      color: @navy !important;
    }
    & > a {
      padding-top: 8px !important;
      padding-bottom: 8px !important;
      color: @dark-gray !important;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1em;
      &:hover, &:focus, &:active {
        color: @navy !important;
      }
    }
  }

  .navbar {
    margin-bottom: 5px !important;
    min-height: 37px;
    height: 37px;
    border: 1px solid @navy;
    border-top: none;
    background-color: @navy;
  }

  .navbar-right {
    margin-right: 0px !important;
  }
}

// blocco Titolo Pagine
.spaPageHeader {
  color: @navy;
  margin-bottom: 5px;

  h1 {
    margin-top: 0px;
    margin-bottom: 5px;
    + small {
      font-size: 110%;
    }
  }

  .title-action {
    padding-top: 16px;
    margin-right: 20px;
  }
}

// classe personalizzata per consentire la disposizione in-line della coppia
// label/input all'interno di un form NON inline
.mgmt-inline-fields {
  .form-group {
    label {
      height: 30px;
      line-height: 30px;
      text-align: right;
    }

  }
}


// overrides su DataTable
table.dataTable {
  thead {
    background-color: @tab-header-bg-color;
    color: @tab-header-font-color;
    font-weight: @tab-header-font-weight;
  }
  > tbody {
    > tr {
      background-color: @tab-body-even-bg;
      &:nth-of-type(odd) {
        background-color: @tab-body-odd-bg;
      }
      &:hover {
        background-color: @tab-body-hover-bg;
      }
    }
  }
}

div.widget {
  &.lazur-bg {
    h2 {
      color: #444444;
      font-size: 18px;
      font-weight: 500;

    }

    li {
      color: #444444;
    }
  }
}

// Stilizzazioni specifiche per tabella dei riparti energetici
// index/condominum-report/{ID}

#condominium-report {
  .widget {
    hr {
      margin: .5em 0px;
    }
  }

  /* spaziatura tabs */
  .nav > li > a {
    padding: 8px 12px;
  }
}

// classe per stilizzazione personalizzata del widget
.widgetRiepilogo {
  background-color: @neutral-skin-widget-bg-color;
  color: @text-color;
  border: 3px solid @neutral-skin-widget-border-color;

  table {
    font-size: 110%;
    > tbody > tr > td {
      border: none !important;
      padding: 4px 8px 4px 0px;
    }
    tr {
      th {
        border-bottom: 0;
      }
      &.last-row {
        font-weight: bold;
        border-top: 1px solid @border-color;
      }
    }
  }

  .UM {
    text-align: left !important;
    font-weight: bold;
    max-width: 50px;
  }
}

.heatCostReport {
  table.table-striped {
    tr {
      &.rowHead.rowSpacer {
        height: 5px;
        background-color: @main-bg-color;
      }
      th {
        text-align: center;
        i {
          &.fa {
            padding-left: 10px;
          }
        }
      }
      th, td {
        border: 1px solid @border-color !important;
        padding: 3px;
        &.bgNeutral {
          background-color: @neutral-skin-col-neutralHead;
          color: @tab-header-font-color;
        }
        &.bgAnte {
          background-color: @neutral-skin-col-noContab-bg;
          color: @tab-header-font-color;
        }
        &.bgPost {
          background-color: @neutral-skin-col-withContab-bg;
          color: @tab-header-font-color;
        }
        &.noBorder {
          border: none !important;
        }
        &.noBorderB {
          border-bottom: none !important;
        }
        &.noBorderT {
          border-top: none !important;
        }

        // specific columns
        &.unitImm {
          width: 20%;
        }
        button, input, optgroup, select, textarea {
          color: @text-color;
          padding: 0px 5px;
          font-weight: normal;
        }
      }
    }
  }
}

/**
  * Modifiche specifiche per la finestra modale
  */
.modal {
  .modal-dialog {
    .other-cost-row {
      margin-bottom: 10px;
      select {
        max-width: 140px;
      }
      span.has-error.error-msg {
        display: none;
      }
    }
  }
}

.btn-group {
  &.dropdown {
    margin-right: 3px;
  }
}

.dropdown-toggle {
  > span.caret {
    border-top: 4px dashed;
  }
}

[uib-typeahead-popup].dropdown-menu {
  z-index: 9000;
  height: 180px;
  overflow-y: scroll;
}

[uib-dropdown-menu].dropdown-menu {
  i {
    &.fa {
      margin-right: 5px;
      margin-left: -10px;
    }
  }
}

.person-container,
.managers-container {
  .wrapper.wrapper-content {
    min-height: 700px;
  }
}

/**
 * Ri-definizione delle dimensioni minime della finestra modale
 */
@media (min-width: 768px) {
  .modal-lg {
    width: 700px;
  }
}

@media (min-width: 992px) {
  .modal-lg {
      width: 900px;
  }
}

/**
 * workaround per finestre modali all'interno di iframe
.modal, .modal-backdrop {
  bottom: initial;
}
 */
.modal-backdrop.in {
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}

.modal-open {
  .modal {
    background: rgba(0, 0, 0, 0.5);
  }
}

/**
 *  Specifiche per i prospetti di Stampa
 */
@media print {
  // impostazioni generali per tutte le stampe
  @page {
    margin: 0.2em;
    size: A4;
    layout: portrait;
  }

  body {
    font-size: 6pt;
  }

  header, #footer {
    margin: 0.5cm;
  }

  .container {
    width: 21cm;
  }

  // evita l'interruzione di pagina all'interno di una tabella
  table {
    page-break-inside: avoid;
  }

  header, footer {
    position: fixed;
    right: 0;
    left: 0;
    padding: 1em;
  }

  header {
    top: 0;
    display: block;
  }

  footer {
    bottom: 0;
  }

  #main {
    margin-top: 18em;
    margin-bottom: 8em;
  }

  // - DOM element che forza il salto pagina quando si stampa una schermata
  div.hide.printBreak {
    page-break-after: always;
    display: block !important;
  }

  // - forzatura colonne in stampa
  // per le tipologie XS e SM
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }

  .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
  }

  .col-xs-12 {
    width: 100%;
  }

  .col-xs-11 {
    width: 91.66666667%;
  }

  .col-xs-10 {
    width: 83.33333333%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-8 {
    width: 66.66666667%;
  }

  .col-xs-7 {
    width: 58.33333333%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-5 {
    width: 41.66666667%;
  }

  .col-xs-4 {
    width: 33.33333333%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-2 {
    width: 16.66666667%;
  }

  .col-xs-1 {
    width: 8.33333333%;
  }

  // == comandi specifici x REPORT DEI CONSUMI ENERGETICI
  .heatCostReport {
    .wrapper-content {
      padding-bottom: 0px !important;
    }
    .ibox {
      padding-top: 15px;
      margin-bottom: 0px;
      .ibox-title,
      .ibox-content {
        border-color: @text-color;
      }
      .ibox-title {
        min-height: initial;
        padding: 7px 5px 5px 7px;
        font-size: 10pt;
      }
      .ibox-content {
        padding: 10px 0;
        table {
          margin-bottom: 0px;
        }
      }
    }
  }

}
