.angular-ui-tree-handle {
  background: none repeat scroll 0 0 #f3f3f4;
  border: 1px dashed #e7eaec;
  color: inherit;
  padding: 10px;
  font-weight: normal;

  &:hover {
    font-weight: bold;
    cursor: pointer;
  }
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 1px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.group-title {
  background-color: #687074 !important;
  color: #FFF !important;
}

.tree-node {
  background: none repeat scroll 0 0 #f3f3f4;
  border: 1px dashed #e7eaec;
  color: inherit;
  padding: 10px;
  border-radius: 3px;

  &:hover {
    background: #eaeaea;
  }

  .btn {
    min-width: 22px;
    margin-right: 4px;
  }
}

.tree-node-content {
  margin: 5px 5px 5px 0;

  .tree-input-container {

    display: inline-block;

    input.tree-input {
      background: transparent;
      border-width: 0px;
      text-overflow: ellipsis;

      &.code {
        width: 45px;
        margin-right: 5px;
        padding: 5px;
        font-style: italic;
      }

      &.text {
        margin-left: 5px;
        padding: 5px;
      }
    }

    a.btn {
      &:hover {
        background: #616161;
        color: white;
        border-color: #616161;
      }
    }
  }

}

.tree-handle {
  background: none repeat scroll 0 0 #f3f3f4;
  border: 1px dashed #e7eaec;
  color: inherit;
  padding: 10px;
}

.angular-ui-tree-placeholder {
  background: #f0f9ff;
  border: 1px dashed #bed2db;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}