// Basic Colors
@navy: #b01036;       // Primary color
@dark-gray: #ffffff;  // Default color
@blue: #339900;       // Success color
@lazur: #33cccc;      // Info color
@yellow: #ffcc33;     // Warrning color
@red: #ff3333;        // Danger color

// Various colors
@white: #ffffff;
@text-color: #676a6c;   // Body text
@gray: #f3f3f4;         // Background wrapper color
@light-gray: #D1DADE;   // Default label, badget
@label-badget-color: #5E5E5E;
@light-blue:#f3f6fb;

// Cedac WebApp Specific Colors
@main-bg-color: @white;
@neutral-skin-widget-border-color: #626262;
@neutral-skin-widget-bg-color: @white;
@neutral-skin-col-noContab-bg: #515151;
@neutral-skin-col-withContab-bg: #444444;
@neutral-skin-col-neutralHead: #999999;

@gabetti-bg-color: #addce6;
@lazur: @gabetti-bg-color;          // override of the color used for the info areas

// Spiner color and margin
@spin-color: @navy;
@spin-margin: 0 auto;


// IBOX colors ( default panel colors)
@border-color: #e7eaec;     // IBox border
@ibox-title-bg: @main-bg-color;     // IBox Background header
@ibox-content-bg: @main-bg-color;   // IBox Background content

//Sidebar width
@sidebar-width: 220px;

// Boxed layout width
@boxed-width: 1200px;
@boxed-backgound: url('patterns/shattered.png');

//Border radius for buttons
@btn-border-radius: 3px;

//Navigation
@nav-bg: #2F4050;
@nav-profil-pattern: url("patterns/header-profile.png") no-repeat;
@nav-text-color: #a7b1c2;

// CEDAC - Colori default DataTables
@tab-header-bg-color: #999;
@tab-header-font-color: @white;
@tab-header-font-weight: bold;
@tab-body-even-bg: #efefef;
@tab-body-odd-bg: @white;
@tab-body-hover-bg: darken(@tab-body-even-bg, 10%);
@tab-body-font-color: @text-color;
@tab-body-font-weight: normal;
// NOT USED === @tab-body-font-size: xxxxxxxx ;

