<div translate-namespace="Meetings.Unroll.Appeal">
    <div class="row">
        <div class="col-md-12">
            <div class="alert" ng-class="{ 'alert-success': $ctrl.value.quorum, 'alert-warning': !$ctrl.value.quorum }">
                <span translate translate-values="$ctrl">.Status.Label</span>
                <br>
                <strong ng-if="$ctrl.value.quorum" translate>.Status.OK</strong>
                <strong ng-if="!$ctrl.value.quorum" translate>.Status.KO</strong>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="form-group">
                <label for="datetime"><span translate>.DateTime</span><span> *</span></label>
                <p class="input-group">
                    <input id="datetime" name="datetime" type="text" class="form-control text-right"
                           datetime-picker="dd/MM/yyyy HH:mm"
                           data-ng-model="$ctrl.value.dateTime"
                           data-ng-model-options="{ timezone: 'utc' }"
                           data-ng-required="true"
                           data-is-open="$ctrl.open"
                           data-datepicker-append-to-body="true"
                           data-datepicker-options="$ctrl.datepickerOptions"
                           data-timepicker-options="{ 'show-meridian': false }">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="$ctrl.open = !$ctrl.open">
                          <i class="fa fa-calendar"></i>
                      </button>
                  </span>
                </p>
            </div>
        </div>
        <div class="col-md-6" ng-if="!$ctrl.variation">
            <div class="form-group">
                <label for="president"><span translate>.President</span><span> *</span></label>
                <input id="president" name="president" type="text" class="form-control"
                       data-ng-model="$ctrl.value.president"
                       data-ng-required="true"
                       data-ng-maxlength="150"
                       maxlength="150">
            </div>
        </div>
        <div class="col-md-6" ng-if="!$ctrl.variation">
            <div class="form-group">
                <label for="secretary"><span translate>.Secretary</span><span> *</span></label>
                <input id="secretary" name="secretary" type="text" class="form-control"
                       data-ng-model="$ctrl.value.secretary"
                       data-ng-required="true"
                       data-ng-maxlength="150"
                       maxlength="150">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table ng-table="$ctrl.tableParams"
                       data-show-group="false"
                       class="table table-condensed table-bordered">
                    <colgroup>
                        <col class="col-md-1">
                        <col class="col-md-3">
                        <col class="col-md-3">
                        <col class="col-md-3">
                        <col class="col-md-1">
                        <col class="col-md-1">
                    </colgroup>
                    <tr ng-repeat-start="group in $groups">
                        <td class="text-center">
                            <div class="form-group">
                                <input type="checkbox" checklist-model="$ctrl.presences"
                                       checklist-value="group.data[0].personId" checklist-change="$ctrl.onChecklistChanged()">
                            </div>
                        </td>
                        <td data-title="'Meetings.Unroll.Appeal.Person' | translate"
                            data-groupable="'personId'"
                            data-sortable="'fullName'">
                            {{ group.data[0] | fullName }}
                        </td>
                        <td data-title="'Meetings.Unroll.Appeal.Delegate' | translate">
                            <div class="form-group form-group-sm">
                                <input type="text" class="form-control"
                                       data-ng-disabled="!$ctrl.isPresent(group.data[0].personId)"
                                       data-ng-model="$ctrl.delegates[group.data[0].personId]"
                                       ng-change="$ctrl.onDelegateChange()">
                            </div>
                        </td>
                        <td data-title="'Meetings.Unroll.Appeal.HousingUnit' | translate">
                            <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                                <i class="fa" ng-class="{ 'fa-plus-square-o': group.$hideRows, 'fa-minus-square-o': !group.$hideRows }"></i>
                            </a>
                            <span ng-if="group.data.length === 1">
                                {{ group.data[0].building }} / {{ group.data[0].group }} / {{ group.data[0].unit }}
                            </span>
                        </td>
                        <td data-title="'Meetings.Unroll.Appeal.Role' | translate" class="text-center">
                            <span ng-if="group.data.length === 1"
                                  uib-tooltip="{{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate }}"
                                  data-tooltip-placement="top" data-tooltip-append-to-body="true">
                                {{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate | truncate: 2 : '...' }}
                            </span>
                        </td>
                        <td data-title="'Meetings.Unroll.Appeal.Thousandths' | translate" class="text-right">
                            <span>
                                {{ (group.data | map: 'thousandths' | sum) / $ctrl.value.totalSum * 1000 | number: 4 }}
                            </span>
                        </td>
                    </tr>
                    <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>
                            {{ row.building }} / {{ row.group }} / {{ row.unit }}
                        </td>
                        <td class="text-center">
                            <span uib-tooltip="{{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate }}"
                                  data-tooltip-placement="top" data-tooltip-append-to-body="true">
                                {{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate | truncate: 2 : '...' }}
                            </span>
                        </td>
                        <td class="text-right">{{ row.thousandths / $ctrl.value.totalSum * 1000 | number: 4 }}</td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="5" class="text-right">
                            <span translate>.ThousandthsSum</span>
                        </td>
                        <td class="text-right">
                            {{ 1000 | number: 4 }}
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>