<form class="meetings-container" novalidate name="$ctrl.form" translate-namespace="Meetings.Unroll.Variation.Create">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <appeal-input ng-model="$ctrl.variation" call="$ctrl.call" expected-participants="$ctrl.expectedParticipants"
                      variation="true"></appeal-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
    </div>
</form>
