<script type="text/ng-template" id="app/transitional-accounts/transitional-accounts-type-filter.html">
    <select name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
            class="input-filter form-control"
            ng-options="item.name as item.name| translate for item in $ctrl.accoutingTransactionTypes | orderBy:'name | translate'" >    
        <option value="">
    </select>
</script>

<script type="text/ng-template" id="app/transitional-accounts/transitional-accounts-date-filter.html">
    <date-range-filter id="dateFilter" name="dateFilter" ng-required="false" name="{{ name }}"  ng-model="params"
        class="input-filter" filter-from-name="competenceFrom" filter-to-name="competenceTo" ></date-range-filter>
</script>

<script type="text/ng-template" id="app/transitional-accounts/transaction-date-filter.html">
    <date-range-filter id="dateFilter" name="dateFilter" ng-required="false" name="{{ name }}"  ng-model="params"
        class="input-filter" filter-from-name="startDate" filter-to-name="endDate" ></date-range-filter>
</script>

<div class="transitional-accounts-container" translate-namespace="TrasitionalAccounts.List">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.Title</h5>
                        <div ibox-tools class="text-right">
                            <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$vm.tableParams.total() == 0">
                                <i class="fa fa-search"></i>
                                <span translate>.ToggleFilters</span>
                            </button>
                        </div>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loadingAccount ||  $ctrl.loadingTransitional"></spinner-loader>
                <div>
                    <div class="ibox-content" ng-hide="$ctrl.loadingAccount  ||  $ctrl.loadingTransitional">
                        <div name="transitional-accounts" style="margin: 0 auto;" class="col-md-6">
                            <div class="table-responsive">
                                <table ng-table-dynamic="$ctrl.transitionalAccountsTableParams with $ctrl.transitionalAccountColumns" class="table table-bordered table-bordered table-hover"
                                    data-show-filter="$ctrl.showFilter">
                                    <colgroup>
                                        <col ng-repeat="col in $columns" ng-style="{ width: col.width }">
                                    </colgroup>
                                    <tr ng-repeat="row in $data track by $index">
                                        <td ng-repeat="col in $columns track by $index" class="allign-middle" style="min-height: 40px;max-height: 40px;" ng-class="{  'text-right': col.kind === 'amount', 'text-center': col.kind === 'check'  }"
                                            data-filter="col.filter">
                                            <span ng-switch="col.kind">
                                                <label ng-switch-when="text">{{ row[col.field]}}</label>
                                                <label ng-switch-when="i18n-text">{{ 'TrasitionalAccounts.List.'+ row[col.field] | translate}}</label>
                                                <label ng-switch-when="amountToGive">
                                                    <span ng-show="$ctrl.isToGive(row)">{{row[col.field].TO_GIVE[0].amount | currency }}</span>
                                                </label>
                                                <label ng-switch-when="amountToHave">
                                                    <span ng-hide="$ctrl.isToGive(row)">{{row[col.field].TO_HAVE[0].amount | currency }}</span>
                                                </label>
                                                <label ng-switch-when="date">{{row[col.field] | date:'shortDate'}}</label>
                                                <div ng-switch-when="competence">
                                                    <label ng-if="row[col.field].startDate === row[col.field].endDate">
                                                        {{row[col.field].startDate | date:'shortDate'}}
                                                    </label>
                                                    <label ng-if="row[col.field].startDate !== row[col.field].endDate">
                                                        {{row[col.field].startDate | date:'shortDate'}} - {{row[col.field].endDate | date:'shortDate'}}
                                                    </label>
                                                </div>
                                                <input ng-switch-when="check" type="checkbox" ng-model="row[col.field]" ng-click="$ctrl.onTransitionalSelection(row)" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div name="accounts" style="margin: 0 auto;" class="col-md-6">
                            <div class="table-responsive">
                                <table ng-table-dynamic="$ctrl.accountsTableParams with $ctrl.accountColumns" class="table table-bordered table-bordered table-hover"
                                    data-show-filter="$ctrl.showFilter">
                                    <colgroup>
                                        <col ng-repeat="col in $columns" ng-style="{ width: col.width }">
                                    </colgroup>
                                    <tr ng-repeat="row in $data track by $index">
                                        <td ng-repeat="col in $columns track by $index" class="allign-middle" style="min-height: 40px;max-height: 40px;" ng-class="{  'text-right': col.kind === 'amount', 'text-center': col.kind === 'check'  }"
                                            data-filter="col.filter">
                                            <span ng-switch="col.kind">
                                                <label ng-switch-when="text">{{ row[col.field]}}</label>
                                                <label ng-switch-when="i18n-text">{{ 'TrasitionalAccounts.List.'+ row[col.field] | translate}}</label>
                                                <label ng-switch-when="amount">{{row[col.field] | currency }}</label>
                                                <label ng-switch-when="date">{{row[col.field] | date:'shortDate'}}</label>
                                                <div ng-switch-when="competence">
                                                    <label ng-if="row['startDate'] === row['endDate']">
                                                        {{row['startDate'] | date:'shortDate'}}
                                                    </label>
                                                    <label ng-if="row['startDate'] !== row['endDate']">
                                                        {{row['startDate'] | date:'shortDate'}} - {{row['endDate'] | date:'shortDate'}}
                                                    </label>
                                                </div>
                                                <input ng-switch-when="check" type="checkbox" ng-model="row[col.field]" ng-click="$ctrl.onAccountSelection(row)" />
                                            </span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12 text-right" ng-hide="$ctrl.loadingAccount || $ctrl.loadingTransitional">
                            <button class="btn btn-success" ng-disabled="$ctrl.disableConfirm" ng-click="$ctrl.doConfirm()">
                                <span translate>.Confirm</span>
                                <i class="fa fa-fw fa-chevron-right"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>