<div translate-namespace="TrasitionalAccounts.Reconciliation">
    <spinner-loader ng-show="$ctrl.periodLoading"></spinner-loader>
    <div ng-hide="$ctrl.periodLoading" class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.Title</h5>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-danger" ng-if="$ctrl.unbalancedAmounts || !$ctrl.selectionCheck">
                        <ul>
                            <li ng-if="$ctrl.unbalancedAmounts">
                                <span translate>.UnbalancedAmounts</span>
                            </li>
                            <li ng-if="$ctrl.unselectionCheck">
                                <span translate>.SelectionCheck</span>
                            </li>
                        </ul>
                    </div>

                    <div name="transitional-account" class="col-sm-4 col-lg-3">
                        <transitional-account-detail transitional-account="$ctrl.transitionaleAccountSelected" mode="$ctrl.transitionalMode" />
                    </div>
                    <div class="col-sm-8 col-lg-9">
                        <div ng-if="$ctrl.period" name="selected-transaction" ng-repeat="transaction in $ctrl.accountSelected">
                            <selected-transaction-detail transaction="transaction" condominium-id="$ctrl.condominiumId" period="$ctrl.period" total-amount="$ctrl.transitionaleAccountSelected.totalAmount"
                                mode="$ctrl.transactionalMode" />
                        </div>
                    </div>
                    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                    <div style="padding-top: 25px;">
                        <div class="col-md-6">
                            <button class="btn btn-default" ui-sref="index.transitionalAccounts.list">
                                <i class="fa fa-fw fa-chevron-left"></i>
                                <span translate>.Back</span>
                            </button>
                        </div>
                        <div class="col-md-6 text-right">
                            <button class="btn btn-primary" type="button" ng-click="$ctrl.doSave()" ng-disabled="$ctrl.disableSave" translate>.Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>