<div class="wrapper wrapper-content budget-container" ng-form="vm.form" translate-namespace="Budget.Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div class="ibox-content" ng-hide="vm.loading">
                    <div class="alert alert-info" ng-if="vm.budget.confirmed" translate>.ConfirmedAlert</div>
                    <div ng-include="'app/budget/budget-form.html'"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="vm.loading">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="button" ng-if="!vm.budget.confirmed" ng-disabled="vm.form.$invalid || vm.form.$pristine"
                ng-click="vm.doSave()" translate>.Save</button>
            <button class="btn btn-success" type="button" ng-if="!vm.budget.confirmed" ng-disabled="vm.breakdownCriteriaMissing || vm.form.$invalid || form.$dirty"
                ng-click="vm.doConfirm()" translate>.Confirm</button>
            <button class="btn btn-danger" type="button" ng-if="vm.budget.confirmed" ng-click="vm.doUnconfirm()" translate>.Unconfirm</button>
            <a class="btn btn-success" type="button" ng-if="vm.budget.confirmed" ui-sref="^.installmentPlan.view({ condominiumId: vm.condominiumId, periodId: vm.periodId })"
                translate>.InstallmentPlan</a>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-print fa-fw"></i>&nbsp;
                <span translate>.Print</span>
                <span class="caret"></span>
            </button>   
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a ng-click="vm.openPrintQuoteOption()" translate>.PrintQuote</a>
                    </li>
                    <li>
                        <a ng-click="vm.openPrintRipartitionsOption()" translate>.PrintRepartition</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>