<div class="row">
    <div class="col-md-6">
        <div class="btn-group btn-group-sm" ng-if="!vm.budget.confirmed">
            <button class="btn btn-default" ng-click="vm.setBudgetFlag(true)" type="button" translate>.SetBudget</button>
            <button class="btn btn-default" ng-click="vm.setBudgetFlag(false)" type="button" translate>.SetFinal</button>
        </div>
        <div class="btn-group btn-group-sm" ng-if="!vm.budget.confirmed">
            <button class="btn btn-default btn-sm" ng-click="vm.askPercentage()" type="button"
                    uib-tooltip="{{ 'Budget.Edit.SetPercentage' | translate }}">
                <i class="fa fa-percent"></i>
            </button>
            <button class="btn btn-default btn-sm" ng-click="vm.askRounding()" type="button"
                    uib-tooltip="{{ 'Budget.Edit.SetRounding' | translate }}">
                <i class="fa fa-money"></i>
            </button>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" ng-disabled="$vm.tableParams.total() == 0">
            <i class="fa fa-search"></i>
            <span translate>.ToggleFilters</span>
        </button>
        <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-print fa-fw"></i>&nbsp;
                <span translate>.Print</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a  ng-click="vm.openPrintQuoteOption()" translate>.PrintQuote</a>
                </li>
                <li>
                    <a ng-click="vm.openPrintRipartitionsOption()" translate>.PrintRepartition</a>
                </li>
            </ul>
        </div>
    </div>
   
</div>
<div ng-form="inner" class="table-responsive" translate-namespace="Budget.Edit">
    <table ng-table="vm.tableParams" show-filter="vm.showFilters" class="table table-bordered table-condensed table-striped table-hover">
        <colgroup>
            <col class="col-md-4">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tr class="ng-table-group" ng-repeat-start="group in $groups">
            <td colspan="7">
                <a ng-click="group.$hideRows = !group.$hideRows">
                    <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': group.$hideRows, 'fa-chevron-down': !group.$hideRows }"></i>
                    {{ group.data[0].groupName }}                    
                </a>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-class="{ warning: !row.hasBreakdownCriteria }">
            <td data-title="'Budget.Edit.SubAccount' | translate" filter="{ subAccountName: 'text' }">
                {{ row.subAccountName }}
            </td>
            <td data-title="'Budget.Edit.PreviousYearBudget' | translate" class="text-right">
                {{ row.previousBudget | currency }}
            </td>
            <td data-title="'Budget.Edit.PreviousYearFinal' | translate" class="text-right">
                {{ row.previousFinal | currency }}
            </td>
            <td data-title="'Budget.Edit.UseBudget' | translate" class="text-center">
                <div class="form-group">
                    <input type="checkbox" ng-model="row.useBudget" ng-change="vm.calculateRow(row)"
                           ng-model-options="{ debounce: 250 }" ng-disabled="vm.budget.confirmed">
                </div>
            </td>
            <td data-title="'Budget.Edit.CorrectionPercentage' | translate">
                <div class="form-group">
                    <div class="input-group input-group-sm">
                        <input type="number" ng-model="row.correctionPercentage" class="form-control text-right input-sm"
                               ng-change="vm.calculateRow(row)" ng-model-options="{ debounce: 500 }"
                               ng-disabled="vm.budget.confirmed">
                        <span class="input-group-addon">
                            <i class="fa fa-percent"></i>
                        </span>
                    </div>
                </div>
            </td>
            <td data-title="'Budget.Edit.CorrectionValue' | translate">
                <div class="form-group">
                    <!-- 
                        Nel caso in cui si tratti di un costo (row.operation == 'C') il min è valorizzato a 0 e non c'è max
                        Nel caso in cui si tratti di un ricavo (row.operation == 'R') il max è valorizzato a 0 e non c'è min
                        -->
                    <input min="{{row.operation === 'R' ? undefined : 0}}" max="{{row.operation === 'R' ? 0 : undefined}}" 
                           ng-model="row.correctionValue" class="form-control text-right input-sm"
                           min-err-type="min_correction_value_opt_{{row.operation}}"
                           max-err-type="max_correction_value_opt_{{row.operation}}"
                           ng-currency ng-required="true" ng-disabled="vm.budget.confirmed"
                           ng-change="vm.calculateRow(row)" ng-model-options="{ debounce: 500 }">
                </div>
            </td>
            <td data-title="'Budget.Edit.BudgetValue' | translate">
                <div class="form-group">
                    <input min="0" ng-model="row.budgetValue" class="form-control text-right input-sm"
                           ng-currency ng-required="true" ng-min="0" ng-disabled="vm.budget.confirmed"
                           ng-change="vm.reverseRow(row)" ng-model-options="{ debounce: 500 }">
                </div>
            </td>
        </tr>
        <tr ng-repeat-end>
            <td class="text-right"><strong translate translate-values="group.data[0]">.GroupTotal</strong></td>
            <td class="text-right"><em>{{ vm.sumBy(group.data, 'previousBudget') | currency }}</em></td>
            <td class="text-right"><em>{{ vm.sumBy(group.data, 'previousFinal') | currency }}</em></td>
            <td colspan="4" class="text-right">
                <em>{{ vm.sumBy(group.data, 'budgetValue') | currency }}</em>
            </td>
        </tr>
        <tfoot ng-if="vm.isLastPage()">
            <tr>
                <td class="text-right"><strong translate>.GrandTotal</strong></td>
                <td class="text-right"><em>{{ vm.sumBy(vm.budget.rows, 'previousBudget') | currency }}</em></td>
                <td class="text-right"><em>{{ vm.sumBy(vm.budget.rows, 'previousFinal') | currency }}</em></td>
                <td colspan="4" class="text-right">
                    <em>{{ vm.sumBy(vm.budget.rows, 'budgetValue') | currency }}</em>
                </td>
            </tr>
        </tfoot>
    </table>
</div>