<form novalidate name="form" translate-namespace="Budget.Percentage">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="percentage" translate>.Percentage</label>
            <div class="input-group input-group-sm">
                <input type="number" class="form-control text-right" id="percentage" name="percentage"
                       ng-model="vm.percentage" ng-required="true" ng-min="0">
                <span class="input-group-addon">
                    <i class="fa fa-percent"></i>
                </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doConfirm()" translate>.Set</button>
    </div>
</form>
