.budget-container {
  .ng-table-group-header {
    display: none;
  }
  .table > tbody > tr > td {
    vertical-align: middle;
    .form-group {
      margin-bottom: 0;
    }
  }

  .dropdown-toggle {
    > .caret {
      border-top: 4px dashed;
    }
  }

   // override to follow the original bootstrap definitions
   .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  

}