<form novalidate name="form" translate-namespace="Budget.Rounding">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="rounding" translate>.Rounding</label>
            <select id="rounding" name="rounding" class="form-control" ng-model="vm.rounding"
                    ng-required="true" ng-options="value as ('Budget.Rounding.Description' | translate: {value: value}: 'messageformat') for value in vm.budgetRoundingValues"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doConfirm()" translate>.Set</button>
    </div>
</form>
