<form novalidate name="form" translate-namespace="Budget.Edit">
    <div class="modal-header">
        <i class="fa fa-list-alt modal-icon"></i>
        <h4 class="modal-title" translate>.PrintQuote</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="print-type">
                <span translate>.PrintType</span>*</label>
            <select id="print-type" name="print-type" class="form-control" ng-model="vm.printOption.printType" required>
                <option value="balance-sheet-master-account" translate>.QuoteForAccount</option>
                <option value="balance-sheet-master-table" translate>.QuoteForTable</option>
                <option value="balance-sheet-personal" translate>.IndividualQuote</option>
            </select>
        </div>

        <div ng-if="vm.printOption.printType ==='balance-sheet-master-account'|| vm.printOption.printType==='balance-sheet-master-table'">
            <div class="form-group">
                <label for="print-type">
                <span translate>.ShowLastYear</span>
            </label>
                <input type="checkbox" class="text-right" ng-model="vm.printOption.showLastYear">
            </div>
        </div>
        <div ng-if="vm.printOption.printType==='balance-sheet-master-table'">
            <div class="form-group">
                <label for="print-type">
                <span translate>.OnlyAccount</span>
            </label>
                <input type="checkbox" class="text-right" ng-model="vm.printOption.onlyAccount">
            </div>
        </div>
        <div ng-if="vm.printOption.printType==='balance-sheet-personal'">
            <div class="form-group">
                <label for="print-type">
                <span translate>.ShowInstalmentPlan</span>
            </label>
                <input type="checkbox" class="text-right" ng-model="vm.printOption.showInstalmentPlan">
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'xlsx');$dismiss();" translate>.ConfirmExcelExport</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'pdf');$dismiss();" translate>.ConfirmPrint</button>
    </div>
</form>