<div class="row" translate-namespace="DefaultAgendas.Form">
    <div class="col-md-7">
        <div class="form-group">
            <label for="title"><span translate>.Title</span><span> *</span></label>
            <input id="title" name="title" ng-model="$ctrl.value.title"
                   class="form-control" data-ng-required="true" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-5">
        <div class="form-group">
            <label for="votingRule"><span translate>.VotingRule</span></label>
            <voting-rule-select id="votingRule" name="votingRule"
                                data-ng-model="$ctrl.value.votingRuleId"
                                data-ng-change="$ctrl.onChange()"></voting-rule-select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="content"><span translate>.Content</span></label>
            <template-editor id="content" name="content" data-ng-model="$ctrl.value.description"
                             data-ng-change="$ctrl.onChange()" rows="10"></template-editor>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="votersRoles"><span translate>.VotersRoles</span><span> *</span></label>
            <input type="checkbox" class="hidden form-control" ng-required="true" name="votersRoles" id="votersRoles"
                   data-ng-model="$ctrl.hasRoles">
            <div class="row">
                <div class="col-md-4" ng-repeat="type in $ctrl.roleTypes">
                    <label class="checkbox-inline">
                        <input type="checkbox" checklist-model="$ctrl.value.votersRoles" checklist-value="type"
                               checklist-change="$ctrl.onChange()">
                        {{ 'Structures.Edit.Role.Type.' + type | translate }}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12" ng-if="!$ctrl.meetingMode">
        <div class="checkbox">
            <label>
                <input type="checkbox" data-ng-model="$ctrl.value.readonly" data-ng-change="$ctrl.onChange()">
                <span translate>.ReadOnly</span>
            </label>
        </div>
    </div>
</div>
