<form novalidate name="$ctrl.form" translate-namespace="DefaultAgendas.Form.Entries">
    <div class="modal-header">
        <h4 class="modal-title" translate>.CreateTitle</h4>
    </div>
    <div class="modal-body">
        <agenda-entry-input ng-model="$ctrl.entry"></agenda-entry-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                ng-click="$ctrl.close({ $value: $ctrl.entry })" translate>.Confirm</button>
    </div>
</form>
