<select id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.controlClass }}"
        data-ng-model="$ctrl.value" data-ng-change="$ctrl.onChange()" data-ng-required="$ctrl.ngRequired"
        data-ng-disabled="$ctrl.ngDisabled" ng-options="a as a.description for a in $ctrl.agenda">
    <option value="" ng-if="!$ctrl.ngRequired"></option>
</select>