<div class="row" translate-namespace="DefaultAgendas.Form">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="description"><span translate>.Description</span><span> *</span></label>
            <input id="description" name="description" ng-model="$ctrl.value.description"
                   class="form-control" ng-required="true" ng-maxlength="255" ng-change="$ctrl.onChange()"
                   ng-readonly="$ctrl.ngReadonly">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12 text-right">
                <button ng-click="$ctrl.addNew()" data-ng-disabled="$ctrl.value.system"
                        class="btn btn-sm btn-primary" type="button">
                    <i class="fa fa-plus"></i>
                    <span translate>.New</span>
                </button>
            </div>
        </div>
        <div class="table-responsive m-t-md">
            <table ng-table="$ctrl.tableParams" data-show-filter="false" class="table">
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-8">
                    <col class="col-md-1">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="item in $data">
                    <td data-title="'DefaultAgendas.Form.Position' | translate" class="text-right">
                        {{ $index + 1 }}
                    </td>
                    <td data-title="'DefaultAgendas.Form.Title' | translate">
                        {{ item.title }}
                    </td>
                    <td data-title="'DefaultAgendas.Form.ReadOnly' | translate" class="text-center">
                        <i class="fa fa-lock" ng-if="item.readonly"></i>
                    </td>
                    <td data-title="'DefaultAgendas.Form.Actions' | translate" class="text-right">
                        <a href="" ng-click="$ctrl.moveUp($index)"
                           uib-tooltip="{{ 'DefaultAgendas.Form.MoveUp' | translate }}"
                           data-tooltip-append-to-body="true" data-ng-disabled="$first || $ctrl.value.system"
                           class="btn btn-circle btn-default btn-sm" type="button">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a href="" ng-click="$ctrl.moveDown($index)"
                           uib-tooltip="{{ 'DefaultAgendas.Form.MoveDown' | translate }}"
                           data-tooltip-append-to-body="true" data-ng-disabled="$last || $ctrl.value.system"
                           class="btn btn-circle btn-default btn-sm" type="button">
                            <i class="fa fa-chevron-down"></i>
                        </a>
                        <button ng-click="$ctrl.doEdit($index)"
                           uib-tooltip="{{ 'DefaultAgendas.Form.Edit' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true"
                           data-ng-disabled="$ctrl.value.system"
                           class="btn btn-circle btn-primary" type="button">
                            <i class="fa fa-edit"></i>
                        </button>
                        <button ng-click="$ctrl.doDelete($index)" data-ng-disabled="($first && $last) || $ctrl.value.system"
                                uib-tooltip="{{ 'DefaultAgendas.Form.Delete' | translate }}"
                                data-tooltip-placement="top"
                                data-tooltip-append-to-body="true"
                                class="btn btn-circle btn-danger" type="button">
                            <i class="fa fa-remove"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>