<div class="wrapper wrapper-content" translate-namespace="DefaultAgendas.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           tooltip-placement="top"
                           uib-tooltip="{{ 'DefaultAgendas.List.AddNew' | translate }}"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoDefaultAgendasFound</span>
                    </div>
                    <div class="table-responsive" ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters" class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-9">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'DefaultAgendas.List.Description' | translate"
                                    data-filter="{description:'text'}"
                                    data-sortable="'description'">{{ item.description }}</td>
                                <td data-title="'DefaultAgendas.List.System.Title' | translate"
                                    data-filter="{system:'app/default-agendas/system-filter.html'}"
                                    class="text-center">
                                    <span translate ng-if="item.system">.System.Only</span>
                                    <span translate ng-if="!item.system">.System.Custom</span>
                                </td>
                                <td data-title="'DefaultAgendas.List.Actions' | translate" class="text-right">
                                    <button ng-click="$ctrl.cloneDefaultAgenda(item)"
                                            uib-tooltip="{{ 'DefaultAgendas.List.Copy' | translate }}"
                                            data-tooltip-placement="top"
                                            data-tooltip-append-to-body="true"
                                            class="btn btn-circle btn-default" type="button">
                                        <i class="fa fa-clone"></i>
                                    </button>
                                    <a ui-sref=".edit({agendaId: item.id})"
                                       uib-tooltip="{{ 'DefaultAgendas.List.Show' | translate }}"
                                       data-tooltip-placement="top"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button ng-click="$ctrl.deleteDefaultAgenda(item)" ng-disabled="item.system"
                                            uib-tooltip="{{ 'DefaultAgendas.List.Delete' | translate }}"
                                            data-tooltip-placement="top"
                                            data-tooltip-append-to-body="true"
                                            data-ng-disabled="item.system"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/default-agendas/system-filter.html">
    <select name="{{name}}" data-ng-disabled="$filterRow.disabled"
            data-ng-model="params.filter()[name]"
            class="input-filter form-control">
        <option value="" translate>.System.All</option>
        <option value="true" translate>.System.Only</option>
        <option value="false" translate>.System.Custom</option>
    </select>
</script>