/**
    Schemi colorazione Gabetti
 */

@gabetti-main-color: #b01036;
@gabetti-opposite-color: #fff;
@gabetti-main-txt-color: #676a6c;

.gabetti {

    .pace .pace-progress,
    .sk-spinner-cube-grid .sk-cube {
        background-color: @gabetti-main-color;
    }
    .navy-bg {
        background-color: @gabetti-main-color;
        color: @gabetti-opposite-color;
    }
    
    .btn-primary {
      background-color: @gabetti-main-color;
      border-color: @gabetti-main-color;
    }

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:hover, .btn-primary.active:focus {
      background-color: darken(@gabetti-main-color, 3%);
      border-color: darken(@gabetti-main-color, 3%);
    }

    .panel-primary {
        border-color: @gabetti-main-color;
    }
    .panel-primary>.panel-heading {
        background-color: @gabetti-main-color;
        border-color: @gabetti-main-color;
    }

    .label-primary,
    .badge-primary {
        background-color: @gabetti-main-color;
    }
    
    .form-control:focus, .single-line:focus {
      border-color: @gabetti-main-color !important;
    }
    
    .nav-tabs > li,
    .nav-pills > li {
        > a {
            color: @text-color !important;
            &:hover, &:active {
                color: @gabetti-opposite-color !important;
                background-color:  @gabetti-main-color !important;
            }
        }
        &.active {
            > a, > a:hover, > a:focus {
                color: @gabetti-opposite-color !important;
                background-color:  @gabetti-main-color !important;
            }
        }

    }
    .ibox-content {
        border-color: @gabetti-main-color;
        padding: 15px 0 20px;
    }
    .ibox-title {
        background-color: @gabetti-opposite-color;
        .ibox-content;
    }
    .spaPageHeader {
        color: @gabetti-main-color;
    }

    .widgetRiepilogo {
      background-color: @gabetti-main-color;
      color: @gabetti-opposite-color;
      border: 2px solid @gabetti-main-color;
      &.inverted {
        background-color: @gabetti-opposite-color;
        color: @gabetti-main-color;
      }

    }
    
    // tabella dei riparti energetici 
    .heatCostReport {
        table.table-striped tr {
            th, td {
                &.bgPost { background-color: @gabetti-main-color; }
            }
        }
    }
}
