<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Meetings.Unroll">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref="^" class="btn btn-default btn-sm">
                            <i class="fa fa-backward"></i>
                            <span translate>.Cancel</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-9">
                                    <span ng-if="$ctrl.unrolling.entries.length === 0">
                                        <button class="btn btn-sm btn-primary" ng-click="$ctrl.createAppeal()">
                                            <i class="fa fa-users"></i>
                                            <span translate>.EntryType.APPEAL.Title</span>
                                        </button>
                                    </span>
                                    <span ng-if="$ctrl.unrolling.entries.length > 0">
                                        <button class="btn btn-sm btn-default"
                                                data-ng-disabled="$ctrl.unrolling.closed"
                                                ng-click="$ctrl.createVariation()">
                                            <i class="fa fa-users"></i>
                                            <span translate>.EntryType.VARIATION.Title</span>
                                        </button>
                                        <button class="btn btn-sm btn-default"
                                                data-ng-disabled="$ctrl.unrolling.closed"
                                                ng-click="$ctrl.createText()">
                                            <i class="fa fa-font"></i>
                                            <span translate>.EntryType.TEXT.Title</span>
                                        </button>
                                        <button class="btn btn-sm btn-default"
                                                data-ng-disabled="$ctrl.unrolling.closed"
                                                ng-click="$ctrl.createAgenda()">
                                            <i class="fa fa-bookmark-o"></i>
                                            <span translate>.EntryType.AGENDA.Title</span>
                                        </button>
                                        <button class="btn btn-sm btn-default"
                                                data-ng-disabled="$ctrl.unrolling.closed"
                                                ng-click="$ctrl.createVotation()">
                                            <i class="fa fa-hand-paper-o"></i>
                                            <span translate>.EntryType.VOTATION.Title</span>
                                        </button>
                                        <button class="btn btn-sm btn-default"
                                                data-ng-disabled="$ctrl.unrolling.closed"
                                                ng-click="$ctrl.createClose()">
                                            <i class="fa fa-times"></i>
                                            <span translate>.EntryType.CLOSE.Title</span>
                                        </button>
                                    </span>
                                </div>
                                <div class="col-md-3 text-right">
                                    <span ng-if="$ctrl.unrolling.entries.length > 0">
                                        <button class="btn btn-sm btn-danger" ng-click="$ctrl.removeAllEntries()">
                                            <i class="fa fa-trash"></i>
                                            <span translate>.RemoveAll.Title</span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.unrolling.entries.length > 0">
                        <div class="col-md-6">
                            <unrolling-timeline entries="$ctrl.unrolling.entries"
                                                on-edit-entry="$ctrl.editEntry(index, entry)"
                                                on-remove-entry="$ctrl.removeEntry(index, entry)">
                            </unrolling-timeline>
                        </div>
                        <div class="col-md-6">
                            <unrolling-expansion condominium-id="$ctrl.condominium.id"
                                                 meeting-id="$ctrl.unrolling.meetingId"
                                                 meeting-call="$ctrl.unrolling.meetingCall"
                                                 entries="$ctrl.unrolling.entries">
                            </unrolling-expansion>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.unrolling.entries.length === 0">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="alert alert-info">
                                <span translate>.NoEntries</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
