<div class="wrapper wrapper-content" translate-namespace="Meetings.Unroll.Send"
     cg-busy="{ promise: $ctrl.sending, message: ('Meetings.Unroll.Send.Sending' | translate) }">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref="^.^" class="btn btn-default btn-sm">
                            <i class="fa fa-backward"></i>
                            <span translate>.Cancel</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <wizard hide-indicators="true" edit-mode="$ctrl.unrolling.expansionTemplateId">
                        <wz-step wz-title="{{ 'Meetings.Unroll.Send.Wizard.Select' | translate }}"
                                 wz-heading-title="{{ 'Meetings.Unroll.Send.Wizard.SelectHeading' | translate }}"
                                 canexit="angular.isDefined($ctrl.templateId)">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div class="form-group">
                                        <label for="templateId" class="control-label"><span translate>.Template</span><span> *</span></label>
                                        <template-select id="templateId" name="templateId" ng-model="$ctrl.templateId"></template-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-6 text-right">
                                    <button class="btn btn-primary"
                                            progress-button="$ctrl.generatePrints()"
                                            data-ng-disabled="!$ctrl.templateId || !$ctrl.isTemplateChanged()">
                                        <i class="fa fa-fw fa-gears"></i>
                                        <span translate>.GeneratePrints</span>
                                    </button>
                                    <button class="btn btn-default"
                                            data-wz-next="$ctrl.selectFirstParticipant()"
                                            data-ng-disabled="$ctrl.isTemplateChanged() && !$ctrl.unrolling.expansionTemplateId">
                                        <span translate>.Next</span>
                                        <i class="fa fa-fw fa-step-forward"></i>
                                    </button>
                                </div>
                            </div>
                        </wz-step>
                        <wz-step wz-title="{{ 'Meetings.Unroll.Send.Wizard.PrintSend' | translate }}"
                                 wz-heading-title="{{ 'Meetings.Unroll.Send.Wizard.PrintSendHeading' | translate }}">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button class="btn btn-default btn-sm"
                                                    ng-click="$ctrl.selectAllVisible()">
                                                <i class="fa fa-check-square-o"></i>
                                                <span translate>.SelectAll</span>
                                            </button>
                                            <button class="btn btn-default btn-sm"
                                                    ng-click="$ctrl.deselectAllVisible()">
                                                <i class="fa fa-square-o"></i>
                                                <span translate>.DeselectAll</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="table-responsive installment-plan-table-container">
                                        <table ng-table="$ctrl.tableParams"
                                               data-show-group="false"
                                               data-show-filter="false"
                                               class="table table-bordered table-bordered table-hover">
                                            <colgroup>
                                                <col class="col-md-1">
                                                <col class="col-md-7">
                                                <col class="col-md-4">
                                            </colgroup>
                                            <tr ng-repeat="group in $groups"
                                                ng-init="commTypes = $ctrl.availableCommunicationTypes(group.data[0])">
                                                <td class="text-center">
                                                    <input type="checkbox"
                                                           checklist-model="$ctrl.sendingParticipants"
                                                           data-checklist-value="group.data[0].personId">
                                                </td>
                                                <td data-title="'Meetings.Participants.Summoning.Name' | translate">
                                                    <a href="" ng-click="$ctrl.selectParticipant(group.data[0].personId)">
                                                        <strong ng-if="$ctrl.selectedPersonId === group.data[0].personId">{{ group.data[0] | fullName }}</strong>
                                                        <span ng-if="$ctrl.selectedPersonId !== group.data[0].personId">{{ group.data[0] | fullName }}</span>
                                                    </a>
                                                </td>
                                                <td data-title="'Meetings.Participants.Summoning.ContactType' | translate">
                                                    <select name="traceableContactType"
                                                            class="form-control" data-ng-disabled="commTypes.length === 0"
                                                            data-ng-model="$ctrl.channelOf(group.data[0].personId).channel"
                                                            ng-options="ct as 'Persons.Form.CommunicationType.' + ct | translate for ct in commTypes">
                                                        <option value="">{{ 'Meetings.Unroll.Send' + (commTypes.length > 0 ? '.PleaseSelect' : '.NoChannelAvailable') | translate }}</option>
                                                    </select>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <iframe class="pdf-container" width="100%" ng-if="$ctrl.pdfSrc" src="{{ $ctrl.pdfSrc || '' }}"></iframe>
                                </div>
                            </div>
                            <div class="row m-t-md">
                                <div class="col-md-6">
                                    <button class="btn btn-default" data-wz-previous="">
                                        <i class="fa fa-step-backward"></i>
                                        <span translate>.Back</span>
                                    </button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <div class="btn-group" uib-dropdown data-dropdown-append-to-body="true">
                                        <button id="split-button" type="button" class="btn btn-primary"
                                                data-ng-disabled="!$ctrl.canDownload()"
                                                ng-click="$ctrl.sendSelected()">
                                            <i class="fa fa-send-o"></i>
                                            <span translate>.SendSelected</span>
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                data-ng-disabled="!$ctrl.canDownload()"
                                                uib-dropdown-toggle>
                                            <span class="caret"></span>
                                            <span class="sr-only">Split button!</span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="split-button">
                                            <li role="menuitem" ng-repeat="ct in $ctrl.selectedCommunicationTypes()">
                                                <a href="" ng-click="$ctrl.sendSelectedWith(ct)">{{'Meetings.Unroll.Send.SendSelectedWith.' + ct | translate}}</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary"
                                            data-ng-disabled="!$ctrl.canDownload()"
                                            progress-button="$ctrl.archiveAndDownloadSelected()">
                                        <i class="fa fa-file-zip-o"></i>
                                        <span translate>.DownloadSelected</span>
                                    </button>
                                    <button class="btn btn-primary"
                                            data-ng-disabled="!$ctrl.canDownload()"
                                            progress-button="$ctrl.mergeAndDownloadSelected()">
                                        <i class="fa fa-download"></i>
                                        <span translate>.MergeAndDownload</span>
                                    </button>
                                </div>
                            </div>
                        </wz-step>
                    </wizard>
                </div>
            </div>
        </div>
    </div>
</div>