<div class="row unrolling-expansion"
     ng-scrollbars
     ng-scrollbars-update="$ctrl.updateScrollbar"
     ng-scrollbars-config="$ctrl.scrollbarConfig">
    <div class="col-md-12">
        <div class="m-l-md m-r-md" ng-bind-html="$ctrl.content">
        </div>
    </div>
</div>