<div id="vertical-timeline"
     class="vertical-container dark-timeline"
     ng-scrollbars
     ng-scrollbars-update="$ctrl.updateScrollbar"
     ng-scrollbars-config="$ctrl.scrollbarConfig">
    <div class="vertical-timeline-block" ng-repeat="entry in $ctrl.entries" translate-namespace="Meetings.Unroll">
        <div class="vertical-timeline-icon" ng-class="{'red-bg': entry.type === 'CLOSE', 'blue-bg': entry.type === 'VOTATION' || entry.type === 'AGENDA', 'navy-bg': entry.type === 'TEXT', 'gray-bg': entry.type === 'APPEAL' || entry.type === 'VARIATION'}" ng-switch="entry.type">
            <i class="fa fa-users" ng-switch-when="APPEAL"></i>
            <i class="fa fa-users" ng-switch-when="VARIATION"></i>
            <i class="fa fa-bookmark-o" ng-switch-when="AGENDA"></i>
            <i class="fa fa-font" ng-switch-when="TEXT"></i>
            <i class="fa fa-hand-paper-o" ng-switch-when="VOTATION"></i>
            <i class="fa fa-times" ng-switch-when="CLOSE"></i>
        </div>
        <div class="vertical-timeline-content">
            <h2>{{ 'Meetings.Unroll.EntryType.' + entry.type + '.Title' | translate }}</h2>
            <p ng-switch="entry.type">
                <span ng-switch-when="APPEAL">
                    <span translate
                          translate-values="{ totalSum: entry.totalThousandths ? entry.totalThousandths : entry.totalSum, totalPeople: entry.totalPeople, actualSum: (entry.presences | map: 'thousandths' | sum), actualPeople: entry.presences.length }">.EntryType.APPEAL.Text</span><br>
                    <strong class="text-success" ng-if="entry.quorum" translate>.EntryType.APPEAL.OK</strong>
                    <strong class="text-danger" ng-if="!entry.quorum" translate>.EntryType.APPEAL.KO</strong>
                </span>
                <span ng-switch-when="VARIATION">
                    <span translate
                          translate-values="{ totalSum: entry.totalThousandths ? entry.totalThousandths : entry.totalSum, totalPeople: entry.totalPeople, actualSum: (entry.presences | map: 'thousandths' | sum), actualPeople: entry.presences.length }">.EntryType.APPEAL.Text</span><br>
                    <strong class="text-success" ng-if="entry.quorum" translate>.EntryType.APPEAL.OK</strong>
                    <strong class="text-danger" ng-if="!entry.quorum" translate>.EntryType.APPEAL.KO</strong>
                </span>
                <span ng-switch-when="TEXT">
                    <span ng-bind-html="entry.content | stripTags | truncate: 150 : '...' : true"></span>
                </span>
                <span ng-switch-when="AGENDA">
                    <span>{{ entry.title }}</span>
                </span>
                <span ng-switch-when="VOTATION">
                    <span>{{ entry.meetingAgendaEntry.title }}</span>
                    <br>
                    <span translate translate-values="entry.outcome">.EntryType.VOTATION.Text</span>
                    <br>
                    <strong ng-if="entry.outcome.approved" class="text-success" translate>.EntryType.VOTATION.OK</strong>
                    <strong ng-if="!entry.outcome.approved" class="text-danger" translate>.EntryType.VOTATION.KO</strong>
                </span>
                <span ng-switch-when="CLOSE">
                    <span translate>.EntryText.MeetingClosed</span>
                </span>
            </p>
            <button class="btn btn-sm btn-danger m-l-sm"
                    ng-if="$index > 0"
                    data-ng-disabled="!$last"
                    ng-click="$ctrl.onRemoveEntry({ index: $index, entry: entry })">
                <i class="fa fa-trash"></i>
                <span translate>.Remove.Title</span>
            </button>
            <button class="btn btn-sm btn-default"
                    ng-click="$ctrl.onEditEntry({ index: $index, entry: entry })"
                    data-ng-disabled="!$last"
                    ng-if="entry.type !== 'CLOSE'">
                <i class="fa fa-edit"></i>
                <span translate>.Edit</span>
            </button>
            <span class="vertical-date">
                {{ entry.dateTime | fromNow | uppercase }} <br>
                <small>{{ entry.dateTime | date: 'short': 'utc' }}</small>
            </span>
        </div>
    </div>
</div>