<div translate-namespace="Meetings.Unroll.Agenda">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="form-group">
                <label for="datetime"><span translate>.DateTime</span><span> *</span></label>
                <p class="input-group">
                    <input id="datetime" name="datetime" type="text" class="form-control text-right"
                           datetime-picker="dd/MM/yyyy HH:mm"
                           data-ng-model="$ctrl.value.dateTime"
                           data-ng-required="true"
                           data-is-open="$ctrl.open"
                           data-datepicker-append-to-body="true"
                           data-datepicker-options="$ctrl.datepickerOptions"
                           data-timepicker-options="{ 'show-meridian': false }">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="$ctrl.open = !$ctrl.open">
                          <i class="fa fa-calendar"></i>
                      </button>
                  </span>
                </p>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="agendaEntry"><span translate>.AgendaEntry</span></label>
                <meeting-agenda-entry-select id="agendaEntry" name="agendaEntry"
                                             condominium-id="$ctrl.condominium.id"
                                             meeting-id="$ctrl.meeting.id"
                                             ng-model="$ctrl.value.meetingAgendaEntry"
                                             ng-required="true"
                                             data-ng-change="$ctrl.onChange()"></meeting-agenda-entry-select>
            </div>
        </div>
    </div>
</div>