<form class="meetings-container" novalidate name="$ctrl.form" translate-namespace="Meetings.Unroll.Agenda.Edit">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <agenda-input data-ng-model="$ctrl.agenda"
                      data-condominium="$ctrl.resolve.condominium"
                      data-meeting="$ctrl.resolve.meeting"></agenda-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
    </div>
</form>
