<div class="wrapper wrapper-content" translate-namespace="Meetings.Agenda.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.meeting">.Title</h5>
                    <div class="ibox-tools text-right">
                        <button ng-click="$ctrl.doCreate()" data-ng-disabled="$ctrl.progress"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </button>
                        <a ui-sref="^" class="btn btn-sm btn-default">
                            <span translate>.Cancel</span>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0">
                        <span translate>.NoRecordFound</span>
                    </div>
                    <div class="table-responsive m-t-md" ng-show="$ctrl.tableParams.total() > 0">
                        <table ng-table="$ctrl.tableParams" data-show-filter="false" class="table">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-8">
                                <col class="col-md-1">
                                <col class="col-md-2">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Meetings.Agenda.List.Position' | translate" class="text-right">
                                    {{ $index + 1 }}
                                </td>
                                <td data-title="'Meetings.Agenda.List.Description' | translate">
                                    {{ item.title }}
                                </td>
                                <td data-title="'Meetings.Agenda.List.ReadOnly' | translate" class="text-center">
                                    <i class="fa fa-lock" ng-if="item.readonly"></i>
                                </td>
                                <td data-title="'Meetings.Agenda.List.Actions' | translate" class="text-right">
                                    <button ng-click="$ctrl.moveUp($index)"
                                       uib-tooltip="{{ 'Meetings.Agenda.List.MoveUp' | translate }}"
                                       data-tooltip-append-to-body="true" data-ng-disabled="$first || $ctrl.progress"
                                       class="btn btn-circle btn-default btn-sm" type="button">
                                        <i class="fa fa-chevron-up"></i>
                                    </button>
                                    <button ng-click="$ctrl.moveDown($index)"
                                       uib-tooltip="{{ 'Meetings.Agenda.List.MoveDown' | translate }}"
                                       data-tooltip-append-to-body="true" data-ng-disabled="$last || $ctrl.progress"
                                       class="btn btn-circle btn-default btn-sm" type="button">
                                        <i class="fa fa-chevron-down"></i>
                                    </button>
                                    <button ng-click="$ctrl.doEdit($index)"
                                       uib-tooltip="{{ 'Meetings.Agenda.List.Edit' | translate }}"
                                       data-tooltip-placement="top" data-ng-disabled="item.readonly || $ctrl.progress"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button ng-click="$ctrl.doDelete($index)" ng-disabled="item.readonly"
                                            uib-tooltip="{{ 'Meetings.Agenda.List.Delete' | translate }}"
                                            data-tooltip-placement="top" data-ng-disabled="$ctrl.progress"
                                            data-tooltip-append-to-body="true"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>