<form novalidate name="form" translate-namespace="Withholding.Interest">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">

        <p translate>.DisclaimerLine1</p>
        <p translate class="text-danger" >.DisclaimerLine2</p>
        <div class="form-group">
            <label translate>.PaymentDate</label>
            <label translate> {{ vm.paymentDate | date: 'shortDate' }}</label>
        </div>
        <div class="form-group" ng-if="!vm.cumulativePayment">
            <label translate>.WithholdingExpiryDate</label>
            <label translate> {{ vm.selectedItem.withholdingExpiryDate | date: 'shortDate' }}</label>
        </div>
        <div class="form-group" ng-if="vm.cumulativePayment">
            <label translate>.WithholdingCumulativeExpiryDate</label>
            <label translate> {{ vm.selectedItem.withholdingCumulativeExpiryDate | date: 'shortDate' }}</label>
        </div>
        <div class="form-group">
            <label for="interestAmount">
                <span translate>.InterestAmount</span>*</label>
            <input min="0" ng-model="vm.selectedItem.interestAmount" class="form-control text-right" name="interestAmount" id="interestAmount"
                ng-currency value="100" />
        </div>
        <div class="form-group">
            <label for="sanctionAmount">
                <span translate>.SanctionAmount</span>*</label>
            <input min="0" ng-model="vm.selectedItem.sanctionAmount" class="form-control text-right" name="sanctionAmount" ng-currency
                id="sanctionAmount" value="100" />
        </div>

    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="vm.form.$invalid" ng-click="vm.doCalculate()" translate>.Calculate</button>
        <button class="btn btn-primary" type="button" ng-disabled="vm.form.$invalid || vm.form.$pristine" ng-click="vm.doConfirm()"
            translate>.Save</button>
    </div>
</form>