<div class="wrapper wrapper-content budget-container" ng-form="vm.form" translate-namespace="Withholding.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><span translate>.Title</span> 
                        <span ng-show="!vm.loading"> - {{vm.period.description}} - {{ vm.period.period.startDate | date: 'shortDate' }} - {{ vm.period.period.endDate
                            | date: 'shortDate' }} </span>
                    </h5>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div class="ibox-content" ng-if="!vm.loading">
                    <div ng-include="'app/withholding/withholding-form.html'"  ng-if="!vm.loading"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="vm.loading">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-click="vm.doExtractFile()" type="button"  ng-disabled="vm.form.$invalid"
                    translate>.Extract.Button</button>
            <button class="btn btn-primary" ng-click="vm.doPay()" type="button"  ng-disabled="vm.form.$invalid"
                    translate>.Register.Button</button>
            <button class="btn btn-primary" ng-click="vm.doCalculateAll()" type="button" ng-disabled="!vm.paymentDate"
                    translate>.CalculateAll.Button</button>
            <button class="btn btn-primary" ng-click="vm.doReset()" type="button" ng-show="vm.computedInterest"
                    translate>.Reset</button>
            <button class="btn btn-primary" type="button" 
            ui-sref="index.withholding.summary({ condominiumId:  vm.condominiumId , periodId: vm.financialPeriodId, companyId:vm.companyId})" translate>.Summary</button>
         </div>
    </div>
</div>
