<div class="wrapper wrapper-content budget-container" ng-form="vm.form" translate-namespace="Withholding.Summary">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div class="row" ng-show="!vm.loading">
                    <div class="col-md-12">
                        <div ng-form="inner" class="table-responsive" translate-namespace="Withholding.Summary">
                            <table ng-table="vm.tableParams" show-filter="vm.showFilters" class="table table-bordered table-condensed table-striped table-hover">
                                <colgroup>
                                    <col class="col-md-6">
                                    <col class="col-md-3">
                                    <col class="col-md-3">
                                </colgroup>

                                <tr ng-repeat="row in $data track by row.condominiumId">
                                    <td data-title="'Withholding.Summary.Condominium' | translate">
                                        <a ui-sref="index.withholding.list({ condominiumId: row.condominiumId , periodId: 'current', companyId:row.companyId})"  >
                                            <span translate>{{ row.condominium.name }}</span>
                                        </a>
                                    </td>
                                    <td data-title="'Withholding.Summary.Number'  | translate" class="text-right">{{row.number}}
                                    </td>
                                    <td data-title="'Withholding.Summary.Amount' | translate" class="text-right">
                                        {{row.amount |currency}}
                                    </td>
                                </tr>
                                <tfoot>
                                    <tr>
                                        <td class="text-right">
                                            <strong translate>.Totals</strong>
                                        </td>
                                        <td class="text-right">
                                            <em>{{ vm.sumBy(vm.rows, 'number') }}</em>
                                        </td>
                                        <td class="text-right">
                                            <em>{{ vm.sumBy(vm.rows, 'amount') | currency }}</em>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>