<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="cumulativePayment">
                <span translate>.CumulativePayment</span>
            </label>
            <div class="input-group">
                <input type="checkbox" ng-model="vm.cumulativePayment" ng-change="vm.changeCumulativeFlag()" ng-disabled="vm.computedInterest" ng-model-options="{ debounce: 250 }" name="cumulativePayment" id="cumulativePayment"  />
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="pDate">
                <span translate>.PaymentDateInput</span>
            </label>
            <div class="input-group">
                <date-with-financial-period-check id="pDate" name="pDate" ng-required="true" ng-model="vm.paymentDate"
                    ng-disabled="vm.computedInterest" financial-period="vm.period" check-greater-start-date="true" ng-change="vm.changePaymentDate()"
                    check-lowest-end-date="true" check-date-range="true"></date-with-financial-period-check ng-if="false">
            </div>

        </div>
    </div>

    <div class="col-md-5">
        <div class="form-group">
            <label for="patrimonialPath"><span translate>.Account</span>*</label>
            <account-input id="patrimonialPath" name="patrimonialPath" ng-model="vm.accountPath" 
                ng-required="true" chart-of-accounts-id="vm.period.chartOfAccountsId"
                company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedResourceRootPath}}"></account-input>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group">
            <label for="extractType">
                {{'Withholding.List.Extract.Title' | translate}}
            </label>
            <div class="radio">
                <label>
                    <input type="radio" name="extractType" ng-model="vm.extractType" value="CBI"/>
                    {{'Withholding.List.Extract.CBI' | translate}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="extractType" ng-model="vm.extractType"  value="ENTRATEL" />
                    {{'Withholding.List.Extract.ENTRATEL' | translate}}
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="extractType" ng-model="vm.extractType"  value="PDF"  />
                    {{'Withholding.List.Extract.PDF' | translate}}
                </label>
            </div>
        </div>
    </div>

    <div class="col-md-3" >
        <div class="form-group">
            <label for="cumulativeF24"><span translate>.CumulativeF24</span></label>
            <input type="checkbox" ng-model="vm.unifyPayment" ng-model-options="{ debounce: 250 }" name="cumulativeF24" id="cumulativeF24" />
        </div>
    </div> 
    <div class="col-md-3" ng-if="vm.extractType === 'CBI'">
            <div class="form-group">
                <label for="siaF24"><span translate>.SiaF24</span>*</label>
                <input type="text" class="form-control" ng-model="vm.codSia" ng-change="vm.codSia = (vm.codSia | uppercase)" ng-model-options="{ debounce: 250 }" required="true" name="cumulativeF24" id="siaF24"  maxlength="5" minlength="5"/>
            </div>
    </div>
    <div class="col-md-5" ng-if="vm.extractType === 'ENTRATEL'">
        <div class="form-group">
            <label for="intermediaryPath"><span translate>.Intermediary</span>*</label>
            <account-input id="intermediaryPath" name="intermediaryPath" ng-model="vm.intermediaryPath" 
                ng-required="true" chart-of-accounts-id="vm.period.chartOfAccountsId"
                company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedSupplierRootPath}}"></account-input>
        </div>
    </div>  
</div>
<div class="row">
    <div class="col-md-12">
        <div ng-form="inner" class="table-responsive" translate-namespace="Withholding.List">
            <table ng-table="vm.tableParams" show-filter="vm.showFilters" class="table table-bordered table-condensed table-striped table-hover">
                <colgroup>
                    <col class="col-md-3">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                </colgroup>
                
                <tr ng-repeat="row in $data track by row.withholdingId" ng-class="row.checked ? 'success': 'danger'">
                    <td data-title="'Withholding.List.Description' | translate">{{ row.transactionTypeCode }}{{ row.transactionProtocol }}-{{row.subProtocol}}  {{ row.writingDescription }} 
                    </td>
                    <td data-title="'Withholding.List.PaymentAmount' | translate" class="text-right">
                        {{ row.paymentAmount | currency }}
                    </td>
                    <td data-title="'Withholding.List.PaymentDate' | translate" class="text-center">
                        {{ row.invoiceDate | date: 'shortDate' }}
                    </td>
                    <td data-title="'Withholding.List.TaxCode' | translate" class="text-center">
                        {{ row.taxCode}}
                    </td>
                    <td data-title="'Withholding.List.WithholdingAmount' | translate" class="text-right">
                        {{ row.withholdingAmount | currency }}
                    </td>
                    <td data-title="'Withholding.List.WithholdingExpiryDate' | translate" class="text-center"  ng-if="!vm.cumulativePayment">
                        {{ row.withholdingExpiryDate | date: 'shortDate' }} 
                        <i class="fa fa-exclamation-circle" aria-hidden="true" ng-if="!row.checked" uib-tooltip="{{ 'Withholding.List.DateExpired' | translate }}"></i>
                    </td>
                    <td data-title="'Withholding.List.WithholdingCumulativeExpiryDate' | translate" class="text-center"  ng-if="vm.cumulativePayment">
                        {{ row.withholdingCumulativeExpiryDate | date: 'shortDate' }} 
                        <i class="fa fa-exclamation-circle" aria-hidden="true" ng-if="!row.checked" uib-tooltip="{{ 'Withholding.List.DateExpired' | translate }}"></i>
                    </td>
                    <td data-title="'Withholding.List.InterestAmount' | translate" class="text-right">
                        {{ row.interestAmount | currency }}
                    </td>
                    <td data-title="'Withholding.List.SanctionAmount' | translate" class="text-right">
                        {{ row.sanctionAmount | currency }}
                    </td>
                    <td data-title="'Withholding.List.Calculate'  | translate" class="text-center">
                        <div class="btn-group btn-group-sm" ng-if="!row.checked">
                            <button class="btn btn-default btn-sm" ng-click="vm.openSanctionInterestPopup(row)" type="button" uib-tooltip="{{ 'Withholding.List.CalculateInterest' | translate }}"
                                ng-disabled="!vm.paymentDate">
                                <i class="fa fa-calculator"></i>
                            </button >
                        </div>
                    </td>
                    <td data-title="'Withholding.List.Select' | translate" class="text-center">
                        <div class="form-group">
                            <input type="checkbox" ng-model="row.selected" ng-model-options="{ debounce: 250 }" ng-if="row.checked">
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>