<div class="row" translate-namespace="Assignments.Types.Form">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="name"><span translate>.Name</span><span> *</span></label>
            <input id="name" name="name" maxlength="150" class="form-control"
                   data-ng-model="$ctrl.value.name" data-ng-required="true" data-ng-maxlength="150"
                   data-ng-change="$ctrl.onChange()">
        </div>
    </div>
</div>