<div class="row" translate-namespace="Assignments.Form">
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="personId"><span translate>.Person</span><span> *</span></label>
            <person-select id="personId" name="personId" data-condominium-id="$ctrl.condominiumId"
                           data-ng-model="$ctrl.value.person" data-ng-disabled="$ctrl.edit"
                           data-ng-required="true" data-ng-change="$ctrl.onChange()"></person-select>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="assignmentTypeId"><span translate>.AssignmentType</span><span> *</span></label>
            <assignment-type-select id="assignmentTypeId" name="assignmentTypeId"
                                    data-ng-model="$ctrl.value.assignmentType.id" data-ng-disabled="$ctrl.edit"
                                    data-ng-required="true" data-ng-change="$ctrl.onChange()"></assignment-type-select>
        </div>
    </div>
    <div class="clearfix visible-md visible-lg hidden-sm hidden-xs"></div>
    <div class="col-md-6 col-sm-12">
        <div class="form-group">
            <label for="startDate"><span translate>.FromDate</span>*</label>
            <div class="input-group">
                <input id="startDate" name="startDate" class="form-control" ng-model="$ctrl.value.fromDate"
                       ng-change="$ctrl.onChange()"
                       ng-model-options="{timezone: 'utc'}"
                       data-ng-disabled="$ctrl.terminate"
                       uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                       data-datepicker-append-to-body="true"
                       data-is-open="$ctrl.startDateOpened"
                       data-on-open-focus="true"
                       data-show-button-bar="false"
                       data-disable-valid-styling="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.startDateOpened = !$ctrl.startDateOpened"
                            data-ng-disabled="$ctrl.terminate">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12" ng-if="!$ctrl.edit || $ctrl.terminate">
        <div class="form-group">
            <label for="endDate"><span translate>.ToDate</span>*</label>
            <div class="input-group">
                <input id="endDate" name="endDate" class="form-control" ng-model="$ctrl.value.toDate"
                       ng-model-options="{timezone: 'utc'}" ng-change="$ctrl.onChange()"
                       uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                       data-datepicker-append-to-body="true"
                       data-is-open="$ctrl.endDateOpened"
                       data-on-open-focus="true"
                       data-show-button-bar="false"
                       data-disable-valid-styling="true">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="$ctrl.endDateOpened = !$ctrl.endDateOpened">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>