<div class="wrapper wrapper-content" translate-namespace="Assignments.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.condominium">.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           tooltip-placement="top"
                           uib-tooltip="{{ 'Assignments.List.AddNew' | translate }}"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoElementsFound</span>
                    </div>
                    <div class="table-responsive" ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters" class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-4">
                                <col class="col-md-3">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Assignments.List.FullName' | translate">
                                    {{ item.person | fullName }}
                                </td>
                                <td data-title="'Assignments.List.AssignmentType' | translate"
                                    data-filter="{assignmentTypeId: 'app/assignments/assignment-type-filter.html'}">
                                    {{ item.assignmentType.name }}
                                </td>
                                <td data-title="'Assignments.List.Active' | translate" class="text-center">
                                    <i class="fa fa-check" ng-if="item.active"></i>
                                </td>
                                <td data-title="'Assignments.List.FromDate' | translate" class="text-center"
                                    data-sortable="'fromDate'">
                                    {{ item.fromDate | date: 'shortDate' }}
                                </td>
                                <td data-title="'Assignments.List.ToDate' | translate" class="text-center"
                                    data-sortable="'toDate'">
                                    {{ item.toDate | date: 'shortDate' }}
                                </td>
                                <td data-title="'Assignments.List.Actions' | translate" class="text-right">
                                    <a ui-sref=".edit({assignmentId: item.id})" data-ng-disabled="!item.active"
                                       uib-tooltip="{{ 'Assignments.List.Edit' | translate }}"
                                       tooltip-placement="top"
                                       tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <a ui-sref=".terminate({assignmentId: item.id})" ng-disabled="!item.active"
                                       uib-tooltip="{{ 'Assignments.List.Terminate' | translate }}"
                                       tooltip-placement="top"
                                       tooltip-append-to-body="true"
                                       class="btn btn-circle btn-warning" type="button">
                                        <i class="fa fa-stop"></i>
                                    </a>
                                    <button ng-click="$ctrl.deleteAssignment(item)"
                                            uib-tooltip="{{ 'Assignments.List.Delete' | translate }}"
                                            tooltip-placement="top"
                                            tooltip-append-to-body="true"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/assignments/assignment-type-filter.html">
    <assignment-type-select name="{{ name }}" class="input-filter"
                            data-ng-model="params.filter()[name]"
                            data-ng-disabled="$filterRow.disabled"></assignment-type-select>
</script>