<select id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.class }}"
        data-ng-model="$ctrl.value" data-ng-required="$ctrl.ngRequired"
        data-ng-disabled="$ctrl.ngDisabled" data-ng-change="$ctrl.onChange()"
        data-ng-options="at.id as at.name for at in $ctrl.assignmentTypes">
    <option value="" ng-if="!$ctrl.ngRequired"></option>
</select>