<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Assignments.Types.Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content">
                    <assignment-type-input ng-model="$ctrl.assignmentType"></assignment-type-input>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine" ng-click="$ctrl.doSave()" translate>.Save</button>
            <a ui-sref="^" class="btn btn-default" translate>.Cancel</a>
        </div>
    </div>
</div>
