<div class="structure-container tenants-container">
    <form novalidate translate-namespace="Structures.Tenants.History">
        <div class="modal-header">
            <h4 class="modal-title" translate>.Title</h4>
        </div>
        <div class="modal-body">
            <div class="alert alert-info" ng-if="$ctrl.history.length === 0">
                <span translate>.NoHistory</span>
            </div>
            <div class="vertical-container dark-timeline" ng-if="$ctrl.history.length > 0">
                <div class="vertical-timeline-block" ng-repeat="tenant in $ctrl.history">
                    <div class="vertical-timeline-icon">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>
                            <span ng-if="tenant.to" translate>.Assign</span>
                            <span ng-if="!tenant.to" translate>.Exchange</span>
                        </h2>
                        <dl>
                            <dt>{{ 'Structures.Edit.Role.Type.CONDUTTORE' | translate }}</dt>
                            <dd>{{ tenant | fullName }}</dd>
                        </dl>
                        <span class="vertical-date">
                            <small>{{ tenant.from | date: 'shortDate' }}<span ng-if="tenant.to"> - {{ tenant.to | date: 'shortDate' }}</span></small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Close</button>
        </div>
    </form>
</div>