<div class="row" translate-namespace="Structures.Owners.List">
    <div class="col-md-6">

    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-default" ng-click="$ctrl.toggleFilters()">
            <i class="fa fa-search"></i>
            <span translate>.ToggleFilters</span>
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 m-t-sm">
        <div class="table-responsive">
            <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters"
                   class="table table-condensed table-striped table-bordered">
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-4">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td data-title="'Structures.Tenants.List.Building' | translate"
                        data-filter="{ buildingId: 'select' }"
                        data-filter-data="$ctrl.getBuildings()"
                        class="text-center">
                        {{ row.building }}
                    </td>
                    <td data-title="'Structures.Tenants.List.Group' | translate"
                        data-filter="{ groupId: 'app/structures/owners/building-group-filter.html' }"
                        class="text-center">
                        {{ row.group }}
                    </td>
                    <td data-title="'Structures.Tenants.List.HousingUnit' | translate"
                        data-filter="{ unit: 'text' }"
                        class="text-center">
                        {{ row.unit }}
                    </td>
                    <td data-title="'Structures.Tenants.List.Tenant' | translate">
                        {{ row | fullName }}
                    </td>
                    <td data-title="'Structures.Tenants.List.Actions.Label' | translate" class="text-right">
                        <a ui-sref="index.condominiumStructure.tenants.list.edit({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="row.personId && row.hasTerminatedTenants == true"
                           disabled="disabled"
                           uib-tooltip="{{ 'Structures.Tenants.List.Actions.NoEditTenant' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.tenants.list.edit({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="row.personId && row.hasTerminatedTenants == false"
                           uib-tooltip="{{ 'Structures.Tenants.List.Actions.EditTenant' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.tenants.list.assign({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="!row.personId"
                           uib-tooltip="{{ 'Structures.Tenants.List.Actions.NewTenant' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-user-plus"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.tenants.list.replace({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-disabled="!row.personId"
                           uib-tooltip="{{ 'Structures.Tenants.List.Actions.Takeover' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-random"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.tenants.list.terminate({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-disabled="!row.personId"
                           uib-tooltip="{{ 'Structures.Tenants.List.Actions.Terminate' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-user-times"></i>
                        </a>
                        <button ng-click="$ctrl.showHistory(row.unitId)"
                                class="btn btn-circle btn-sm btn-default"
                                uib-tooltip="{{ 'Structures.Tenants.List.Actions.History' | translate }}"
                                data-tooltip-placement="top"
                                data-tooltip-append-to-body="true">
                            <i class="fa fa-history"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/structures/owners/building-group-filter.html">
    <select name="{{ name }}"
            class="input-filter form-control"
            data-ng-disabled="$filterRow.disabled"
            data-ng-model="params.filter()[name]"
            data-ng-options="g.id as g.fullTitle for g in $ctrl.getGroups() track by g.id">
        <option value=""></option>
    </select>
</script>