<div class="ibox float-e-margins" translate-namespace="Structures.Tenants.Replace">
    <div class="ibox-title">
        <h5 translate translate-values="$ctrl.housingUnit">.Title</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.form">
        <fieldset>
            <legend translate>.Actual</legend>
            <div class="row">
                <div class="col-md-12">
                    <tenant-display tenant="$ctrl.tenant"></tenant-display>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend translate>.Replace</legend>
            <div class="row">
                <div class="col-md-12">
                    <tenant-input ng-model="$ctrl.replaceTenant"
                                  data-condominium="$ctrl.condominium"
                                  min-date="$ctrl.minDate"
                                  housing-unit-id="$ctrl.housingUnit.id"></tenant-input>
                </div>
            </div>
        </fieldset>
        <div class="row m-t-md">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        data-ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                        ng-click="$ctrl.doSave()"><span translate>.Save</span></button>
                <a ui-sref="^" class="btn btn-default" type="button" translate>.Cancel</a>
            </div>
        </div>
    </div>
</div>