<div translate-namespace="Structures.Tenants.Form">
    <div class="row">
        <div class="col-md-8 col-xs-12">
            <div class="form-group">
                <label><span translate>.Person</span></label>
                <p class="form-control-static">
                    {{ $ctrl.tenant | fullName }}
                </p>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="form-group">
                <label><span translate>.FromDate</span></label>
                <p class="form-control-static">
                    {{ $ctrl.tenant.from | date: 'shortDate' }}
                </p>
            </div>
        </div>
    </div>
</div>