<div class="ibox float-e-margins" translate-namespace="Structures.Tenants.Terminate">
    <div class="ibox-title">
        <h5 translate translate-values="$ctrl.housingUnit">.Title</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.form">
        <fieldset>
            <legend translate>.Actual</legend>
            <div class="row">
                <div class="col-md-12">
                    <tenant-display tenant="$ctrl.tenant"></tenant-display>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend translate>.Replace</legend>
            <div class="row">
                <div class="col-md-offset-8 col-md-4 col-xs-12">
                    <div class="form-group">
                        <label for="fromDate"><span translate>.ToDate</span><span> *</span></label>
                        <div class="input-group">
                            <input id="fromDate" name="fromDate" class="form-control text-right"
                                   ng-model="$ctrl.terminateTenant.to"
                                   ng-required="true"
                                   data-datepicker-options="$ctrl.toOptions"
                                   ng-model-options="{timezone: 'utc'}"
                                   uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                   is-open="$ctrl.toDateOpened"
                                   on-open-focus="true"
                                   show-button-bar="false"
                                   disable-valid-styling="true">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="$ctrl.toDateOpened = !$ctrl.toDateOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="row m-t-md">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        data-ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                        ng-click="$ctrl.doSave()"><span translate>.Save</span></button>
                <a ui-sref="^" class="btn btn-default" type="button" translate>.Cancel</a>
            </div>
        </div>
    </div>
</div>