.managers-container {
  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .tab-content > .tab-pane {
    .m-t-md;
  }

  .thumbnail {
    height: auto;
    .img-container {
      height: 250px;
      overflow: hidden;
      vertical-align: middle;
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}