<div class="wrapper wrapper-content" translate-namespace="Managers.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           tooltip-placement="top"
                           uib-tooltip="{{ 'Managers.List.AddNew' | translate }}"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoManagersFound</span>
                    </div>
                    <div class="table-responsive" ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters" class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-3">
                                <col class="col-md-3">
                                <col class="col-md-2">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Managers.List.TaxCode' | translate"
                                    data-filter="{taxCode:'text'}"
                                    data-sortable="'taxCode'">{{ item.taxCode }}</td>
                                <td data-title="'Managers.List.VatNumber' | translate"
                                    data-filter="{vatNumber:'text'}"
                                    data-sortable="'vatNumber'">{{ item.vatNumber }}</td>
                                <td data-title="'Managers.List.CompanyName' | translate"
                                    data-filter="{companyName:'text'}"
                                    data-sortable="'companyName'">{{ item.companyName }}</td>
                                <td data-title="'Managers.List.FirstAndLastName' | translate"
                                    data-filter="$ctrl.fullNameFilterDef"
                                    data-sortable="'firstName'">{{ item.firstName + ' ' + item.lastName }}</td>
                                <!-- td data-title="'Managers.List.LastName' | translate"
                                    data-filter="{lastName:'text'}"
                                    data-sortable="'lastName'">{{ item.lastName }}</td -->
                                <td data-title="'Managers.List.Address' | translate">
                                    {{ item.postalAddress | address }}
                                </td>
                                <td data-title="'Managers.List.Actions' | translate" class="text-right">
<!-- SM 2017-12-18: commented out due to upload issues. -->
                                    <a ui-sref=".detail.pictures({ managerId: item.id })"
                                       uib-tooltip="{{ 'Managers.List.Pictures' | translate }}"
                                       data-tooltip-placement="top"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-success">
                                        <i class="fa fa-paperclip"></i>
                                    </a>

                                    <a ui-sref=".detail.edit({managerId: item.id})"
                                       uib-tooltip="{{ 'Managers.List.Edit' | translate }}"
                                       data-tooltip-placement="top"
                                       data-tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button ng-click="$ctrl.deleteManager(item)"
                                            uib-tooltip="{{ 'Managers.List.Delete' | translate }}"
                                            data-tooltip-placement="top"
                                            data-tooltip-append-to-body="true"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>