<div class="wrapper wrapper-content" ng-form="$ctrl.form" translate-namespace="Managers.Pictures">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 col-md-offset-2 col-md-4">
                            <div class="thumbnail">
                                <div class="img-container">
                                    <img holder data-src="holder.js/500x250?text=&nbsp;&outline=yes" ng-if="!$ctrl.manager.logoPresent">
                                    <img ng-src="{{ $ctrl.logoUrl }}" ng-if="$ctrl.manager.logoPresent">
                                </div>
                                <div class="caption">
                                    <h3 translate>.Logo</h3>
                                    <p></p>
                                    <p>
                                        <button class="btn btn-primary" role="button"
                                                data-type="file" ngf-select="$ctrl.uploadLogo($file)"
                                                data-accept="image/*" ngf-max-size="1MB"><span translate>.Upload</span></button>
                                        <button ng-click="$ctrl.removeLogo()"
                                                data-ng-disabled="!$ctrl.manager.logoPresent"
                                                class="btn btn-default" role="button"><span translate>.Clear</span></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <div class="thumbnail">
                                <div class="img-container">
                                    <img holder data-src="holder.js/500x250?text=&nbsp;&outline=yes" ng-if="!$ctrl.manager.signaturePresent">
                                    <img ng-src="{{ $ctrl.signatureUrl }}" ng-if="$ctrl.manager.signaturePresent">
                                </div>
                                <div class="caption">
                                    <h3 translate>.Signature</h3>
                                    <p></p>
                                    <p>
                                        <button class="btn btn-primary" role="button"
                                                data-type="file" ngf-select="$ctrl.uploadSignature($file)"
                                                data-accept="image/*" ngf-max-size="1MB"><span translate>.Upload</span></button>
                                        <button ng-click="$ctrl.removeSignature()"
                                                data-ng-disabled="!$ctrl.manager.signaturePresent"
                                                class="btn btn-default" role="button"><span translate>.Clear</span></button>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <a ui-sref="^.^" class="btn btn-default" translate>.Back</a>
        </div>
    </div>
</div>
