<form novalidate name="form" translate-namespace="Managers.Picker">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
        <div ng-hide="$ctrl.loading">
            <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter()">
                <span translate>.NoManagersFound</span>
            </div>
            <div class="table-responsive" ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter()">
                <table ng-table="$ctrl.tableParams" data-show-filter="true" class="table table-striped table-bordered table-hover">
                    <colgroup>
                        <col class="col-md-2">
                        <col class="col-md-2">
                        <col class="col-md-3">
                        <col class="col-md-3">
                        <col class="col-md-3">
                    </colgroup>
                    <tr ng-repeat="item in $data">
                        <td data-title="'Managers.List.TaxCode' | translate"
                            data-filter="{taxCode:'text'}"
                            data-sortable="'taxCode'">
                            <a href="" ng-click="$ctrl.doPick(item)">{{ item.taxCode }}</a>
                        </td>
                        <td data-title="'Managers.List.VatNumber' | translate"
                            data-filter="{vatNumber:'text'}"
                            data-sortable="'vatNumber'">
                            <a href="" ng-click="$ctrl.doPick(item)">{{ item.vatNumber }}</a>
                        </td>
                        <td data-title="'Managers.List.CompanyName' | translate"
                            data-filter="{companyName:'text'}"
                            data-sortable="'companyName'">
                            <a href="" ng-click="$ctrl.doPick(item)">{{ item.companyName }}</a>
                        </td>
                        <td data-title="'Managers.List.FirstName' | translate"
                            data-filter="{firstName:'text'}"
                            data-sortable="'firstName'">
                            <a href="" ng-click="$ctrl.doPick(item)">{{ item.firstName }}</a>
                        </td>
                        <td data-title="'Managers.List.LastName' | translate"
                            data-filter="{lastName:'text'}"
                            data-sortable="'lastName'">
                            <a href="" ng-click="$ctrl.doPick(item)">{{ item.lastName }}</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
    </div>
</form>
