<div class="input-group">
    <input id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control"
           ng-model="$ctrl.value" ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled" readonly="readonly">
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="$ctrl.openLookup()" ng-disabled="$ctrl.ngDisabled"><i class="fa fa-search fa-fw"></i></button>
    </span>
</div>
