<div class="row" translate-namespace="Managers.Form">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="companyName"><span translate>.CompanyName</span><span ng-if="$ctrl.value.vatNumber"> *</span></label>
            <input id="companyName" name="companyName" ng-model="$ctrl.value.companyName"
                   class="form-control" ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix hidden-lg hidden-md visible-sm hidden-xs"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="firstName"><span translate>.FirstName</span><span ng-if="!$ctrl.value.companyName"> *</span></label>
            <input id="firstName" name="firstName" ng-model="$ctrl.value.firstName"
                   class="form-control" ng-required="!$ctrl.value.companyName"
                   ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="lastName"><span translate>.LastName</span><span ng-if="!$ctrl.value.companyName"> *</span></label>
            <input id="lastName" name="lastName" ng-model="$ctrl.value.lastName"
                   class="form-control" ng-required="$ctrl.value.firstName"
                   ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="form-group">
            <label for="taxCode"><span translate>.TaxCode</span><span> *</span></label>
            <input id="taxCode" name="taxCode" ng-model="$ctrl.value.taxCode" class="form-control"
                   maxlength="16" ng-minlength="11" ng-maxlength="16" ng-required="true" ng-change="$ctrl.onChange()"
                   ng-pattern="/([0-9]{11})|([a-zA-Z]{6}[0-9]{2}[a-zA-Z][0-9]{2}[a-zA-Z][0-9]{3}[a-zA-Z])/"
                   pattern-err-type="taxCodeInvalid" ui-validate-async="{taxCodeExists: '$ctrl.validateTaxCode($value)'}">
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="vatNumber"><span translate>.VatNumber</span><span ng-if="$ctrl.value.companyName"> *</span></label>
            <vat-code-input id="vatNumber" name="vatNumber" ng-model="$ctrl.value.vatNumber"
                            ng-change="$ctrl.onChange()" ng-required="$ctrl.value.companyName">
            </vat-code-input>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="companyRegisterNumber"><span translate>.CompanyRegisterNumber</span></label>
            <input id="companyRegisterNumber" name="companyRegisterNumber" ng-model="$ctrl.value.companyRegisterNumber"
                   class="form-control" ng-change="$ctrl.onChange()" maxlength="18">
        </div>
    </div>
</div>
