<div class="row" translate-namespace="Managers.Form">
    <div class="col-xs-6 col-md-2">
        <div class="form-group">
            <label for="birthDate" translate>.DateOfBirth</label>
            <div class="input-group">
                <input id="birthDate" name="birthDate" class="form-control" ng-required="false" ng-model="$ctrl.value.birthData.birthDate"
                       uib-datepicker-popup="{{ 'Formats.Date' | translate }}" ng-model-options="{timezone: 'utc'}"
                            is-open="$ctrl.value.birthData.birthDateOpened" on-open-focus="true"
                                show-button-bar="false">
                <span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="$ctrl.value.birthData.birthDateOpened = !$ctrl.value.birthData.birthDateOpened">
							<i class="fa fa-calendar"></i>
						</button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix hidden-lg hidden-md visible-sm hidden-xs"></div>
    <div class="col-md-7">
        <div class="form-group">
            <label for="birthTown"><span translate>.BirthPlace</span></label>
            <input id="birthTown" name="birthTown" class="form-control"
                   ng-model="$ctrl.value.birthData.birthTown" ng-change="$ctrl.cleanProvince()"
                   uib-typeahead="birthTown.name as birthTown.name + ' (' + birthTown.province + ')' for birthTown in $ctrl.getDistricts($viewValue)"
                   data-typeahead-append-to-body="true" data-typeahead-editable="true"
                   data-typeahead-min-length="3" data-typeahead-no-results="'Commons.Address.NoDistricts' | translate"
                   data-typeahead-on-select="$ctrl.onSelect($item, $model, $label, $event)"
                   data-typeahead-wait-ms="250" ng-model-options="{updateOn: 'default'}">
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <label for="birthStateProvince"><span translate>.CountyOfBirth</span></label>
            <input id="birthStateProvince" name="birthStateProvince" class="form-control" readonly="readonly"
                   ng-model="$ctrl.value.birthData.birthStateProvince">
        </div>
    </div>
</div>