<div class="content" ng-model-options="{ debounce: 250 }">
    <uib-tabset active="$ctrl.activeTab">
        <uib-tab index="0" heading="{{ 'Managers.Form.Identification' | translate }}">
            <manager-identification-input ng-model="$ctrl.value" ng-change="$ctrl.onChange()"></manager-identification-input>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'Managers.Form.PostalAddress' | translate }}">
            <address-input id="postal"  ng-model="$ctrl.value.postalAddress"
                           ng-change="$ctrl.onChange()" ng-required="true" ng-required-town="true"></address-input>
        </uib-tab>
        <uib-tab index="3" heading="{{ 'Managers.Form.Contacts' | translate }}">
            <manager-contacts-input ng-model="$ctrl.value" ng-change="$ctrl.onChange()"></manager-contacts-input>
        </uib-tab>
        <uib-tab index="4" heading="{{ 'Managers.Form.BirthData' | translate }}">
            <manager-birthdata-input ng-model="$ctrl.value" ng-change="$ctrl.onChange()"></manager-birthdata-input>
        </uib-tab>
    </uib-tabset>
</div>
