
<div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Anagrafica Persone del Condominio selezionato</h5>
                    <div ibox-tools class="text-right">
                        <button ui-sref="^.form({condominiumId : condominiumId ,personId : 'new' })"
                                tooltip-placement="top"
                                uib-tooltip="Aggiungi Persona"
                                class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            Aggiungi Persona
                        </button>
                    </div>
                </div>
                <spinner-loader ng-if="listPersonsLoading"></spinner-loader>
                <div ng-if="!listPersonsLoading" class="ibox-content">
                    <table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>C.F.</th>
                            <th>PIVA</th>
                            <th>Ragione Sociale</th>
                            <th>Nome</th>
                            <th>Cognome</th>
                            <th>Indirizzo</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in persons.content" >
                            <td>{{ item.taxCode }}</td>
                            <td>{{ item.vatNumber }}</td>
                            <td>{{ item.companyName }}</td>
                            <td>
                                    {{ item.firstName }}
                            </td>
                            <td>
                                    {{ item.lastName }}
                            </td>
                            <td>
                                {{item.address.streetName}} {{item.address.buildingNumber}}{{item.address.streetName?',':''}}
                                {{item.address.town}}{{item.address.town?',':''}}
                                {{item.address.district}} {{item.address.province?'('+item.address.province+')':''}}
                            </td>
                            <td>
                                <button permission  permission-only="'ROLE_INSTALLER_FORCE_EDIT_STRUCTURE'"
                                        ui-sref="^.form({personId: item.id})"
                                        tooltip-placement="top" uib-tooltip="Modifica Persona"
                                        class="btn btn-circle btn-primary" type="button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button
                                        ng-click="deletePerson(item.id)"
                                        tooltip-placement="top" uib-tooltip="Elimina Persona"
                                        class="btn btn-circle btn-danger" type="button">
                                    <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

