<div class="content">
    <div class="p-lg">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">{{ 'role.manage.persons' | translate }}</h3>
            </div>
            <div class="panel-body">
                <div ui-view="modal"></div>
            </div>
        </div>
    </div>
</div>
