

<div class="row spaPageHeader">
    <div class="col-sm-1 text-center">
        <i class="fa fa-user fa-5x"></i>
    </div>
    <div class="col-sm-6">
        <h2>{{description || 'Nuova persona'}}</h2>
    </div>
    <div class="col-sm-5">
        <div class="title-action text-right">
            <button ng-click="back()" tooltip-placement="left" uib-tooltip="Torna alla lista"
                    class="btn btn-default btn-outline" type="button">
                <i class="fa fa-angle-left back"></i>
                <span>Indietro</span>
            </button>
        </div>
    </div>
</div>


<!--
<div class="row">
    <div class="col-lg-7">
        <div class="widget style1">
            <div class="row">
                <div class="col-xs-2 text-center">
                    <i class="fa fa-user fa-5x"></i>
                </div>
                <div class="col-xs-8 text-left">
                    <h1>{{description || 'Nuova persona'}}</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-5 text-right">
        <button ng-click="back()" tooltip-placement="left" uib-tooltip="Torna alla lista"
                class="btn btn-outline btn-default back" type="button">
            <i class="fa fa-angle-left back"></i> <span>Indietro</span></button>
    </div>
</div>
-->


<div class="row">
    <spinner-loader ng-if="personLoading"></spinner-loader>
    <div ng-if="!personLoading" class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content ">
                <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                    <div class="">
                        <div class="content">
                            <!-- div class="p-lg" -->
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Identificazione</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Ragione sociale:</label>
                                                            <input id="companyName" name="companyName"
                                                                   ng-model="formData.companyName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   ng-minlength="3"
                                                                   ng-maxlength="120"/>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Codice Fiscale *:</label>
                                                            <input id="taxCode" name="taxCode"
                                                                   ng-model="formData.taxCode"
                                                                   type="text" class="form-control"
                                                                   ng-minlength="16"
                                                                   ng-maxlength="16"
                                                                   maxlength="16"
                                                                   required/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Nome *:</label>
                                                            <input id="firstName" name="firstName"
                                                                   ng-model="formData.firstName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   required
                                                                   ng-minlength="3"
                                                                   ng-maxlength="120"/>
                                                        </div>

                                                        <div class="form-group">
                                                            <label>Partita Iva:</label>
                                                            <input id="vatNumber" name="vatNumber"
                                                                   ng-model="formData.vatNumber"
                                                                   type="text" class="form-control"
                                                                   ng-minlength="11"
                                                                   ng-maxlength="11"
                                                                   maxlength="11"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-4">
                                                        <div class="form-group">
                                                            <label>Cognome *:</label>
                                                            <input id="lastName" name="lastName"
                                                                   ng-model="formData.lastName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   required
                                                                   ng-minlength="3"
                                                                   ng-maxlength="120"/>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Indirizzo Corrispondenza</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-9">
                                                            <div class="form-group" ng-class="{ 'has-error': form.streetName.$invalid && form.submitted}">
                                                                <label>{{ 'streetName' | translate}}</label>
                                                                <input id="streetName" name="streetName"
                                                                       ng-model="formData.address.streetName"
                                                                       type="text"
                                                                       class="form-control"
                                                                       ng-maxlength="70"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group" ng-class="{ 'has-error': form.buildingNumber.$invalid && form.submitted}">
                                                                <label>{{ 'buildingNumber' | translate}}</label>
                                                                <input id="buildingNumber"
                                                                       name="buildingNumber"
                                                                       ng-model="formData.address.buildingNumber"
                                                                       type="text" class="form-control"
                                                                       ng-maxlength="18"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            <div class="form-group" ng-class="{ 'has-error': form.town.$invalid && form.submitted}">
                                                                <label>{{ 'town' | translate}}</label>
                                                                <input id="town" name="town"
                                                                       ng-model="formData.address.town"
                                                                       type="text"
                                                                       class="form-control"
                                                                       ng-maxlength="70"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-2">
                                                            <div class="form-group" ng-class="{ 'has-error': form.postalCode.$invalid && form.submitted}">
                                                                <label>{{ 'postalCode' | translate}}</label>
                                                                <input id="postalCode" name="postalCode"
                                                                       ng-model="formData.address.postalCode"
                                                                       type="text" class="form-control"
                                                                       maxlength="5"
                                                                       ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]{5}$/"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-7">
                                                            <div class="form-group" ng-class="{ 'has-error': form.district.$invalid && form.submitted}">
                                                                <label>{{ 'district' | translate}}</label>

                                                                <ui-select name="district" on-select="onSelectDistrictCallback($item, $model)" ng-model="district.selected" theme="bootstrap" ng-disabled="disabled" ng-required="false">
                                                                    <ui-select-match placeholder="Seleziona il comune">{{$select.selected.name}}</ui-select-match>
                                                                    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="1" repeat="district in districtsLookup | filter: $select.search">
                                                                        <span ng-bind-html="district.name | highlight: $select.search"></span>
                                                                        <small ng-bind-html="district.province | highlight: $select.search"></small>
                                                                    </ui-select-choices>
                                                                </ui-select>

                                                            </div>
                                                        </div>
                                                        <div class="col-lg-3">
                                                            <div class="form-group" ng-class="{ 'has-error': form.province.$invalid && form.submitted}">
                                                                <label>{{ 'province' | translate}}</label>
                                                                <input id="province" name="province"
                                                                       ng-pattern="/^[A-Za-z]{2}$/"
                                                                       ng-model="formData.address.province"
                                                                       type="text" class="form-control" readonly="true" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">Contatti</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>{{ 'phone' | translate}}</label>
                                                    <input id="phone" name="phone"
                                                           ng-model="formData.contacts.PHONE"
                                                           type="text" class="form-control"
                                                           ng-maxlength="70"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group" >
                                                    <label>{{ 'mobile' | translate}}</label>
                                                    <input id="mobile" name="mobile"
                                                           ng-model="formData.contacts.MOBILE"
                                                           type="text" class="form-control"
                                                           ng-maxlength="16"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>{{ 'email' | translate}}</label>
                                                    <input id="email" name="email"
                                                           ng-model="formData.contacts.EMAIL"
                                                           type="text" class="form-control"/>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-xs-6 text-left">
                                        <!--
                                        <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                                        -->
                                    </div>
                                    <div class="col-xs-6 text-right">
                                        <button class="btn btn-primary" type="submit">Salva</button>
                                    </div>
                                </div>
                            <!-- /div -->


                        </div> <!-- end content -->
                    </div>
                </form>
            </div> <!-- end ibox-content -->
        </div> <!-- end ibox -->
    </div>
</div> <!-- end row -->

