<div class="wrapper wrapper-content ">
    <div class="row" style="margin-bottom:-15px">
        <div class="col-xs-9" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
            <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
                <i class="fa fa-user fa-4x"></i>
            </div>
            <h1>{{description || formData.description || 'Nuovo ruolo'}}</h1>
        </div>
        <div ng-show="roleId != 'new'" class="col-xs-3">
            <button ng-click="delete()" tooltip-placement="bottom" uib-tooltip="Elimina"
                    class="btn dim flat btn-medium-dim btn-danger" style="float:right" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Generale
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div  class="form-group">
                                                    <label>{{'rolePerson'|translate}}*</label>
                                                    <ui-select name="person" on-select="onSelectPerson($item, $model)"
                                                               ng-model="person.selected" theme="bootstrap"
                                                               ng-disabled="disabled"
                                                               ng-required="true">
                                                        <ui-select-match placeholder="{{'selectPerson'|translate}}">
                                                            {{$select.selected.companyName}}
                                                            {{$select.selected.firstName}}
                                                            {{$select.selected.lastName}}
                                                            {{$select.selected.taxCode}}
                                                        </ui-select-match>
                                                        <ui-select-choices refresh="searchPersonAsync($select.search)"
                                                                           refresh-delay="1"
                                                                           repeat="person in persons | filter: $select.search">
                                                            <span ng-bind-html="person.firstName | highlight: $select.search"></span>
                                                            <small ng-bind-html="person.lastName | highlight: $select.search"></small>
                                                        </ui-select-choices>
                                                    </ui-select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <button ui-sref="index.structure.persons({condominiumId: condominiumId})"
                                                            class="btn btn-primary" type="button">
                                                        <i class="fa fa-edit"></i> {{'role.manage.persons'|translate}}
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div  class="form-group">
                                                    <label>{{'roleType'|translate}}*</label>
                                                    <select id="roleType" name="roleType"
                                                            ng-model="formData.roleType"
                                                            required
                                                            ng-options="type as type| translate for type in roleTypes"
                                                            class="form-control">
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div  class="form-group">
                                                    <label>{{'rolePercentage'|translate}}*</label>
                                                    <input id="rolePercentage" name="rolePercentage"
                                                           ng-model="formData.rolePercentage"
                                                           type="number"  class="form-control"
                                                           required
                                                           ng-min="1"
                                                           ng-max="100"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'roleFrom'|translate}}*</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{fromDatePicker.format}}"
                                                               name="from"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.from"
                                                               is-open="fromDatePicker.opened"
                                                               datepicker-options="fromDatePicker.dateOptions"
                                                               ng-required="true"
                                                               alt-input-formats="fromDatePicker.altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="fromDatePicker.openDatePicker()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'roleTo'|translate}}</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{toDatePicker.format}}"
                                                               name="to"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.to"
                                                               is-open="toDatePicker.opened"
                                                               datepicker-options="toDatePicker.dateOptions"
                                                               ng-required="false"
                                                               alt-input-formats="toDatePicker.altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="toDatePicker.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary" type="submit">Salva</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>
