<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-7" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{description || formData.roomDescription || 'Nuova stanza'}}</h1>
        </span></p>
    </div>
    <!--</div>
    </div>
</div>-->
    <div ng-show="roomId != 'new'" class="col-xs-5">
        <button ng-click="delete()" tooltip-placement="bottom" uib-tooltip="Elimina" class="btn dim flat btn-medium-dim btn-danger" style="float:right" type="button">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
        <button ui-sref="index.install-structure-hu.cost-allocator({huId:huId,roomId: roomId, costAllocatorId: 'new'})" tooltip-placement="bottom" uib-tooltip="Aggiungi ripartitore" class="btn btn-primary dim flat btn-medium-dim" style="float:right" type="button">
            <span class="icon-stack icon-4x">
                <i class="fa fa-fire upper-left"></i>
                <i class="fa fa-plus overlay-lower-right icon-highlight"></i>
            </span>
        </button>
    </div>
</div>
<div class="wrapper wrapper-content ">
    <!--div class="row">
        <div class="col-lg-7">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-home fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-left">
                        <h1>Stanza</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-offset-4 col-lg-2 text-right">
            <button ng-click="backToCondominium()" tooltip-placement="left" uib-tooltip="Torna al condominio" class="btn btn-outline btn-danger back" type="button"><i class="fa fa-angle-left back"></i> <span>Indietro</span></button>
        </div>
    </div-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Generale
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Descrizione*:</label>
                                                    <input id="roomDescription" name="roomDescription" ng-model="formData.roomDescription" type="text" class="form-control" required ng-minlength="3" ng-maxlength="200"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label>Note </label>
                                                    <textarea id="notes" rows="5" ng-model="formData.notes"  class="form-control" ng-maxlength="256"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Dimensioni
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Larghezza:</label>
                                                    <input id="width" name="width" ng-model="formData.width"   type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Lunghezza:</label>
                                                    <input id="length" name="length" ng-model="formData.length"   type="number" class="form-control" />
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Altezza:</label>
                                                    <input id="height" name="height" ng-model="formData.height"   type="number" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary" type="submit">Salva</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
