<div class="ibox float-e-margins" translate-namespace="Structures.Edit.Building">
    <div class="ibox-title">
        <h5 translate>.Edit</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.buildingForm">
        <div class="row">
            <div class="col-md-12">
                <building-input ng-model="$ctrl.building"></building-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        ng-disabled="$ctrl.buildingForm.$invalid || $ctrl.buildingForm.$pristine"
                        ng-click="$ctrl.doSave()"><span translate>.Save</span></button>
            </div>
        </div>
    </div>
</div>