<div class="row" translate-namespace="Structures.Edit.Building">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.General</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="name"><span translate>.Description</span><span> *</span></label>
                            <input id="name" name="name" class="form-control" maxlength="70"
                                   ng-change="$ctrl.onChange()"
                                   ng-model="$ctrl.value.name"
                                   ng-maxlength="70"
                                   ng-required="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>