<div class="row" translate-namespace="Structures.Edit.Condominium">
    <div class="col-sm-6 col-xs-12">
        <panel data-title="Structures.Edit.Condominium.Details" data-type="primary">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" translate>.TaxCode</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.taxCode }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Address</label>
                    <div class="col-md-8">
                        <p class="form-control-static">
                            {{ $ctrl.condominium.address.streetName }} {{ $ctrl.condominium.address.buildingNumber }}
                        </p>
                    </div>
                    <label class="control-label col-md-4" translate>.Town</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.address.town }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.PostalCode</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.address.postalCode }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.District</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.address.district }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Province</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.address.province }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Notes</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.notes }}</p>
                    </div>
                </div>
            </div>
        </panel>
    </div>
    <div class="col-sm-6 col-xs-12">
        <panel data-title="Structures.Edit.Condominium.Manager" data-type="primary">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-4" translate>.CompanyName</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.companyName }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.FullName</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.firstName }} {{
                            $ctrl.condominium.manager.lastName }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.TaxCode</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.taxCode }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Phone</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.contacts.NUMBER_OFFICE }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Fax</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.contacts.FAX_OFFICE }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Mobile</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.contacts.NUMBER_MOBILE }}</p>
                    </div>
                    <label class="control-label col-md-4" translate>.Email</label>
                    <div class="col-md-8">
                        <p class="form-control-static">{{ $ctrl.condominium.manager.contacts.EMAIL_OFFICE }}</p>
                    </div>
                </div>
            </div>
        </panel>
    </div>
    <div class="clearfix visible-lg visible-md visible-sm hidden-xs"></div>
    <div class="col-xs-12">
        <panel data-title="Structures.Edit.Condominium.CadastralReference" type="primary">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2 col-xs-4" translate>.State</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.cadastralStatus">{{ 'Condominiums.CadastralReference.State.' + $ctrl.condominium.cadastralReference.cadastralStatus | translate }}</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.DistrictCode</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.districtCode">{{$ctrl.condominium.cadastralReference.districtCode }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.PropertyType</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.propertyType">{{ 'Condominiums.CadastralReference.PropertyType.' + $ctrl.condominium.cadastralReference.propertyType | translate }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.PropertySection</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.propertySection">{{ 'Condominiums.CadastralReference.PropertySection.' + $ctrl.condominium.cadastralReference.propertySection | translate }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.CadastralDistrict</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.cadastralDistrict">{{$ctrl.condominium.cadastralReference.cadastralDistrict }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.Page</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.page">{{$ctrl.condominium.cadastralReference.page }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.Parcel</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.parcel">{{$ctrl.condominium.cadastralReference.parcel }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.ParcelType</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.parcelType">{{'Condominiums.CadastralReference.ParcelType.' + $ctrl.condominium.cadastralReference.parcelType | translate }}</span>
                        </p>
                    </div>
                    <label class="control-label col-sm-2 col-xs-4" translate>.Subordinate</label>
                    <div class="col-sm-4 col-xs-8">
                        <p class="form-control-static">
                            <span ng-if="$ctrl.condominium.cadastralReference.subordinate">{{$ctrl.condominium.cadastralReference.subordinate }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </panel>
    </div>
</div>
<div class="row" ng-if="!vm.loading">
    <div class="col-md-12">
        <google-map-address id="condominiumMap" ng-model="$ctrl.condominium.address"
                            data-readonly="true"></google-map-address>
    </div>
</div>