<div class="row" translate-namespace="Structures.Edit.Group">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.General</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="stair"><span translate>.Stair</span><span> *</span></label>
                            <input id="stair" name="stair" class="form-control" maxlength="70"
                                   ng-model="$ctrl.value.stair"
                                   ng-change="$ctrl.onChange()"
                                   ng-required="true" ng-maxlength="70"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.Address</div>
            </div>
            <div class="panel-body">
                <address-input id="group"
                               ng-required="false"
                               ng-model="$ctrl.value.address"
                               ng-change="$ctrl.onChange()"></address-input>
            </div>
        </div>
    </div>
</div>