<div class="ibox float-e-margins" translate-namespace="Structures.Edit.Group">
    <div class="ibox-title">
        <h5 translate>.Create</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.groupForm">
        <div class="row">
            <div class="col-md-12">
                <group-input ng-model="$ctrl.group"></group-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        ng-disabled="$ctrl.groupForm.$invalid || $ctrl.groupForm.$pristine"
                        ng-click="$ctrl.doSave()"><span translate>.Save</span></button>
            </div>
        </div>
    </div>
</div>