<div class="ibox float-e-margins" translate-namespace="Structures.Edit.Unit">
    <div class="ibox-title">
        <h5 translate>.Edit</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.unitForm">
        <div class="row">
            <div class="col-md-12">
                <housing-unit-input ng-model="$ctrl.unit"></housing-unit-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" ng-disabled="$ctrl.unitForm.$invalid || $ctrl.unitForm.$pristine" ng-click="$ctrl.doSave()" translate>.Save</button>
            </div>
        </div>
    </div>
</div>