<div class="row" translate-namespace="Structures.Edit.Unit">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.General</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="owner"><span translate>.Owner</span><span> *</span></label>
                            <input id="owner" name="owner" class="form-control" maxlength="70"
                                   ng-change="$ctrl.onChange()"
                                   ng-model="$ctrl.value.owner"
                                   ng-required="true"
                                   ng-maxlength="70"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="valueType"><span translate>.HUnitTypology.Label</span><span> *</span></label>
                            <select id="valueType" name="valueType" class="form-control"
                                    ng-model="$ctrl.value.typologyId"
                                    ng-change="$ctrl.onChange()"
                                    ng-required="true"
                                    ng-options="item.id as tName=('Structures.Edit.Unit.HUnitTypology.' + item.name | translate) for item in $ctrl.housingUnitTypologyList | orderBy: 'tName'"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.Identification</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="floor"><span translate>.Floor</span><span> *</span></label>
                            <input id="floor" name="floor" class="form-control" maxlength="70"
                                   ng-model="$ctrl.value.identification.floor"
                                   ng-change="$ctrl.onChange()"
                                   ng-required="true" ng-maxlength="70"/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="apartmentNumber"><span translate>.Number</span><span> *</span></label>
                            <input id="apartmentNumber" name="apartmentNumber" class="form-control" maxlength="70"
                                   ng-model="$ctrl.value.identification.apartmentNumber"
                                   ng-change="$ctrl.onChange()"
                                   ng-required="true"
                                   ng-maxlength="70"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.CadastralReference</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="page"><span translate>.Page</span></label>
                            <input id="page" name="page" class="form-control text-right" maxlength="5"
                                   ng-model="$ctrl.value.cadastralReference.page"
                                   ng-change="$ctrl.onChange()"
                                   ng-maxlength="5"
                                   readonly="readonly"/>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="parcel"><span translate>.Parcel</span></label>
                            <input id="parcel" name="parcel" class="form-control text-right" maxlength="5"
                                   ng-model="$ctrl.value.cadastralReference.parcel"
                                   ng-change="$ctrl.onChange()"
                                   ng-maxlength="5"
                                   readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="subordinate"><span translate>.Subordinate</span></label>
                            <input id="subordinate" subordinate="town" class="form-control" maxlength="5"
                                   ng-model="$ctrl.value.cadastralReference.subordinate"
                                   ng-change="$ctrl.onChange()"
                                   ng-maxlength="5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="category"><span translate>.Category</span></label>
                            <input id="category" name="category" class="form-control" maxlength="5"
                                   ng-model="$ctrl.value.cadastralReference.category"
                                   ng-change="$ctrl.onChange()"
                                   ng-maxlength="5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="cadastralClass"><span translate>.CadastralClass</span></label>
                            <input id="cadastralClass" name="cadastralClass" class="form-control" maxlength="5"
                                   ng-model="$ctrl.value.cadastralReference.cadastralClass"
                                   ng-change="$ctrl.onChange()"
                                   ng-maxlength="5">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="compartmentsNumber"><span translate>.CompartmentsNumber</span></label>
                            <input id="compartmentsNumber" name="compartmentsNumber" class="form-control" type="number"
                                   ng-model="$ctrl.value.cadastralReference.compartmentsNumber" data-ng-min="0"
                                   data-ng-maxlength="5"
                                   ng-change="$ctrl.onChange()"
                                   fraction="3"
                                   ng-maxlength="5"
                                   step="0.1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>