<div class="row" translate-namespace="Structures.Edit.Role">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="panel-title" translate>.PersonData</div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6 col-xs-12">
                        <div class="form-group">
                            <label for="person"><span translate>.Person</span> *</label>
                            <person-select id="person" name="person"
                                           data-ng-model="$ctrl.value.person"
                                           data-ng-change="$ctrl.onChange()"
                                           data-condominium-id="$ctrl.condominiumId">
                            </person-select>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label><span translate>.TaxCode</span></label>
                            <p class="form-control-static">{{ $ctrl.value.person.taxCode }}</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="roleType"><span translate>.Type.Label</span> *</label>
                            <select id="roleType" name="roleType" data-ng-model="$ctrl.value.roleType"
                                    data-ng-change="$ctrl.onChange()"
                                    ng-required="true"
                                    ng-options="type as ('Structures.Edit.Role.Type.' + type) | translate for type in $ctrl.roleTypes"
                                    class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="fromDate"><span translate>.FromDate</span> *</label>
                            <div class="input-group">
                                <input id="fromDate" name="fromDate" class="form-control text-right" ng-model="$ctrl.value.from"
                                       data-ng-change="$ctrl.onChange()"
                                       ng-required="true"
                                       ng-model-options="{timezone: 'utc'}"
                                       uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                       is-open="$ctrl.fromDateOpened"
                                       on-open-focus="true"
                                       show-button-bar="false"
                                       disable-valid-styling="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.fromDateOpened = !$ctrl.fromDateOpened">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-12">
                        <div class="form-group">
                            <label for="toDate"><span translate>.ToDate</span></label>
                            <div class="input-group">
                                <input id="toDate" name="toDate" class="form-control text-right" ng-model="$ctrl.value.to"
                                       data-ng-change="$ctrl.onChange()"
                                       ng-model-options="{timezone: 'utc'}"
                                       uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                       is-open="$ctrl.toDateOpened"
                                       on-open-focus="true"
                                       show-button-bar="false"
                                       disable-valid-styling="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="$ctrl.toDateOpened = !$ctrl.toDateOpened">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>