<div class="ibox float-e-margins" translate-namespace="Structures.Edit.Role">
    <div class="ibox-title">
        <h5 translate>.Edit</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.roleForm">
        <div class="row">
            <div class="col-md-12">
                <role-input data-ng-model="$ctrl.role" data-condominium-id="$ctrl.condominium.id"></role-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        ng-disabled="$ctrl.roleForm.$invalid || $ctrl.roleForm.$pristine"
                        ng-click="$ctrl.doSave()"><span translate>.Save</span></button>
            </div>
        </div>
    </div>
</div>