.structure-container {
  .table > tbody > tr > td {
    vertical-align: middle;
    hr {
      margin-top: 0.5em;
      margin-bottom: 0.9em;
    }
  }

  .alert {
    padding: 8px 15px;
    margin-bottom: 0;
  }
  structure-edit {
    .tree, .content {
      height: 600px;
      overflow: hidden;
    }
  }

  .mCSB_container_wrapper {
    > .mCSB_container {
      padding-right: 0px;
    } 
  }

  .angular-ui-tree-node {
    min-height: 27px;
    line-height: 27px;
  }

  .tree-node {
    
    padding: 8px 6px;
    
    &.tree-node-content {
      margin-right: 2px;
    }

    > .fa {
      font-size: 16px;

      &.fa-user {
        margin-right: 8px;
      }
    }
    > a.btn {
      margin-left: 5px;
    }
  }

  .row {
    .map {
      height: 300px;

      .map-placeholder {
        background-color: #aaa;
        height: 100%;
      }
    }
  }

  .btn-add-group {

  }
}

.structure-person-edit-modal {
  .modal-body {
    max-height: 600px;
    overflow: auto;
  }
}
