<div class="structure-container">
    <div class="wrapper wrapper-content" translate-namespace="Structures.Edit">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate translate-values="$ctrl.condominium">.Title</h5>
                        <div class="text-right">
                            <button type="button" class="btn btn-success" ng-click="$ctrl.doPrintConfirm('xlsx')">
                                <i class="fa fa-file-excel-o fa-fw"></i>&nbsp;
                                <span translate>.ExportXlsx</span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="$ctrl.doPrintConfirm('pdf')">
                                <i class="fa fa-print fa-fw"></i>&nbsp;
                                <span translate>.Print</span>
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <ul class="nav nav-tabs">
                            <li role="presentation" ui-sref-active="active">
                                <a ui-sref="index.condominiumStructure.edit"><span translate>.Structure</span></a>
                            </li>
                            <li role="presentation" ui-sref-active="active">
                                <a ui-sref="index.condominiumStructure.owners"><span translate>.Owners</a>
                            </li>
                            <li role="presentation" ui-sref-active="active">
                                <a ui-sref="index.condominiumStructure.tenants"><span translate>.Tenants</a>
                            </li>
                        </ul>
                        <div class="m-t-md" ui-view>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>