<div id="structureTree" ui-tree="$ctrl.treeOptions" data-nodrop-enabled="true">
    <ol ui-tree-nodes data-ng-model="$ctrl.tree">
        <li ng-repeat="condominium in $ctrl.tree.condominiums" ui-tree-node data-nodrag>
            <div class="tree-node tree-node-content safe-height">
                <i class="fa fa-fw fa-road"></i>
                <a id="buildingsTree" class="btn btn-default btn-xs" ng-class="{ disabled: !condominium.buildings }" data-nodrag ng-click="collapsed = !collapsed">
                    <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></i>
                </a>
                <strong ng-if="!$ctrl.buildingId">{{ condominium.description }}</strong>
                <a ui-sref="index.condominiumStructure.edit" class="tree-title tree-title-1" ng-if="$ctrl.buildingId">{{ condominium.description }}</a>
                <span class="pull-right">
                    <a ui-sref="index.condominiumStructure.edit.newBuilding"
                       class="btn btn-default btn-circle btn-sm btn-add-group" data-nodrag tooltip-append-to-body="true"
                       uib-tooltip="{{ 'Structures.Edit.Tree.AddBuilding' | translate }}">
                        <span class="fa fa-plus"></span>
                    </a>
                    <a id="expandAllTree" class="btn btn-default btn-circle" data-nodrag tooltip-append-to-body="true" ng-click="$ctrl.expandAll(this)"
                       uib-tooltip="{{ $ctrl.token == false ? 'Structures.Edit.Tree.ExpandAll' : 'Structures.Edit.Tree.CloseAll' | translate }}">
                        <span class="fa fa-indent"></span>
                    </a>
                </span>
            </div>
            <ol ui-tree-nodes data-ng-model="condominium.buildings" ng-hide="collapsed">
                <li ng-repeat="building in condominium.buildings | orderBy: 'description'" ui-tree-node data-nodrag>
                    <div class="tree-node tree-node-content safe-height">
                        <i class="fa fa-fw fa-building"></i>
                        <a id="housingUnitGroupsTree" class="btn btn-default btn-xs" ng-class="{ disabled: !building.housingUnitGroups }" data-nodrag ng-click="collapsed = !collapsed">
                            <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></i>
                        </a>
                        <strong ng-if="$ctrl.buildingId == building.id && !$ctrl.groupId">{{ building.description }}</strong>
                        <a ui-sref="index.condominiumStructure.edit.building({ buildingId: building.id })"
                           ng-if="$ctrl.buildingId != building.id || $ctrl.groupId"
                           class="tree-title tree-title-1" ng-class="{'temporary': temporary}">
                            {{ building.description }}
                        </a>
                        <span class="pull-right">
                            <a ui-sref="index.condominiumStructure.edit.building.newGroup({ buildingId: building.id })"
                               class="btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
                               uib-tooltip="{{ 'Structures.Edit.Tree.AddGroup' | translate }}">
                                <span class="fa fa-plus"></span>
                            </a>
                            <button class="btn btn-danger btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
                                    uib-tooltip="{{ 'Structures.Edit.Tree.RemoveBuilding' | translate }}" ng-click="$ctrl.deleteBuilding(building)">
                                <span class="fa fa-trash"></span>
                            </button>
                        </span>
                    </div>
                    <ol ui-tree-nodes data-ng-model="building.housingUnitGroups" ng-hide="collapsed">
                        <li ng-repeat="group in building.housingUnitGroups | orderBy: 'description'" ui-tree-node data-nodrag>
                            <div class="tree-node tree-node-content safe-height">
                                <i class="fa fa-fw fa-bars"></i>
                                <a class="btn btn-default btn-xs" ng-class="{ disabled: !group.housingUnits }" data-nodrag ng-click="collapsed = !collapsed">
                                    <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></i>
                                </a>
                                <strong ng-if="$ctrl.groupId == group.id && !$ctrl.housingUnitId">{{ group.description }}</strong>
                                <a ui-sref="index.condominiumStructure.edit.building.group({ buildingId: building.id, groupId: group.id })"
                                   ng-if="$ctrl.groupId != group.id || $ctrl.housingUnitId"
                                   class="tree-title tree-title-1" ng-class="{'temporary': temporary}">
                                    {{ group.description }}
                                </a>
                                <span class="pull-right">
                                    <a ui-sref="index.condominiumStructure.edit.building.group.newHousingUnit({ buildingId: building.id, groupId: group.id })"
                                       class="btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
                                       uib-tooltip="{{ 'Structures.Edit.Tree.AddHousingUnit' | translate }}">
                                        <span class="fa fa-plus"></span>
                                    </a>
                                    <button class="btn btn-danger btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
                                            uib-tooltip="{{ 'Structures.Edit.Tree.RemoveGroup' | translate }}" ng-click="$ctrl.deleteGroup(building, group)">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>
                            </div>

                            <ol ui-tree-nodes data-ng-model="group.housingUnits" ng-hide="collapsed">
                                <li ng-repeat="unit in group.housingUnits | orderBy: 'description'" ui-tree-node data-nodrag>
                                    <div class="tree-node tree-node-content safe-height">
                                        <i class="fa fa-fw fa-home"></i>
                                        <strong ng-if="$ctrl.housingUnitId == unit.id && !$ctrl.roleId">{{ unit.description }}</strong>
                                        <a ui-sref="index.condominiumStructure.edit.building.group.housingUnit({ buildingId: building.id, groupId: group.id, housingUnitId: unit.id })"
                                           ng-if="$ctrl.housingUnitId != unit.id || $ctrl.roleId"
                                           class="tree-title tree-title-1" ng-class="{'temporary': temporary}">
                                            {{ unit.description }}
                                        </a>
                                        <span class="pull-right">
                                            <a class="btn btn-danger btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
                                               uib-tooltip="{{ 'Structures.Edit.Tree.RemoveHousingUnit' | translate }}" ng-click="$ctrl.deleteUnit(building, group, unit)">
                                                <span class="fa fa-trash"></span>
                                            </a>
                                        </span>
                                    </div>
                                </li>
                            </ol>
                        </li>
                    </ol>
                </li>
            </ol>
        </li>
    </ol>
</div>