<div class="row">
    <div class="col-md-4 tree" ng-scrollbars ng-scrollbars-config="$ctrl.treeScrollbarConfig">
        <div ng-include="'app/structures/structure-tree.html'"></div>
    </div>
    <div class="col-md-8">
        <ui-view on-building-added="$ctrl.addBuilding(building)"
                 on-building-updated="$ctrl.updateBuilding(building)"
                 on-group-added="$ctrl.addGroup(group)"
                 on-group-updated="$ctrl.updateGroup(group)"
                 on-unit-added="$ctrl.addUnit(unit)"
                 on-unit-updated="$ctrl.updateUnit(unit)"
                 on-role-added="$ctrl.addRole(role)"
                 on-role-updated="$ctrl.updateRole(role)">
            <condominium-view condominium="$ctrl.condominium"></condominium-view>
        </ui-view>
    </div>
</div>