<form novalidate name="$ctrl.form" translate-namespace="VotingRules.Settings.Edit">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <settings-input ng-model="$ctrl.settings"></settings-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                ng-click="$ctrl.doSave()" translate>.Save</button>
    </div>
</form>
