<div translate-namespace="VotingRules.Settings.Form">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-12">
                <p class="form-control-static"><strong translate>.Title</strong></p>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <p class="form-control-static" translate>.Label</p>
            </div>
        </div>
        <div class="form-group">
            <label for="yesNoBehavior" class="col-sm-1 control-label" translate>.And</label>
            <div class="col-sm-11">
                <select id="yesNoBehavior" name="yesNoBehavior" class="form-control"
                        data-ng-model="$ctrl.value.yesVoteBehavior" data-ng-required="true" data-ng-change="$ctrl.onChange()"
                        data-ng-options="q as ('VotingRules.Settings.Form.YesNoBehaviors.' + q | translate) for q in $ctrl.yesNoBehaviors">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="thousandthsVoteBehavior" class="col-sm-1 control-label" translate>.And</label>
            <div class="col-sm-11">
                <div class="input-group">
                    <span class="input-group-addon">
                        <input type="checkbox" data-ng-model="$ctrl.value.thousandthsVoteBehaviorPresent" data-ng-change="$ctrl.onChange">
                    </span>
                    <select id="thousandthsVoteBehavior" name="thousandthsVoteBehavior" class="form-control"
                            data-ng-model="$ctrl.value.thousandthsVoteBehavior" data-ng-required="true"
                            data-ng-change="$ctrl.onChange()" data-ng-disabled="!$ctrl.value.thousandthsVoteBehaviorPresent"
                            data-ng-options="q as ('VotingRules.Settings.Form.ThousandthsYesNoBehaviors.' + q | translate) for q in $ctrl.yesNoBehaviors">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="thousandthsRatio" translate>.ThousandthsRatios.Label</label>
        <select id="thousandthsRatio" name="thousandthsRatio" class="form-control"
                data-ng-model="$ctrl.value.thousandthsRatio" data-ng-required="true" data-ng-change="$ctrl.onChange()"
                data-ng-options="q as ('VotingRules.Settings.Form.ThousandthsRatios.' + q | translate) for q in $ctrl.thousandthsRatios">
        </select>
    </div>
    <div class="form-group">
        <label for="constitutionVotingRule" translate>.ConstitutionVotingRule</label>
        <select id="constitutionVotingRule" name="constitutionVotingRule" class="form-control"
                data-ng-model="$ctrl.value.constitutionVotingRuleId"
                data-ng-change="$ctrl.onChange()"
                ng-options="rule.id as rule.description for rule in $ctrl.votingRules"></select>
    </div>
</div>