<div class="wrapper wrapper-content" translate-namespace="VotingRules.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <a ui-sref=".settings"
                           class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-gears"></i>
                            <span translate>.Settings</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$ctrl.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="alert alert-info" ng-show="$ctrl.tableParams.total() == 0 && !$ctrl.tableParams.hasFilter() && !$ctrl.showFilters">
                        <span translate>.NoManagersFound</span>
                    </div>
                    <div class="table-responsive" ng-show="$ctrl.tableParams.total() > 0 || $ctrl.tableParams.hasFilter() || $ctrl.showFilters">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters" class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-5">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'VotingRules.List.Description' | translate"
                                    data-filter="{description:'text'}"
                                    data-sortable="'description'">{{ item.description }}</td>
                                <td data-title="'VotingRules.List.FirstCallIntervened' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.firstCallIntervened | translate }}</td>
                                <td data-title="'VotingRules.List.FirstCallParticipating' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.firstCallParticipating | translate }}</td>
                                <td data-title="'VotingRules.List.FirstCallThousandths' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.firstCallThousandths | translate }}</td>
                                <td data-title="'VotingRules.List.SecondCallIntervened' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.secondCallIntervened | translate }}</td>
                                <td data-title="'VotingRules.List.SecondCallParticipating' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.secondCallParticipating | translate }}</td>
                                <td data-title="'VotingRules.List.SecondCallThousandths' | translate" class="text-center">
                                    {{ 'VotingRules.Form.Quorums.' + item.secondCallThousandths | translate }}</td>
                                <td data-title="'VotingRules.List.Actions' | translate" class="text-right">
                                    <a ui-sref=".edit({votingRuleId: item.id})"
                                       uib-tooltip="{{ 'VotingRules.List.Edit' | translate }}"
                                       tooltip-placement="top"
                                       tooltip-append-to-body="true"
                                       class="btn btn-circle btn-primary" type="button">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <button ng-click="$ctrl.deleteVotingRule(item)" ng-disabled="item.system"
                                            uib-tooltip="{{ 'VotingRules.List.Delete' | translate }}"
                                            tooltip-placement="top"
                                            tooltip-append-to-body="true"
                                            class="btn btn-circle btn-danger" type="button">
                                        <i class="fa fa-remove"></i>
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>