<div class="row" translate-namespace="VotingRules.Form">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="description"><span translate>.Description</span><span> *</span></label>
            <input id="description" name="description" ng-model="$ctrl.value.description"
                   class="form-control" ng-required="true" ng-maxlength="255" ng-change="$ctrl.onChange()"
                   ng-readonly="$ctrl.ngReadonly" maxlength="255">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="firstCallIntervened"><span translate>.FirstCallIntervened</span><span> *</span></label>
                    <select id="firstCallIntervened" name="firstCallIntervened" class="form-control"
                            ng-model="$ctrl.value.firstCallIntervened" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="firstCallParticipating"><span translate>.FirstCallParticipating</span><span> *</span></label>
                    <select id="firstCallParticipating" name="firstCallParticipating" class="form-control"
                            ng-model="$ctrl.value.firstCallParticipating" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="firstCallThousandths"><span translate>.FirstCallThousandths</span><span> *</span></label>
                    <select id="firstCallThousandths" name="firstCallThousandths" class="form-control"
                            ng-model="$ctrl.value.firstCallThousandths" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="secondCallIntervened"><span translate>.SecondCallIntervened</span><span> *</span></label>
                    <select id="secondCallIntervened" name="secondCallIntervened" class="form-control"
                            ng-model="$ctrl.value.secondCallIntervened" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="secondCallParticipating"><span translate>.SecondCallParticipating</span><span> *</span></label>
                    <select id="secondCallParticipating" name="secondCallParticipating" class="form-control"
                            ng-model="$ctrl.value.secondCallParticipating" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="secondCallThousandths"><span translate>.SecondCallThousandths</span><span> *</span></label>
                    <select id="secondCallThousandths" name="secondCallThousandths" class="form-control"
                            ng-model="$ctrl.value.secondCallThousandths" ng-required="true" ng-change="$ctrl.onChange()"
                            ng-readonly="$ctrl.ngReadonly"
                            ng-options="q as ('VotingRules.Form.Quorums.' + q | translate) for q in $ctrl.quorums"></select>
                </div>
            </div>
        </div>
    </div>
</div>