<div class="input-group" ng-if="$ctrl.initialized" >
    <input id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" placeholder="{{ $ctrl.placeholder }}" class="form-control" ng-model="$ctrl.value" ng-required="$ctr.required"
        ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled"
        uib-datepicker-popup="{{ 'Formats.Date' | translate }}" is-open="$ctrl.dateIsOpen" on-open-focus="true"
        show-button-bar="false" disable-valid-styling="true" ng-change="$ctrl.onChange()" 
        ui-validate="{date_range_lower_end_date_period:'$ctrl.fnCheckEndDate($value)', date_range_greater_start_date_period:'$ctrl.fnCheckStartDate($value)', date_range_period:'$ctrl.fnCheckDateRange($value)'}"  ng-model-options="{allowInvalid:true}" >
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.dateIsOpen = !$ctrl.dateIsOpen">
            <i class="fa fa-calendar"></i>
        </button>
    </span>
</div>
 