<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title" translate>.770Detail</div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="lordAmount770">
                        <span translate>.LordAmount770</span>
                    </label>
                    <input id="lordAmount770" min="0" ng-model="$ctrl.lordAmount" class="form-control text-right" name="lordAmount770" ng-currency
                    />
                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sumsExcluded770">
                        <span translate>.SumsExcluded770</span>
                    </label>
                    <input id="exemptAmount" min="0" ng-model="$ctrl.exemptAmount" class="form-control text-right" name="exemptAmount" ng-currency/>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sumsExcluded770">
                        <span translate>.OtherSumsExcluded770</span>
                    </label>
                    <input id="otherExemptAmount" min="0" ng-model="$ctrl.otherExemptAmount" class="form-control text-right" name="otherExemptAmount" ng-currency/>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="form-group ">
                    <label for="taxable770 ">
                        <span translate>.Taxable770</span>
                    </label>
                    <input id="taxableAmount" min="0 " ng-model="$ctrl.taxableAmount" class="form-control text-right" name="taxableAmount" ng-currency/>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="form-group ">
                    <label for="suspendendAmount770 ">
                        <span translate>.SuspendendAmount770</span>
                    </label>
                    <input id="withholdingSuspended" min="0 " ng-model="$ctrl.withholdingSuspended" class="form-control text-right" name="withholdingSuspended" ng-currency/>
                </div>
            </div>

            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>


        </div>



    </div>
</div>