<div ng-if="!$ctrl.simplified">
    <div class="row compHead">
        <div class="col-md-3 text-left">
            <div>
                <span translate>.Taxable</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div ng-if="$ctrl.withholdingEnabled" uib-tooltip="Soggetta a ritenuta" data-tooltip-append-to-body="true" 
            tooltip-placement="left"><span translate>.SubjectedWithholding</span></div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <span translate>.Rate</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <span translate>.Tax</span>
            </div>
        </div>
        <div class="col-md-2 text-center">
            <div>
                <span translate>.Total</span>
            </div>
        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-success" type="button" ng-click="$ctrl.addRow()" uib-tooltip="{{ 'ManualTransaction.LabelAddMaterialPath' | translate }}"
                data-tooltip-append-to-body="true" tooltip-placement="left">
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>

    <div ng-repeat="row in $ctrl.value.amountRow" class="row">
        <div class="col-md-3">
            <input id="amount_{{$index}}" name="amount_{{$index}}" min="0" ng-model="row.amount" class="form-control text-right" ng-currency
                ng-required="true" ng-min="0" ng-change="$ctrl.onChange()">
        </div>
        <div class="col-md-2 text-center">
            <input id="exempt_withholding_{{$index}}" type="checkbox" ng-model="row.subjectedWithholding" ng-model-options="{ debounce: 250 }"
                ng-change="$ctrl.onChange()" ng-if="$ctrl.withholdingEnabled" ng-disabled="$ctrl.facilitatedSupplier" />
        </div>
        <div class="col-md-2 text-center">

            <select id="amount_tax_{{$index}}" name="amount_tax_{{$index}}" class="form-control" ng-model="row.selectedIva" ng-required="true"
                ng-change="$ctrl.onChange()" ng-if="!$ctrl.facilitatedSupplier" ng-options="item.id as ('ManualTransaction.IvaRate.Value.' + item.id | translate) | translate for item in $ctrl.ivaRates">
            </select>

            <input type="hidden" id="amount_tax_{{$index}}" name="amount_tax_{{$index}}" class="form-control" ng-model="row.tax" value="4"
                ng-if="$ctrl.facilitatedSupplier">
            <label ng-if="$ctrl.facilitatedSupplier">Esente IVA</label>
        </div>
        <div class="col-md-2">
            <input id="amount_tax_iva{{$index}}" name="amount_tax_iva{{$index}}" min="0" ng-model="row.tax" class="form-control text-right"
                ng-currency ng-disabled="true" ng-min="0" />

        </div>
        <div class="col-md-2">
            <input id="amount_tax_tot{{$index}}" name="amount_tax_tot{{$index}}" min="0" ng-model="row.total" class="form-control text-right"
                ng-currency ng-disabled="true" ng-min="0" />

        </div>
        <div class="col-md-1 text-center">
            <button class="btn btn-danger" type="button" ng-click="$ctrl.removeRow($index)" ng-disabled="$ctrl.value.amountRow.length == 1 || !$ctrl.updateEnabled"
                uib-tooltip="{{ 'ManualTransaction.LabelRemoveMaterialPath' | translate }}" data-tooltip-append-to-body="true"
                tooltip-placement="left">
                <i class="fa fa-trash"></i>
            </button>
        </div>
    </div>
    <!-- div class="row compTail" ng-show="$ctrl.value.amountRow.length > 1">
        <div class="col-md-3 text-right">
            <div>{{$ctrl.value.totalAmount | currency}}</div>
        </div>
        <div class="col-md-offset-4 col-md-2 text-right">
            <div>{{$ctrl.value.totalTax | currency}}</div>
        </div>
        <div class="col-md-2 text-right">
            <div> {{$ctrl.value.total | currency}}</div>
        </div>
    </div>
    
    <div class="row compAmount" ng-if="$ctrl.withholdingEnabled && !$ctrl.facilitatedSupplier">
        <div class="col-md-4">
            <div class="form-group">
                <label for="withHolding">
                    <span translate>.WithholdingRate</span>*
                </label>
                <select id="withHoldingRate" name="withHoldingRate" class="form-control" ng-model="$ctrl.value.selectedWithholding" ng-required="true"
                    ng-change="$ctrl.onChange()" ng-options="item.label as ('ManualTransaction.WithHoldingRate.Value.' + item.label | translate) | translate for item in $ctrl.withHoldingRates">
                </select>
            </div>
        </div>
    </div-->
    <div class="row">
        <div class="col-md-3 text-center"><hr></div>
        <div class="col-md-2 text-center"><hr></div>
        <div class="col-md-2 text-center"><hr></div>
        <div class="col-md-2 text-center"><hr></div>
        <div class="col-md-2 text-center"><hr></div>
    </div>

    <div class="row compAmount">
        <div class="col-md-4 col-md-offset-5">
            <label>
                <span translate>.TaxableDocument</span>
            </label>
        </div>
        <div class="col-md-2 text-right">
            <div>{{$ctrl.value.totalTaxable | currency}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <label>
                <span translate>.VAT</span>
            </label>
        </div>
        <div class="col-md-2 text-right">
            <div>{{$ctrl.value.totalTax | currency}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <label>
                <span translate>.ExemptVAT</span>
            </label>
        </div>
        <div class="col-md-2 text-right">
            <div>{{$ctrl.value.totalExemptIva | currency}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-5">
            <label>
                <span translate>.NotSubjectVAT</span>
            </label>
        </div>
        <div class="col-md-2 text-right">
            <div>{{$ctrl.value.totalNotSubjectIva | currency}}</div>
        </div>
    </div>
    <div class="row compAmountBorder">
        <div class="col-md-4 col-md-offset-5">
            <div>
                <label>
                    <span translate>.TotalDocument</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <div>
                <strong>{{$ctrl.value.total | currency}}</strong>
            </div>
        </div>
    </div>
    <div class="row tot-withhold" ng-if="$ctrl.withholdingEnabled && !$ctrl.facilitatedSupplier">
        <div class="col-md-2 text-right">
            <label for="withHolding">
                <span translate>.WithholdingRate</span>*
            </label>
        </div>
        <div class="col-md-3">
            <select id="withHoldingRate" name="withHoldingRate" class="form-control" ng-model="$ctrl.value.selectedWithholding" ng-required="true"
                ng-change="$ctrl.onChange()" ng-options="item.label as ('ManualTransaction.WithHoldingRate.Value.' + item.label | translate) | translate for item in $ctrl.withHoldingRates">
            </select>
        </div>
        <div class="col-md-4">
            <label ng-if="!$ctrl.facilitatedSupplier"><span translate>.Withholding_msg1</span>{{$ctrl.value.withholdingRate}} <span translate>.Withholding_msg2</span>{{$ctrl.value.totalWithholdingTaxable | currency}}
            </label>
            <label ng-if="$ctrl.facilitatedSupplier"><span translate>.NoWithholiding</span></label>
        </div>
        <div class="col-md-2">
            <input id="withHoldingToPay" name="withHoldingToPay" min="0" ng-model="$ctrl.value.withholdingToPay" class="form-control text-right"
                ng-currency ng-min="0" ng-change="$ctrl.onChangeWithholding()"  />
        </div>
    </div>
    <div class="row compAmountBorder" ng-if="$ctrl.withholdingEnabled">
        <div class="col-md-4 col-md-offset-5">
            <div>
                <label>
                    <span translate>.TotalToPay</span>
                </label>
            </div>
        </div>
        <div class="col-md-2 text-right">
            <div>{{$ctrl.value.netAmount | currency}}</div>
        </div>
    </div>
</div>

