invoice-amount {
   .row {
        &.compHead,
        &.compTail {
            > div {
                min-height: 40px;
                line-height: 2.5;
                > div {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        &.compHead {
            margin-bottom: 12px;
            > div {
                > div {
                    border-bottom: .5px solid @border-color;
                }
            }
        }
        &.compTail {
            > div {
                > div {
                    border-top: .5px solid @border-color;
                    padding-top: 8px;
                }
            }
        }
        &.compAmount {
            margin-top: 12px;
        }

        &.compAmountBorder {
            margin-bottom: 12px;
            > div {
                > div {
                    border-top: .5px solid @border-color;
                    padding-top: 12px;
                }
            }
        }

        &.tot-withhold {
            margin-bottom: 12px;
            > div[class^="col-"] {
                line-height: 30px;
            }
        }
   }
   
 
}