<div class="row compHead">
    <div class="col-xs-6 col-sm-6 col-md-7 text-left">
        <div class="head-and-tail">
            <strong>{{$ctrl.componentTitle}}</strong>
            <span class="btn-group btn-group-sm" ng-if="!vm.budget.confirmed" ng-show="$ctrl.showPercentageToolbar && $ctrl.value.length > 1">
                <button class="btn btn-default btn-sm" ng-click="$ctrl.setUsingPercentage(true)" type="button" uib-tooltip="{{ 'AccountingTransaction.SetPercentage' | translate }}">
                    <i class="fa fa-percent"></i>
                </button>
                <button class="btn btn-default btn-sm" ng-click="$ctrl.setUsingPercentage(false)" type="button" uib-tooltip="{{ 'AccountingTransaction.SetAmount' | translate }}">
                    <i class="fa fa-money"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2 text-center">
        <div class="head-and-tail" ng-if="$ctrl.usingPercentage">%</div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 text-center">
        <div class="head-and-tail" translate>.Amount</div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 text-center">
        <button class="btn btn-success" type="button" ng-click="$ctrl.addRow()" uib-tooltip="{{ 'ManualTransaction.LabelAddMaterialPath' | translate }}"
            data-tooltip-append-to-body="true" tooltip-placement="left" ng-disabled="$ctrl.ngDisabled" ng-if="!$ctrl.disableUpdatePath">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div ng-repeat="row in $ctrl.value" class="row">
    <div class="col-xs-6 col-sm-6 col-md-7">
        <div class="row">
            <div ng-class="{'col-md-11': $ctrl.enableDuplicatePath && !$ctrl.disableUpdatePath, 'col-md-12': !$ctrl.enableDuplicatePath }">
                <span ng-switch="row.rootPathIsDefined">
                    <account-input ng-switch-when="true" id="path_{{$index}}" name="path_{{$index}}" ng-required="true" ng-model="row.materializedPath"
                        chart-of-accounts-id="$ctrl.period.chartOfAccountsId" company-id="$ctrl.period.ownerCompanyId" ng-change="$ctrl.onChange()"
                        root-account="{{row.rootPath}}" ng-disabled="$ctrl.ngDisabled"></account-input>
                    <account-input ng-switch-when="false" id="path_{{$index}}" name="path_{{$index}}" ng-required="true" ng-model="row.materializedPath"
                        chart-of-accounts-id="$ctrl.period.chartOfAccountsId" company-id="$ctrl.period.ownerCompanyId" ng-change="$ctrl.onChange()"
                        ng-disabled="$ctrl.ngDisabled || $ctrl.disableUpdatePath"></account-input>
                </span>
            </div>
            <div class="col-md-1" ng-show="$ctrl.enableDuplicatePath && !$ctrl.disableUpdatePath">
                <button class="btn btn-success" type="button" ng-click="$ctrl.duplicateRow(row, $index)"
                    uib-tooltip="{{ 'ManualTransaction.LabelDuplicateMaterialPath' | translate }}" data-tooltip-append-to-body="true" tooltip-placement="left">
                    <i class="fa fa-clone"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2">
        <div class="row form-group" ng-if="$ctrl.usingPercentage">
            <div class="col-sm-2 col-md-2">
                <input type="checkbox" ng-model="row.percentage" ng-change="$ctrl.changeRowType(row)" ng-if="$ctrl.externaltemplateIsDefined">
            </div>
            <div class="col-sm-10 col-md-10">
                <div class="input-group" ng-show="row.percentage">
                    <input type="number" ng-model="row.coefficient" class="form-control val-perc text-right" ng-model-options="{ debounce: 500 }"
                        name="coefficient_{{$index}}" ng-required="true" ng-pattern="/^100$|^[0-9]{1,2}$|^[0-9]{1,2}\.[0-9]{1,4}$/"
                        pattern-err-type="percentage_pattern" ng-change="$ctrl.doSum()" ng-disabled="$ctrl.value.length == 1 || $ctrl.ngDisabled|| !$ctrl.usingPercentage || !row.percentage">
                    <span class="input-group-addon">
                        <i class="fa fa-percent"></i>
                    </span>
                </div>
                <div ng-show="!row.percentage" class="text-center">
                    <label>Importo fisso</label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2">
        <div class="form-group">
            <input ng-currency ng-model="row.amount" class="form-control text-right" ng-model-options="{ debounce: 500 }" name="amount_{{$index}}"
                ng-required="true" ng-disabled="$ctrl.ngDisabled|| ($ctrl.usingPercentage && row.percentage)" ng-change="$ctrl.doSum()">
        </div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 text-center">
        <button class="btn btn-danger" type="button" ng-click="$ctrl.removeRow($index)" ng-if="!$ctrl.disableUpdatePath" ng-disabled="$ctrl.value.length == 1  || $ctrl.ngDisabled"
            uib-tooltip="{{ 'ManualTransaction.LabelRemoveMaterialPath' | translate }}" data-tooltip-append-to-body="true" tooltip-placement="left">
            <i class="fa fa-trash"></i>
        </button>
    </div>
</div>
<div class="row compTail">
    <div class="col-xs-6 col-sm-6 col-md-7">
        <ol class="mpl-errorBox">
            <li class="alert alert-warning" ng-if="$ctrl.externalAmountIsDefined" ng-show="!$ctrl.fnCheckPercentage()">
                <span translate>.CheckPercentage</span>
            </li>
            <li class="alert alert-danger" ng-if="$ctrl.externalAmountIsDefined" ng-show="!$ctrl.fnCheckSum()">
                <span translate>.CheckSum</span> {{$ctrl.externalAmountToDivide | currency}}
            </li>
            <li class="alert alert-danger" ng-show="!$ctrl.fnCheckAmountPositive()">
                <span translate>.AmountNegative</span>
            </li>
        </ol>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-2">
        <div class="row form-group">
            <div class="col-sm-2 col-md-2">
            </div>
            <div class="col-sm-10 col-md-10">
                <div class="input-group" ng-if="$ctrl.usingPercentage">
                    <input type="number" ng-model="$ctrl.totalPercentage" class="form-control val-perc text-right" ng-model-options="{ debounce: 500 }"
                        name="check_percentage" ui-validate="{amount_error: '$ctrl.fnCheckPercentage()'}" disabled="true">
                    <span class="input-group-addon">
                        <i class="fa fa-percent"></i>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 text-right">
        <div class="form-group head-and-tail">
            <input type="hidden" ng-model="$ctrl.sum" class="form-control text-right" ng-model-options="{ debounce: 500 }" name="check_sum"
                ui-validate="{amount_error: '$ctrl.fnCheckSum()'}" disabled="true" ng-if="!$ctrl.fnCheckSum()">
            <input type="hidden" ng-model="$ctrl.existsAmountNegative" class="form-control text-right" ng-model-options="{ debounce: 500 }"
                name="check_poositive" ui-validate="{amount_error: '$ctrl.fnCheckAmountPositive()'}" disabled="true">
            <span>
                <strong>{{$ctrl.sum | currency}}</strong>
            </span>
        </div>
    </div>
</div>
<ul>