<div class="row" style="margin-top: 30px;">
    <div class="col-md-4">
        <div class="form-group">
            <label for="withHolding">
                <span translate>Aliquota Ritenuta </span>
            </label> 
          <select id="withHoldingRate" name="withHoldingRate" class="form-control" ng-model="$ctrl.withHoldingRate" ng-required="true"
                ng-change="$ctrl.onChange()" ng-if="!$ctrl.facilitatedSupplier" ng-options="item.id as ('ManualTransaction.WithHoldingRate.Value.' + item.label | translate) | translate for item in $ctrl.withHoldingRates">
            </select>
        </div>
    </div>
</div>
<div class="row" style="margin-top: 50px;">
    <div class="col-md-4">
        <label>ImponibileFattura</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.totalTaxableInput" class="form-control text-right" ng-currency ng-disabled="true" ng-min="0" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>IVA</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.totalIvaInput" class="form-control text-right" ng-currency ng-disabled="true" ng-min="0" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label ng-if="!$ctrl.facilitatedSupplier">Importi esclusi da ritenuta.</label>
        <label ng-if="$ctrl.facilitatedSupplier">Importi cassa professionale.</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.value.freeWithholdingTax" class="form-control text-right" ng-change="$ctrl.onChange()" ng-currency
                ng-disabled="false" ng-min="0" />
        </div>
    </div>
</div>
<div class="row" ng-if="!$ctrl.facilitatedSupplier">
    <div class="col-md-4">
        <label>IVA (22%) su <span>{{$ctrl.value.freeWithholdingTax | currency }}<span>
        </label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.value.freeWithholdingTaxIva" class="form-control text-right" ng-change="$ctrl.onChange()" ng-currency
                ng-disabled="true" ng-min="0" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label ng-if="!$ctrl.facilitatedSupplier">Escluse IVA</label>
        <label ng-if="$ctrl.facilitatedSupplier">Bolli</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.value.exemptIva" class="form-control text-right" ng-change="$ctrl.onChange()" ng-currency ng-min="0"
            />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <label>Totale Documento</label>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <input min="0" ng-model="$ctrl.value.totalDocument" class="form-control text-right" ng-currency ng-disabled="true" ng-min="0" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label ng-if="!$ctrl.facilitatedSupplier">A dedurre rit. d'acc {{$ctrl.value.withholdingAliquote}} %  su
            {{$ctrl.totalTaxableInput | currency}}
        </label>
        <label ng-if="$ctrl.facilitatedSupplier">Ritenuta d'acconto dello 0%</label>
    </div>

    <div class="col-md-2">
        <input id="withHoldingToPay" name="withHoldingToPay" min="0" ng-model="$ctrl.value.withholdingToPay" class="form-control text-right"
            ng-currency ng-min="0" ng-change="$ctrl.onChange()" />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label>Totale dovuto</label>
    </div>
    <div class="col-md-2">
        <input id="toPay" name="toPay" min="0" ng-model="$ctrl.value.toPay" class="form-control text-right" ng-currency
            ng-disabled="true" ng-min="0" />
    </div>
</div>