<div class="row" translate-namespace="Phrases.Form">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="description"><span translate>.Description</span><span> *</span></label>
            <input id="description" name="description" ng-model="$ctrl.value.description"
                   class="form-control" ng-required="true" ng-maxlength="150" maxlength="150"
                   ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="content"><span translate>.Content</span></label>
            <template-editor id="content" name="content" data-ng-model="$ctrl.value.content"
                             data-ng-change="$ctrl.onChange()" rows="10"></template-editor>
        </div>
    </div>
</div>