<form novalidate name="form" translate-namespace="InstallmentPlan.CreateInstallment">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <installment-input ng-model="$ctrl.installment" financial-period="$ctrl.financialPeriod"></installment-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="$ctrl.doSave()" data-ng-disabled="form.$invalid">
            <span translate>.Save</span>
        </button>
    </div>
</form>
