.installment-plan-wrapper {
    .ng-table-group-header {
        display: none;
    }

    .table > * > tr > td {
        vertical-align: middle;
        .form-group {
            margin-bottom: 0;
        }
    }

    .table tr > th {
        vertical-align: bottom;
    }

    .installment-selection {
        float: left;
        height: auto;
        width: auto;
    }
}

.modal {
    /*.modal-customSize {
        width: 1000px;
    }*/
    
    .center {
        text-align: center;
    }
    
    .next {
        position: absolute;
        right: 5%;
        margin: -10px;
    }
    
    .previous {
        position: absolute;
        left: 5%;
        margin: -10px;
    }
    
    .fullHeight { 
        height: 450px;
    }
    
    .noBullets {
        list-style: none;
    }
    
    .installment {
        margin-top: 2%;
    }
    
    .textMargin {
        margin-top: 55px;
    }
}