<div translate-namespace="InstallmentPlan.Configuration" ng-form="vm.form">
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="numberOfInstallments" translate>.NumberOfInstallments</label>
                <input id="numberOfInstallments" name="numberOfInstallments" class="form-control text-right" type="number"
                       ng-required="true" min="1" max="120" ng-model="vm.ngModel.numberOfInstallments">
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="previousYearMode" translate>.PreviousYearAmount.Label</label>
                <select id="previousYearMode" name="previousYearMode" class="form-control"
                        ng-model="vm.ngModel.previousYearMode" ng-required="true"
                        ng-options="mode as ('InstallmentPlan.Configuration.PreviousYearAmount.' + mode | translate) for mode in vm.previousYearModes">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label for="distributionMode" translate>.DistributionMode.Label</label>
                <select id="distributionMode" name="distributionMode" class="form-control"
                        ng-model="vm.ngModel.distributionMode" ng-required="true"
                        ng-options="mode as ('InstallmentPlan.Configuration.DistributionMode.' + mode | translate) for mode in vm.distributionModes">
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <button class="btn btn-success m-t-md" ng-click="vm.recalculateInstallments()" translate>.Generate</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table ng-table="vm.tableParams" class="table table-bordered table-striped table-condensed">
                    <colgroup>
                        <col class="col-md-2">
                        <col class="col-md-4">
                        <col class="col-md-2">
                        <col class="col-md-2">
                        <col class="col-md-2">
                    </colgroup>
                    <tr ng-repeat="row in $data">
                        <td data-title="'InstallmentPlan.Configuration.Expiration' | translate" class="text-center">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <input class="form-control text-right" ng-model="row.expiration" ng-required="true"
                                           uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                           datepicker-append-to-body="true"
                                           is-open="row.expirationOpened"
                                           on-open-focus="true"
                                           show-button-bar="false"
                                           disable-valid-styling="true">
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="row.expirationOpened = !row.expirationOpened">
                                            <i class="fa fa-calendar"></i>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td data-title="'InstallmentPlan.Configuration.Description' | translate">
                            <div class="form-group">
                                <input ng-model="row.description" ng-required="true"
                                       ng-maxlength="35" maxlength="35" class="form-control input-sm">
                            </div>
                        </td>
                        <td data-title="'InstallmentPlan.Configuration.PreviousYearPercentage' | translate" class="text-right">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <input type="number" ng-model="row.previousYear"
                                           min="0" max="100" ng-required="true" class="form-control text-right"
                                           ng-change="vm.recalculatePreviousYearSum()">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td data-title="'InstallmentPlan.Configuration.Budget' | translate" class="text-right"
                            ng-switch="vm.ngModel.distributionMode">
                            <div class="form-group" ng-switch-when="Percent">
                                <div class="input-group input-group-sm">
                                    <input type="number" ng-model="row.coefficient"
                                           min="0" max="100" class="form-control text-right"
                                           ng-change="vm.recalculateCoefficientSum(); vm.recalculateAmounts()">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-switch-when="Proportional">
                                <div class="input-group input-group-sm">
                                    <input type="number" ng-model="row.coefficient"
                                           min="0" class="form-control text-right"
                                           ng-change="vm.recalculateCoefficientSum(); vm.recalculateAmounts()">
                                    <span class="input-group-addon">
                                        / {{ vm.coefficientSum }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-switch-when="Coefficient">
                                <input type="number" ng-model="row.coefficient"
                                       min="0" class="form-control input-sm text-right"
                                       ng-change="vm.recalculateCoefficientSum(); vm.recalculateAmounts()">
                            </div>
                        </td>
                        <td data-title="'InstallmentPlan.Configuration.Amount' | translate" class="text-right">
                            {{ vm.totalAmount / vm.coefficientSum * row.coefficient | currency }}
                        </td>
                    </tr>
                    <tfoot>
                    <tr>
                        <td colspan="2" class="text-right"><strong translate>.GrandTotal</strong></td>
                        <td class="text-right">
                            <div class="form-group">
                                <div class="input-group input-group-sm">
                                    <input type="number" name="previousYearSum" ng-model="vm.previousYearSum" ng-readonly="true"
                                           min="100" max="100" class="form-control text-right">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                        </td>
                        <td class="text-right" ng-switch="vm.ngModel.distributionMode">
                            <div class="form-group" ng-switch-when="Percent">
                                <div class="input-group input-group-sm">
                                    <input type="number" ng-model="vm.coefficientSum" name="coefficientSum"
                                           ng-readonly="true" min="100" max="100" class="form-control text-right">
                                    <span class="input-group-addon">
                                        <i class="fa fa-fw fa-percent"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-switch-when="Proportional">
                                <div class="input-group input-group-sm">
                                    <input type="number" ng-model="vm.coefficientSum" name="coefficientSum"
                                           ng-readonly="true" class="form-control text-right">
                                    <span class="input-group-addon">
                                        / {{ vm.coefficientSum }}
                                    </span>
                                </div>
                            </div>
                            <div class="form-group" ng-switch-when="Coefficient">
                                <input type="number" ng-model="vm.coefficientSum" name="coefficientSum"
                                       ng-readonly="true" class="form-control input-sm text-right">
                            </div>
                        </td>
                        <td class="text-right total" ng-switch="vm.ngModel.distributionMode">
                            <strong>{{ vm.totalAmount | currency }}</strong>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-4 col-md-offset-1">
                    <div class="checkbox">
                        <label>
                            <input id="roundAmounts" name="roundAmounts" type="checkbox" ng-model="vm.ngModel.roundAmounts">
                            <strong translate>.RoundAmountsTo</strong>
                        </label>
                    </div>
                </div>
                <div class="col-md-7">
                    <select name="roundAmountsTo" ng-disabled="!vm.ngModel.roundAmounts" class="form-control"
                            ng-model="vm.ngModel.roundAmountsTo"
                            ng-options="value as ('InstallmentPlan.Configuration.RoundingDescription' | translate: {value: value}: 'messageformat') for value in vm.amountRoundings"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-horizontal">
        <div class="col-md-6">
            <div class="form-group">
                <label for="mergeAmountsLowerThan" class="control-label col-sm-5" translate>.MergeAmountsLowerThan</label>
                <div class="col-sm-7">
                    <div class="input-group">
                        <input id="mergeAmountsLowerThan" name="mergeAmountsLowerThan" class="form-control text-right"
                               ng-model="vm.ngModel.mergeAmountsLower" ng-currency ng-required="true">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-euro"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-4 col-md-offset-1">
                    <div class="checkbox">
                        <label>
                            <input id="roundingInstallmentEnabled" name="roundingInstallmentEnabled" type="checkbox"
                                   ng-model="vm.ngModel.roundingInstallmentEnabled">
                            <strong translate>.RoundingInstallment</strong>
                        </label>
                    </div>
                </div>
                <div class="col-md-7">
                    <select nam="roundingInstallment" ng-disabled="!vm.ngModel.roundingInstallmentEnabled" class="form-control text-right"
                            ng-model="vm.ngModel.roundingInstallment"
                            ng-options="idx as (row.expiration | date: 'shortDate') for (idx, row) in vm.ngModel.installments"></select>
                </div>
            </div>
        </div>
    </div>
</div>
