<div class="installment-plan-wrapper" translate-namespace="InstallmentPlan.View">
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.Title</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive installment-plan-table-container">
                                    <table ng-table-dynamic="$ctrl.tableParams with $ctrl.columns"
                                           class="table table-bordered table-bordered table-hover"
                                           ng-style="{ width: $ctrl.columns.length * 120 + 180 }">
                                        <colgroup>
                                            <col ng-repeat="col in $columns" ng-style="{ width: $index == 0 ? 300 : 120 }">
                                        </colgroup>
                                        <tr class="ng-table-group" ng-repeat-start="group in $groups">
                                            <td ng-repeat="col in $columns"
                                                ng-class="{ 'danger': $ctrl.isExpired(group, col), 'warning': $ctrl.isPaidPartially(group, col), 'success': $ctrl.isPaidFully(group, col), 'text-right': col.kind === 'amount', 'text-center': col.kind === 'switch'  }">
                                                <span ng-switch="col.kind">
                                                    <span ng-switch-when="switch">
                                                        <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                                                            <i class="fa fa-fw " ng-class="{ 'fa-plus-circle': group.$hideRows, 'fa-minus-circle': !group.$hideRows }"></i>
                                                        </a>
                                                        <span ng-if="group.data.length == 1">
                                                            {{ group.data[0][col.field] }}
                                                        </span>
                                                    </span>
                                                    <span ng-switch-when="amount">
                                                        <span ng-switch="group.data.length">
                                                            <span ng-switch-when="1">
                                                                <span ng-if="col.index === undefined">{{ group.data[0][col.field] | currency }}</span>
                                                                <span ng-if="col.index >= 0">{{ group.data[0][col.field][col.index].amount | currency }}</span>
                                                            </span>
                                                            <span ng-switch-default>
                                                                <span ng-if="col.index === undefined">{{ $ctrl.sumTotals(group.data, col.field) | currency }}</span>
                                                                <span ng-if="col.index >= 0">{{ $ctrl.sumInstallments(group.data, col.field, col.index, 'amount') | currency }}</span>
                                                            </span>
                                                        </span>
                                                    </span>
                                                    <span ng-switch-default>{{ group.data[0][col.field] }}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
                                            <td ng-repeat="col in $columns"
                                                ng-class="{ 'danger': $ctrl.isExpired(row, col), 'warning': $ctrl.isPaidPartially(row, col), 'success': $ctrl.isPaidFully(row, col), 'text-right': col.kind === 'amount', 'text-center': col.kind === 'switch' }">
                                                <span ng-switch="col.kind" ng-if="$index >= 1">
                                                    <span ng-switch-when="amount">
                                                        <span ng-if="col.index === undefined">{{ row[col.field] | currency }}</span>
                                                        <span ng-if="col.index >= 0">{{ row[col.field][col.index].amount | currency }}</span>
                                                    </span>
                                                    <span ng-switch-default>{{ row[col.field] }}</span>
                                                </span>
                                            </td>
                                        </tr>
                                        <tfoot>
                                        <tr>
                                            <td ng-repeat="col in $columns" colspan="{{ $index == 1 ? '2' : 1 }}" ng-if="$index > 0" class="text-right">
                                                <strong ng-if="$index == 1" translate>.GrandTotal</strong>
                                                <strong ng-if="$index > 1 && col.index >= 0">
                                                    {{ $ctrl.sumInstallments($ctrl.plan.people, 'installments', col.index, 'amount') | currency }}
                                                </strong>
                                                <strong ng-if="$index > 1 && col.index === undefined">
                                                    {{ $ctrl.sumGrandTotals($groups, col.field) | currency }}
                                                </strong>
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-6 text-right">
                                <button class="btn btn-primary" ng-click="$ctrl.approve()" ng-if="!$ctrl.plan.consolidated && $ctrl.financialPeriod.status ==='OPEN'" translate>.Approve</button>
                                <button class="btn btn-danger" ng-click="$ctrl.unapprove()" ng-if="$ctrl.plan.consolidated && $ctrl.financialPeriod.status ==='OPEN'" translate>.Unapprove</button>
                                <a ui-sref="^.edit" ng-if="!$ctrl.plan.consolidated && $ctrl.financialPeriod.status ==='OPEN'" class="btn btn-warning" translate>.EditConfiguration</a>
                                <a ui-sref=".new" ng-if="$ctrl.plan.consolidated && $ctrl.financialPeriod.status ==='OPEN'" class="btn btn-default" translate>.AddInstallment</a>
                                <a ui-sref=".pay" ng-if="$ctrl.plan.consolidated" class="btn btn-default" translate>.PayRate</a>
                                <button type="button" class="btn btn-primary" ng-click="$ctrl.openPrintOption()">
                                    <i class="fa fa-print fa-fw"></i>&nbsp;
                                    <span translate>.Print</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
