<div ng-form="$ctrl.form" translate-namespace="InstallmentPlan.InstallmentInput">
    <div class="form-group">
        <label for="kind"><span translate>.Kind.Label</span><span> *</span></label>
        <select id="kind" name="kind" class="form-control"
                ng-options="item as ('InstallmentPlan.InstallmentInput.Kind.' + item | translate) for item in $ctrl.installmentTypes"
                data-ng-model="$ctrl.value.kind" data-ng-required="true" data-ng-change="$ctrl.onChange()"></select>
    </div>
    <div class="form-group">
        <label for="expiration"><span translate>.Expiration</span><span> *</span></label>
        <div class="input-group">
            <input id="expiration" name="expiration" class="form-control text-right"
                   data-ng-model="$ctrl.value.expiration" data-ng-change="$ctrl.onChange()"
                   data-ng-required="true"
                   data-ng-model-options="{timezone: 'utc'}"
                   uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                   datepicker-options="$ctrl.expirationOptions"
                   data-is-open="$ctrl.expirationOpened"
                   data-on-open-focus="true"
                   data-show-button-bar="false">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="$ctrl.expirationOpened = !$ctrl.expirationOpened">
                    <i class="fa fa-calendar"></i>
                </button>
            </span>
        </div>
    </div>
    <div class="form-group">
        <label for="installment-description"><span translate>.Description</span><span> *</span></label>
        <input id="installment-description" name="description" class="form-control"
               data-ng-model="$ctrl.value.description" data-ng-required="true"
               ng-maxlength="70" maxlength="70" ng-change="$ctrl.onChange()">
    </div>
    <div class="form-group" ng-if="$ctrl.isSplit()">
        <label for="installment-account"><span translate>.Account</span><span> *</span></label>
        <account-input id="installment-account" name="account"
                       ng-model="$ctrl.value.account" ng-change="$ctrl.onChange()"
                       chart-of-accounts-id="$ctrl.financialPeriod.chartOfAccountsId"
                       company-id="$ctrl.financialPeriod.ownerCompanyId"
                       root-account="{{ $ctrl.rootAccount }}"
                       include-only="$ctrl.financialPeriod.bindMaterializedPaths"
                       ng-required="true" placeholder=""></account-input>
    </div>
    <div class="form-group" ng-if="!$ctrl.isBalance()">
        <label for="installment-amount">
            <span ng-if="$ctrl.isSplit()" translate>.TotalAmount</span>
            <span ng-if="!$ctrl.isSplit()" translate>.InstallmentAmount</span>
            <span> *</span>
        </label>
        <input id="installment-amount" name="amount" class="form-control text-right"
               data-ng-model="$ctrl.value.amount" ng-required="true" ng-change="$ctrl.onChange()"
               ng-currency data-ng-min="0">
    </div>
</div>
