<div class="wrapper wrapper-content installment-plan-wrapper" ng-form="vm.form" translate-namespace="InstallmentPlan.Edit">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <spinner-loader ng-show="vm.budgetLoading && vm.configurationLoading"></spinner-loader>
                <div class="ibox-content" ng-hide="vm.budgetLoading && vm.configurationLoading"
                     ng-include="'app/installment-plan/installment-plan-wizard.html'"></div>
            </div>
        </div>
    </div>
</div>
