<div class="wrapper wrapper-content" translate-namespace="InstallmentPlan.Payment">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content" ng-class="$ctrl.form">
                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-xs-12">
                            <div class="form-group">
                                <label for="kind"><span translate>.Person</span><span> *</span></label>
                                <select id="kind" name="kind" class="form-control"
                                        ng-options="person.personId as person | fullName for person in $ctrl.people"
                                        data-ng-model="$ctrl.payment.personId" data-ng-required="true"
                                        data-ng-change="$ctrl.onPersonChange()"></select>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label><span translate>.Total</span></label>
                                <p class="form-control-static text-right">
                                    {{ $ctrl.payment.amount | currency }}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="$ctrl.payment.personId">
                        <div class="col-md-12">
                            {{ $ctrl.selectedInstallments }}
                            <div class="table-responsive installment-plan-table-container">
                                <table ng-table-dynamic="$ctrl.tableParams with $ctrl.columns"
                                       class="table table-bordered table-bordered table-hover"
                                       ng-style="{ width: $ctrl.columns.length * 120 + 180 }">
                                    <colgroup>
                                        <col ng-repeat="col in $columns" ng-style="{ width: 120 }">
                                    </colgroup>
                                    <tbody>
                                    <tr class="ng-table-group" ng-repeat="row in $data">
                                        <td ng-repeat="col in $columns"
                                            ng-class="{ 'danger': $ctrl.isExpired(row, col), 'warning': $ctrl.isPaidPartially(row, col), 'success': $ctrl.isPaidFully(row, col), 'text-right': col.kind === 'amount', 'text-center': col.kind === 'switch' }"
                                            <span ng-switch="col.kind">
                                                <span ng-switch-when="amount">
                                                    <input type="checkbox" class="form-control installment-selection"
                                                           ng-model="row[col.field][col.index].selected"
                                                           ng-change="$ctrl.recalculatePaymentAmount()"
                                                           ng-if="!$ctrl.isPaidFully(row, col)">
                                                    {{ row[col.field][col.index].amount - row[col.field][col.index].paid | currency }}
                                                </span>
                                                <span ng-switch-default>{{ row[col.field] }}</span>
                                            </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-6 text-right">
                            <button class="btn btn-primary" ng-click="$ctrl.performPayment()"
                                    data-ng-disabled="$ctrl.payment.amount <= 0" translate>.Pay</button>
                            <a ui-sref="^" class="btn btn-default" translate>.Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>