<div class="table-responsive" translate-namespace="InstallmentPlan.Budget">
    <table ng-table="vm.tableParams" show-filter="vm.showFilters" class="table table-bordered table-condensed table-hover">
        <colgroup>
            <col class="col-md-5">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-2">
        </colgroup>
        <tr ng-repeat-start="group in $groups" class="ng-table-group">
            <td>
                <strong>{{ group.data[0].companyName || (group.data[0].firstName + ' ' + group.data[0].lastName) }}</strong>
                <span ng-if="group.data.length == 1">
                    ({{ group.data[0].role | translate }} {{ group.data[0].rolePercentage | number }}%)
                </span>
            </td>
            <td class="text-center">
                <span ng-if="group.data.length == 1">{{ group.data[0].housingUnitDescription }}</span>
                <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                    <i class="fa fa-fw " ng-class="{ 'fa-plus-circle': group.$hideRows, 'fa-minus-circle': !group.$hideRows }"></i>
                </a>
            </td>
            <td class="text-right">
                {{ vm.groupSum(group, 'previousYearAmount') | currency }}
            </td>
            <td class="text-right">
                {{ vm.groupSum(group, 'amount') | currency }}
            </td>
            <td class="text-right">
                {{ vm.groupSum(group, 'previousYearAmount') + vm.groupSum(group, 'amount') | currency }}
            </td>
        </tr>
        <tr ng-repeat="row in group.data" ng-repeat-end ng-hide="group.$hideRows">
            <td data-title="'InstallmentPlan.Budget.PersonName' | translate">
                {{ row.role | translate }} {{ row.rolePercentage | number }}%
            </td>
            <td data-title="'InstallmentPlan.Budget.HousingUnit' | translate" class="text-center">
                {{ row.housingUnitDescription }}
            </td>
            <td data-title="'InstallmentPlan.Budget.PreviousYearAmount' | translate" class="text-right">
                <em>{{ row.previousYearAmount | currency }}</em>
            </td>
            <td data-title="'InstallmentPlan.Budget.BudgetAmount' | translate" class="text-right">
                <em>{{ row.amount | currency }}</em>
            </td>
            <td data-title="'InstallmentPlan.Budget.TotalAmount' | translate" class="text-right">
                <em>{{ row.previousYearAmount + row.amount | currency }}</em>
            </td>
        </tr>
        <tfoot ng-if="vm.isLastPage()">
            <tr>
                <td class="text-right" colspan="2"><strong translate>.GrandTotal</strong></td>
                <td class="text-right"><strong>{{ vm.totalPreviousYearAmount | currency }}</strong></td>
                <td class="text-right"><strong>{{ vm.totalAmount  | currency }}</strong></td>
                <td class="text-right"><strong>{{ vm.totalPreviousYearAmount + vm.totalAmount  | currency }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>