<div class="row">
    <div class="col-md-12">
        <wizard on-finish="vm.doGenerate()">
            <wz-step wz-title="{{ 'InstallmentPlan.Edit.Budget' | translate }}"
                     wz-heading-title="{{ 'InstallmentPlan.Budget.Title' | translate }}">
                <div class="row">
                    <div class="col-md-12">
                        <installment-plan-budget condominium-id="vm.condominiumId" period-id="vm.periodId"
                                                 loading="vm.budgetLoading" total-amount="vm.totalAmount">
                        </installment-plan-budget>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-6 text-right">
                        <button class="btn btn-success" wz-next>
                            <span translate>.Next</span>
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="{{ 'InstallmentPlan.Edit.Configuration' | translate }}"
                     wz-heading-title="{{ 'InstallmentPlan.Configuration.Title' | translate }}">
                <div class="row">
                    <div class="col-md-12" ng-form="vm.configurationForm">
                        <installment-plan-configuration condominium-id="vm.condominiumId" period-id="vm.periodId"
                                                        ng-model="vm.configuration" loading="vm.configurationLoading"
                                                        total-amount="vm.totalAmount">
                        </installment-plan-configuration>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default" wz-previous>
                            <i class="fa fa-fw fa-chevron-left"></i>
                            <span translate>.Previous</span>
                        </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-success" wz-next ng-disabled="vm.configurationForm.$invalid">
                            <span translate>.Next</span>
                            <i class="fa fa-fw fa-chevron-right"></i>
                        </button>
                    </div>
                </div>
            </wz-step>
            <wz-step wz-title="{{ 'InstallmentPlan.Edit.Generation' | translate }}"
                     wz-heading-title="{{ 'InstallmentPlan.Generation.Title' | translate }}">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="alert alert-info">
                            <p translate>InstallmentPlan.Generation.Text1</p>
                            <p translate>InstallmentPlan.Generation.Text2</p>
                        </div>
                    </div>
                </div>
                <dic class="row" ng-show="vm.generating">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped active" role="progressbar"
                                 aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
                                 style="width: 100%">
                            </div>
                        </div>
                    </div>
                </dic>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-default" wz-previous ng-disabled="vm.generating">
                            <i class="fa fa-fw fa-chevron-left"></i>
                            <span translate>.Previous</span>
                        </button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button class="btn btn-default" ng-click="vm.doSave()" ng-disabled="vm.generating">
                            <i class="fa fa-fw fa-save"></i>
                            <span translate>.Save</span>
                        </button>
                        <button class="btn btn-success" wz-finish ng-disabled="vm.generating">
                            <i class="fa fa-fw fa-gears"></i>
                            <span translate>.Generate</span>
                        </button>
                    </div>
                </div>
            </wz-step>
        </wizard>
    </div>
</div>