<form novalidate name="form" translate-namespace="InstallmentPlan.Payment">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <instalment-payment-input ng-model="$ctrl.payment"
                                  root-credit-path="$ctrl.rootAccount"
                                  company-id="$ctrl.financialPeriod.ownerCompanyId"
                                  person-mat-path="{{ $ctrl.rootAccount }}.{{ $ctrl.personId }}"
                                  amount="$ctrl.totalAmount"
                                  financialperiod-id="$ctrl.financialPeriod.id"></instalment-payment-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="$ctrl.performPayment()" translate>.Save</button>
    </div>
</form>
