<form novalidate name="form" translate-namespace="InstallmentPlan.Report">
    <div class="modal-header">
        <i class="fa fa-list-alt modal-icon"></i>
        <h4 class="modal-title" translate>.PrintInstalmentPlan</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label for="print-type"><span translate>.PrintType</span>*</label>
            <select id="print-type" name="print-type" class="form-control" ng-model="vm.printOption.printType" required>
                <option value="installment-plan-master-schedules" translate>.InstallmentPlanReport</option>
                <option value="installment-plan-payment-positions" translate>.PaymentSituationReport</option>
            </select>
        </div>
        <div ng-if="vm.printOption.printType ==='installment-plan-master-schedules'">
                <div class="form-group">
                    <label for="print-type">
                    <span translate>.DivideByUnit</span>
                </label>
                    <input type="checkbox" class="text-right" ng-model="vm.printOption.divideByUnit">
                </div>
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
            <button class="btn btn-success" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'xlsx');$dismiss();"translate>.ConfirmExcelExport</button>
            <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doPrintConfirm(vm.printOption.printType, 'pdf');$dismiss();"translate>.ConfirmPrint</button>
        </div>
    </div>
</form>