<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-8" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{'Consuntivo esercizio'}}</h1>
        </span></p>
    </div>
    <!--</div>
    </div>
</div>-->
</div>
<div class="wrapper wrapper-content ">

    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">

                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Descrizione</th>
                                <th>Preventivo</th>
                                <th>Consuntivo</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="item in finalBalance">

                            <tr>
                                <td><strong>{{item.name}}</strong></td>
                                <td class="col-sm-1  text-right">
                                        {{item.quoteAmount | number: 2}}
                                </td>
                                <td class="col-sm-1  text-right">
                                    {{item.amount | number: 2}}
                                </td>
                            </tr>
                            <tr ng-repeat="subitem in item.details">
                                <td>--- {{subitem.voiceAccountPlanDescription}}</td>
                                <td class="col-sm-1  text-right">

                                </td>
                                <td class="col-sm-1  text-right">
                                    {{subitem.amount | number: 2}}
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button ng-click="close()" class="btn btn-default" type="button">Chiudi</button>
            </div>
        </div>
    </form>
</div>
