
<div class="row spaPageHeader">
    <div class="col-sm-1 text-center">
        <i class="fa fa-th fa-5x"></i>
    </div>
    <div class="col-sm-6">
        <h2>{{formData.description || 'Esercizio'}}</h2>
    </div>
    <div class="col-sm-5">
        <div class="title-action text-right">
            <button ng-click="back()" tooltip-placement="left" uib-tooltip="Indietro"
                    class="btn btn-default btn-outline" type="button">
                <i class="fa fa-angle-left back"></i>
                <span>Indietro</span>
            </button>
        </div>
    </div>
</div>

<!--
<div class="row" style="margin-bottom:-15px">
    <div class="col-xs-7" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{formData.description || 'Esercizio'}}</h1>
        </span></p>
    </div>
</div>
-->

<div class="wrapper wrapper-content ">

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content">
                    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Generale
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label>Descrizione*:</label>
                                                    <input id="description" name="description" ng-model="formData.description" type="text" class="form-control" required ng-minlength="3" ng-maxlength="200"/>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="form-group">
                                                    <label>Note </label>
                                                    <textarea id="notes" rows="5" ng-model="formData.management.notes"  class="form-control" ng-maxlength="256"></textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'startDate'|translate}}*</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{fromDatePicker.format}}"
                                                               name="from"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.startDate"
                                                               is-open="fromDatePicker.opened"
                                                               datepicker-options="fromDatePicker.dateOptions"
                                                               ng-required="true"
                                                               alt-input-formats="fromDatePicker.altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="fromDatePicker.openDatePicker()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'endDate'|translate}}</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{toDatePicker.format}}"
                                                               name="to"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.endDate"
                                                               is-open="toDatePicker.opened"
                                                               datepicker-options="toDatePicker.dateOptions"
                                                               ng-required="false"
                                                               alt-input-formats="toDatePicker.altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="toDatePicker.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        Dati Gestione Ordinaria
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'startDate'|translate}}*</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{fromDatePicker.format}}"
                                                               name="management-from"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.management.startDate"
                                                               is-open="managementFromDatePicker.opened"
                                                               datepicker-options="managementFromDatePicker.dateOptions"
                                                               ng-required="true"
                                                               alt-input-formats="managementFromDatePicker.altInputFormats" />
                                                        <span class="input-group-btn">
                                                            <button type="button" class="btn btn-default"
                                                                    ng-click="managementFromDatePicker.openDatePicker()">
                                                                <i class="glyphicon glyphicon-calendar"></i>
                                                            </button>
                                                        </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-2">
                                                <div  class="form-group">
                                                    <label>{{'endDate'|translate}}</label>
                                                    <p class="input-group" >
                                                        <input type="text"
                                                               class="form-control"
                                                               uib-datepicker-popup="{{toDatePicker.format}}"
                                                               name="management-to"
                                                               current-text="Oggi"
                                                               close-text="Chiudi"
                                                               clear-text="Pulisci"
                                                               ng-model="formData.management.endDate"
                                                               is-open="managementToDatePicker.opened"
                                                               datepicker-options="managementToDatePicker.dateOptions"
                                                               ng-required="false"
                                                               alt-input-formats="managementToDatePicker.altInputFormats" />
                                                      <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="managementToDatePicker.openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                      </span>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label class="col-sm-12 control-label">Seleziona Centri di costo</label>


                                                        <div class="col-lg-12 m-l-n">
                                                            <select class="form-control"
                                                                    ng-options="item.id as item.description for item in cdcLookUp"
                                                                    ng-model="formData.management.centreCostIds"
                                                                    multiple="">
                                                            </select>
                                                        </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 text-left">
                                <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                            </div>
                            <div class="col-xs-6 text-right">
                                <button class="btn btn-primary" type="submit">Salva</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
