<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-12" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{'Piano rateale'}} </h1>
            <h1>
                <input  class="col-sm-3" ng-model="installmentNumber" type="number" />
                <div class="col-xs-6">
                    <button class="btn btn-primary" type="button" ng-click="calculate()">OK</button>
                </div>
            </h1>
        </span></p>
    </div>
    <!--</div>
    </div>
</div>-->
</div>
<spinner-loader ng-if="loading"></spinner-loader>
<div class="wrapper wrapper-content" ng-if="!loading">

    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">

                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Descrizione</th>
                                <th>Scadenza</th>
                                <th>Saldo iniziale (%)</th>
                                <th>Preventivo (%)</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in installmentConfiguration.details">
                                    <td class="col-sm-3">
                                        {{item.instalmentDescription}}
                                    </td>
                                    <td class="col-sm-3">
                                        <div class="form-group">
                                            <input class="col-sm-12" type="date" placeholder="Data" ng-model="item.instalmentDate" />
                                        </div>
                                    </td>
                                    <td class="col-sm-2">
                                        <div class="form-group">
                                            <input class="col-sm-12" type="number" placeholder="%" ng-model="item.balancePercentage"/>
                                        </div>
                                    </td>
                                    <td class="col-sm-2">
                                        <div class="form-group">
                                            <input class="col-sm-12" type="number" placeholder="%" ng-model="item.quotePercentage"/>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button ng-click="close()" class="btn btn-default" type="button">Annulla</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary" type="submit">Salva</button>
            </div>
        </div>
    </form>
</div>
