<div class="wrapper wrapper-content " >
    <div class="row">
        <div class="col-lg-12">
            <spinner-loader ng-show="loadingFinancialList"></spinner-loader>
            <div ng-show="!loadingFinancialList">
                <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Esercizi</h5>
                    <div class="text-right">
                        <button
                                ui-sref="index.financial-period({condominiumId:condominiumId,financialPeriodId: 'new'})"
                                tooltip-placement="left" uib-tooltip="Nuovo Esercizio"
                                class="btn btn-primary" type="button">
                            <i class="fa fa-plus"></i>{{'add.financia.period'|translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <!--table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example"-->
                    <table width="100%" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>Descrizione</th>
                            <th>Stato</th>
                            <th>Periodo</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in financialPeriods.content">
                            <td><a ui-sref="index.financial-period-dashboard({condominiumId:condominiumId,financialPeriodId : item.id })">{{item.description}}</a></td>
                            <td>{{item.status | translate}}</td>
                            <td>{{item.startDate | date:'shortDate'}} - {{item.endDate | date:'shortDate'}}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            </div>
        </div>
    </div>
</div>
