<div class="wrapper wrapper-content">
    <spinner-loader ng-show="loadingManagement"></spinner-loader>
    <div class="" ng-show="!loadingManagement">
        <div class="row">
            <div class="col-lg-6">
                <h1>{{management.description}}</h1>
            </div>
            <div class="col-lg-6 text-right">

                <button ui-sref="index.financial-period-dashboard({condominiumId:condominiumId,financialPeriodId : financialPeriodId })"  tooltip-placement="bottom" uib-tooltip="Torna" class="btn dim flat btn-medium-dim btn-primary" style="float:right" type="button">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </button>

                <button ui-sref="index.management({condominiumId:condominiumId,financialPeriodId : financialPeriodId ,managementId:managementId })"  tooltip-placement="bottom" uib-Modifica" class="btn dim flat btn-medium-dim btn-primary" style="float:right" type="button">
                    <i class="glyphicon glyphicon-edit"></i>
                </button>


            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <spinner-loader ng-show="loadingStatus"></spinner-loader>
                <div ng-show="!loadingStatus" class="widget lazur-bg p-xl">

                    <h2>
                        Preventivo

                        <button ng-click="openQuoteDialog()"  tooltip-placement="bottom" uib-tooltip="Modifica" class="btn dim flat btn-small-dim btn-primary" style="float:right" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>
                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li ng-if="status.totalEstimatedCost > 0">
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Totale:</label>
                            {{status.totalEstimatedCost | number:2}} Euro
                        </li>
                        <li ng-if="status.totalEstimatedCost <= 0">
                            <span class="fa fa-edit m-r-xs"></span>
                            <label>{{'tobe.configure'|translate}}</label>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3">
                <spinner-loader ng-show="loadingStatus"></spinner-loader>
                <div ng-show="!loadingStatus" class="widget lazur-bg p-xl">
                    <h2>
                        Piano Rate
                        <button ng-click="openInstallmentPlanDialog()" tooltip-placement="bottom" uib-tooltip="Modifica" class="btn dim flat btn-small-dim btn-primary" style="float:right" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>

                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li ng-if="status.instalmentsNumber > 0">
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Numero Rate:</label>
                            {{status.instalmentsNumber | number:0}}
                        </li>
                        <li ng-if="status.instalmentsNumber <= 0">
                            <span class="fa fa-edit m-r-xs"></span>
                            <label>{{'tobe.configure'|translate}}</label>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-3">
                <spinner-loader ng-show="loadingStatus"></spinner-loader>
                <div ng-show="!loadingStatus" class="widget lazur-bg p-xl">

                    <h2>
                        Tabelle millesimali
                        <button ng-click="openThousandthsTablesDialog()"   tooltip-placement="bottom" uib-tooltip="Modifica" class="btn dim flat btn-small-dim btn-primary" style="float:right" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>

                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li ng-if="status.thousandthTableNumber > 0">
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Numero Tabelle:</label>
                            {{status.thousandthTableNumber | number:0}}
                        </li>
                        <li ng-if="status.thousandthTableNumber <= 0">
                            <span class="fa fa-edit m-r-xs"></span>
                            <label>{{'tobe.configure'|translate}}</label>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3">
                <spinner-loader ng-show="loadingStatus"></spinner-loader>
                <div ng-show="!loadingStatus" class="widget lazur-bg p-xl">

                    <h2>
                        Ruoli/Centri di Costo
                        <button ng-click="openRolesPercDialog()"   tooltip-placement="bottom" uib-tooltip="Modifica" class="btn dim flat btn-small-dim btn-primary" style="float:right" type="button">
                            <i class="glyphicon glyphicon-edit"></i>
                        </button>

                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li ng-if="status.centreCostConfigurationDone">
                            <span class="fa fa-envelope m-r-xs"></span>
                            <label>Configurato</label>

                        </li>
                        <li ng-if="!status.centreCostConfigurationDone">
                            <span class="fa fa-edit m-r-xs"></span>
                            <label>{{'tobe.configure'|translate}}</label>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                                        <span class="pull-right text-right">
                                        <small>rappresentazione gestioni esercizio
                                            <br/>
                                            totale: 82.000,00 Euro</small>
                                        </span>
                            <h3 class="font-bold no-margins">
                                Andamento esercizio 2017
                            </h3>
                            <small>1/1/2017 - 31/12/2017</small>
                        </div>

                        <div class="m-t-sm">

                            <div class="row">
                                <div class="col-md-8" >
                                    <div>
                                        <canvas id="line" class="chart chart-line" chart-data="data"
                                                chart-labels="labels" chart-series="series" chart-options="options"
                                                chart-dataset-override="datasetOverride" >
                                        </canvas>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <ul class="stat-list m-t-lg">
                                                <li>
                                                    <h2 class="no-margins">40.346 Euro</h2>
                                                    <small>Consuntivo Esercizio 2017</small>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar" style="width: 48%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h2 class="no-margins ">21.000 Euro</h2>
                                                    <small>Consuntivo Rifacimento Tetto</small>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar" style="width: 60%;"></div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h2 class="no-margins ">1.500 Euro</h2>
                                                    <small>Consuntivo Rottura tubature</small>
                                                    <div class="progress progress-mini">
                                                        <div class="progress-bar" style="width: 90%;"></div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="row" style="padding-top: 20px">
                                        <div class="col-xs-12">
                                            <button ng-click="openFinalBalanceDialog()" type="button" class="btn  btn-primary">Dettagli Consuntivo</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="m-t-md">
                            <small class="pull-right">
                                <i class="fa fa-clock-o"> </i>
                                Aggiornato al  06.02.2017
                            </small>
                            <small>
                                <strong>Attenzione:</strong> I dati sono basati sulle movimentazioni dei C/C
                            </small>
                        </div>

                    </div>
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-lg-12">
                <spinner-loader ng-show="loadingInstallmentPlan"></spinner-loader>
                <div ng-show="!loadingInstallmentPlan" class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Piano rateale esercizio</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">

                            <div class="col-sm-3">
                                <div class="input-group"><input type="text" placeholder="Search" class="input-sm form-control"> <span class="input-group-btn">
                                        <button type="button" class="btn btn-sm btn-primary"> Go!</button> </span></div>
                            </div>
                        </div>
                        <div ng-show="loadInstallmentPlanError">
                            {{loadInstallmentPlanError | translate}}
                        </div>
                        <div ng-show="!loadInstallmentPlanError" class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Nome </th>
                                    <th ng-repeat="item in installmentConfiguration.details">{{item.instalmentDescription}} ({{item.instalmentDate | date:'shortDate'}})</th>
                                    <th>Totale </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in installmentPlan">
                                    <td>{{item.housingUnitDescription}}</td>
                                    <td ng-repeat="amountItem in item.instalmentPlanDetails">{{amountItem.amount | number:3 }}</td>
                                    <td>{{item.total | number:3 }}</td>
                                </tr>

                                <tr>
                                    <td ng-repeat="amountItem in installmentPlan[0].instalmentPlanDetails"></td>

                                    <td>TOT.</td>
                                    <td>{{totalGrid | number:3}}</td>
                                </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

    </div>

</div>
