<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-7" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{'quote.title' | translate }}</h1>
        </span></p>
    </div>
    <!--</div>
    </div>
</div>-->
</div>
<spinner-loader ng-if="loading"></spinner-loader>
<div class="wrapper wrapper-content" ng-if="!loading">
    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" class="form-table-inline">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">

                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{'description' | translate }}</th>
                                <th>{{'finalBalance' | translate }}</th>
                                <th>{{'revision' | translate }} <i class="fa fa-question-circle"
                                                                   tooltip-placement="top"
                                                                   uib-tooltip="{{'quote.revision.tooltip' | translate }}"></i>
                                </th>
                                <th>{{'quote' | translate }}</th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="item in quotes.quotes">

                            <tr>
                                <td class="col-sm-6"><strong>{{item.costCentreDescription}}</strong></td>
                                <td>
                                    <div class="form-group">
                                        <input class="col-sm-12" type="number" placeholder="Euro"
                                               ng-model="item.transfer" ng-change="calculateEstimatedCost(item)"
                                               required/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="col-sm-12" ng-model="item.revision"
                                               ng-change="calculateEstimatedCost(item)" ng-blur="onRevisionBlur(item)"
                                               required/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input class="col-sm-12" type="number" placeholder="Euro"
                                               ng-model="item.estimatedCost" ng-change="calculateRevision(item)"
                                               required/>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-repeat="subitem in item.vpcs">
                                <td>--- {{subitem.description}}</td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button ng-click="close()" class="btn btn-default" type="button">{{'cancel' | translate }}</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary" type="submit">{{'save' | translate }}</button>
            </div>
        </div>
    </form>
</div>