<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-12" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{"rolesPerc.title" | translate}}</h1>
        </span></p>
    </div>
    <!--</div>
    </div>
</div>-->
</div>
<spinner-loader ng-if="loading"></spinner-loader>
<div class="wrapper wrapper-content " ng-if="!loading">

    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">

                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>{{'centreCost' |translate}}</th>
                                <th>{{'tableThousandth' |translate}}</th>
                                <th ng-repeat="item in roleLookup">{{item |translate}}</th>
                                <th>{{'total' |translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in cccs">
                                <td>{{item.description}}</td>
                                <td>
                                    <div class="form-group">
                                        <select class="form-control" id="sel1"
                                                ng-options="th_item_list.id as th_item_list.description for th_item_list in thousandthTables"
                                                ng-model="item.thousandthTableId">
                                        </select>
                                    </div>
                                </td>
                                <td ng-repeat="subItem in item.roleDistributions">
                                    <div class="form-group">
                                        <input class="col-sm-12" ng-model="subItem.percentage" type="number"
                                               placeholder="%" ng-change="updateTotal(item)"/>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label>{{item.total}}</label>
                                        <input hidden ng-model="item.total" ng-pattern="/^100$/" pattern-err-type="total_value_one_hundred">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button ng-click="close()" class="btn btn-default" type="button">{{"cancel" |translate}}</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary" type="submit">{{"save" |translate}}</button>
            </div>
        </div>
    </form>
</div>
