<div class="row" style="margin-bottom:-15px">
    <!--<span class="col-lg-4">

    </span>
    <div class="col-lg-4">-->
    <!--<div class="widget style1">
        <div class="row">-->
    <div class="col-xs-5" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
        <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
            <i class="fa fa-th fa-4x"></i>
        </div>
        <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{'Tabella millesimi'}} </h1>


        </span></p>

    </div>
    <div class="col-md-2">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>{{formData.description}}</strong><span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li ng-repeat="item in thousandthTables.content">
                <a ng-click="tableSelection(item.id)">{{item.description}}</a>
            </li>
        </ul>
    </div>
    <div class="col-md-2">
        <button ng-click="createTable()" type="button" class="btn btn-info">
            <strong>Crea Tabella</strong>
        </button>
    </div>
    <div class="col-md-2">
        <button ng-click="deleteTable()" type="button" class="btn btn-danger">
            <strong>Elimina Tabella</strong>
        </button>
    </div>

    <!--</div>
    </div>
</div>-->
</div>
<spinner-loader ng-if="loading"></spinner-loader>
<div class="wrapper wrapper-content" ng-if="!loading">

    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
        <div class="row">
            <div class="col-lg-4">
                <div class="form-group">
                    <input type="text" placeholder="Nuova Tabella*" ng-model="formData.description" ng-required="true"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">

                    <div class="ibox-content">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Unità</th>
                                <th>Coefficiente</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in formData.thousandthDistributions">
                                    <td class="col-sm-10">
                                        {{item.housingUnitDescription}}
                                    </td>
                                    <td class="col-sm-2">
                                        <div class="form-group">
                                            <input class="col-sm-12" type="number" placeholder="millesimi" ng-model="item.coefficient" />
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 text-left">
                <button ng-click="close()" class="btn btn-default" type="button">Annulla</button>
            </div>
            <div class="col-xs-6 text-right">
                <button class="btn btn-primary" type="submit">Salva</button>
            </div>
        </div>
    </form>
</div>
