<div class="modal-header">
    <h4 class="modal-title">
        <span translate>Maps.Chooser.Title</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="chooserAddress"><span translate>Maps.Chooser.Address.Label</span></label>
                <div class="input-group">
                    <input id="chooserAddress" name="chooserAddress" class="form-control"
                           ng-model="vm.address"
                           translate-attr="{placeholder:'Maps.Chooser.Address.Placeholder'}" translate>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" ng-click="vm.centerToUserAddress()">
                            <i class="fa fa-fw fa-search"></i>
                        </button>
                        <button class="btn btn-default" type="button" ng-click="vm.centerToUserPosition()">
                            <i class="fa fa-fw fa-map-marker"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p class="form-control-static" translate>Maps.GoogleMapsDisclaimer</p>
        </div>
        <div class="col-md-12 popup-map">
            <ui-gmap-google-map
                    ng-if="vm.map.center.latitude !== null"
                    data-center="vm.map.center"
                    data-zoom="vm.map.zoom"
                    data-events="vm.map.markersEvents"
                    data-control="vm.map.control"
                    data-options="vm.map.options"
                    ng-cloak id="mapPopup">
                <ui-gmap-marker data-coords="vm.map.markers[0].location"
                                data-idKey="vm.map.markers[0].id"
                                data-options="vm.map.markers[0].options"
                                data-control="vm.map.markers[0].control"></ui-gmap-marker>
            </ui-gmap-google-map>
            <div ng-hide="vm.map.center.latitude !== null" class="map-placeholder">&nbsp</div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="vm.doSave()" translate>Maps.Chooser.Save</button>
    <button type="button" class="btn btn-default" ng-click="$dismiss()" translate>Maps.Chooser.Cancel</button>
</div>