<div class="map">
    <ui-gmap-google-map id="{{ $ctrl.id }}" ng-show="$ctrl.map.center.latitude !== null"
                        data-center="$ctrl.map.center" data-zoom="$ctrl.map.zoom" data-events="$ctrl.map.markersEvents"
                        data-control="$ctrl.map.control" data-options="$ctrl.map.options" ng-cloak>
        <ui-gmap-marker coords="$ctrl.map.markers[0].location" idKey="$ctrl.map.markers[0].id" options="$ctrl.map.markers[0].options"/>
    </ui-gmap-google-map>
    <div ng-hide="$ctrl.map.center.latitude !== null" class="map-placeholder">&nbsp</div>
</div>
<div class="row" ng-if="!$ctrl.readonly">
    <div class="col-md-6 col-md-offset-6 text-right m-t-sm">
        <button type="button" ng-click="$ctrl.openPositionModal()" class="btn btn-primary btn-sm">
            <i class="fa fa-fw fa-map-marker"></i>
            <span translate>Maps.SetPosition</span>
        </button>
    </div>
</div>
