<!--
<script type="text/ng-template" id="app/purchase-invoices/purchase-invoices-account-filter.html">
    <account-input id="accountFilter" name="accountFilter" chart-of-accounts-id="vm.period.chartOfAccountsId"
    company-id="vm.period.ownerCompanyId" allow-all="true" ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
    class="input-filter"
    ></account-input>
</script>
<script type="text/ng-template" id="app/purchase-invoices/purchase-invoices-data-filter.html">
    <date-range-filter id="dateFilter" name="dateFilter" 
   ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params"
    class="input-filter" filter-from-name="competenceFrom" filter-to-name="competenceTo" 
    ></date-range-filter>
</script>
<script type="text/ng-template" id="app/purchase-invoices/purchase-invoices-type-filter.html">
    <writing-type-filter id="typeFilter" name="typeFilter" 
   ng-required="false"
    name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
    class="input-filter" name="type" company-id="vm.period.ownerCompanyId" 
    ></writing-type-filter>
</script>
-->
<div class="wrapper wrapper-content purchase-invoices-wrapper" translate-namespace="PurchaseInvoices.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>


                    <div ibox-tools class="text-right">
                        <!-- button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" ng-disabled="vm.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button -->
                        <a class="btn btn-sm btn-primary pull-right" ui-sref="index.accounting-transaction.list.add-manual-tx({ condominiumId: vm.params.condominiumId, periodId: vm.params.periodId})" translate>.AddNew</a>
                    </div>
                </div>
                <div class="ibox-content" ng-class="vm.form">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive purchase-invoices-container">
                                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover"><!-- data-show-filter="vm.showFilters"> -->
                                    <tr ng-repeat="row in $data track by row.id">
                                        <td data-title="'PurchaseInvoices.List.Supplier' | translate" >
                                            <span data-ng-show="!row.supplier">{{ row.fornitore }}</span>
                                            <span data-ng-show="row.supplier">{{ row.supplier.ragioneSociale }}</span>
                                        </td>
                                        <td data-title="'PurchaseInvoices.List.Type' | translate" class="text-center">
                                            {{ 'PurchaseInvoices.List.Types.'+ row.tipoDocumento | translate }}
                                        </td>
                                        <td data-title="'PurchaseInvoices.List.RecordingDate' | translate" data-sortable="'data'" class="text-center">
                                            {{ row.data | date: 'shortDate' }}
                                        </td>
                                        <!-- td data-title="'PurchaseInvoices.List.CompetenceDate' | translate" data-sortable="'competenza.from'" class="text-center">
                                            {{ row.competenza.from | date: 'shortDate' }}
                                            <span ng-if="row.competenza.to != row.competenza.from"> - {{ row.competenza.to | date: 'shortDate' }} </span>

                                        </td -->
                                        <td data-title="'PurchaseInvoices.List.Number' | translate" data-sortable="'numero'">{{ row.numero }}
                                        </td>
                                        <td class="text-right" data-title="'PurchaseInvoices.List.Amount' | translate" data-ng-if="row.totale">
                                            {{ row.totale.valore | currency }}
                                        </td>
                                        <td class="text-center">
                                            <a class="btn btn-circle btn-success" ui-sref=".detail({ id: row.id })" uib-tooltip="Dettaglio fattura" tooltip-append-to-body="true">
                                                <i class="fa fa-list-alt"></i>
                                            </a>
                                            <a class="btn btn-circle btn-success" uib-tooltip="PDF fattura" tooltip-append-to-body="true" ng-click="vm.downloadAttachment(row.id,'pdf')">
                                                <i class="fa fa-file-pdf-o"></i>
                                            </a>
                                            <a class="btn btn-circle btn-primary" ui-sref="index.accounting-transaction.list.add-manual-tx({ invoiceId: row.id , condominiumId: vm.params.condominiumId, periodId: vm.params.periodId})" uib-tooltip="Contabilizza fattura" tooltip-append-to-body="true">
                                                <i class="fa fa-save"></i>
                                                <!-- i class="fa fa-calculator"></i -->
                                                <!-- i class="fa fa-link"></i -->
                                            </a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>