.purchase-invoices-wrapper {

    .p-xl {
        padding: 40px;
    }

    .ibox-content {
        clear: both;
        background-color: #ffffff;
        color: inherit;
        padding: 15px 20px 20px 20px;
        border-color: #e7eaec;
        border-image: none;
        border-style: solid solid none;
        border-width: 1px 0;
    }
 
    .inner-table{
        width: 100%;
    }

    .text-underline{
        font-weight:normal;
        text-decoration:underline;
        font-style:italic;
        padding-bottom: 5px;
    }

    div.row.PNG-detail-row >  {
        border-bottom: 1px dashed #ededed;
        margin-left: -5px;
        margin-right: 0;
    }
}
#PNG-date-filter-body {
    min-height: 320px;
}
