<div class="wrapper wrapper-content purchase-invoices-wrapper p-xl" translate-namespace="PurchaseInvoices.Detail">
    <div class="ibox-contentx p-xlx">
    <div class="row">
        <div class="col-md-12">
            <h3>{{ 'PurchaseInvoices.Detail.Title' | translate }} <span class="text-navy">{{ vm.invoice.numero }}</span> del {{ vm.invoice.data | date: 'shortDate' }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
                <h5>Fornitore</h5>
            <address>
                <strong>{{ vm.invoice.supplier.ragioneSociale }}</strong><br>
                <span ng-show="vm.invoice.supplier.recapito.indirizzo">{{ vm.invoice.supplier.recapito.indirizzo.via }}<br>
                    {{ vm.invoice.supplier.recapito.indirizzo.citta }} ({{vm.invoice.supplier.recapito.indirizzo.provincia}})<br>
                    {{ vm.invoice.supplier.recapito.indirizzo.cap }} - {{vm.invoice.supplier.recapito.indirizzo.nazione}}<br></span>
                <abbr title="Partita IVA">P.IVA:</abbr>{{ vm.invoice.supplier.partitaIva }}<!-- br>
                <abbr title="Codice Fiscale">C.F.:</abbr>{{ vm.invoice.supplier.codiceFiscale }} -->
            </address>
            </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="ibox float-e-margins">
            <div class="ibox-content">
            <h5>Intestata a</h5>
            <address>
                <strong>{{ vm.invoice.destinazione.recapito.denominazione }}</strong><br>
                <span ng-show="vm.invoice.destinazione.recapito.indirizzo">{{ vm.invoice.destinazione.recapito.indirizzo.via }}<br>
                    {{ vm.invoice.destinazione.recapito.indirizzo.citta }} ({{vm.invoice.destinazione.recapito.indirizzo.provincia}})<br>
                    {{ vm.invoice.destinazione.recapito.indirizzo.cap }} - {{vm.invoice.destinazione.recapito.indirizzo.nazione}}<br></span>
                <!-- abbr title="Partita IVA">P.IVA:</abbr>{{ vm.invoice.supplier.partitaIva }}<br -->
                <abbr title="Codice Fiscale">C.F.:</abbr>{{ vm.invoice.supplier.azienda.codiceFiscale }}
            </address>
            </div>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dettagli</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="table-responsive purchase-invoices-container" ng-if="vm.invoice.righe[0]">
                    <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover">
                        <tr ng-repeat="row in vm.invoice.righe track by row.id">
                            <td data-title="'PurchaseInvoices.Detail.Row.Article' | translate" >
                                {{ row.descrizione }}
                            </td>
                            <td data-title="'PurchaseInvoices.Detail.Row.Quantity' | translate" >
                                <div class="text-right">{{ row.quantita }}</div>
                            </td>
                            <td data-title="'PurchaseInvoices.Detail.Row.UnitPrice' | translate" >
                                <div ng-show="row.prezzo" class="text-right">{{ row.prezzo.valore | currency }}</div>
                            </td>
                            <td data-title="'PurchaseInvoices.Detail.Row.DiscountSurcharge' | translate" >
                                <!-- TODO -->
                            </td>
                            <td data-title="'PurchaseInvoices.Detail.Row.TotalPrice' | translate" >
                                <div ng-show="row.prezzo" class="text-right">{{ row.prezzo.valore * row.quantita | currency }}</div>
                            </td>
                            <td data-title="'PurchaseInvoices.Detail.Row.Tax' | translate" >
                                    <div ng-show="!row.esente" class="text-right">{{ row.aliquota }} &percnt;</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-6">
                <div class="ibox">
                    <div class="ibox-content">
                        <h4>Pagamenti</h4>
                        
                        <ul class="sortable-list connectList agile-list ui-sortable" ng-repeat="payment in vm.invoice.pagamenti">
                            <li ng-repeat="row in payment.dettagli" class="ui-sortable-handle"
                                ng-class="(row.stato == 'PGT_' || vm.now < row.scadenza) ? 'info-element' : 'danger-element'" >
                                {{ 'PurchaseInvoices.Detail.Payments.types.'+payment.tipo | translate }}
                                {{ 'PurchaseInvoices.Detail.Payments.methods.'+row.metodo | translate }}
                                <span ng-if="row.conto.iban"> sul conto {{ row.conto.iban }}</span>
                                <span class="pull-right">{{ row.importo.valore | currency }}</span>
                                <div class="agile-detail">
                                    <a class="pull-right btn btn-xs " ng-class="{'NPGT':'btn-primary','PGT_':'btn-success','PPGT':'btn-warning'}[row.stato]">{{ 'PurchaseInvoices.Detail.Payments.status.'+row.stato | translate }}</a>
                                    <i class="fa fa-clock-o"></i> {{ row.scadenza | date: 'shortDate' }}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <table class="table invoice-total">
                <tr ng-if="vm.invoice.imponibile.valore">
                    <td><strong>{{ 'PurchaseInvoices.Detail.Subtotal' | translate }}</strong></td>
                    <td>{{ vm.invoice.imponibile.valore | currency }}</td>
                </tr>
                <tr ng-if="vm.invoice.imposte[0].aliquota" ng-repeat="row in vm.invoice.imposte">
                    <td><strong>{{ 'PurchaseInvoices.Detail.Tax' | translate }} {{ row.aliquota }}&percnt;</strong></td>
                    <td>{{ row.imposta.valore | currency }}</td>
                </tr>
                <tr ng-if="vm.invoice.ritenute[0].aliquota" ng-repeat="row in vm.invoice.ritenute">
                    <td><strong>{{ 'PurchaseInvoices.Detail.Withholding' | translate }} {{ row.aliquota }}&percnt;</strong></td>
                    <td>{{ row.ritenuta.valore | currency }}</td>
                </tr>
                <tr>
                    <td><strong>{{ 'PurchaseInvoices.Detail.Total' | translate }}</strong></td>
                    <td>{{ vm.invoice.totale.valore | currency }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="well m-t" ng-show="vm.invoice.note"><strong>{{'PurchaseInvoices.Detail.Comments' | translate}}</strong>
                {{ vm.invoice.note }}
            </div>

            <div class="text-right">
                <button class="btn btn-default" ui-sref="index.purchase-invoices.list"><i class="fa fa-back"></i> {{ 'PurchaseInvoices.Detail.Back' | translate}}</button>
                <button class="btn btn-success" ng-click="vm.downloadAttachment(vm.invoice.id,'pdf')"><i class="fa fa-file-pdf-o"></i> {{ 'PurchaseInvoices.Detail.Pdf' | translate}}</button>
                <button class="btn btn-primary" ui-sref="index.accounting-transaction.add-manual-tx({ invoiceId: vm.invoice.id , condominiumId: vm.params.condominiumId, periodId: vm.params.periodId})"><i class="fa fa-save"></i> {{ 'PurchaseInvoices.Detail.Save' | translate}}</button>
            </div>
        </div>
    </div>

    </div>
</div>