<div class="content" translate-namespace="AutomatedWritings.Create">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>.New</span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <!--<div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group" ng-if ="!vm.externaltemplate">
                            <label for="WritingType">
                                <span translate>.WritingType</span>*</label>
                            <select id="writingType" name="writingType" class="form-control" ng-model="vm.tx.writing.type" ng-required="true"
                                ng-options="item as ('UserDefinedTransaction.Types.' + item | translate) | translate for item in vm.writingTypeList">
                            </select>
                        </div>
                </div>-->
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="code">
                            <span translate>.Type</span> 
                        </label>
                        <span ng-switch="vm.checkOwnerAccountIsDefined(vm.toGiveList, vm.toHaveList)">
                            <span ng-switch-when="true" translate>.Specific</span>
                            <span ng-switch-when="false" translate>.Generic</span>  
                        </span>
                    </div>
                </div>            
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="code">
                            <span translate>.Code</span>
                        </label>
                            <input id="code" name="code" ng-required="false" ng-model="vm.template.code" class="form-control" ng-maxlength="20" ng-disabled="vm.isUpdate">
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="description">
                                <span translate>.Description</span>*</label>
                            <input id="description" name="description" ng-required="true" ng-model="vm.template.description" class="form-control" ng-maxlength="300">
                        </div>
                </div>                
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group"> 
                        <automated-path-list ng-model="vm.toGiveList" company-detail=" vm.companyDetail"  
                            title="{{ 'UserDefinedTransaction.ToGive' | translate }}" on-account-selected="vm.checkOwnerAccount(vm.toGiveList, vm.toHaveList)" >
                        </automated-path-list>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <automated-path-list ng-model="vm.toHaveList" company-detail="vm.companyDetail" 
                            title="{{ 'UserDefinedTransaction.ToHave' | translate }}"  is-to-have = "true" on-account-selected="vm.checkOwnerAccount(vm.toGiveList, vm.toHaveList)">
                        </automated-path-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>