auotomated-path-list {
   .row {
        &.compHead,
        &.compTail {
            > div {
                min-height: 40px;
                line-height: 2.5;
                > div.head-and-tail {
                    display: inline-block;
                    width: 100%;
                }
            }
        }
        &.compHead {
            margin-bottom: 12px;
            > div {
                > div {
                    border-bottom: .5px solid @border-color;
                }
            }
        }
        &.compTail {
            > div {
                > div {
                    border-top: .5px solid @border-color;
                    padding-top: 8px;
                }
            }

            .mpl-errorBox{
                .list-unstyled();
                > li {
                    float: left;
                    margin-right: 5px;
                    padding: 2px 15px;
                }
            }
        }
        .form-control {
            &.val-perc {
                padding: 0;
            }
        }
   }
}