<div class="wrapper wrapper-content automated-writing-wrapper" translate-namespace="AutomatedWritings.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>

                    <div ibox-tools class="text-right">
                        <!-- button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" ng-disabled="vm.tableParams.total() == 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button -->
                        <a ui-sref=".add" class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            <span translate>.Add</span>
                        </a>
                    </div>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div ng-hide="vm.loading" class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive accounting-writing-container">
                                <table ng-table="vm.tableParams" class="table table-striped table-bordered table-hover" data-show-filter="false">

                                    <tr ng-repeat="row in $data">
                                        <td data-title="'AutomatedWritings.List.Code' | translate" class="text-center">
                                            {{ row.code }}
                                        </td>
                                        <td data-title="'AutomatedWritings.List.Description' | translate">{{ row.description }}
                                        </td>
                                        <td data-title="'AutomatedWritings.List.Type' | translate" class="text-center">
                                            <span ng-if="row.ownerCompanyId" translate>.Specific</span>
                                            <span ng-if="!row.ownerCompanyId" translate>.Generic</span>
                                        </td>
                                        <td data-title="'AutomatedWritings.List.Actions' | translate" class="text-right">
                                            <a ui-sref=".update({ templateId: row.id})" uib-tooltip="{{ 'AutomatedWritings.List.Edit' | translate }}" tooltip-placement="top"
                                                tooltip-append-to-body="true" class="btn btn-circle btn-primary" type="button">
                                                <i class="fa fa-edit"></i>
                                            </a>



                                            <button ng-click="vm.deleteAutomatedWriting(row)" uib-tooltip="{{ 'AutomatedWritings.List.Delete' | translate }}" tooltip-placement="top"
                                                tooltip-append-to-body="true" class="btn btn-circle btn-danger" type="button">
                                                <i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>


                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>