.automated-writings-wrapper {
 
    .writing-inner-table{
        width: 100%;
    }

    .text-underline{
        font-weight:normal;
        text-decoration:underline;
        font-style:italic;
        padding-bottom: 5px;
    }

    div.row.PNG-detail-row >  {
        border-bottom: 1px dashed #ededed;
        margin-left: -5px;
        margin-right: 0;
    }
}
#PNG-date-filter-body {
    min-height: 320px;
}
