/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  less dependencies when defined in the bower.json of your dependencies
 */
// bower:less
// endbower

/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap/less/variables.less
 */
@navbar-inverse-link-color: #5AADBB;

/**
 *  UI-GRID Font Setting
 *  Source: https://github.com/angular-ui/ui-grid/issues/1786
 */
@import "../../bower_components/angular-ui-grid/less/icons.less";
@font-path: '../../bower_components/angular-ui-grid/';

/**
 *  Font-Awesome support
 *  Source: https://github.com/Swiip/generator-gulp-angular/issues/337
 */
@import "../../bower_components/fontawesome/less/font-awesome.less";
@fa-font-path: "../../bower_components/fontawesome/fonts";

@import '../../bower_components/bootstrap/less/bootstrap.less';
@icon-font-path: '../../bower_components/bootstrap/fonts/';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}


.logo.nav-header {
  background-image: none;
  background-color: white;
  padding: 10px 10px;

  background: rgba(212,228,239,1);
  background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(47,64,80,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(47,64,80,1)));
  background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(47,64,80,1) 100%);
  background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(47,64,80,1) 100%);
  background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(47,64,80,1) 100%);
  background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(47,64,80,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef ', endColorstr='#2f4050 ', GradientType=0 );

}

.logo-application {
  background-image: url("../assets/images/condominio102_logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 220px;
  width: 200px;
}

.logo-footer {
  background-size: contain;
  background-position: center;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  display: inline-block;
}

.logo-footer-flexgrid {
  background-image: url("../assets/images/footer/logo_flexgrid.png");
}

.logo-footer-climate-kic {
  background-image: url("../assets/images/footer/climate-kic-logo.png");
}

.logo-footer-comune-bologna {
  background-image: url("../assets/images/footer/logo-comune-bologna.png");
}

.logo-footer-aess {
  background-image: url("../assets/images/footer/logo_aess.png");
}

.logo-footer-cna-bologna {
  background-image: url("../assets/images/footer/logo_cna_bologna.png");
}

.logo-footer-ecipar-cna {
  background-image: url("../assets/images/footer/logo_ecipar_cna.jpg");
}

.logo-footer-paes {
  background-image: url("../assets/images/footer/logo_paes.png");
}

.logo-footer-urban-center {
  background-image: url("../assets/images/footer/logo_urban_center.png");
}

.logo-application-landing {
  background-image: url("../assets/images/condominio102_logo_landing-page.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 90px;
}


.img-application-landing-perspective {
  background-image: url("../assets/images/landing/perspective.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 415px;
}

.angular-google-map-container { height: 400px; }
.angular-google-map,
.angular-google-map-container {
  width: 100%;
  height: 100%;
}

.btn-medium-dim {
  width: 60px;
  height: 60px;
  font-size: 30px;
}

.upper-left {
  font-size: 80% !important;
  position: relative;
  bottom: 7px;
  right: 0px;
}

.overlay-lower-right {
  font-size: 60% !important;
  position: relative;
  bottom:-10px;
  right:8px; /* 56% */
}
.icon-highlight2 {
  color: #666666;
}

.btn.btn-primary.dim.flat {
  box-shadow: inset 0 0 0 #16987e , 0 1px 0 0 #16987e , 0 5px 5px #999999 ;
}

.btn.btn-danger.dim.flat {
  box-shadow: inset 0 0 0 #16987e , 0 1px 0 0 #16987e , 0 5px 5px #999999 ;
}

button.back {
  font-size: 24px;
  font-weight: 600;
  border: 2px solid;
}

i.back {
  font-weight: 600;
}

.icon-svg {
  width:20px;
  height:20px;
  display: block;
  //margin: 5px auto;
}

.icon-signal {
  width:28px;
  height:28px;
  display: block;
  //margin: 5px auto;
}

.icon-signal-1 * .icon-signal-bar-1 {
  fill: #ed5565;
  stroke: #ed5565; }
.icon-signal-1 * .icon-signal-bar-2 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-1 * .icon-signal-bar-3 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-1 * .icon-signal-bar-4 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-1 * .icon-signal-bar-5 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }

.icon-signal-2 * .icon-signal-bar-1 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-2 * .icon-signal-bar-2 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-2 * .icon-signal-bar-3 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-2 * .icon-signal-bar-4 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-2 * .icon-signal-bar-5 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }

.icon-signal-3 * .icon-signal-bar-1 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-3 * .icon-signal-bar-2 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-3 * .icon-signal-bar-3 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-3 * .icon-signal-bar-4 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }
.icon-signal-3 * .icon-signal-bar-5 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }

.icon-signal-4 * .icon-signal-bar-1 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-4 * .icon-signal-bar-2 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-4 * .icon-signal-bar-3 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-4 * .icon-signal-bar-4 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-4 * .icon-signal-bar-5 {
  fill: #b3b3b3;
  stroke: #b3b3b3; }

.icon-signal-5 * .icon-signal-bar-1 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-5 * .icon-signal-bar-2 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-5 * .icon-signal-bar-3 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-5 * .icon-signal-bar-4 {
  fill: #1ab394;
  stroke: #1ab394; }
.icon-signal-5 * .icon-signal-bar-5 {
  fill: #1ab394;
  stroke: #1ab394; }

.tree-title {
  display: inline-flex;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tree-title.selected {
  font-weight: bold;
}

.tree-title.temporary {
  font-style: italic;
}

.tree-node.safe-height {
  min-height: 24px;
}

.flexbox { display: flex; }
.flexbox .stretch { flex: 1; }
.flexbox .normal { flex: 0; margin: 0 0 0 1rem; }
.flexbox div input { width: 100%; }
.flexbox div span { padding-right: 1em; white-space: nowrap; }

/**
 * Warning: class references angular-slick plugin
 */
.slick-slide img {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}
.slick-prev {
  left: 0px;
}
.slick-next {
  right: 0px;
}
.slick-slide {
  margin-top: 10px;
}

.form-section p {
  margin-bottom: 0;
}

.rg-right span, .rg-left span {
  border-width: 0px 2px;
  border-color: #999;
}

.form-group label, .no-wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

label.form-check-label {
  overflow: visible;
}

.row.vertical-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

//Override
.nav .nav-divider {
  height: 2px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #a7b1c2;
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your less files automatically
 */
// injector
// endinjector

@nav-profil-pattern: url("../assets/images/patterns/header-profile.png") no-repeat;

.dropzone.installer .dz-default.dz-message {
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  background-image: url("../assets/images/dropzone/spritemap.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  width: 428px;
  height: 123px;
  margin-left: -214px;
  margin-top: -61.5px;
  top: 50%;
  left: 50%;
}

table.dataTable thead .sorting { background: url('../assets/images/table/sort_both.png') no-repeat center right; }
table.dataTable thead .sorting_asc { background: url('../assets/images/table/sort_asc.png') no-repeat center right; }
table.dataTable thead .sorting_desc { background: url('../assets/images/table/sort_desc.png') no-repeat center right; }

table.dataTable thead .sorting_asc_disabled { background: url('../assets/images/table/sort_asc_disabled.png') no-repeat center right; }
table.dataTable thead .sorting_desc_disabled { background: url('../assets/images/table/sort_desc_disabled.png') no-repeat center right; }

button.btn.btn-disabled {
  cursor: default;
}

a.disable-link {
  pointer-events: none;
  cursor: default;
}

.modal-help-dimension{
  height: 80%;
  width:80%;
}

.installer .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url('../assets/images/chosen/chosen-sprite.png') -42px 1px no-repeat;
}


.form-table-inline .help-block {
  margin-top: 0px !important;
}

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight{
  background-image: url(../assets/images/mCSB_buttons.png); /* css sprites */
}

.progress-button {
  text-transform: none;
  letter-spacing: normal;
  background-color: inherit;
}

.float-e-margins {
  .table .btn,
  .ibox-tools .btn {
    margin-bottom: 0;
  }
}

.ibox-tools a.btn {
  margin-left: 0;

  &.btn-default {
    color: #333333;
  }
}

.table th .form-group {
  margin-bottom: 0;
}

.pagination {
  margin: 0 0 10px 0;
}