<div class="row" translate-namespace="Persons.Form">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="traceableContactType"><span translate>.TraceableContactType</span></label>
            <select id="traceableContactType" name="traceableContactType" ng-model="$ctrl.value.traceableContactType"
                    class="form-control" data-ng-change="$ctrl.onChange()"
                    ng-options="ct as 'Persons.Form.CommunicationType.' + ct | translate for ct in $ctrl.traceableCommunicationTypes">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="nonTraceableContactType"><span translate>.NonTraceableContactType</span></label>
            <select id="nonTraceableContactType" name="nonTraceableContactType" ng-model="$ctrl.value.nonTraceableContactType"
                    class="form-control" data-ng-change="$ctrl.onChange()"
                    ng-options="ct as 'Persons.Form.CommunicationType.' + ct | translate for ct in $ctrl.allCommunicationTypes">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="carbonCopyContactType"><span translate>.CarbonCopyContactType</span></label>
            <select id="carbonCopyContactType" name="carbonCopyContactType" ng-model="$ctrl.value.carbonCopyContactType"
                    class="form-control" data-ng-change="$ctrl.onChange()"
                    ng-options="ct as 'Persons.Form.CommunicationType.' + ct | translate for ct in $ctrl.allCommunicationTypes">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="phoneNumber"><span translate>.HomeNumber</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="phoneNumber" name="phoneNumber" ng-model="$ctrl.value.contacts.PHONE"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="officeNumber"><span translate>.OfficeNumber</span></label>
            <input id="officeNumber" name="officeNumber" ng-model="$ctrl.value.additionalContacts.NUMBER_OFFICE"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="mobileNumber"><span translate>.MobileNumber</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="mobileNumber" name="mobileNumber" ng-model="$ctrl.value.contacts.MOBILE"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="faxHome"><span translate>.FaxHome</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="faxHome" name="faxHome" ng-model="$ctrl.value.additionalContacts.FAX_HOME"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="faxOffice"><span translate>.FaxOffice</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="faxOffice" name="faxOffice" ng-model="$ctrl.value.additionalContacts.FAX_OFFICE"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="faxOther"><span translate>.FaxOther</span></label>
            <input id="faxOther" name="faxOther" ng-model="$ctrl.value.additionalContacts.FAX_OTHER"
                   class="form-control" ng-maxlength="70" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="email"><span translate>.EmailAddress</span><span ng-if="$ctrl.ngRequired"> *</span></label>
            <input id="email" name="email" ng-model="$ctrl.value.contacts.EMAIL" type="email"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="emailOffice"><span translate>.EmailOffice</span></label>
            <input id="emailOffice" name="emailOffice" ng-model="$ctrl.value.additionalContacts.EMAIL_OFFICE" type="email"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="pec"><span translate>.EmailPEC</span></label>
            <input id="pec" name="pec" ng-model="$ctrl.value.additionalContacts.EMAIL_PEC" type="email"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="other1"><span translate>.Other1</span></label>
            <input id="other1" name="other1" ng-model="$ctrl.value.additionalContacts.OTHER_1" type="text"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="other2"><span translate>.Other2</span></label>
            <input id="other2" name="other2" ng-model="$ctrl.value.additionalContacts.OTHER_2" type="text"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="other3"><span translate>.Other3</span></label>
            <input id="other3" name="other3" ng-model="$ctrl.value.additionalContacts.OTHER_3" type="text"
                   class="form-control" ng-maxlength="255" ng-change="$ctrl.onChange()">
        </div>
    </div>
</div>