<div class="row" translate-namespace="Persons.Group.Form.Members" ng-form="$ctrl.form">
    <div class="col-md-4 col-md-offset-8">
        <div class="form-group">
            <label for="valueType"><span translate>.ValueType</span></label>
            <select id="valueType" name="valueType" class="form-control"
                    data-ng-model="$ctrl.value.valueType" data-ng-change="$ctrl.onChange()">
                <option value="PERCENT" translate>.PERCENT</option>
                <option value="FRACTION" translate>.FRACTION</option>
                <option value="COEFFICIENT" translate>.COEFFICIENT</option>
            </select>
        </div>
    </div>
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-condensed table-bordered">
                <colgroup>
                    <col class="col-md-7">
                    <col class="col-md-4">
                    <col class="col-md-1">
                </colgroup>
                <thead>
                <tr>
                    <th><span translate>.Name</span></th>
                    <th><span translate>.Value</span></th>
                    <th><span translate>.Actions</span></th>
                </tr>
                </thead>
                <tr ng-repeat="item in $ctrl.value.members">
                    <td>
                        <person-select ng-model="item.member" ng-required="true" data-ng-change="$ctrl.onChange()"
                                       data-condominium-id="$ctrl.condominium.id" data-include-groups="false"></person-select>
                    </td>
                    <td>
                        <div class="form-group">
                        <span class="input-group">
                            <input type="text" ng-model="item.value" data-ng-min="0"
                                   ng-currency
                                   data-currency-symbol="" data-fraction="{{ $ctrl.getCurrentFraction() }}"
                                   ng-change="$ctrl.onValueChange()"
                                   ng-required="true" class="form-control text-right" data-hard-cap="true">
                            <span class="input-group-addon" ng-switch="$ctrl.value.valueType">
                                <span ng-switch-when="PERCENT">%</span>
                                <span ng-switch-when="FRACTION"> / {{ $ctrl.sum | number : 0 }}</span>
                                <span ng-switch-when="COEFFICIENT">&nbsp;</span>
                            </span>
                        </span>
                        </div>
                    </td>
                    <td class="text-right">
                        <button class="btn btn-sm btn-danger" data-ng-disabled="$ctrl.model.members.length <= 2"
                                ng-click="$ctrl.removeRow($index)">
                            <i class="fa fa-remove"></i>
                            <span translate>.RemoveRow</span>
                        </button>
                    </td>
                </tr>
                <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td class="text-right">
                        <div class="form-group">
                        <span class="input-group">
                            <input type="text" readonly="readonly" class="form-control text-right"
                                   ng-model="$ctrl.sum" data-ng-min="$ctrl.getSumMinValue()" data-ng-max="100"
                                   ng-currency data-currency-symbol="" data-fraction="{{ $ctrl.getCurrentFraction() }}"
                                   ng-required="true">
                            <span class="input-group-addon" ng-switch="$ctrl.value.valueType">
                                <span ng-switch-when="PERCENT">%</span>
                                <span ng-switch-when="FRACTION"> / {{ $ctrl.sum | number : 0 }}</span>
                                <span ng-switch-when="COEFFICIENT">&nbsp;</span>
                            </span>
                        </span>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-primary"
                                ng-click="$ctrl.addRow()">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddRow</span>
                        </button>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>