<div class="row" translate-namespace="Persons.Group.Form">
    <div class="col-md-8 col-sm-12">
        <div class="form-group">
            <label for="name"><span translate>.Name</span><span> *</span></label>
            <input id="name" name="name" ng-model="$ctrl.value.master.companyName" maxlength="120" ng-required="true"
                   class="form-control" ng-minlength="3" ng-maxlength="120" data-ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="payment"><span translate>.Payment</span><span> *</span></label>
            <select id="payment" name="payment" class="form-control"
                    ng-required="true" data-ng-model="$ctrl.value.payment" data-ng-change="$ctrl.onChange()"
                    ng-options="mt as ('Persons.Group.Form.' + mt | translate) for mt in $ctrl.managementTypes">
            </select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="communication"><span translate>.Communication</span><span> *</span></label>
            <select id="communication" name="communication" class="form-control"
                    ng-required="true" data-ng-model="$ctrl.value.communication" data-ng-change="$ctrl.onChange()"
                    ng-options="mt as ('Persons.Group.Form.' + mt | translate) for mt in $ctrl.managementTypes">
            </select>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="accounting"><span translate>.Accounting</span><span> *</span></label>
            <select id="accounting" name="accounting" class="form-control"
                    ng-required="true" data-ng-model="$ctrl.value.accounting" data-ng-change="$ctrl.onChange()"
                    ng-options="mt as ('Persons.Group.Form.' + mt | translate) for mt in $ctrl.managementTypes">
            </select>
        </div>
    </div>
</div>