<div class="row" translate-namespace="Persons.Form">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="companyName" translate>.CompanyName</label>
            <input id="companyName" name="companyName" ng-model="$ctrl.value.companyName"
                   class="form-control" ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix hidden-lg hidden-md visible-sm hidden-xs"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="firstName"><span translate>.FirstName</span><span ng-if="!$ctrl.value.companyName || $ctrl.value.lastName"> *</span></label>
            <input id="firstName" name="firstName" ng-model="$ctrl.value.firstName"
                   class="form-control" ng-required="!$ctrl.value.companyName || $ctrl.value.lastName"
                   ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="lastName"><span translate>.LastName</span><span ng-if="!$ctrl.value.companyName || $ctrl.value.firstName"> *</span></label>
            <input id="lastName" name="lastName" ng-model="$ctrl.value.lastName"
                   class="form-control" ng-required="!$ctrl.value.companyName || $ctrl.value.firstName"
                   ng-minlength="3" ng-maxlength="120" ng-change="$ctrl.onChange()">
        </div>
    </div>
    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="taxCode"><span translate>.TaxCode</span><span> *</span></label>
            <tax-code-input id="taxCode" name="taxCode" ng-model="$ctrl.value.taxCode" ng-required="true"
                            ng-change="$ctrl.onChange()"></tax-code-input>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group">
            <label for="vatNumber"><span translate>.VatNumber</span><span ng-if="$ctrl.value.companyName"> *</span></label>
            <vat-code-input id="vatNumber" name="vatNumber" ng-model="$ctrl.value.vatNumber"
                            ng-disabled="!$ctrl.value.companyName" ng-required="$ctrl.value.companyName"
                            ng-change="$ctrl.onChange()"></vat-code-input>
        </div>
    </div>
</div>