<div class="content" ng-model-options="{ debounce: 250 }">
    <uib-tabset active="$ctrl.activeTab">
        <uib-tab index="0" heading="{{ 'Persons.Form.Identification' | translate }}">
            <identification-input ng-model="$ctrl.value" ng-change="$ctrl.onChange($value)"></identification-input>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'Persons.Form.PostalAddress' | translate }}">
            <address-international-input id="postal" ng-required="false" ng-model="$ctrl.value.postalAddress"
                           ng-change="$ctrl.onChange()"></address-international-input>
        </uib-tab>
        <uib-tab index="2" heading="{{ 'Persons.Form.ResidenceAddress' | translate }}">
            <address-international-input id="residence" ng-required="false" ng-model="$ctrl.value.residenceAddress"
                           ng-change="$ctrl.onChange()"></address-international-input>
        </uib-tab>
        <uib-tab index="3" heading="{{ 'Persons.Form.Contacts' | translate }}">
            <contacts-input ng-model="$ctrl.value" ng-change="$ctrl.onChange()"></contacts-input>
        </uib-tab>
    </uib-tabset>
</div>
