<form novalidate name="form" translate-namespace="Persons.Picker">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner-loader ng-if="$ctrl.loading"></spinner-loader>
        <div class="table-responsive" ng-hide="$ctrl.loading">
            <table ng-table="$ctrl.tableParams" class="table table-condensed table-striped table-bordered">
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-3">
                    <col class="col-md-4">
                </colgroup>
                <tr ng-repeat="item in $data">
                    <td data-title="'Persons.Picker.Type' | translate" class="text-center">
                        <a href="" ng-click="$ctrl.doPick(item)" class="btn btn-link btn-xs">
                            <i class="fa fa-check"></i>
                        </a>
                    </td>
                    <td data-title="'Persons.Picker.TaxCode' | translate"
                        data-filter="{ taxCode: 'text' }"
                        data-sortable="'taxCode'" class="text-center">
                        {{ item.taxCode }}
                    </td>
                    <td data-title="'Persons.Picker.VatNumber' | translate"
                        data-filter="{ vatNumber: 'text' }"
                        data-sortable="'vatNumber'" class="text-center">
                        {{ item.vatNumber }}
                    </td>
                    <td data-title="'Persons.Picker.Name' | translate"
                        data-filter="{ name: 'text' }">
                        {{ item | fullName }}
                    </td>
                    <td data-title="'Persons.Picker.Address' | translate">
                        {{ item.postalAddress | address }}
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
    </div>
</form>
