.person-container {
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    vertical-align: middle;
    .form-group {
      margin-bottom: 0;
    }
  }

  .tab-content > .tab-pane {
    .m-t-md;
  }
}