<div class="wrapper wrapper-content person-container" translate-namespace="Persons.List">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate translate-values="$ctrl.condominium">.Title</h5>
                    <div class="ibox-tools text-right">
                        <a ui-sref=".create" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <a ui-sref=".createGroup" class="btn btn-sm btn-primary">
                            <i class="fa fa-group"></i>
                            <span translate>.AddGroup</span>
                        </a>
                        <button ng-click="$ctrl.toggleFilters()" class="btn btn-sm btn-default">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="table-responsive">
                        <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters"
                               class="table table-striped table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-3">
                                <col class="col-md-3">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="item in $data">
                                <td data-title="'Persons.List.Type' | translate"
                                    data-filter="{ groups: 'select' }" data-filter-data="$ctrl.groupFilter"
                                    class="text-center">
                                    <i class="fa fa-user" ng-if="!item.group"></i>
                                    <i class="fa fa-users" ng-if="item.group"></i>
                                </td>
                                <td data-title="'Persons.List.TaxCode' | translate"
                                    data-filter="{ taxCode: 'text' }"
                                    data-sortable="'taxCode'" class="text-center">
                                    {{ item.taxCode }}
                                </td>
                                <td data-title="'Persons.List.VatNumber' | translate"
                                    data-filter="{ vatNumber: 'text' }"
                                    data-sortable="'vatNumber'" class="text-center">
                                    {{ item.vatNumber }}
                                </td>
                                <td data-title="'Persons.List.Name' | translate"
                                    data-filter="{ name: 'text' }">
                                    {{ item | fullName }}</td>
                                <td data-title="'Persons.List.Address' | translate">
                                    {{ item.postalAddress | address }}
                                </td>
                                <td data-title="'Persons.List.Actions' | translate" class="text-right">
                                    <span ng-if="item.group">
                                        <a ui-sref=".editGroup({groupId: item.id})"
                                           uib-tooltip="{{ 'Persons.Group.List.Edit' | translate }}"
                                           tooltip-placement="top"
                                           tooltip-append-to-body="true"
                                           class="btn btn-circle btn-primary" type="button">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <button ng-click="$ctrl.deleteGroup(item)"
                                                uib-tooltip="{{ 'Persons.Group.List.Delete' | translate }}"
                                                tooltip-placement="top"
                                                tooltip-append-to-body="true"
                                                class="btn btn-circle btn-danger" type="button">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>
                                    <span ng-if="!item.group">
                                        <a ui-sref=".edit({personId: item.id})"
                                           uib-tooltip="{{ 'Persons.List.Edit' | translate }}"
                                           tooltip-placement="top"
                                           tooltip-append-to-body="true"
                                           class="btn btn-circle btn-primary" type="button">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <button ng-click="$ctrl.deletePerson(item)"
                                                uib-tooltip="{{ 'Persons.List.Delete' | translate }}"
                                                tooltip-placement="top"
                                                tooltip-append-to-body="true"
                                                class="btn btn-circle btn-danger" type="button">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>