<div class="input-group">
    <input id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.class }}" maxlength="70"
           data-ng-model="$ctrl.fullName" data-ng-required="$ctrl.ngModelCtrl.required" data-ng-maxlength="70"
           data-ng-disabled="$ctrl.ngDisabled"
           uib-typeahead="person.id as person | fullName for person in $ctrl.getPersons($viewValue)"
           data-typeahead-append-to-body="true" data-typeahead-editable="false"
           data-typeahead-min-length="3"
           data-typeahead-on-select="$ctrl.onSelect($item, $model, $label, $event)"
           data-typeahead-wait-ms="250">
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="$ctrl.openPicker()" data-ng-disabled="$ctrl.ngDisabled">
            <i class="fa fa-search"></i>
        </button>
        <button type="button" class="btn btn-default" ng-click="$ctrl.clearValue()" data-ng-disabled="$ctrl.ngDisabled">
            <i class="fa fa-remove"></i>
        </button>
    </span>
</div>