<div class="content" ng-model-options="{ debounce: 250 }" ng-form="$ctrl.form">
    <uib-tabset active="$ctrl.activeTab">
        <uib-tab index="0" heading="{{ 'Persons.Form.Identification' | translate }}">
            <group-identification-input data-ng-model="$ctrl.value" data-ng-change="$ctrl.onChange()"></group-identification-input>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'Persons.Form.PostalAddress' | translate }}">
            <address-international-input id="postal" ng-required="false" ng-model="$ctrl.value.master.postalAddress"
                           data-ng-change="$ctrl.onChange()"></address-international-input>
        </uib-tab>
        <uib-tab index="2" heading="{{ 'Persons.Form.ResidenceAddress' | translate }}">
            <address-international-input id="residence" ng-required="false" ng-model="$ctrl.value.master.residenceAddress"
                           data-ng-change="$ctrl.onChange()"></address-international-input>
        </uib-tab>
        <uib-tab index="3" heading="{{ 'Persons.Form.Contacts' | translate }}">
            <contacts-input ng-model="$ctrl.value.master" data-ng-change="$ctrl.onChange()"></contacts-input>
        </uib-tab>
        <uib-tab index="4" heading="{{ 'Persons.Group.Form.Members.Title' | translate }}">
            <group-members-input ng-model="$ctrl.value" data-condominium="$ctrl.condominium"
                                 data-ng-change="$ctrl.onChange()"></group-members-input>
        </uib-tab>
    </uib-tabset>
</div>
