<div class="structure-container owners-container">
    <form novalidate translate-namespace="Structures.Owners.History">
        <div class="modal-header">
            <h4 class="modal-title" translate>.Title</h4>
        </div>
        <div class="modal-body">
            <div class="vertical-container dark-timeline">
                <div class="vertical-timeline-block" ng-repeat="owner in $ctrl.history">
                    <div class="vertical-timeline-icon">
                        <i class="fa" ng-class="{ 'fa-exchange': !$first, 'fa-user': $first }"></i>
                    </div>
                    <div class="vertical-timeline-content">
                        <h2>
                            <span ng-if="$first" translate>.Assign</span>
                            <span ng-if="!$first" translate>.Exchange</span>
                        </h2>
                        <dl>
                            <dt ng-repeat-start="role in owner.roles">{{ 'Structures.Edit.Role.Type.' + role.roleType | translate }}</dt>
                            <dd ng-repeat-end>{{ role | fullName }}</dd>
                        </dl>
                        <span class="vertical-date">
                            <small>{{ owner.from | date: 'shortDate' }}<span ng-if="!$last"> - {{ owner.to | date: 'shortDate' }}</span></small>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Close</button>
        </div>
    </form>
</div>