<div class="ibox float-e-margins" translate-namespace="Structures.Owners.Edit">
    <div class="ibox-title">
        <h5 translate translate-values="$ctrl.housingUnit">.Title</h5>
    </div>
    <div class="ibox-content" ng-form="$ctrl.form">
        <div class="row">
            <div class="col-md-12">
                <owner-input ng-model="$ctrl.owner"
                             min-date="$ctrl.minDate"
                             data-condominium="$ctrl.condominium"
                             housing-unit-id="$ctrl.housingUnit.id"></owner-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary"
                        data-ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                        progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
                <a ui-sref="^" class="btn btn-default" type="button" translate>.Cancel</a>
            </div>
        </div>
    </div>
</div>