<div translate-namespace="Structures.Owners.Form">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                <label><span translate>.OwnerType</span></label>
                <p class="form-control-static">
                    <span ng-repeat="role in $ctrl.owner.roles">
                    {{ 'Structures.Edit.Role.Type.' + role.roleType | translate }}<span ng-if="!$last"> - </span>
                    </span>
                </p>
            </div>
        </div>
        <div class="col-md-4  col-xs-12">
            <div class="form-group">
                <label><span translate>.FromDate</span></label>
                <p class="form-control-static">
                    {{ $ctrl.owner.from | date: 'shortDate' }}
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-condensed">
                    <colgroup>
                        <col class="col-md-6">
                        <col class="col-md-6">
                    </colgroup>
                    <tr>
                        <th><span translate>.Person</span></th>
                        <th><span translate>.Role</th>
                    </tr>
                    <tr ng-repeat="role in $ctrl.owner.roles">
                        <td>{{ role | fullName }}</td>
                        <td>{{ 'Structures.Edit.Role.Type.' + role.roleType | translate }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>