<div translate-namespace="Structures.Owners.Form">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="form-group">
                <label for="ownerType"><span translate>.OwnerType</span><span> *</span></label>
                <select id="ownerType"
                        name="ownerType"
                        class="form-control"
                        data-ng-model="$ctrl.ownerType"
                        data-ng-change="$ctrl.onOwnerTypeChange()"
                        data-ng-required="true"
                        ng-options="owner as owner.title for owner in $ctrl.dependendOwners"></select>
            </div>
        </div>
        <div class="col-md-4  col-xs-12">
            <div class="form-group">
                <label for="fromDate"><span translate>.FromDate</span><span> *</span></label>
                <div class="input-group">
                    <input id="fromDate" name="fromDate" class="form-control text-right" ng-model="$ctrl.value.from"
                           data-ng-change="$ctrl.onChange()"
                           ng-required="true"
                           data-datepicker-options="$ctrl.fromOptions"
                           ng-model-options="{timezone: 'utc'}"
                           uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                           is-open="$ctrl.fromDateOpened"
                           on-open-focus="true"
                           show-button-bar="false"
                           disable-valid-styling="true">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="$ctrl.fromDateOpened = !$ctrl.fromDateOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="!$ctrl.value.owners">
        <div class="col-md-12">
            <div class="alert alert-info">
                <span translate>.SelectType</span>
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="owner in $ctrl.value.owners">
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label for="person"><span translate>.Person</span> *</label>
                <person-select id="person" name="person"
                               data-ng-model="owner.person"
                               data-ng-change="$ctrl.onChange()"
                               data-condominium-id="$ctrl.condominium.id">
                </person-select>
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="form-group">
                <label><span translate>.Role</span></label>
                <p class="form-control-static">{{ 'Structures.Edit.Role.Type.' + owner.roleType | translate }}</p>
            </div>
        </div>
    </div>
</div>