<div class="row" translate-namespace="Structures.Owners.List">
    <div class="col-md-6">
        <div class="alert alert-warning" ng-if="$ctrl.noOwnersCount > 0">
            <strong translate>.NoOwnersCount</strong>
        </div>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-default" ng-click="$ctrl.toggleFilters()">
            <i class="fa fa-search"></i>
            <span translate>.ToggleFilters</span>
        </button>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12 m-t-sm">
        <div class="table-responsive">
            <table ng-table="$ctrl.tableParams" data-show-filter="$ctrl.showFilters"
                   class="table table-condensed table-striped table-bordered">
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-1">
                </colgroup>
                <tr ng-repeat="row in $data" ng-class="{ 'danger': row.roles.length === 0 }">

                    <td data-title="'Structures.Owners.List.Building' | translate"
                        data-filter="{ buildingId: 'select' }"
                        data-filter-data="$ctrl.getBuildings()"
                        class="text-center">
                        {{ row.building }}
                    </td>
                    <td data-title="'Structures.Owners.List.Group' | translate"
                        data-filter="{ groupId: 'app/structures/owners/building-group-filter.html' }"
                        class="text-center">
                        {{ row.group }}
                    </td>
                    <td data-title="'Structures.Owners.List.HousingUnit' | translate"
                        data-filter="{ unit: 'text' }"
                        class="text-center">
                        {{ row.unit }}
                    </td>
                    <td data-title="'Structures.Owners.List.Owners' | translate">
                        <span ng-repeat="role in row.roles">
                            {{ role | fullName }}<hr ng-if="!$last">
                        </span>
                    </td>
                    <td data-title="'Structures.Owners.List.Role' | translate"
                        class="text-center">
                        <span ng-repeat="role in row.roles">
                            {{ 'Structures.Edit.Role.Type.' + role.roleType | translate }}<hr ng-if="!$last">
                        </span>
                    </td>
                    <td data-title="'Structures.Owners.List.Actions.Label' | translate" class="text-right">
                        <a ui-sref="index.condominiumStructure.owners.edit({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="row.roles.length > 0 && row.hasTerminatedOwners == true"
                           disabled="disabled"
                           uib-tooltip="{{ 'Structures.Owners.List.Actions.NoEditOwners' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.owners.edit({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="row.roles.length > 0 && row.hasTerminatedOwners == false"
                           uib-tooltip="{{ 'Structures.Owners.List.Actions.EditOwners' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.owners.list.assign({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-show="row.roles.length <= 0"
                           uib-tooltip="{{ 'Structures.Owners.List.Actions.NewOwner' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-user-plus"></i>
                        </a>
                        <a ui-sref="index.condominiumStructure.owners.list.replace({ unitId: row.unitId })"
                           class="btn btn-circle btn-sm btn-default"
                           data-ng-disabled="row.roles.length === 0"
                           uib-tooltip="{{ 'Structures.Owners.List.Actions.Takeover' | translate }}"
                           data-tooltip-placement="top"
                           data-tooltip-append-to-body="true">
                            <i class="fa fa-random"></i>
                        </a>
                        <button ng-click="$ctrl.showHistory(row.unitId)"
                                class="btn btn-circle btn-sm btn-default"
                                data-ng-disabled="row.roles.length === 0"
                                uib-tooltip="{{ 'Structures.Owners.List.Actions.History' | translate }}"
                                data-tooltip-placement="top"
                                data-tooltip-append-to-body="true">
                            <i class="fa fa-history"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/structures/owners/building-group-filter.html">
    <select name="{{ name }}"
            class="input-filter form-control"
            data-ng-disabled="$filterRow.disabled"
            data-ng-model="params.filter()[name]"
            data-ng-options="g.id as g.fullTitle for g in $ctrl.getGroups() track by g.id">
        <option value=""></option>
    </select>
</script>