<div class="content">
    <div class="row">
        <div class="col col-lg-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'detail' | translate }}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>C.F.:</dt>
                        <dd>{{condominium_data.taxCode}}</dd>
                        <dt>{{'address' |translate}}:</dt>
                        <dd>{{condominium_data.address.streetName}} {{condominium_data.address.buildingNumber}}</dd>
                        <dt>{{ 'town' | translate}}</dt>
                        <dd>{{condominium_data.address.town}}</dd>
                        <dt>{{ 'postalCode' | translate}}</dt>
                        <dd>{{condominium_data.address.postalCode}}</dd>
                        <dt>{{ 'district' | translate}}:</dt>
                        <dd>{{condominium_data.address.district}}</dd>
                        <dt>{{ 'province' | translate}} - {{ 'country' | translate}}:</dt>
                        <dd>{{condominium_data.address.province}} - {{condominium_data.address.country}}</dd>
                        <dt>{{ 'notes' | translate}}:</dt>
                        <dd>{{condominium_data.notes}}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col col-lg-6 col-sm-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ 'manager' |translate }}: {{condominium_data.manager.firstName}}
                        {{condominium_data.manager.lastName}}</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{{ 'company' | translate}}:</dt>
                        <dd>{{condominium_data.manager.companyName}}</dd>
                        <dt>C.F.:</dt>
                        <dd>{{condominium_data.manager.taxCode}}</dd>
                        <dt>{{ 'phone' | translate}}:</dt>
                        <dd>{{condominium_data.manager.contacts.PHONE}}</dd>
                        <dt>{{ 'fax' | translate}}:</dt>
                        <dd>{{condominium_data.manager.contacts.FAX}}</dd>
                        <dt>{{ 'mobile' | translate}}:</dt>
                        <dd>{{condominium_data.manager.contacts.MOBILE}}</dd>
                        <dt>{{ 'email' | translate}}:</dt>
                        <dd>{{condominium_data.manager.contacts.EMAIL}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-if="condominium_map">
        <div class="col-lg-12" style="height:300px">
            <ui-gmap-google-map
                    center="condominium_map.center"
                    zoom="condominium_map.zoom"
                    control="condominium_map.control"
                    options="condominium_map.options"
                    ng-cloak id="condominium-map">

                <ui-gmap-marker coords="{latitude: condominium_data.address.lat, longitude: condominium_data.address.lng}" idKey="condominium_data.id"/>

            </ui-gmap-google-map>
        </div>
    </div>
</div>


<!-- OLD layout
<div class="content">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'detail' | translate }}</h3>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="col-lg-12">
                    <div class="row">

                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-info m-r-xs"></span>
                                <label>C.F.:</label>
                                {{condominium_data.taxCode}}
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>{{'address' |translate}}:</label>
                                {{condominium_data.address.streetName}} {{condominium_data.address.buildingNumber}}
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>{{ 'town' | translate}}</label>
                                {{condominium_data.address.town}}
                                <label>{{ 'postalCode' | translate}}</label>
                                {{condominium_data.address.postalCode}}
                                <label>{{ 'district' | translate}}</label>
                                {{condominium_data.address.district}}
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>{{ 'province' | translate}}</label>
                                {{condominium_data.address.province}}
                                <label>{{ 'country' | translate}}</label>
                                {{condominium_data.address.country}}
                            </li>
                            <li>
                                <span class="fa fa-home m-r-xs"></span>
                                <label>{{ 'notes' | translate}}</label>
                                {{condominium_data.notes}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">{{ 'manager' |translate }}: {{condominium_data.manager.firstName}} {{condominium_data.manager.lastName}}</h3>
        </div>
        <div class="panel-body">
            <div class="">
                <div class="col-lg-12">
                    <div class="row">

                        <ul class="list-unstyled m-t-md">
                            <li>
                                <span class="fa fa-info m-r-xs"></span>
                                <label>{{ 'company' | translate}}</label>
                                {{condominium_data.manager.companyName}}
                            </li>
                            <li>
                                <span class="fa fa-info m-r-xs"></span>
                                <label>C.F.:</label>
                                {{condominium_data.manager.taxCode}}
                            </li>

                            <li>
                                <span class="fa fa-phone m-r-xs"></span>
                                <label>{{ 'phone' | translate}}:</label>
                                {{condominium_data.manager.contacts.PHONE}}
                            </li>
                            <li>
                                <span class="fa fa-fax m-r-xs"></span>
                                <label>{{ 'fax' | translate}}:</label>
                                {{condominium_data.manager.contacts.FAX}}
                            </li>
                            <li>
                                <span class="fa fa-mobile m-r-xs"></span>
                                <label>{{ 'mobile' | translate}}:</label>
                                {{condominium_data.manager.contacts.MOBILE}}
                            </li>
                            <li>
                                <span class="fa fa-envelope m-r-xs"></span>
                                <label>{{ 'email' | translate}}:</label>
                                {{condominium_data.manager.contacts.EMAIL}}
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


 END old layout -->