<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-6" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
            <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
                <i class="fa fa-building fa-4x"></i>
            </div>
            <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
                <h1>Condominio</h1> <!-- {{description}} -->
            </span></p>
        </div>

        <div class="col-sm-6">
            <button ui-sref="index.structure.housing-unit-group({condominiumId: condominiumId, huGroupId: 'new' })"
                    tooltip-placement="left" uib-tooltip="Aggiungi scala"
                    class="btn btn-primary dim flat btn-medium-dim" style="float:right; margin-right: 22px;" type="button">
                <span class="icon-stack icon-4x">
                    <i class="fa fa-object-ungroup upper-left"></i>
                    <i class="fa fa-plus overlay-lower-right icon-highlight"></i>
                </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <div ng-include="'app/structures-legacy/partials/condominium-details.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>


