<div class="wrapper wrapper-content ">
    <div class="row">
        <spinner-loader ng-if="loading"></spinner-loader>
        <div class="col-lg-12" ng-if="!loading">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'select.condominium'|translate}}</h5>
                    <div ibox-tools class="text-right">
                        <button ui-sref="index.wizard.step1({id : 'new' })" tooltip-placement="top" uib-tooltip="{{'condominium.add.tooltip'|translate}}"
                            class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            {{'condominium.add.label'|translate}}
                        </button>
                    </div>
                </div>
                <div class="ibox-content">
                    <table width="100%" datatable="ng" dt-options="dtOptions" class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                            <tr>
                                <th>{{ 'code' | translate }}</th>
                                <th>{{ 'name' | translate }}</th>
                                <th>{{ 'address' | translate }}</th>
                                <th>{{ 'manager' | translate }}</th>
                                <th>{{ 'actions' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in condominium.content">
                                <td>{{ item.taxCode }}</td>
                                <td>
                                    <a ng-click="condominiumSelection(item.id)">{{ item.name }}</a>
                                    <!-- {{ item.name }} -->
                                </td>
                                <td>
                                    {{item.streetName}} {{item.buildingNumber}}, {{item.town}}{{item.town?',':''}} {{item.district}} ({{item.province}})
                                </td>
                                <td>{{ item.managerFirstName}} {{ item.managerLastName}}</td>
                                <td>
                                    <button permission permission-only="'ROLE_INSTALLER_FORCE_EDIT_STRUCTURE'" ui-sref="index.wizard.step1({id : item.id })"
                                        tooltip-placement="top" uib-tooltip="{{ 'condominium.modify.tooltip' | translate }}"
                                        class="btn btn-circle btn-primary" type="button">
                                    <i class="fa fa-edit"></i>
                                </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>