<form novalidate role="form" name="form" ng-submit="load(form)">

    <div class="modal-header">
        <i class="fa fa-calendar modal-icon"></i>
        <h4 class="modal-title">{{ 'condominium.report.energy.selectReferencePeriod' | translate }}</h4>
        <h5>{{subtitle}}</h5>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="periodDateFrom">{{ 'condominium.report.energy.periodSelect.dateFrom' | translate }}:</label>
                    <div class="input-group full-width">
                        <select id="periodDateFrom" name="periodDateFrom" class="form-control" ng-options="month.value as month.label for month in startMonths" ng-model="filter.startDate"></select>
                        <!--<input id="periodDateFrom" name="periodDateFrom" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" datepicker-options="{initDate: filter.startDate}" ng-model="filter.startDate" is-open="startDateOpened" ng-required="true" on-open-focus="true" show-button-bar="false" disable-valid-styling="true"/>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default" ng-click="startDateOpened = !startDateOpened">-->
                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                    </div>
                </div>

            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="periodDateTo">{{ 'condominium.report.energy.periodSelect.dateTo' | translate }}:</label>
                    <div class="input-group full-width">
                        <select id="periodDateTo" name="periodDateTo" class="form-control" ng-options="month.value as month.label for month in endMonths" ng-model="filter.endDate"></select>
                        <!--<input id="periodDateTo" name="periodDateTo" type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" datepicker-options="{initDate: filter.endDate}" ng-model="filter.endDate" is-open="endDateOpened" ng-required="true" on-open-focus="true" show-button-bar="false" disable-valid-styling="true"/>-->
                        <!--<span class="input-group-btn">-->
                            <!--<button type="button" class="btn btn-default" ng-click="endDateOpened = !endDateOpened">-->
                                <!--<i class="glyphicon glyphicon-calendar"></i>-->
                            <!--</button>-->
                        <!--</span>-->
                    </div>
                </div>
            </div>
        </div>
        
<style>
.bottom-stroke {
    border-bottom: 1px solid #ddd;
}
.bottom-stroke > label {
    line-height: 32px;
    margin-bottom: 0;
}
.top-divider {
    border-top: 2px solid #999;
    padding-top: 10px;
}
</style>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-fire fa-fw fa-2x"></i>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6 bottom-stroke">
                    <label for="totalHeatAmount">{{ 'condominium.report.energy.totalHeatAmount' | translate }}:</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <input id="totalHeatAmount" type="number" ng-model="filter.totalHeatAmount" ng-required="true" ng-min="0" class="form-control text-right">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-xs-1">
                    <i class="fa fa-tint fa-fw fa-2x"></i>
                </div>
                <div class="col-xs-5 col-sm-5 col-md-6 bottom-stroke">
                    <label for="totalWaterAmount">{{ 'condominium.report.energy.totalWaterAmount' | translate }}:</label>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-5">
                    <input id="totalWaterAmount" type="number" ng-model="filter.totalWaterAmount" ng-required="true" ng-min="0" class="form-control text-right">
                </div>
            </div>
        </div>
       

<!-- other cossts -->
        <div class="form-group top-divider">
            <div class="row">
                <div class="col-xs-1 col-md-1">
                    <i class="fa fa-eur fa-fw fa-2x"></i>
                </div>
                <div class="col-xs-8 col-md-8 bottom-stroke">
                    <label>{{'condominium.report.energy.othercost.title' | translate }}</label>
                </div>
                <div class="col-xs-3 col-md-3 text-right">
                    <button type="button" class="btn btn-success" ng-click="addOtherCost()">{{'condominium.report.energy.othercost.add.btn' | translate }}</button>
                </div>
            </div>
        </div>
       
        <div class="form-group" ng-repeat="cost in filter.otherCosts">
            <div class="row">
                <div class="col-xs-4">
                    <input id="othercost-label" class="form-control" type="text" ng-model="cost.label" placeholder="{{'condominium.report.energy.othercost.label' | translate }}" disable-validation-message="" required>
                </div>
                <div class="col-xs-4">
                    <select class="form-control" ng-model="cost.thousandthTableId" ng-options="table.id as table.description for table in distributionTables" required></select>
                </div>
                <div class="col-xs-3">
                    <input id="othercost-amount" class="form-control text-right" type="number" ng-model="cost.amount" ng-min="0" placeholder="{{'condominium.report.energy.othercost.amount' | translate }}" disable-validation-message="" required>
                </div>
                <div class="col-xs-1">
                    <a class="btn btn-danger btn-circle" ng-click="removeOtherCost(cost)" title="{{'condominium.report.energy.othercost.del.btn' | translate }}"><i class="fa fa-times"></i></a>
                </div>
            </div>
        </div>


<!--         <div class="row">
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="totalHeatAmount">{{ 'condominium.report.energy.totalHeatAmount' | translate }}:</label>
                    <input id="totalHeatAmount" type="number" ng-model="filter.totalHeatAmount" ng-required="true" class="form-control text-right">
                </div>
            </div>
            <div class="col-xs-6">
                <div class="form-group">
                    <label for="totalWaterAmount">{{ 'condominium.report.energy.totalWaterAmount' | translate }}:</label>
                    <input id="totalWaterAmount" type="number" ng-model="filter.totalWaterAmount" ng-required="true" class="form-control text-right">
                </div>
            </div>
        </div>
        <label ng-if="filter.otherCosts.length > 0">{{'condominium.report.energy.othercost.title' | translate }}</label>
        <div class="form-inline other-cost-row" ng-repeat="cost in filter.otherCosts">
            <div class="form-group">
                <input id="othercost-label" class="form-control" type="text" ng-model="cost.label" placeholder="{{'condominium.report.energy.othercost.label' | translate }}" disable-validation-message="" required>
            </div>
            <div class="form-group">
                <input id="othercost-amount" class="form-control text-right" type="number" ng-model="cost.amount" placeholder="{{'condominium.report.energy.othercost.amount' | translate }}" disable-validation-message="" required>
            </div>
            <div class="form-group">
                <select class="form-control" ng-model="cost.thousandthTableId" ng-options="table.id as table.description for table in distributionTables" required></select>
            </div>
            <a class="btn btn-danger" ng-click="removeOtherCost(cost)"><i class="fa fa-trash-o"></i></a>
        </div>

 -->


    </div>

    <div class="modal-footer">
        <button ng-click="close()" class="btn btn-default" type="button">{{"cancel" |translate}}</button>
        <button class="btn btn-primary" type="submit">{{"generate" |translate}}</button>
    </div>
</form>
