<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th class="noBorder unitImm"></th>
                        <th class="noBorder"></th>
                        <th class="noBorder"></th>
                    </tr>
                    <tr class="rowHead">
                        <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}
                            <i class="fa" aria-hidden="true"></i>
                        </th>
                        <th colspan="2">{{cost.label}}</th>
                    </tr>
                    <tr class="rowHead">
                        <th class="bgNeutral noBorderB"></th>
                        <th class="bgPost noBorderB">{{ 'condominium.report.energy.othercost.distribution' | translate }}</th>
                        <th class="bgPost noBorderB">{{ 'condominium.report.energy.othercost.cost' | translate }} &euro;</th>
                    </tr>
<!--                    <tr class="rowHead">
                        <th class="bgNeutral noBorderB"></th>
                        <th class="bgPost noBorderB">( Unità di riparto - es: millesimi, parti uguali, ecc )</th>
                        <th class="bgPost noBorderB"></th>
                    </tr>
-->
                    </thead>
                    <tbody>
                    <tr class="rowDetail">
                        <td class="text-left">{{cost.owner}} ({{cost.stair}}/{{cost.floor}}/{{cost.apartmentNumber}})</td>
                        <td class="text-right">{{cost.thousandthShare | number : 3}}</td>
                        <td class="text-right">{{cost.thousandthCost | number : 2}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
    </div>
</div>