<!DOCTYPE html>
<html>
    <head>
        <title>{{'condominium.report.energy.distributionCalculations' | translate}}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ styles }}
    </head>
    <style>
        body {
            font-size: 10px;
        }
        
        header > #header h2,
        .widget.style1.widgetRiepilogo h2 {
            font-size: 12pt;
            margin-top: 10px;
            margin-bottom: 5px;
        }
        .widget.style1.widgetRiepilogo h2 {
            margin-top: 0;
        }
        
        .widget.style1.widgetRiepilogo {
            padding: 15px;
            border: 1px solid;
        }
        .heatCostReport .ibox .ibox-title {
          min-height: initial;
          padding: 7px 5px 5px 7px;
          font-size: 10pt;
        }
        .heatCostReport .ibox .ibox-title,
        .heatCostReport .ibox .ibox-content {
            border-color: #676a6c;
        }
        @media print {
            body { font-size: 6pt; }
            hr { margin-top: 10px; margin-bottom: 10px; }
        }
        
    </style>
    <body>
        <div class="container">
            <!-- STANDARD REPORT HEADER -->
            <!-- TO DO == Trasformare in un partial -->
            <header>
                <div id="header" class="row">
                    <div class="col-xs-12 col-sm-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 text-center">
                                <h2><strong>{{ 'condominium.report.energy.consumptionReport' | translate }}</strong></h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-sm-6 text-left">
                                <h5>{{condominium.name}} - CF {{ condominium.taxCode }}</h5>
                                <p>{{condominium.address.streetName}}, {{condominium.address.buildingNumber}} - {{condominium.address.postalCode}}<br/>
                                   {{condominium.address.town}} ({{condominium.address.province}})</p>
                            </div>
                            <div class="col-xs-6 col-sm-6 text-right">
                                <h5>{{tables.summary.owner}}</h5>
                                <p>
                                    {{ 'condominium.report.energy.balanceSheetReferredTo' | translate }}
                                    {{report.reportingStartDate | date:'dd/MM/yyyy'}} - {{report.reportingEndDate | date:'dd/MM/yyyy'}}</br>
                                    {{ 'condominium.report.energy.heatingYearReference' | translate }}
                                    {{report.cliStartDate | date:'dd/MM/yyyy'}} - {{report.cliEndDate | date:'dd/MM/yyyy'}}
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </header>

            <!-- REPORT SPECIFIC BODY -->
	    <div id="main" class="row">
	        <div class="col-xs-12 col-sm-12">
	            <div class="row">
                        <div class="col-xs-5 col-xs-offset-7 col-sm-5 col-sm-offset-7">
                            <p class="text-right">Data creazione report: <strong>{{currentDate | date:'dd MMMM yyyy'}}</strong></p>
                        </div>
                    </div>
                
                    <div class="row">
                    <!-- Widget Riepilogo ACS/AFS -->
                    <!--
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="widget style1 lightNeutral-bg widgetRiepilogo">
                                <div class="row">
                                    <div class="col-xs-2 text-center">
                                        <i class="fa fa-fire fa-2x"></i>
                                    </div>
                                    <div class="col-xs-10">
                                        <h2 class="font-bold">{{ 'condominium.report.energy.energySummary' | translate }}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">

                                        <table class="table m-t-xs m-b-xs ">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                                <th class="UM"></th>
                                                <th class="text-right">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                                <th class="UM"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr>
                                                <td>{{ 'condominium.report.energy.totalHeat' | translate }}</td>
                                                <td class="text-right">{{report.totalCliCost | number : 2}}</td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalCliHeatMeter | number : 3}}</td>
                                                <td>KWh</td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'condominium.report.energy.totalACS' | translate }}</td>
                                                <td class="text-right">{{report.totalAcsHeatCost | number : 2}}</td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalAcsHeatMeter | number : 3}}</td>
                                                <td>KWh</td>
                                            </tr>
                                            <tr class="last-row">
                                                <td class="clickable" ng-click="openReportFilterModal()">
                                                    {{ 'condominium.report.energy.totalEnergy' | translate }}
                                                </td>
                                                <td class="text-right clickable" ng-click="openReportFilterModal()">
                                                    {{report.totalCliAmount | number : 2}}
                                                </td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalHeatMeter | number : 3}}</td>
                                                <td>KWh</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    <!-- Widget Riepilogo ACS/AFS -->
                    <!--
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="widget style1 lightNeutral-bg widgetRiepilogo">
                                <div class="row">
                                    <div class="col-xs-2 text-center">
                                        <i class="fa fa-tint fa-2x"></i>
                                    </div>
                                    <div class="col-xs-10">
                                        <h2 class="font-bold">{{ 'condominium.report.energy.waterSummary' | translate }}</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <table class="table m-t-xs m-b-xs ">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th class="text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                                <th class="UM"></th>
                                                <th class="text-right">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                                <th class="UM"></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td>{{ 'condominium.report.energy.totalACS' | translate }}</td>
                                                <td class="text-right">{{report.totalAcsWaterCost | number : 2}}</td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalAcsWaterMeter | number : 3}}</td>
                                                <td>m<sup>3</sup></td>
                                            </tr>
                                            <tr>
                                                <td>{{ 'condominium.report.energy.totalAFS' | translate }}</td>
                                                <td class="text-right">{{report.totalAfsWaterCost | number : 2}}</td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalAfsWaterMeter | number : 3}}</td>
                                                <td>m<sup>3</sup></td>
                                            </tr>
                                            <tr class="last-row">
                                                <td class="clickable" ng-click="openReportFilterModal()">
                                                    {{ 'condominium.report.energy.totalWater' | translate }}
                                                </td>
                                                <td class="text-right clickable" ng-click="openReportFilterModal()">
                                                    {{report.totalWaterAmount | number : 2}}
                                                </td>
                                                <td>&euro;</td>
                                                <td class="text-right">{{report.totalWaterMeter | number : 3}}</td>
                                                <td>m<sup>3</sup></td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    -->
                    </div>
                    
                    <!-- Inizio Renderizzazioni delle tabelle con i dettagli -->
                    <div class="heatCostReport">
                        <!-- Tabella di riepilogo -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">{{ 'condominium.report.energy.consumptionSummary' | translate }}</div>
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="noBorder unitImm"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th rowspan="2" class="noBorder">&nbsp;</th>
                                                <th colspan="2" class="bgAnte">{{ 'condominium.report.energy.table.heading.before102' | translate }}</th>
                                                <th colspan="4" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                                <th colspan="2" class="noBorder">&nbsp;</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th colspan="2" class="">&nbsp;</th>
                                                <th colspan="4" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }} + {{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                                <th colspan="2" class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead rowSpacer">
                                                <th colspan="9" class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}</th>
                                                <th class="noBorderB bgAnte">{{ 'condominium.report.energy.table.heading.energeticMils' | translate }}</th>
                                                <th class="noBorderB bgAnte">{{ 'condominium.report.energy.table.heading.energeticCostDistribution' | translate }}</th>
                                                <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.energeticConsumption' | translate }}</th>
                                                <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.acsConsumption' | translate }}</th>
                                                <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.afsConsumption' | translate }}</th>
                                                <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                                <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.diffAfter102' | translate }}</th>
                                                <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.diffAfter102' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="noBorderB bgNeutral"></th>
                                                <th class="noBorderB bgAnte"></th>
                                                <th class="noBorderB bgAnte">
                                                    <span class="fN fIta">(E) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgPost">
                                                    <span class="fN fIta">(A) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgPost">
                                                    <span class="fN fIta">(B) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgPost">
                                                    <span class="fN fIta">(C) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgNeutral">
                                                    <span class="fN fIta">(A+B+C=D) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgNeutral">
                                                    <span class="fN fIta">(D-E) &euro;</span>
                                                </th>
                                                <th class="noBorderB bgNeutral">
                                                    <span class="fN fIta">(D-E) &percnt;</span>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="rowDetail">
                                                <td class="text-left">{{tables.summary.owner}} ({{tables.summary.stair}}/{{tables.summary.floor}}/{{tables.summary.apartmentNumber}})</td>
                                                <td class="text-right">{{tables.summary.heatingThousandthShare | number : 3}}</td>
                                                <td class="text-right">{{tables.summary.heatingThousandthCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.totalHeatCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.totalAcsCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.totalAfsCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.totalCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.diffCost | number : 2}}</td>
                                                <td class="text-right">{{tables.summary.diffCostPerc | number : 2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hide printBreak">&nbsp;</div>

                        <!-- Tabella riscaldamento -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">{{ 'condominium.report.energy.heatingConsumptionBalance' | translate }}</div>
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="noBorder unitImm"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th rowspan="2" class="noBorder">&nbsp;</th>
                                                <th colspan="5" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                                <th colspan="" class="noBorder">&nbsp;</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th colspan="3" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }}</th>
                                                <th colspan="2" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                                <th class="noBorder">&nbsp;</th>
                                            </tr>
                                            <tr class="rowHead rowSpacer">
                                                <th colspan="7" class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryDistribution' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumptionCostDistrib' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumptionCostDistrib' | translate }}</th>
                                                <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB"></th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.um.mils' | translate }}</th>
                                                <th class="bgPost noBorderB">KWh</th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                                <th class="bgPost noBorderB">KWh</th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                                <th class="bgNeutral noBorderB">&euro;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="rowDetail">
                                                <td class="text-left">{{tables.heating.owner}} ({{tables.heating.stair}}/{{tables.heating.floor}}/{{tables.heating.apartmentNumber}})</td>
                                                <td class="text-right">{{tables.heating.heatingThousandthShare | number : 3}}</td>
                                                <td class="text-right">{{tables.heating.systemHeatLoss | number : 3}}</td>
                                                <td class="text-right">{{tables.heating.systemLossCostAmount | number : 2}}</td>
                                                <td class="text-right">{{tables.heating.meter | number : 3}}</td>
                                                <td class="text-right">{{tables.heating.costAmount | number : 2}}</td>
                                                <td class="text-right">{{tables.heating.totalHeatCost | number : 2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Tabella ACS -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">{{ 'condominium.report.energy.acsConsumptionBalance' | translate }}</div>
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="noBorder unitImm"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th rowspan="2" class="noBorder">&nbsp;</th>
                                                <th colspan="7" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                                <th colspan="" class="noBorder">&nbsp;</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th colspan="3" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }}</th>
                                                <th colspan="4" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                                <th class="noBorder">&nbsp;</th>
                                            </tr>
                                            <tr class="rowHead rowSpacer">
                                                <th colspan="9" class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryDistribution' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumptionCostDistrib' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.acsConsumptionCostDistrib' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.acsConsumptionCostDistrib' | translate }}</th>
                                                <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB"></th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.um.mils' | translate }}</th>
                                                <th class="bgPost noBorderB">KWh</th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                                <th class="bgPost noBorderB">KWh</th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                                <th class="bgPost noBorderB">m<sup>3</sup></th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                                <th class="bgNeutral noBorderB">&euro;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="rowDetail">
                                                <td class="text-left">{{tables.acs.owner}} ({{tables.acs.stair}}/{{tables.acs.floor}}/{{tables.acs.apartmentNumber}})</td>
                                                <td class="text-right">{{tables.acs.acsThousandthShare | number : 3}}</td>
                                                <td class="text-right">{{tables.acs.systemHeatLoss | number : 3}}</td>
                                                <td class="text-right">{{tables.acs.systemLossCostAmount | number : 2}}</td>
                                                <td class="text-right">{{tables.acs.heatMeter | number : 3}}</td>
                                                <td class="text-right">{{tables.acs.costAmount | number : 2}}</td>
                                                <td class="text-right">{{tables.acs.waterMeter | number : 3}}</td>
                                                <td class="text-right">{{tables.acs.waterCostAmount | number : 2}}</td>
                                                <td class="text-right">{{tables.acs.totalAcsCost | number : 2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <!-- Tabella AFS -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">{{ 'condominium.report.energy.afsConsumptionBalance' | translate }}</div>
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th class="noBorder unitImm"></th>
                                                <th class="noBorder"></th>
                                                <th class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th rowspan="2" class="noBorder">&nbsp;</th>
                                                <th colspan="2" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th colspan="2" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead rowSpacer">
                                                <th colspan="3" class="noBorder"></th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                                <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.afsConsumptionCostDistrib' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB"></th>
                                                <th class="bgPost noBorderB">m<sup>3</sup></th>
                                                <th class="bgPost noBorderB">&euro;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="rowDetail">
                                                <td class="text-left">{{tables.afs.owner}} ({{tables.afs.stair}}/{{tables.afs.floor}}/{{tables.afs.apartmentNumber}})</td>
                                                <td class="text-right">{{tables.afs.waterMeter | number : 3}}</td>
                                                <td class="text-right">{{tables.afs.totalAfsCost | number : 2}}</td>
                                            </tr>
                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                        </div>

                        {{otherCostsHtml}}

                    </div>
                    
                    
                </div>
            </div>
            
            <!-- STANDARD REPORT FOOTER -->
            <!-- TO DO == Trasformare in un partial -->
            <footer>
                <div id="footer" class="row">
                    <div class="col-xs-12 col-sm-12">
                        <hr>
                        <div class="row">
                            <div class="col-xs-2 col-sm-2">
                                <p>Salvo errori e/o omissioni</p>
                            </div>
                            <div class="col-xs-8 col-sm-8">
                                <p class="text-center"><strong>Amministratore: {{ condominium.manager.companyName }} </strong></p>
                                <p class="text-center">CF {{ condominium.taxCode }}<br/>{{condominium.address.streetName}}, {{condominium.address.buildingNumber}} - {{condominium.address.postalCode}} - {{condominium.address.town}} - ({{condominium.address.province}})</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            
        </div>
      

    </body>
</html>
