<div class="report-prints">

    <div ng-show="!loading" class="wrapper wrapper-content animated fadeIn ng-scope">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>{{'condominium.report.energy.prints.title' | translate}}</h5>
                        <div ibox-tools class="text-right">
                            <button class="btn btn-sm btn-primary" type="button" ng-click="refresh()">
                                {{'refresh'|translate}}
                                <i class="fa fa-refresh" ng-class="{'fa-spin' : loading}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                            <tr ng-repeat="row in $data">
                                <td data-title="'condominium.report.prints.table.status.label'|translate" sortable="'status'">{{row.reportStatus | translate}}</td>
                                <td data-title="'condominium.report.prints.table.type.label'|translate" sortable="'reportType'">{{row.reportType | translate}}</td>
                                <td data-title="'condominium.report.prints.table.startDate.label'|translate" sortable="'reportingDateFrom'">{{row.reportingDateFrom | date}}</td>
                                <td data-title="'condominium.report.prints.table.endDate.label'|translate" sortable="'reportingDateTo'">{{row.reportingDateTo | date}}</td>
                                <td data-title="'condominium.report.prints.table.otherCosts.label'|translate" >{{row.otherCostsLabels}}</td>
                                <td data-title="'condominium.report.prints.table.totalHeatAmount.label'|translate" class="text-right">{{row.totalHeatAmount | number : 2}}</td>
                                <td data-title="'condominium.report.prints.table.totalWaterAmount.label'|translate" class="text-right">{{row.totalWaterAmount | number : 2}}</td>
                                <td data-title="'condominium.report.prints.table.totalOtherCosts.label'|translate" class="text-right">{{row.totalOtherCosts | number : 2}}</td>
                                <td data-title="'condominium.report.prints.table.action.label'|translate" class="text-center">
                                    <button ng-if="row.reportStatus == 'READY'" class="btn btn-circle btn-primary" type="button" ng-click="downloadReport(row)">
                                        <i class="fa fa-download"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8" class="text-center" ng-if="$data.length == 0">
                                    {{'sEmptyTable' | translate}}
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>