<div class="wrapper wrapper-content" id="condominium-report">


    <spinner-loader ng-show="loadingCondominium"></spinner-loader>

    <div class="row" ng-if="!loadingCondominium">
        <div class="col-md-4 col-md-offset-4">
            <div ng-if="!report" class="widget p-lg widgetRiepilogo text-center inverted">
                <div class="m-b-md">
                    <i class="fa fa-bell fa-4x"></i>

                    <h1 class="m-xs">{{ 'condominium.report.energy.distributionCalculations' | translate }}</h1>
                    <button type="button" class="btn btn-primary btn-lg" ng-click="openReportFilterModal()" ng-disabled="loading">{{ 'condominium.report.energy.selectReferencePeriod' | translate }}</button>

                </div>
            </div>
        </div>
    </div>

    <spinner-loader ng-show="loading"></spinner-loader>
<style>
     .widget-Desc {
         width: 40%;
     }
    .widget-Digit {
        width: 25%;
    }
    .UM {
        width: 5%;
    }
</style>
    <div ng-if="report">
        <div class="row">
            <div class="col-xs-12">
                <div class="widget style1">
                    <div class="row">
                        <div class="col-xs-1 text-center">
                            <i class="fa fa-building-o fa-5x"></i>
                        </div>
                        <div class="col-xs-6">
                            <span>{{condominium.name}}</span>
                            <h2 class="font-bold">{{ 'condominium.report.energy.consumptionReport' | translate }}</h2>
                        </div>
                        <div class="col-xs-5 text-right">
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    {{ 'condominium.report.energy.filterReferredTo' | translate }}
                                    {{report.startFilterDate | date:'dd/MM/yyyy'}} - {{report.endFilterDate | date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    {{ 'condominium.report.energy.balanceSheetReferredTo' | translate }}
                                    {{report.reportingStartDate | date:'dd/MM/yyyy'}} - {{report.reportingEndDate | date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 text-right">
                                    {{ 'condominium.report.energy.heatingYearReference' | translate }}
                                    {{report.thermicYearStartDate | date:'dd/MM/yyyy'}} - {{report.thermicYearEndDate | date:'dd/MM/yyyy'}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <hr>
                                    <a ui-sref="index.condominium-report-prints({condominiumId: condominiumId, backHistory: true})" type="button" class="btn btn-primary btn-sm">
                                        {{'condominium.report.energy.prints.title' | translate}}
                                    </a>
                                    <button ng-click="generateReportPdf()" ng-disabled="loading || loadingPrint" type="button" class="btn btn-primary btn-sm">
                                        {{'print' | translate}}
                                    </button>
                                    <button ng-click="openReportFilterModal()" ng-disabled="loading" tooltip-placement="bottom" uib-tooltip="{{ 'condominium.report.energy.changePeriod.tooltip' | translate }}" type="button" class="btn btn-primary btn-sm">
                                        {{ 'condominium.report.energy.changePeriod' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <!-- Widget Riepilogo Energia/ACS -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget style1 widgetRiepilogo">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 blkSummary">
                            <i class="fa fa-fire fa-fw fa-3x"></i>
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-10 blkSummary">
                            <h2 class="font-bold">{{ 'condominium.report.energy.energySummary' | translate }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 blkSummary">
                            <table class="table m-t-xs m-b-xs ">
                                <thead>
                                <tr>
                                    <th class="widget-Desc"></th>
                                    <th class="widget-Digit text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                    <th class="UM"></th>
                                    <th class="widget-Digit text-right">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                    <th class="UM"></th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr>
                                    <td>{{ 'condominium.report.energy.totalHeat' | translate }}</td>
                                    <td class="text-right">{{report.totalCliCost | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{ formatEnergyMeter(report.totalCliHeatMeter) | number : 3}}</td>
                                    <td>{{ getEnergyUM() }}</td>
                                </tr>
                                <tr>
                                    <td>{{ 'condominium.report.energy.totalACS' | translate }}</td>
                                    <td class="text-right">{{report.totalAcsHeatCost | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{ formatEnergyMeter(report.totalAcsHeatMeter) | number : 3}}</td>
                                    <td>{{ getEnergyUM() }}</td>
                                </tr>
                                <tr class="last-row">
                                    <td class="clickable" ng-click="openReportFilterModal()">{{ 'condominium.report.energy.totalEnergy' | translate }}</td>
                                    <td class="text-right">{{report.totalHeatAmount | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{ formatEnergyMeter(report.totalHeatMeter) | number : 3}}</td>
                                    <td>{{ getEnergyUM() }}</td>
                                </tr>
                                </tbody>
                            </table>
                            <p><em>Costo Medio Unitario {{ getEnergyAUC() | number : 4}} &euro;/KWh.</em></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Widget Riepilogo ACS/AFS -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget style1 widgetRiepilogo">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 blkSummary">
                            <i class="fa fa-tint fa-fw fa-3x"></i>
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-10 blkSummary">
                            <h2 class="font-bold">{{ 'condominium.report.energy.waterSummary' | translate }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 blkSummary">

                            <table class="table m-t-xs m-b-xs ">
                                <thead>
                                <tr>
                                    <th class="widget-Desc"></th>
                                    <th class="widget-Digit text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                    <th class="UM"></th>
                                    <th class="widget-Digit text-right">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                    <th class="UM"></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ 'condominium.report.energy.totalACS' | translate }}</td>
                                    <td class="text-right">{{report.totalAcsWaterCost | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{report.totalAcsWaterMeter | number : 3}}</td>
                                    <td>m<sup>3</sup></td>
                                </tr>
                                <tr>
                                    <td>{{ 'condominium.report.energy.totalAFS' | translate }}</td>
                                    <td class="text-right">{{report.totalAfsWaterCost | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{report.totalAfsWaterMeter | number : 3}}</td>
                                    <td>m<sup>3</sup></td>
                                </tr>
                                <tr class="last-row">
                                    <td class="clickable" ng-click="openReportFilterModal()">{{ 'condominium.report.energy.totalWater' | translate }}</td>
                                    <td class="text-right clickable" ng-click="openReportFilterModal()">{{report.totalWaterAmount | number : 2}}</td>
                                    <td>&euro;</td>
                                    <td class="text-right">{{report.totalWaterMeter | number : 3}}</td>
                                    <td>m<sup>3</sup></td>
                                </tr>
                                </tbody>
                            </table>
                            <p><em>Costo Medio Unitario {{ getWaterAUC() | number: 4 }} &euro;/m<sup>3</sup>.</em></p>
                        </div>
                    </div>
                </div>
            </div>

        </div> <!-- end widget row -->

        <div class="row">

            <!-- Widget Riepilogo Altri costi -->
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="widget style1 widgetRiepilogo">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 blkSummary">
                            <i class="fa fa-euro fa-fw fa-3x"></i>
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-10 blkSummary">
                            <h2 class="font-bold">{{ 'condominium.report.energy.otherCostsSummary' | translate }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 blkSummary">
                            <table class="table m-t-xs m-b-xs ">
                                <thead>
                                    <tr>
                                        <th class="widget-Desc"></th>
                                        <th class="widget-Digit text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                        <th class="UM"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="row in report.otherCosts.content">
                                        <td>{{ row.label }}</td>
                                        <td class="text-right">{{ row.thousandthCostTotal | number : 2 }}</td>
                                        <td>&euro;</td>
                                    </tr>
                                    <tr class="last-row">
                                        <td>{{ 'condominium.report.energy.totalOtherCosts' | translate }}</td>
                                        <td class="text-right">{{ report.totalOtherCosts | number : 2 }}</td>
                                        <td>&euro;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <div class="widget style1 widgetRiepilogo">
                    <div class="row">
                        <div class="col-md-1 col-sm-2 col-xs-2 blkSummary">
                            <i class="fa fa-calculator fa-fw fa-3x"></i>
                        </div>
                        <div class="col-md-11 col-sm-10 col-xs-10 blkSummary">
                            <h2 class="font-bold">{{ 'condominium.report.energy.totalDistributionSummary' | translate }}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 blkSummary">
                            <table class="table m-t-xs m-b-xs ">
                                <thead>
                                    <tr>
                                        <th class="widget-Desc"></th>
                                        <th class="widget-Digit text-right">{{ 'condominium.report.energy.cost' | translate }}</th>
                                        <th class="UM"></th>
                                        <th class="widget-Digit text-right">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                        <th class="UM"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ 'condominium.report.energy.totalEnergy' | translate }}</td>
                                        <td class="text-right">{{report.totalHeatAmount | number : 2}}</td>
                                        <td>&euro;</td>
                                        <td class="text-right">{{  formatEnergyMeter(report.totalHeatMeter) | number : 3}}</td>
                                    <td>{{ getEnergyUM() }}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            {{ 'condominium.report.energy.totalWater' | translate }}
                                        </td>
                                        <td class="text-right">
                                            {{report.totalWaterAmount | number : 2}}
                                        </td>
                                        <td>&euro;</td>
                                        <td class="text-right">{{report.totalWaterMeter | number : 3}}</td>
                                        <td>m<sup>3</sup></td>
                                    </tr>
                                    <tr>
                                        <td>{{ 'condominium.report.energy.totalOtherCosts' | translate }}</td>
                                        <td class="text-right">{{ report.totalOtherCosts | number : 2 }}</td>
                                        <td>&euro;</td>
                                        <td class="text-right">-</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="last-row">
                                        <td>{{ 'condominium.report.energy.totalDistributionCosts' | translate }}</td>
                                        <td class="text-right">{{ getTotalAmount() | number : 2}}</td>
                                        <td>&euro;</td>
                                        <td class="text-right">-</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div ng-show="!reportLoading" class="tabs-container heatCostReport">
            <uib-tabset>
                <uib-tab heading="{{ 'condominium.report.energy.consumptionSummary' | translate }}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table ng-table="tables.summaryParams" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="noBorder unitImm"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th rowspan="2" class="noBorder">&nbsp;</th>
                                            <th colspan="2" class="bgAnte">{{ 'condominium.report.energy.table.heading.before102' | translate }}</th>
                                            <th colspan="4" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                            <th colspan="2" class="noBorder">&nbsp;</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th colspan="2" class="">&nbsp;</th>
                                            <th colspan="4" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }} + {{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                            <th colspan="2" class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead rowSpacer">
                                            <th colspan="9" class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th ng-click="invertSort()" class="clickable noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}<i class="fa" ng-class="{'fa-sort-asc' : sorting.owner === 'asc', 'fa-sort-desc' : sorting.owner === 'desc'}" aria-hidden="true"></i></th>
                                            <th class="noBorderB bgAnte">{{ 'condominium.report.energy.table.heading.energeticMils' | translate }}</th>
                                            <th class="noBorderB bgAnte">{{ 'condominium.report.energy.table.heading.energeticConsumption' | translate }}</th>
                                            <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.energeticConsumption' | translate }}</th>
                                            <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.acsConsumption' | translate }}</th>
                                            <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.afsConsumption' | translate }}</th>
                                            <th class="noBorderB bgPost">{{ 'condominium.report.energy.table.heading.otherTotal' | translate }}</th>
                                            <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                            <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.diffAfter102' | translate }}</th>
                                            <th class="noBorderB bgNeutral">{{ 'condominium.report.energy.table.heading.diffAfter102' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th class="noBorderB bgNeutral"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                            <th class="noBorderB bgAnte"></th>
                                            <th class="noBorderB bgAnte">
                                                <span class="fN fIta">(E) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgPost">
                                                <span class="fN fIta">(A) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgPost">
                                                <span class="fN fIta">(B) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgPost">
                                                <span class="fN fIta">(C) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgPost">
                                                <span class="fN fIta">(D) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgNeutral">
                                                <span class="fN fIta">(A+B+C+D=F) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgNeutral">
                                                <span class="fN fIta">(F-E) &euro;</span>
                                            </th>
                                            <th class="noBorderB bgNeutral">
                                                <span class="fN fIta">(F-E) &percnt;</span>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowDetail" ng-repeat="row in $data">
                                            <td class="text-left"><a href="" ng-click="openDetailWindow(row.id)">{{row.owner}} ({{row.stair}}/{{row.floor}}/{{row.apartmentNumber}})</a></td>
                                            <td class="text-right">{{row.heatingThousandthShare | number : 3}}</td>
                                            <td class="text-right">{{row.heatingThousandthCost | number : 2}}</td>
                                            <td class="text-right">{{row.totalHeatCost | number : 2}}</td>
                                            <td class="text-right">{{row.totalAcsCost | number : 2}}</td>
                                            <td class="text-right">{{row.totalAfsCost | number : 2}}</td>                                            
                                            <td class="text-right">{{row.totalOtherCost | number : 2}}</td>
                                            <td class="text-right">{{row.totalCost | number : 2}}</td>
                                            <td class="text-right">{{row.diffCost | number : 2}}</td>
                                            <td class="text-right">{{row.diffCostPerc | number : 2}} %</td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="text-center" ng-if="$data.length == 0">
                                                {{'sEmptyTable' | translate}}
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="rowSpacer" >                                                   
                                                <td class="noBorder" colspan="10" />
                                            </tr>
                                            <tr>
                                                <td class="noBorder"></td>
                                                <td class="text-right">{{report.totalCliShare | number : 2}}</td>
                                                <td class="text-right">{{ getTotalAmount() | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsHeatCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalAfsWaterCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalOtherCosts | number : 2}}</td>
                                                <td class="text-right">{{ getTotalAmount() | number : 2}}</td>
                                                <td class="text-right noBorder" colspan="2" />
                                            </tr>                                            
                                        </tfoot>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="{{ 'condominium.report.energy.heatingConsumptionBalance' | translate }}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table ng-table="tables.energyParams" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="noBorder unitImm"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th rowspan="2" class="noBorder">&nbsp;</th>
                                            <th colspan="5" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                            <th colspan="" class="noBorder">&nbsp;</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th colspan="3" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }}</th>
                                            <th colspan="2" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                            <th class="noBorder">&nbsp;</th>
                                        </tr>
                                        <tr class="rowHead rowSpacer">
                                            <th colspan="7" class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th ng-click="invertSort()" class="clickable bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}<i class="fa" ng-class="{'fa-sort-asc' : sorting.owner === 'asc', 'fa-sort-desc' : sorting.owner === 'desc'}" aria-hidden="true"></i></th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryDistribution' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumptionCostDistrib' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumptionCostDistrib' | translate }}</th>
                                            <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th class="bgNeutral noBorderB"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.um.mils' | translate }}</th>
                                            <th class="bgPost noBorderB">KWh</th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                            <th class="bgPost noBorderB">KWh</th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                            <th class="bgNeutral noBorderB">&euro;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowDetail" ng-repeat="row in $data">
                                            <td class="text-left"><a href="" ng-click="openDetailWindow(row.id)">{{row.owner}} ({{row.stair}}/{{row.floor}}/{{row.apartmentNumber}})</a></td>
                                            <td class="text-right">{{row.heatingThousandthShare | number : 3}}</td>
                                            <td class="text-right">{{row.systemHeatLoss | number : 3}}</td>
                                            <td class="text-right">{{row.systemLossCostAmount | number : 2}}</td>
                                            <td class="text-right">{{row.meter | number : 3}}</td>
                                            <td class="text-right">{{row.costAmount | number : 2}}</td>
                                            <td class="text-right">{{row.totalHeatCost | number : 2}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="text-center" ng-if="$data.length == 0">
                                                {{'sEmptyTable' | translate}}
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="rowSpacer">                                                
                                                <td class="noBorder" colspan="10"></td>
                                            </tr>
                                            <tr>
                                                <td class="noBorder" />
                                                <td class="text-right">{{report.totalCliShare | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliSystemHeatLoss | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliSystemHeatLossCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliVoluntaryMeter | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliVoluntaryCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalCliCost | number : 2}}</td>
                                            </tr>                                            
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="{{ 'condominium.report.energy.acsConsumptionBalance' | translate }} (*)">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table ng-table="tables.acsParams" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="noBorder unitImm"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th rowspan="2" class="noBorder">&nbsp;</th>
                                            <th colspan="7" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                            <th colspan="" class="noBorder">&nbsp;</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th colspan="3" class="">{{ 'condominium.report.energy.table.heading.involuntary' | translate }}</th>
                                            <th colspan="4" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                            <th class="noBorder">&nbsp;</th>
                                        </tr>
                                        <tr class="rowHead rowSpacer">
                                            <th colspan="10" class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th ng-click="invertSort()" class="clickable bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}<i class="fa" ng-class="{'fa-sort-asc' : sorting.owner === 'asc', 'fa-sort-desc' : sorting.owner === 'desc'}" aria-hidden="true"></i></th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryDistribution' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.involuntaryConsumptionCostDistrib' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.acsConsumptionCostDistrib' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.voluntaryConsumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.acsConsumptionCostDistrib' | translate }}</th>
                                            <th class="bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.totalEnergyCost' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th class="bgNeutral noBorderB"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.um.mils' | translate }}</th>
                                            <th class="bgPost noBorderB">KWh</th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                            <th class="bgPost noBorderB">KWh</th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                            <th class="bgPost noBorderB">m<sup>3</sup></th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                            <th class="bgNeutral noBorderB">&euro;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowDetail" ng-repeat="row in $data">
                                            <td class="text-left"><a href="" ng-click="openDetailWindow(row.id)">{{row.owner}} ({{row.stair}}/{{row.floor}}/{{row.apartmentNumber}})</a></td>
                                            <td class="text-right">{{row.acsThousandthShare | number : 3}}</td>
                                            <td class="text-right">{{row.systemHeatLoss | number : 3}}</td>
                                            <td class="text-right">{{row.systemLossCostAmount | number : 2}}</td>
                                            <td class="text-right">{{row.heatMeter | number : 3}}</td>
                                            <td class="text-right">{{row.heatCostAmount | number : 2}}</td>
                                            <td class="text-right">{{row.waterMeter | number : 3}}</td>
                                            <td class="text-right">{{row.waterCostAmount | number : 2}}</td>
                                            <td class="text-right">{{row.totalAcsCost | number : 2}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="9" class="text-center" ng-if="$data.length == 0">
                                                {{'sEmptyTable' | translate}}
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="rowSpacer">                                                
                                                <td class="noBorder" colspan="9"></td>
                                            </tr>
                                            <tr>
                                                <td class="noBorder" />
                                                <td class="text-right">{{report.totalAcsShare | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsSystemHeatLoss | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsSystemHeatLossCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsVoluntaryMeter | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsVoluntaryCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsWaterMeter | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsWaterCost | number : 2}}</td>
                                                <td class="text-right">{{report.totalAcsCost | number : 2}}</td>
                                            </tr>                                            
                                        </tfoot>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="{{ 'condominium.report.energy.afsConsumptionBalance' | translate }}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table ng-table="tables.afsParams" class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th class="noBorder unitImm"></th>
                                            <th class="noBorder"></th>
                                            <th class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th rowspan="2" class="noBorder">&nbsp;</th>
                                            <th colspan="2" class="bgPost">{{ 'condominium.report.energy.table.heading.after102' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th colspan="2" class="">{{ 'condominium.report.energy.table.heading.voluntary' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead rowSpacer">
                                            <th colspan="3" class="noBorder"></th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th ng-click="invertSort()" class="clickable bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}<i class="fa" ng-class="{'fa-sort-asc' : sorting.owner === 'asc', 'fa-sort-desc' : sorting.owner === 'desc'}" aria-hidden="true"></i></th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.consumption' | translate }}</th>
                                            <th class="bgPost noBorderB">{{ 'condominium.report.energy.table.heading.afsConsumptionCostDistrib' | translate }}</th>
                                        </tr>
                                        <tr class="rowHead">
                                            <th class="bgNeutral noBorderB"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                            <th class="bgPost noBorderB">m<sup>3</sup></th>
                                            <th class="bgPost noBorderB">&euro;</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="rowDetail" ng-repeat="row in $data">
                                            <td class="text-left"><a href="" ng-click="openDetailWindow(row.id)">{{row.owner}} ({{row.stair}}/{{row.floor}}/{{row.apartmentNumber}})</a></td>
                                            <td class="text-right">{{row.water | number : 3}}</td>
                                            <td class="text-right">{{row.totalAfsCost | number : 2}}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center" ng-if="$data.length == 0">
                                                {{'sEmptyTable' | translate}}
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="rowSpacer">                                                
                                                <td class="noBorder" colspan="9"></td>
                                            </tr>
                                            <tr>
                                                <td class="noBorder" />
                                                <td class="text-right">{{report.totalAfsWaterMeter | number : 2}}</td>
                                                <td class="text-right">{{report.totalAfsWaterCost | number : 2}}</td>                                        
                                            </tr>                                            
                                        </tfoot>
                                    </table>                                        
                                </div>

                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="{{'condominium.report.energy.othercosts' | translate }}" ng-if="report.otherCosts.content.length > 0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <table ng-table="tables.otherCostsParams" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="noBorder unitImm"></th>
                                                <th class="noBorder" ng-repeat-start="col in report.otherCosts.content"></th>
                                                <th class="noBorder" ng-repeat-end></th>
                                                <th class="noBorder"></th>                                                 
                                            </tr>
                                            <tr class="rowHead">
                                                <th ng-click="invertSort()" class="clickable bgNeutral noBorderB">{{ 'condominium.report.energy.table.heading.buildingUnit' | translate }}<i class="fa" ng-class="{'fa-sort-asc' : sorting.owner === 'asc', 'fa-sort-desc' : sorting.owner === 'desc'}" aria-hidden="true"></i></th>
                                                <th colspan="2" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat="col in report.otherCosts.content">{{col.label}}</th>
                                                <th>{{'condominium.report.energy.othercost.totals' | translate }}</th>
                                            </tr>
                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                                <th class="bgPost noBorderB" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat-start="col in report.otherCosts.content">{{ 'condominium.report.energy.othercost.distribution' | translate }}</th>
                                                <th class="bgPost noBorderB" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat-end="">{{ 'condominium.report.energy.othercost.cost' | translate }} &euro;</th>
                                                <th class="bgPost noBorderB" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat-end="">&euro;</th>
                                            </tr>                                            
<!--                                            <tr class="rowHead">
                                                <th class="bgNeutral noBorderB"><input ng-model="filter.owner" ng-change="updateFilter()"></th>
                                                <th class="bgPost noBorderB" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat-start="col in report.otherCosts.content">{{col.label}}</th>
                                                <th class="bgPost noBorderB" ng-class="{'odd' : $odd, 'even' : $even}" ng-repeat-end="">&euro;</th>
                                            </tr>
-->
                                        </thead>
                                        <tbody>
                                            <tr class="rowDetail" ng-repeat="row in $data track by $index">
                                                <td class="text-left"><a href="" ng-click="openDetailWindow(row.id)">{{row.owner}} ({{row.stair}}/{{row.floor}}/{{row.apartmentNumber}})</a></td>
                                                <td class="text-right" ng-repeat-start="col in report.otherCosts.content">{{row[col.oid].thousandthShare | number : 3}}</td>
                                                <td class="text-right" ng-repeat-end="">{{row[col.oid].thousandthCost | number : 2}}</td>
                                                <td class="text-right">{{row.totalCost | number : 2}}</td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr class="rowSpacer">
                                                <td class="noBorder" />
                                            </tr>
                                            <tr>
                                                <td class="noBorder" />
                                                <td ng-repeat-start="col in report.otherCosts.content" class="text-right">{{col.thosandthTotalShare | number : 3}}</td>
                                                <td class="text-right" ng-repeat-end="" >{{col.thousandthCostTotal | number : 2}}</td>                                                
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>


        <div class="alert alert-info">
            <strong>* {{ 'condominium.report.energy.acsConsumptionBalance.explanationTitle' | translate }}</strong>: {{ 'condominium.report.energy.acsConsumptionBalance.explanationDetail' | translate }}
        </div>
    </div>


</div>