<div class="inmodal">
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5>Indirizzo condominio</h5>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="form-group">
                                    <input id="gmapAddress" name="gmapAddress" ng-model="gmapAddress" type="text"
                                           class="form-control" placeholder="Inserisci qui l'indirizzo"/>
                                </div>
                            </div>
                            <div class="col-lg-1">
                                <i class="fa fa-search fa-2x pointerHover" ng-click="centerToUserAddress()"></i>
                            </div>
                            <div class="col-lg-1">
                                <i class="fa fa-map-marker fa-2x pointerHover" ng-click="centerToUserPosition()"></i>
                            </div>
                            <div class="col-lg-2">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                    Mappa ottenuta con il servizio Google Maps
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="height:400px">
                                <ui-gmap-google-map
                                        ng-if="mapPopup.showMap"
                                        ng-show="mapPopup.center.latitude!=null"
                                        center="mapPopup.center"
                                        zoom="mapPopup.zoom"
                                        events="mapPopup.markersEvents"
                                        control="mapPopup.control"
                                        options="mapPopup.options"
                                        ng-cloak id="mapPopup"
                                >
                                    <ui-gmap-marker coords="mapPopup.markers[0].location" idKey="mapPopup.markers[0].id"
                                                    options="mapPopup.markers[0].options"
                                                    control="mapPopup.markers[0].control"/>
                                </ui-gmap-google-map>
                                <div ng-show="mapPopup.center.latitude==null"
                                     style="background-color:#aaaaaa; height:100%">&nbsp
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="close()">Salva</button>
    </div>
</div>