<div class="wrapper wrapper-content " >
    <div class="row">

        <div class="col-md-8">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-2 text-center">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                    <div class="col-xs-6">
                        <span> Struttura Unità abitative</span>
                        <h2 class="font-bold">{{condominium_data.name}}</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 text-right">
            <div class="row">
                <div class="col-md-12 ">
                    <!--
                    <button ng-click="backToCondominium()" tooltip-placement="left"
                            uib-tooltip="Torna alla lista condominii" class="btn btn-outline btn-danger back" type="button"><i class="fa fa-angle-left back"></i> <span>Indietro</span></button>
                    -->
                </div>
            </div>
        </div>


    </div>
    <div class="row">

        <div resizable id="standard-box" r-directions="['right']" r-flex="false" r-width="400" r-height="dynamicSize.height" style="float:left">
            <!--span>Ricerca unità abitativa </span><input ng-model="query" ng-change="findNodes()" class="ng-pristine ng-valid ng-touched" style="float:right"-->
            <div class="widget white-bg p-xl" style="overflow: hidden; padding: 15px 20px;">
                <section class="flexbox" style="margin-bottom:20px">
                    <div class="stretch"><span>Cerca unità ab.</span></div>
                    <div class="stretch"><input ng-model="query" class="ng-pristine ng-valid ng-touched" style="width: 100%"></div>
                </section>
                <spinner-loader ng-show="treeLoading"></spinner-loader>
                <div ng-show="!treeLoading" ui-tree="treeOptions" id="tree-root" data-nodrop-enabled="true">

                <ol ui-tree-nodes ng-model="tree_data.condominiums">
                    <li ng-repeat="condo in tree_data.condominiums" ui-tree-node data-nodrag ng-init="preselectNode(condo)">
                        <div class="tree-node tree-node-content safe-height">
                            <i class="fa fa-building" style="font-size:16px"></i>
                            <a class="btn btn-default btn-xs" style="margin-left:5px" ng-class="{'disabled': !hasHousingUnitGroups(condo)}" disabled data-nodrag >
                                <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed || !hasHousingUnitGroups(condo),'glyphicon-chevron-down': !collapsed && hasHousingUnitGroups(condo)}"></span>
                            </a>
                            <span class="tree-title tree-title-1" ng-class="{'selected': selected}" style="cursor: pointer" ng-click="condominiumClicked(this)">{{condo.description}}</span>
                        </div>

                        <ol ui-tree-nodes ng-model="condo.housingUnitGroups">
                            <li ng-repeat="hUnitGroup in condo.housingUnitGroups" ui-tree-node data-nodrag ng-init="preselectNode(hUnitGroup)">

                                <div class="tree-node tree-node-content safe-height">
                                    <i class="fa fa-object-ungroup" style="font-size:16px"></i>
                                    <a class="btn btn-default btn-xs" style="margin-left:5px" ng-class="{'disabled': !hasHousingUnits(hUnitGroup)}" data-nodrag ng-click="toggle(this)">
                                        <span class="glyphicon" ng-class="{'glyphicon-chevron-right': collapsed || !hasHousingUnits(hUnitGroup),'glyphicon-chevron-down': !collapsed && hasHousingUnits(hUnitGroup)}"></span>
                                    </a>
                                    <span class="tree-title tree-title-1" ng-class="{'selected': selected, 'temporary': temporary}" style="cursor: pointer" ng-click="hUnitGroupClicked(hUnitGroup)">{{hUnitGroup.description}}</span>
                                </div>

                                <ol ui-tree-nodes ng-model="hUnitGroup.housingUnits" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="hunit in hUnitGroup.housingUnits" ui-tree-node data-nodrag ng-init="preselectNode(hunit)"
                                        ng-show="visible(hunit)">

                                        <div class="tree-node tree-node-content safe-height">
                                            <i class="fa fa-home" style="font-size:16px"></i>
                                            <a class="btn btn-default btn-xs" style="margin-left:5px"
                                               ng-class="{'disabled': !hasRoles(hunit)}" data-nodrag ng-click="toggle(this)">
                                                <span class="glyphicon"
                                                      ng-class="{'glyphicon-chevron-right': collapsed || !hasRoles(hunit),'glyphicon-chevron-down': !collapsed && hasRoles(hunit)}"></span>
                                            </a>
                                            <span class="tree-title tree-title-1" ng-class="{'selected': selected, 'temporary': temporary}" style="cursor: pointer" ng-click="hUnitClicked(hunit)">{{hunit.description}}</span>
                                        </div>
                                        <ol ui-tree-nodes="" ng-model="hunit.roles" ng-class="{hidden: collapsed}">
                                            <li ng-repeat="role in hunit.roles" ui-tree-node ng-init="preselectNode(role)">
                                                <div class="tree-node tree-node-content safe-height">
                                                    <i class="fa fa-user" style="margin-left:9px"></i>
                                                    <span ng-if="role.description" class="tree-title tree-title-2"
                                                          ng-class="{'selected': selected, 'temporary': temporary}"
                                                          style="cursor: pointer" ng-click="roleClicked(role)">
                                                        {{role.description}}
                                                    </span>
                                                    <span ng-if="!role.description"class="tree-title tree-title-2"
                                                          ng-class="{'selected': selected, 'temporary': temporary}"
                                                          style="cursor: pointer" ng-click="roleClicked(role)">
                                                       {{role.firstName}} {{role.lastName}} ({{role.roleType| translate | limitTo:2 | uppercase}} {{role.rolePercentage}}%)
                                                    </span>
                                                </div>
                                            </li>
                                        </ol>

                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                </ol>

            </div>
            </div>

        </div>

        <div ui-view="" style="padding-left: 10px; overflow:hidden"></div>
    </div>
</div>
