<div class="wrapper wrapper-content animated fadeInRight">
    <form name="wizard_form2" novalidate="novalidate" ng-submit="submitWizardForm2(wizard_form2)" >
        <div class="row">
            <h2>{{'wizard.step.manager.title' | translate }}</h2>

            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{'name' | translate }} *</label>
                        <input id="firstName" name="firstName" ng-model="formData.manager.firstName"  type="text" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label>{{'surname' | translate }} *</label>
                        <input id="lastName" name="lastName" ng-model="formData.manager.lastName" type="text" class="form-control" required/>
                    </div>
                    <div class="form-group">
                        <label>{{'wizard.step.manager.code.label' | translate }} *</label>
                        <input id="taxCode" name="taxCode"
                               ng-model="formData.manager.taxCode"
                               type="text" class="form-control"
                               ng-minlength="11" ng-maxlength="16"
                               required/>
                    </div>
                    <div class="form-group">
                        <label>{{'manager.company'|translate}} *</label>
                        <input id="companyName" name="companyName" ng-model="formData.manager.companyName" type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{'address' | translate }} *</label>
                        <input id="streetName" name="streetName" ng-model="formData.manager.address.streetName"  type="text" class="form-control" required ng-maxlength="70"/>
                    </div>
                    <div class="form-group">
                        <label>{{'buildingNumber' | translate}} *</label>
                        <input id="buildingNumber" name="buildingNumber" ng-model="formData.manager.address.buildingNumber" type="text" class="form-control" required ng-maxlength="18" />
                    </div>
                    <div class="form-group">
                        <label>{{'postalCode' | translate}} *</label>
                        <input id="postalCode" name="postalCode" ng-model="formData.manager.address.postalCode"  type="text" class="form-control" required ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/" maxlength="5"/>
                    </div>

                    <div class="form-group">
                        <label>{{'town'|translate}}</label>
                        <input id="town" name="town" ng-model="formData.manager.address.town"  type="text" class="form-control"  ng-maxlength="35"/>
                    </div>

                    <div class="row">
                        <div class="col-lg-9">
                            <div class="form-group">
                                <label>{{'district'|translate}} *</label>

                                <ui-select name="district" on-select="onSelectDistrictCallback_Manager($item, $model)" ng-model="district_manager.selected" theme="bootstrap" ng-disabled="disabled" ng-required="true">
                                    <ui-select-match placeholder="Seleziona il comune">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="1" repeat="district in districtsLookup | filter: $select.search">
                                        <span ng-bind-html="district.name | highlight: $select.search"></span>
                                        <small ng-bind-html="district.province | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>{{'province'|translate}} *</label>
                                <input id="province" name="province" ng-model="formData.manager.address.province" type="text" class="form-control" required readonly="true" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'phone' | translate}}</label>
                                <input id="managerPhone" name="phone"
                                       ng-model="formData.manager.contacts.PHONE"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'mobile' | translate}}</label>
                                <input id="managerMobile" name="mobile"
                                       ng-model="formData.manager.contacts.MOBILE"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'fax' | translate}}</label>
                                <input id="managerFax" name="fax"
                                       ng-model="formData.manager.contacts.FAX"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'email' | translate}}</label>
                                <input id="managerEmail" name="email"
                                       ng-model="formData.manager.contacts.EMAIL"
                                       type="text" class="form-control"
                                       ng-maxlength="50"/>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-6 text-left">
                    <a ng-click="moveToStep(1)" class="btn btn-default">{{ 'back' | translate}}</a>
                </div>
                <div class="col-xs-6 text-right">
                    <button class="btn btn-primary" type="submit">{{ 'continue' | translate}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
