<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">

        <div class="col-lg-4">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                    <div ng-show="condominiumId!='new'" class="col-xs-8 text-right">
                        <h1>{{formData.name}}</h1>
                    </div>
                    <div ng-show="condominiumId=='new'" class="col-xs-2 text-right">
                        <h1>{{labelCondominium}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-offset-6 col-lg-1">
            <button ng-click="backToCondominium()" tooltip-placement="left" uib-tooltip="{{'wizard.back.tooltip' | translate}}"
                    class="btn btn-outline btn-danger back" type="button"><i class="fa fa-angle-left back"></i> <span>{{'cancel' | translate}}</span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">

                <div class="ibox-content ">
                    <h2>
                        {{'wizard.condominium.registry.label' | translate}}
                    </h2>

                    <p>
                        {{'wizard.condominium.steps.label' | translate}}
                        <br/>
                    </p>

                    <div class="row">
                        <div class="col-lg-8">
                            <button id="wizardStep1" ng-click="moveToStep(1)" type="button"
                                    class="btn btn-w-m btn-primary">{{'wizard.general.btn' | translate}}
                            </button>
                            <button id="wizardStep2" ng-disabled="wizardActiveStep<2" ng-click="moveToStep(2)"
                                    type="button" class="btn btn-w-m btn-primary">{{'wizard.manager.btn' | translate}}
                            </button>
                            <button id="wizardStep3" ng-disabled="wizardActiveStep<3" ng-click="moveToStep(3)"
                                    type="button" class="btn btn-w-m btn-primary">{{'wizard.technician.btn' | translate}}
                            </button>
                            <button id="wizardStep4" ng-disabled="wizardActiveStep<4" ng-click="moveToStep(4)"
                                    type="button" class="btn btn-w-m btn-primary">{{'wizard.recap.btn' | translate}}
                            </button>
                        </div>
                    </div>
                    <div class="">
                        <div class="content">
                            <div class="p-lg">
                                <!-- our nested state views will be injected here -->
                                <div id="form-views" ui-view>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
