
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <h2 style="color:#1ab394">{{'condominium' | translate }}</h2>
        <div class="col-md-6">
            <div class="row ">
                <!-- <div class="col-md-6"> -->
                <div class="row ">
                    <div class="col-md-6"><strong>{{'wizard.step.recap.name.label' | translate }}:</strong></div><div class="col-md-6">{{formData.name}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'wizard.step.recap.code.label' | translate }}:</strong></div><div class="col-md-6">{{formData.taxCode}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'address' | translate}}:</strong></div><div class="col-md-6">{{formData.address.streetName}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'buildingNumber' | translate}}:</strong></div><div class="col-md-6">{{formData.address.buildingNumber}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'postalCode' | translate}}:</strong></div><div class="col-md-6">{{formData.address.postalCode}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'town'|translate}}:</strong></div><div class="col-md-6">{{formData.address.town}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'district'|translate}}:</strong></div><div class="col-md-6">{{formData.address.district}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'province'|translate}}:</strong></div><div class="col-md-6">{{formData.address.province}}</div>
                </div>
                <!-- </div> -->
            </div>


            <div class="row "><h2 style="color:#1ab394">{{'manager'|translate}}</h2></div>
            <div class="row ">
                <!-- <div class="col-md-6"> -->
                <div class="row ">
                    <div class="col-md-6"><strong>{{'name'|translate}}:</strong></div><div class="col-md-6">{{formData.manager.firstName}} {{formData.manager.lastName}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'wizard.step.recap.code.label'|translate}}:</strong></div><div class="col-md-6">{{formData.manager.taxCode}}</div>
                </div>
                <div class="row ">
                    <div class="col-md-6"><strong>{{'manager.company'|translate}}:</strong></div><div class="col-md-6">{{formData.manager.companyName}}</div>
                </div>
                <!-- </div> -->
            </div>
            <div class="row ">
                <h2 style="color:#1ab394">{{'wizard.step.recap.technician.label'|translate}}</h2>
            </div>

            <div class="row " ng-repeat="item in formData.technicians">
                <div class="row">
                    <div class="col-md-6"><strong>{{'name'|translate}}:</strong></div><div class="col-md-6">{{item.firstName}} {{item.lastName}}</div>
                </div>
                <div class="row">
                    <div class="col-md-6"><strong>{{'company'|translate}}:</strong></div><div class="col-md-6">{{item.companyName}}</div>
                </div>
            </div>

        </div>

        <div class="col-md-6">
            <br/>
            <br/>
            <br/>
            <div class="row">
                <div class="col-lg-12" style="height:200px">
                    <ui-gmap-google-map
                            ng-if="map.showMap"
                            ng-show="map.center.latitude!=null"
                            center="map.center"
                            zoom="map.zoom"
                            events="map.markersEvents"
                            control="map.control"
                            options="map.options"
                            ng-cloak id="map"
                    >
                        <ui-gmap-marker  coords="map.markers[0].location"  idKey="map.markers[0].id" options="map.markers[0].options"/>
                    </ui-gmap-google-map>
                    <div ng-show="map.center.latitude==null" style="background-color:#aaaaaa; height:100%">&nbsp</div>
                </div>
            </div>

        </div>


    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-xs-6 text-left">
            <a ng-click="moveToStep(3)" class="btn btn-default">{{'back'|translate}}</a>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary" type="button" ng-click="saveCondominium()">{{'wizard.step.recap.save.btn'|translate}}</button>
        </div>

    </div>

</div>
