
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <h2>{{'wizard.step.technician.title' | translate }}</h2>
        <form name="add_tech_form" novalidate="novalidate" ng-submit="addTechnicianSubmit(add_tech_form)" >
            <div class="row">
                <div class="col-lg-12">
                    <table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                        <thead>
                        <tr>
                            <th>{{ 'name' | translate }}</th>
                            <th>{{ 'surname' | translate }}</th>
                            <th>{{ 'company' | translate }}</th>
                            <th>{{ 'actions' | translate }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in formData.technicians ">
                            <td>{{ item.firstName }}</td>
                            <td>{{ item.lastName }}</td>
                            <td>{{ item.companyName}} </td>
                            <td><a ng-click="remove_technician($index)"><i class="fa fa-remove text-danger"></i></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">

                    <div class="form-group">
                        <label>{{ 'name' | translate }} *</label>
                        <input id="tech_firstName"  name="tech_firstName"
                               ng-model="new_technician.firstName"
                               type="text" class="form-control"
                               required-err-type="new_technician_firstName_required"
                               ng-required="!new_technician.companyName">
                    </div>
                    <div class="form-group">
                        <label>{{ 'surname' | translate }} *</label>
                        <input id="tech_lastName" name="tech_lastName"
                               ng-model="new_technician.lastName"
                               type="text" class="form-control"
                               required-err-type="new_technician_lastName_required"
                               ng-required="!new_technician.companyName">

                    </div>
                    <div class="form-group">
                        <label>{{ 'company' | translate }} *</label>
                        <input id="tech_companyName" name="tech_companyName"
                               ng-model="new_technician.companyName"
                               type="text"
                               class="form-control"
                               required-err-type="new_technician_companyName_required"
                               ng-required="!new_technician.firstName && !new_technician.lastName">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{'address' | translate }}</label>
                        <input id="streetName" name="streetName" ng-model="new_technician.address.streetName"  type="text" class="form-control" ng-maxlength="70"/>
                    </div>
                    <div class="form-group">
                        <label>{{'buildingNumber' | translate}}</label>
                        <input id="buildingNumber" name="buildingNumber" ng-model="new_technician.address.buildingNumber" type="text" class="form-control" ng-maxlength="18"    />
                    </div>
                    <div class="form-group">
                        <label>{{'postalCode' | translate}}</label>
                        <input id="postalCode" name="postalCode" ng-model="new_technician.address.postalCode"  type="text" class="form-control" ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/" maxlength="5"/>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label>{{'town'|translate}}</label>
                                <input id="town" name="town" ng-model="new_technician.address.town"  type="text" class="form-control" ng-maxlength="35"/>
                            </div>
                        </div>

                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>{{'district' | translate}}</label>

                                <ui-select name="district" on-select="onSelectDistrictCallback_Tech($item, $model)" ng-model="district_tech.selected" theme="bootstrap" ng-disabled="disabled" >
                                    <ui-select-match placeholder="Seleziona il comune">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="1" repeat="district in districtsLookup | filter: $select.search">
                                        <span ng-bind-html="district.name | highlight: $select.search"></span>
                                        <small ng-bind-html="district.province | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>{{'province' | translate}}</label>
                                <input id="province" name="province" ng-model="new_technician.address.province" type="text" class="form-control" readonly="true" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'phone' | translate}}</label>
                                <input id=techPhone" name="phone"
                                       ng-model="new_technician.contacts.PHONE"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'mobile' | translate}}</label>
                                <input id="techMobile" name="mobile"
                                       ng-model="new_technician.contacts.MOBILE"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'fax' | translate}}</label>
                                <input id="techFax" name="fax"
                                       ng-model="new_technician.contacts.FAX"
                                       type="text" class="form-control"
                                       ng-pattern="/^\+?[0-9]{0,3}[- ]?[0-9]{0,4}[- ]?[0-9]{6,12}$/"
                                       pattern-err-type="phonenumber_pattern"
                                       ng-maxlength="22"/>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>{{ 'email' | translate}}</label>
                                <input id="techEmail" name="email"
                                       ng-model="new_technician.contacts.EMAIL"
                                       type="text" class="form-control"
                                       ng-maxlength="50"/>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
            <div class="row text-right">
                <div class="col-lg-12">
                    <button class="btn btn-primary" type="submit">{{ 'wizard.step.technician.add.btn' | translate}}</button>
                </div>
            </div>

        </form>

        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 text-left">
                <a ng-click="moveToStep(2)" class="btn btn-default">{{ 'back' | translate}}</a>
            </div>
            <div class="col-xs-6 text-right">
                <a ng-click="submitWizardForm3()" class="btn btn-primary">{{ 'continue' | translate}}</a>
            </div>
        </div>

    </div>

</div>
