<div class="wrapper wrapper-content animated fadeInRight">
    <form role="form" name="wizard_form1" novalidate="novalidate" ng-submit="submitWizardForm1(wizard_form1)" >
        <div class="row">
            <h2>{{'wizard.step.general.title' | translate }}</h2>
            <div class="row">

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{'wizard.step.general.name.label' | translate }} *</label>
                        <input id="name" name="name" ng-model="formData.name"   type="text" class="form-control" required ng-minlength="3" ng-maxlength="80"/>
                    </div>
                    <div class="form-group">
                        <label>{{'wizard.step.general.code.label' | translate }} *</label>
                        <input id="taxCode" name="taxCode" ng-model="formData.taxCode"   type="text"
                               class="form-control"
                               ng-minlength="11" ng-maxlength="11"
                               required
                               maxlength="11"
                               ng-pattern="/^\d+$/"/>
                    </div>
                    <div class="form-group">
                        <label>{{'notes' | translate }}</label>
                        <textarea id="notes" rows="5" ng-model="formData.notes"  class="form-control" ng-maxlength="256"></textarea>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>{{'address' | translate }} *</label>
                        <input id="streetName" name="streetName" ng-model="formData.address.streetName"  type="text" class="form-control" required ng-maxlength="70"/>
                    </div>
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="form-group" >
                                <label>{{'buildingNumber' | translate}} *</label>
                                <input id="buildingNumber" name="buildingNumber" ng-model="formData.address.buildingNumber" type="text" class="form-control" required ng-maxlength="18" />
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="form-group" >
                                <label>{{'postalCode' | translate}} *</label>
                                <input id="postalCode" name="postalCode" ng-model="formData.address.postalCode"  type="text" class="form-control" required ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]*$/" maxlength="5"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group" >
                                <label>{{'town'|translate}}</label>
                                <input id="town" name="town" ng-model="formData.address.town"  type="text" class="form-control" ng-maxlength="35"/>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label>{{'district'|translate}} *</label>

                                <ui-select name="district" on-select="onSelectDistrictCallback($item, $model)" ng-model="district.selected" theme="bootstrap"  ng-required="true">
                                    <ui-select-match placeholder="Seleziona il comune">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="1" repeat="district in districtsLookup | filter: $select.search">
                                        <span ng-bind-html="district.name | highlight: $select.search"></span>
                                        <small ng-bind-html="district.province | highlight: $select.search"></small>
                                    </ui-select-choices>
                                </ui-select>

                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>{{'province'|translate}} *</label>
                                <input id="province" name="province" ng-model="formData.address.province" type="text" class="form-control" required readonly="true" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="height:200px">
                            <ui-gmap-google-map
                                    ng-if="map.showMap"
                                    ng-show="map.center.latitude!=null"
                                    center="map.center"
                                    zoom="map.zoom"
                                    events="map.markersEvents"
                                    control="map.control"
                                    options="map.options"
                                    ng-cloak id="map"
                            >
                                <ui-gmap-marker  coords="map.markers[0].location"  idKey="map.markers[0].id" options="map.markers[0].options"/>
                            </ui-gmap-google-map>
                            <div ng-show="map.center.latitude==null" style="background-color:#aaaaaa; height:100%">&nbsp</div>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-xs-6 col-xs-offset-6 text-right">
                            <a ng-click="setPositionModal()" class="btn btn-primary" >{{'wizard.step.general.position.btn'|translate}}</a>
                        </div>
                    </div>
                </div>

            </div>
            <br/>
            <div class="row">
                <div class="col-xs-6 col-xs-offset-6 text-right">
                    <button class="btn btn-primary" type="submit">{{'continue'|translate}}</button>
                </div>

            </div>


        </div>
    </form>
</div>