<div ui-tree="$ctrl.treeOptions" data-nodrop-enabled="true">
    <ol ui-tree-nodes data-ng-model="$ctrl.subtree">
        <li ng-repeat="account in $ctrl.subtree.children" ui-tree-node data-nodrag ng-if="$ctrl.selectAccount || account.children.length > 0">
            <div class="tree-node tree-node-content" ng-if="!$ctrl.selectAccount">
                <a class="btn btn-toggle btn-xs" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-fw" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                    {{ account.descrizione }}
                </a>
            </div>
            <div class="tree-node tree-node-content" ng-if="$ctrl.selectAccount">
                <span class="btn btn-toggle btn-xs fa fa-lock"></span>
                <a href="" ng-click="$ctrl.onRowSelected({ row: account })">
                    {{ account.descrizione }}
                </a>
            </div>
            <ol ui-tree-nodes data-ng-model="account.children" ng-hide="collapsed">
                <li ng-repeat="subaccount in account.children" ui-tree-node data-nodrag>
                    <div class="tree-node tree-node-content">
                        <span class="btn btn-toggle btn-xs fa fa-leaf"></span>
                        <a href="" ng-click="$ctrl.onRowSelected({ row: subaccount })">
                            {{ subaccount.descrizione }}
                        </a>
                    </div>
                </li>
            </ol>
        </li>
    </ol>
</div>