<form novalidate name="$ctrl.form" translate-namespace="BreakdownCriteria.Breakdowns.Form">
    <div class="modal-header">
        <h4 class="modal-title" ng-if="!$ctrl.editMode" translate>.NewTitle</h4>
        <h4 class="modal-title" ng-if="$ctrl.editMode" translate>.EditTitle</h4>
    </div>
    <div class="modal-body" ng-show="$ctrl.loading">
        <spinner-loader></spinner-loader>
    </div>
    <div class="modal-body" ng-if="!$ctrl.loading">
        <div class="alert alert-danger" ng-if="!$ctrl.sum100" translate>.Sum100</div>
        <div class="form-group">
            <label for="coefficent"><span translate>.Coefficient</span>*</label>
            <input id="coefficent" name="coefficent" class="form-control text-right" ng-model="$ctrl.data.coefficent"
                   type="number" min="1">
        </div>
        <div class="form-group">
            <label for="thousandths-table"><span translate>.Table</span>*</label>
            <select id="thousandths-table" name="thousandthsTable" class="form-control"
                    ng-model="$ctrl.data.thousandthTableId" ng-required="true"
                    ng-options="tt.id as tt.description for tt in $ctrl.thousandthsTables"
                    ng-change="$ctrl.updateThousandthsTablesKind($ctrl.data.thousandthTableId)">
            </select>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="owner"><span translate>.Owner</span>*</label>
                    <div class="input-group">
                        <input id="owner" name="owner" type="number" class="form-control text-right"
                               ng-model="$ctrl.data.ownerPercent" ng-required="true"
                               min="0" max="100" ng-change="$ctrl.validatePercentSum()">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-percent"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tenant"><span translate>.Tenant</span>*</label>
                    <div class="input-group">
                        <input id="tenant" name="tenant" type="number" class="form-control text-right"
                               ng-model="$ctrl.data.tenantPercent" ng-required="true"
                               min="0" max="100" ng-change="$ctrl.validatePercentSum()">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-percent"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="usufruct"><span translate>.Usufruct</span>*</label>
                    <div class="input-group">
                        <input id="usufruct" name="usufruct" type="number" class="form-control text-right"
                               ng-model="$ctrl.data.usufructPercent" ng-required="true"
                               min="0" max="100" ng-change="$ctrl.validatePercentSum()">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-percent"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="others"><span translate>.Others</span>*</label>
                    <div class="input-group">
                        <input id="others" name="others" type="number" class="form-control text-right"
                               ng-model="$ctrl.data.othersPercent" ng-required="true"
                               min="0" max="100" ng-change="$ctrl.validatePercentSum()">
                        <span class="input-group-addon">
                            <i class="fa fa-fw fa-percent"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="!$ctrl.sum100 || $ctrl.form.$invalid || $ctrl.form.$pristine"
                ng-click="$ctrl.close({ $value: $ctrl.data })" translate>.Confirm</button>
    </div>
</form>
