<div class="row m-t-md" translate-namespace="BreakdownCriteria.Breakdowns">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h4>
                    <span translate>.Title</span>
                    <span ng-if="$ctrl.type"> ({{ 'BreakdownCriteria.Breakdowns.' + $ctrl.type | translate }})</span>
                </h4>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" ng-click="$ctrl.addRow()">
                    <i class="fa fa-fw fa-plus"></i>
                    <span translate>.Form.NewTitle</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
                <colgroup>
                    <col class="col-md-1">
                    <col class="col-md-3">
                    <col class="col-md-2">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td data-title="'BreakdownCriteria.Breakdowns.Coefficient' | translate" class="text-right">
                        <span>{{ row.coefficent }}</span>
                        <strong>({{ row.coefficent / $ctrl.coefficentSum * 100 | number: 0 }}%)</strong>
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Table' | translate">
                        {{ row.thousandthTableDescription }}
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Kind' | translate">
                        {{ 'ThousandthsTables.List.Type.' + row.thousandthType | translate }}
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Owner' | translate" class="text-right">
                        {{ row.ownerPercent || 0 }}%
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Tenant' | translate" class="text-right">
                        {{ row.tenantPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Usufruct' | translate" class="text-right">
                        {{ row.usufructPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Others' | translate" class="text-right">
                        {{ row.othersPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Breakdowns.Actions' | translate" class="text-right">
                        <button class="btn btn-circle btn-default" ng-click="$ctrl.editRow($index, row)">
                            <i class="fa fa-fw fa-pencil"></i>
                        </button>
                        <button class="btn btn-circle btn-danger" ng-click="$ctrl.removeRow($index, row)">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>