<div class="row" translate-namespace="BreakdownCriteria.Breakdowns">
    <div class="col-md-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="$ctrl.separatedDistribution"
                       ng-change="$ctrl.onSeparatedDistributionChanged({ value: $ctrl.separatedDistribution })">
                <span translate>.Separated</span>
            </label>
        </div>
    </div>
    <div class="col-md-12" ng-if="$ctrl.separatedDistribution">
        <uib-tabset active="$ctrl.active">
            <uib-tab index="0" heading="{{ 'BreakdownCriteria.Breakdowns.Budget' | translate }}">
                <breakdown-table condominium="$ctrl.condominium" type="Budget"
                                 rows="$ctrl.budget"
                                 on-row-added="$ctrl.onBudgetAdded({ data: row })"
                                 on-row-updated="$ctrl.onBudgetUpdated({ index: index, data: row})"
                                 on-row-removed="$ctrl.onBudgetRemoved({ index: index })">
                </breakdown-table>
            </uib-tab>
            <uib-tab index="1" heading="{{ 'BreakdownCriteria.Breakdowns.Final' | translate }}">
                <breakdown-table condominium="$ctrl.condominium" type="Final"
                                 rows="$ctrl.final"
                                 on-row-added="$ctrl.onFinalAdded({ data: row })"
                                 on-row-updated="$ctrl.onFinalUpdated({ index: index, data: row })"
                                 on-row-removed="$ctrl.onFinalRemoved({ index: index })">
                </breakdown-table>
            </uib-tab>
        </uib-tabset>
    </div>
    <div class="col-md-12" ng-if="!$ctrl.separatedDistribution">
        <breakdown-table condominium="$ctrl.condominium"
                         rows="$ctrl.final"
                         on-row-added="$ctrl.onFinalAdded({ data: row })"
                         on-row-updated="$ctrl.onFinalUpdated({ index: index, data: row })"
                         on-row-removed="$ctrl.onFinalRemoved({ index: index })">
        </breakdown-table>
    </div>
</div>
