<div class="row" translate-namespace="BreakdownCriteria.Edit" ng-if="!$ctrl.account">
    <div class="col-md-12">
        <div class="alert alert-info" translate>.SelectAccount</div>
    </div>
</div>
<div class="ibox float-e-margins" translate-namespace="BreakdownCriteria.Edit" ng-if="$ctrl.account">
    <div class="ibox-title">
        <h5 translate translate-values="{{$ctrl.account}}">.Title</h5>
    </div>
    <div class="ibox-content form-group" ng-form="$ctrl.criteriaForm">
        <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
        <div class="row" ng-hide="$ctrl.loading">
            <div class="col-md-12 m-b-md">
                <breakdown-tabs condominium="$ctrl.condominium"
                                separated-distribution="$ctrl.criteria.separatedDistribution"
                                budget="$ctrl.criteria.distributionCriterionDetailQuote"
                                final="$ctrl.criteria.distributionCriterionDetailFinal"
                                on-separated-distribution-changed="$ctrl.changeSeparatedDistribution(value)"
                                on-budget-added="$ctrl.addRow('distributionCriterionDetailQuote', data)"
                                on-budget-updated="$ctrl.updateRow('distributionCriterionDetailQuote', index, data)"
                                on-budget-removed="$ctrl.removeRow('distributionCriterionDetailQuote', index)"
                                on-final-added="$ctrl.addRow('distributionCriterionDetailFinal', data)"
                                on-final-updated="$ctrl.updateRow('distributionCriterionDetailFinal', index, data)"
                                on-final-removed="$ctrl.removeRow('distributionCriterionDetailFinal', index)">
                </breakdown-tabs>
            </div>
            <div class="col-md-12">
                <exceptions-table condominium="$ctrl.condominium"
                                  exceptions="$ctrl.criteria.distributionCriterionExceptions"
                                  on-exception-added="$ctrl.addRow('distributionCriterionExceptions', exception)"
                                  on-exception-updated="$ctrl.updateRow('distributionCriterionExceptions', index, exception)"
                                  on-exception-removed="$ctrl.removeRow('distributionCriterionExceptions', index)">
                </exceptions-table>
            </div>
        </div>
        <div class="row" ng-hide="$ctrl.loading">
            <div class="col-md-12 text-right">
                <div class="checkbox">
                    <label>
                    <input type="checkbox" ng-model="$ctrl.criteria.propagateToAllSubAccounts">
                    <span translate=".SubAccounts"></span><span>{{$ctrl.account.fatherDescription}}</span>
                    </label>
                </div>
                <button class="btn btn-primary" ng-disabled="!$ctrl.hasTable() || $ctrl.criteriaForm.$invalid || $ctrl.criteriaForm.$pristine"
                        ng-click="$ctrl.doSave()" translate>.Save</button>
            </div>
        </div>
    </div>
</div>