.breakdown-criteria-container {
  .table > tbody > tr > td {
    vertical-align: middle;
  }

  .tree {
    height: 600px;
    overflow: hidden;

    .mCSB_container_wrapper {
      > .mCSB_container {
        padding-right: 0px;
      } 
    }

    .tree-node {
      padding: 8px 6px;

      &.tree-node-content {
        margin-right: 2px;
      }
    }

  }
  
}
