<div class="wrapper wrapper-content" translate-namespace="BreakdownCriteria">
    <spinner-loader ng-show="vm.loading"></spinner-loader>
    <div class="row" ng-if="!vm.loading">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="text-right">
                        <button type="button" class="btn btn-success" ng-click="vm.doPrintConfirm('xlsx')">
                            <i class="fa fa-file-excel-o fa-fw"></i>&nbsp;
                            <span translate>.ExportXlsx</span>
                        </button>                                        
                        <button type="button" class="btn btn-primary" ng-click="vm.doPrintConfirm('pdf')">
                            <i class="fa fa-print fa-fw"></i>&nbsp;
                            <span translate>.Print</span>
                        </button>                                        
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-tabs">
                                <li role="presentation" ng-class="{active: vm.type === 'costs' }">
                                    <a ui-sref="^.main({ type: 'costs', account: '' })" translate>.Costs</a>
                                </li>
                                <li role="presentation" ng-class="{active: vm.type === 'revenue'}">
                                    <a ui-sref="^.main({ type: 'revenue', account: '' })" translate>.Revenues</a>
                                </li>
                                <li role="presentation" ng-class="{active: vm.type === 'personal'}">
                                    <a ui-sref="^.main({ type: 'personal', account: '' })" translate>.PersonalExpenses</a>
                                </li>
                                <li role="presentation" ng-class="{active: vm.type === 'provisions'}">
                                    <a ui-sref="^.main({ type: 'provisions', account: '' })" translate>.Provisions</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row m-t-md">
                        <div class="col-xs-4 col-sm-4 col-md-4 tree" ng-scrollbars ng-scrollbars-config="vm.scrollbarConfig">
                            <accounts-tree chart-of-accounts="vm.chartOfAccounts"
                                           financial-period="vm.financialPeriod"
                                           type="vm.type"
                                           on-row-selected="vm.accountSelected(row)">
                            </accounts-tree>
                        </div>
                        <div class="col-sx-8 col-sm-8 col-md-8">
                            <breakdown-criteria-edit
                                    condominium="vm.condominium"
                                    financial-period="vm.financialPeriod"
                                    account="vm.account"></breakdown-criteria-edit>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
