<div class="row" translate-namespace="BreakdownCriteria.Exceptions">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6">
                <h4 translate>.Title</h4>
            </div>
            <div class="col-md-6 text-right">
                <button class="btn btn-primary btn-sm" ng-click="$ctrl.addException()">
                    <i class="fa fa-fw fa-plus"></i>
                    <span translate>.Form.NewTitle</span>
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table ng-table="$ctrl.tableParams" class="table table-condensed table-bordered table-striped">
                <colgroup>
                    <col class="col-md-3">
                    <col class="col-md-3">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-1">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td data-title="'BreakdownCriteria.Exceptions.HousingUnit' | translate">
                        {{ row.housingUnitDescription }}
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Table' | translate">
                        {{ row.thousandthTableDescription }}
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Owner' | translate" class="text-right">
                        {{ row.ownerPercent || 0 }}%
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Tenant' | translate" class="text-right">
                        {{ row.tenantPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Usufruct' | translate" class="text-right">
                        {{ row.usufructPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Others' | translate" class="text-right">
                        {{ row.othersPercent || 0}}%
                    </td>
                    <td data-title="'BreakdownCriteria.Exceptions.Actions' | translate" class="text-right">
                        <button class="btn btn-circle btn-default" ng-click="$ctrl.editException($index, row)">
                            <i class="fa fa-fw fa-pencil"></i>
                        </button>
                        <button class="btn btn-circle btn-danger" ng-click="$ctrl.removeException($index, row)">
                            <i class="fa fa-fw fa-trash-o"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>