<div class="wrapper wrapper-content " >
    <div class="row">

        <div class="col-lg-4">
            <div class="widget style1">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Unità Abitativa </span>

                        <h2 class="font-bold">{{housing_units_data.owner}}</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 text-right">
            <button ng-click="backToCondominium()" uib-tooltip="Torna al condominio" class="btn btn-outline btn-danger back" tooltip-placement="left" type="button">
                <i class="fa fa-angle-left back"></i> <span>Indietro</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4 text-center">
                        <i class="fa fa-cloud fa-5x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> Ultima rilevazione</span>

                        <h3 >{{nowDate | date:'mediumDate'}}</h3>
                    </div>
                </div>
            </div>

            <a ng-click="moreDetailModal()">
                <div class="widget lazur-bg p-xl">
                    <h2>
                        {{'detail'|translate}}
                    </h2>
                    <ul class="list-unstyled m-t-md">
                        <li>
                            <span class="fa fa-info m-r-xs"></span>
                            <label>{{ 'stair' | translate}}:</label>
                            {{housing_units_data.identification.stair}}
                        </li>
                        <li>
                            <span class="fa fa-tag m-r-xs"></span>
                            <label>{{ 'floor' | translate}}:</label>
                            {{housing_units_data.identification.floor}}
                        </li>
                        <li>
                            <span class="fa fa-home m-r-xs"></span>
                            <label>{{ 'apartmentNumber' | translate}}:</label>
                            {{housing_units_data.identification.apartmentNumber}}
                        </li>

                    </ul>
                </div>
            </a>
        </div>
        <div class="col-lg-8">

            <div class="widget lazur-bg p-xl" style="color: #000;" ng-controller="housing_units.SummaryChartController">
                <h2>
                    <div class="row">
                        <div class="col-md-3 text-right no-padding">

                            <form role="form">
                            <div class="form-group">
                                <p class="input-group" >
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-primary" ng-click="openFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                <input type="text"
                                       size="10"
                                       maxlength="10"
                                       class="form-control"
                                       popup-placement="auto"
                                       uib-datepicker-popup="{{format}}"
                                       name="startDate"
                                       current-text="Oggi"
                                       close-text="Chiudi"
                                       clear-text="Pulisci"
                                       ng-model="chartHousingUnit.startDate"
                                       value="{{chartHousingUnit.startDate}}"
                                       is-open="popupFrom.opened"
                                       datepicker-options="dateOptions"
                                       required
                                       min-date="minDate"
                                       max-date="maxDate"
                                       uib-tooltip="Formato valido: 'gg-mm-aaaa'"
                                       tooltip-placement="top"
                                       alt-input-formats="altInputFormats" style="background-color:#FFFFFF;" />
                                </p>
                            </div>
                            </form>
                        </div>
                        <div class="col-md-9">Consumi giornalieri intervallo 7 giorni</div>
                    </div>

                </h2>
                <p class="input-group" ng-class="{ 'has-error': thermic_year_form.startDate.$invalid && thermic_year_form.submitted}">
                </p>
                <spinner-loader ng-show="chartHousingUnit.loading"></spinner-loader>
                <div ng-show="!chartHousingUnit.loading" id="chartDivHousingUnit" style="width: 100%;height: 200px;"></div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="tabs-container">
                <uib-tabset>
                    <uib-tab heading="Ripartitori">

                        <div class="ibox float-e-margins">
                            <spinner-loader ng-show="heatCostAllocatorsLoading"></spinner-loader>
                            <div class="ibox-content" ng-show="!heatCostAllocatorsLoading">
                                <table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                                    <thead>
                                    <tr>
                                        <th>Stanza</th>
                                        <th>Descrizione</th>
                                        <th>{{'serialNumber'|translate}}</th>
                                        <th>{{ 'costAllocationUnit.counter' | translate}}</th>
                                        <th>Temperatura media</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in housing_units_costs_allocator_data" >
                                        <td>{{item.roomDescription}}</td>
                                        <td>
                                            <!--<a ui-sref="index.devices.cost-allocator-calculator({costAllocatorId : item.id })">-->
                                            <a ng-click="showCostAllocatorCalculatorModal(item.id)">
                                            {{ item.heatingElementDescription }}
                                            </a>
                                        </td>
                                        <td>{{item.serialNumber}}</td>
                                        <td class="text-right">{{ item.consumptionUnit | number:1}}</td>
                                        <td class="text-right">{{ item.thermaComfortMeasure /10 | number:1 }}&deg;C</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th class="text-right" colspan="3">{{ 'sums' | translate }}</th>
                                        <th class="text-right">{{sums.costAllocator | number:1}}</th>
                                        <th ></th>
                                    </tr>
                                    </tfoot>
                                </table>


                            </div>

                            <div ng-controller="housing_units.SummaryChartController">

                                <div class="widget white-bg p-xl" style="overflow: hidden">
                                    <div style="margin-bottom: 20px">
                                        <div class="row">
                                            <div class="col-xs-2 no-padding">
                                                <form role="form">
                                                    <div class="form-group">
                                                        <p class="input-group" >
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="openFromUUID()"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                                            <input type="text"
                                                                   class="form-control"
                                                                   uib-datepicker-popup="{{format}}"
                                                                   name="startDate"
                                                                   popup-placement="bottom-right"
                                                                   current-text="Oggi"
                                                                   close-text="Chiudi"
                                                                   clear-text="Pulisci"
                                                                   ng-model="chartUUID.startDate"
                                                                   value="{{chartUUID.startDate}}"
                                                                   is-open="popupFromUUID.opened"
                                                                   datepicker-options="dateOptions"
                                                                   required
                                                                   min-date="minDate"
                                                                   max-date="maxDate"
                                                                   uib-tooltip="Formato valido: 'gg-mm-aaaa'"
                                                                   tooltip-placement="top"
                                                                   alt-input-formats="altInputFormats"  />
                                                        </p>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-xs-10">
                                                <h2>Consumi giornalieri per ripartitore intervallo 7 giorni</h2>
                                            </div>
                                        </div>
                                        <div class="btn-group content-selector" style="margin-top: 20px; margin-left: 20px">
                                            <button class="btn" ng-class="{'btn-primary': chartType == 'clustered', 'btn-white': chartType != 'clustered'}" type="button" ng-click="toggleChart('clustered')"><i class="fa fa-bar-chart"></i></button>
                                            <button class="btn" ng-class="{'btn-primary': chartType == 'stacked', 'btn-white': chartType != 'stacked'}" type="button" ng-click="toggleChart('stacked')"><i class="fa fa-area-chart"></i></button>
                                            <!--<button class="btn btn-white" ng-class="{'btn-primary':  selectedChart == 'stacked2', 'btn-white': selectedChart != 'stacked2'}" type="button" ng-click="toggleChart('stacked2')"><i class="fa fa-area-chart"></i></button>-->
                                        </div>
                                    </div>
                                    <!--<div id="chartDivHousingUnitDetail" style="width: 100%;height: 500px;"/></div>-->
                                    <div id="legenddiv" style="position: relative"></div>
                                    <spinner-loader ng-show="chartUUID.loading"></spinner-loader>

                                    <div ng-show="!chartUUID.loading" id="chartDivHousingUnitClustered"  style="height:400px;padding-left:0px;padding-right:0px"></div> <!-- width: 80%;height:500px;float:left -->
                                    <div ng-show="!chartUUID.loading" id="chartDivHousingUnitHistory" ng-class="{hidden: chartType != 'stacked'}" class="col-xs-9" style="height:400px;padding-left:0px;padding-right:0px"></div> <!-- width: 80%;height:500px;float:left -->
                                    <div ng-show="!chartUUID.loading" id="chartDivHousingUnitToday" ng-class="{hidden: chartType != 'stacked'}" class="col-xs-3" style="height:400px;padding-left:0px;padding-right:0px"></div> <!-- width: 80%;height:500px;float:left -->
                                </div>
                            </div>

                        </div>

                    </uib-tab>
                    <uib-tab heading="Contacalorie">
                        <div class="ibox float-e-margins">

                        <spinner-loader ng-show="heatMetersLoading"></spinner-loader>
                        <div class="ibox-content" ng-show="!heatMetersLoading">
                            <table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Descrizione</th>
                                    <th>{{'serialNumber'|translate}}</th>
                                    <th>{{'energyCounter'|translate}}</th>
                                    <th>{{'flowTemperature'|translate}}</th>
                                    <th>{{'returnTemperature'|translate}}</th>
                                    <th>{{'waterVolume'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in housing_units_costs_meter_data" >
                                    <td>{{ item.heatingElementDescription }}</td>
                                    <td>{{item.serialNumber}}</td>
                                    <td class="text-right">{{ item.heatMeter | number:1}}&nbsp;kWh</td>
                                    <td class="text-right">{{ item.flowTemperature | number:1}} &deg;C</td>
                                    <td class="text-right">{{ item.returnTemperature | number:1}} &deg;C</td>
                                    <td class="text-right">{{ item.waterVolume / 1000 | number:1}} m&sup3;</td>
                                </tr>
                                </tbody>
                            </table>


                        </div>


                    </div>
                    </uib-tab>
                    <uib-tab heading="Contatore acqua">
                    <div class="ibox float-e-margins">

                        <spinner-loader ng-show="waterMetersLoading"></spinner-loader>
                        <div class="ibox-content" ng-show="!waterMetersLoading">
                            <table width="100%" datatable="ng" dt-options="dtOptions"  class="table table-striped table-bordered table-hover dataTables-example">
                                <thead>
                                <tr>
                                    <th>Descrizione</th>
                                    <th>{{'serialNumber'|translate}}</th>
                                    <th>{{'directFlowCounter'|translate}}</th>
                                    <th>{{'reverseFlowCounter'|translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in housing_units_costs_water_meter_data" >
                                    <td>{{ item.heatingElementDescription }}</td>
                                    <td>{{item.serialNumber}}</td>
                                    <td class="text-right">{{ item.flowVolume / 1000| number:1}}</td>
                                    <td class="text-right">{{ item.returnVolume / 1000| number:1}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                </uib-tabset>
            </div>
    </div>
</div>
    <div class="row">
        <div class="col-lg-12">
            <br/>
            <br/>
        </div>
    </div>
