
<div class="wrapper wrapper-content ">
    <div class="row" style="margin-bottom:-15px">
        <div class="col-xs-7" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
            <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
                <i class="fa fa-home fa-4x"></i>
            </div>
            <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{description || formData.owner || 'Nuova scala'}}</h1>
        </span></p>
        </div>

        <div ng-show="huId != 'new'" class="col-xs-5">
            <button ng-click="delete()"  tooltip-placement="bottom" uib-tooltip="Elimina" class="btn dim flat btn-medium-dim btn-danger" style="float:right" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button ui-sref="index.structure.housing-unit({huGroupId: huGroupId, huId: 'new' })"
                    tooltip-placement="left" uib-tooltip="Aggiungi unità abitativa"
                    class="btn btn-primary dim flat btn-medium-dim" style="float:right" type="button">
            <span class="icon-stack icon-4x">
                <i class="fa fa-home upper-left"></i>
                <i class="fa fa-plus overlay-lower-right icon-highlight"></i>
            </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content ">
                    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                        <div class="content">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Generale</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="form-group" >
                                                        <label>{{ 'stair' | translate}} *</label>
                                                        <input id="stair" name="stair"
                                                               ng-model="formData.stair"
                                                               type="text" class="form-control"
                                                               required
                                                               ng-maxlength="80"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="form-group">
                                                        <label>{{'building'|translate}}</label>
                                                        <input id="building" name="building" ng-model="formData.building"  type="text"
                                                               class="form-control"
                                                               ng-maxlength="80"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Indirizzo</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-12">
                                                <div class="row">
                                                    <div class="col-lg-9">
                                                        <div class="form-group" ng-class="{ 'has-error': form.streetName.$invalid && form.submitted}">
                                                            <label>{{ 'streetName' | translate}}</label>
                                                            <input id="streetName" name="streetName"
                                                                   ng-model="formData.address.streetName"
                                                                   type="text"
                                                                   class="form-control"
                                                                   ng-maxlength="70"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group" ng-class="{ 'has-error': form.buildingNumber.$invalid && form.submitted}">
                                                            <label>{{ 'buildingNumber' | translate}}</label>
                                                            <input id="buildingNumber"
                                                                   name="buildingNumber"
                                                                   ng-model="formData.address.buildingNumber"
                                                                   type="text" class="form-control"
                                                                   ng-maxlength="18"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="form-group" ng-class="{ 'has-error': form.town.$invalid && form.submitted}">
                                                            <label>{{ 'town' | translate}}</label>
                                                            <input id="town" name="town"
                                                                   ng-model="formData.address.town"
                                                                   type="text"
                                                                   class="form-control"
                                                                   ng-maxlength="70"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-2">
                                                        <div class="form-group" ng-class="{ 'has-error': form.postalCode.$invalid && form.submitted}">
                                                            <label>{{ 'postalCode' | translate}}</label>
                                                            <input id="postalCode" name="postalCode"
                                                                   ng-model="formData.address.postalCode"
                                                                   type="text" class="form-control"
                                                                   ng-minlength="5" ng-maxlength="5" ng-pattern="/^[0-9]{5}$/"/>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-7">
                                                        <div class="form-group" ng-class="{ 'has-error': form.district.$invalid && form.submitted}">
                                                            <label>{{ 'district' | translate}}</label>

                                                            <ui-select name="district" on-select="onSelectDistrictCallback($item, $model)" ng-model="district.selected" theme="bootstrap" ng-disabled="disabled" ng-required="false">
                                                                <ui-select-match placeholder="Seleziona il comune">{{$select.selected.name}}</ui-select-match>
                                                                <ui-select-choices refresh="funcAsync($select.search)" refresh-delay="1" repeat="district in districtsLookup | filter: $select.search">
                                                                    <span ng-bind-html="district.name | highlight: $select.search"></span>
                                                                    <small ng-bind-html="district.province | highlight: $select.search"></small>
                                                                </ui-select-choices>
                                                            </ui-select>

                                                        </div>
                                                    </div>
                                                    <div class="col-lg-3">
                                                        <div class="form-group" ng-class="{ 'has-error': form.province.$invalid && form.submitted}">
                                                            <label>{{ 'province' | translate}}</label>
                                                            <input id="province" name="province"
                                                                   ng-pattern="/^[A-Za-z]{2}$/"
                                                                   ng-model="formData.address.province"
                                                                   type="text" class="form-control" readonly="true" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-6 text-left">
                                    <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                                </div>
                                <div class="col-xs-6 text-right">
                                    <button class="btn btn-primary" type="submit">Salva</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>