<div class="wrapper wrapper-content ">
    <div class="row" style="margin-bottom:-15px">
        <div class="col-xs-7" style="display:inline-flex;white-space: nowrap;overflow:hidden;text-overflow:ellipsis">
            <div class="text-center" style="width: 40px;margin:10px 20px 0px 20px;float:left">
                <i class="fa fa-home fa-4x"></i>
            </div>
            <p><span class="text-left" style="float:left;overflow:hidden;display:block;white-space: nowrap">
            <h1>{{description || formData.owner || 'Nuova unità abitativa'}}</h1>
        </span></p>
        </div>

        <div ng-show="huId != 'new'" class="col-xs-5">
            <button ng-click="delete()"  tooltip-placement="bottom" uib-tooltip="Elimina" class="btn dim flat btn-medium-dim btn-danger" style="float:right" type="button">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button ui-sref="index.structure.role({huId: huId, roleId: 'new'})"
                    tooltip-placement="left" uib-tooltip="Aggiungi ruolo"
                    class="btn btn-primary dim flat btn-medium-dim" style="float:right" type="button">
            <span class="icon-stack icon-4x">
                <i class="fa fa-user upper-left"></i>
                <i class="fa fa-plus overlay-lower-right icon-highlight"></i>
            </span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content ">
                    <form role="form" name="form" novalidate="novalidate" ng-submit="submitForm(form)" >
                        <div class="">
                            <div class="content">
                                <div class="p-lg">
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Generale</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="row">
                                                        <div class="col-lg-6">
                                                            <div class="form-group" ng-class="{ 'has-error': form.owner.$invalid && form.submitted}">
                                                                <label>Denominazione*</label>
                                                                <input id="owner" name="owner" ng-model="formData.owner"  type="text"
                                                                       class="form-control"
                                                                       required
                                                                       ng-minlength="3"
                                                                       ng-maxlength="120"/>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Identificazione Immobile</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                        <div class="row">

                                                            <div class="col-lg-4">
                                                                <div class="form-group" ng-class="{ 'has-error': form.floor.$invalid && form.submitted}" ng-class="{ 'has-error': form.name.$invalid && form.submitted}">
                                                                    <label>{{ 'floor' | translate}} *</label>
                                                                    <input id="floor" name="floor"
                                                                           ng-model="formData.identification.floor"
                                                                           type="text"  class="form-control"
                                                                           required
                                                                           ng-maxlength="70" maxlength="70"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                                <div class="form-group" ng-class="{ 'has-error': form.building.$invalid && form.submitted}" ng-class="{ 'has-error': form.name.$invalid && form.submitted}">
                                                                    <label>{{ 'apartmentNumber' | translate}} *</label>
                                                                    <input id="apartmentNumber" name="building"
                                                                           ng-model="formData.identification.apartmentNumber"
                                                                           type="text"  class="form-control"
                                                                           required
                                                                           ng-maxlength="10"/>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-4">
                                                            </div>
                                                        </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel panel-primary">
                                        <div class="panel-heading">
                                            <h3 class="panel-title">Riferimenti catastali</h3>
                                        </div>
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.page.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.page' | translate}}</label>
                                                        <input id="page" name="page"
                                                               ng-model="formData.cadastralReference.page"
                                                               type="text"
                                                               class="form-control"
                                                               ng-maxlength="5"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.parcel.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.parcel' | translate}}</label>
                                                        <input id="parcel" name="parcel"
                                                               ng-model="formData.cadastralReference.parcel"
                                                               type="text"
                                                               class="form-control"
                                                               ng-maxlength="5"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.subordinate.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.subordinate' | translate}}</label>
                                                        <input id="subordinate" name="subordinate"
                                                               ng-model="formData.cadastralReference.subordinate"
                                                               type="text"
                                                               class="form-control"
                                                               ng-maxlength="5"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.category.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.category' | translate}}</label>
                                                        <input id="category" name="category"
                                                               ng-model="formData.cadastralReference.category"
                                                               type="text"
                                                               class="form-control"
                                                               ng-maxlength="5"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.class.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.cadastralClass' | translate}}</label>
                                                        <input id="class" name="class"
                                                               ng-model="formData.cadastralReference.cadastralClass"
                                                               type="text"
                                                               class="form-control"
                                                               ng-maxlength="5"/>
                                                    </div>
                                                </div>
                                                <div class="col-lg-2">
                                                    <div class="form-group" ng-class="{ 'has-error': form.class.$invalid && form.submitted}">
                                                        <label>{{'cadastralReference.compartmentsNumber' | translate}}</label>
                                                        <input id="compartmentsNumber" name="compartmentsNumber"
                                                               ng-model="formData.cadastralReference.compartmentsNumber"
                                                               type="number" ng-maxlength="3"
                                                               class="form-control"
                                                               />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6 text-left">
                                            <button ng-click="back()" class="btn btn-default" type="button">Indietro</button>
                                        </div>
                                        <div class="col-xs-6 text-right">
                                            <button class="btn btn-primary" type="submit">Salva</button>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>

    </div>

</div>