
<div class="inmodal">

    <div class="modal-header">
        <h4 class="modal-title">{{ 'detail' | translate }}</h4>
        <small class="font-bold">Maggiori dettagli dell'unità abitativa intestata a {{housing_units_data.owner}}.</small>
    </div>
    <div class="modal-body">

        <div class="row widget lazur-bg">
            <div class="col-md-5 ">
                <h2>{{ 'infos' |translate }}</h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'building' | translate}}:</label>
                        {{housing_units_data.identification.building}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'stair' | translate}}:</label>
                        {{housing_units_data.identification.stair}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'floor' | translate}}:</label>
                        {{housing_units_data.identification.floor}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'apartmentNumber' | translate}}:</label>
                        {{housing_units_data.identification.apartmentNumber}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'heatingThousandthShare' | translate}}:</label>
                        {{housing_units_data.heatingThousandthShare}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'acsThousandthShare' | translate}}:</label>
                        {{housing_units_data.acsThousandthShare}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'afsThousandthShare' | translate}}:</label>
                        {{housing_units_data.afsThousandthShare}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'surveyDate' | translate}}:</label>
                        {{housing_units_data.surveyDate| date: mediumShort}}
                    </li>
                </ul>
            </div>
            <div class="col-md-7">
                <h2>&nbsp;</h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa fa-home m-r-xs"></span>
                        <label>{{'address' |translate}}:</label>
                        {{housing_units_data.address.streetName}} {{housing_units_data.address.buildingNumber}}
                    </li>
                    <li>
                        <span class="fa fa-home m-r-xs"></span>
                        <label>{{ 'town' | translate}}</label>
                        {{housing_units_data.address.town}}
                        <label>{{ 'postalCode' | translate}}</label>
                        {{housing_units_data.address.postalCode}}
                        <label>{{ 'district' | translate}}</label>
                        {{housing_units_data.address.district}}
                    </li>
                    <li>
                        <span class="fa fa-home m-r-xs"></span>
                        <label>{{ 'province' | translate}}</label>
                        {{housing_units_data.address.province}}
                        <label>{{ 'country' | translate}}</label>
                        {{housing_units_data.address.country}}
                    </li>
                    <li>
                        <span class="fa fa-phone m-r-xs"></span>
                        <label>{{ 'phone' | translate}}:</label>
                        {{housing_units_data.contacts.PHONE}}
                    </li>
                    <li>
                        <span class="fa fa-mobile m-r-xs"></span>
                        <label>{{ 'mobile' | translate}}:</label>
                        {{housing_units_data.contacts.MOBILE}}
                    </li>
                    <li>
                        <span class="fa fa-envelope m-r-xs"></span>
                        <label>{{ 'email' | translate}}:</label>
                        {{housing_units_data.contacts.EMAIL}}
                    </li>

                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 widget lazur-bg">
                <h2>{{ 'cadastralReferences' |translate }}</h2>
                <ul class="list-unstyled m-t-md">
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.page' | translate}}:</label>
                        {{housing_units_data.cadastralReference.page}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.parcel' | translate}}:</label>
                        {{housing_units_data.cadastralReference.parcel}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.subordinate' | translate}}:</label>
                        {{housing_units_data.cadastralReference.subordinate}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.category' | translate}}:</label>
                        {{housing_units_data.cadastralReference.category}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.cadastralClass' | translate}}:</label>
                        {{housing_units_data.cadastralReference.cadastralClass}}
                    </li>
                    <li>
                        <span class="fa m-r-xs"></span>
                        <label>{{ 'cadastralReference.compartmentsNumber' | translate}}:</label>
                        {{housing_units_data.cadastralReference.compartmentsNumber}}
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="close()">{{ 'close' | translate}}</button>
    </div>

</div>