<div class="row" ng-form="vm.tableForm" translate-namespace="ThousandthsTables.Form">
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="description"><span translate>.Description</span> *</label>
            <input class="form-control" id="description" name="description" maxlength="70"
                   ng-model="vm.ngModel.description" ng-required="true" ng-maxlength="70"
                   ng-disabled="vm.readonly">
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="thousandthType"><span translate>.Type.Label</span> *</label>
            <select id="thousandthType" name="thousandthType" class="form-control"
                    ng-model="vm.ngModel.thousandthType" ng-required="true"
                    ng-disabled="vm.ngModel.id || vm.readonly" ng-change="vm.calculateSum()"
                    ng-options="item as ('ThousandthsTables.Form.Type.' + item | translate) for item in vm.thousandthsTablesTypes">
            </select>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="energyType"><span translate>.EnergyType.Label</span><span ng-if="vm.isEnergyTable()"> *</span></label>
            <select id="energyType" name="energyType" class="form-control"
                    ng-model="vm.ngModel.energyDistributionColumn" ng-required="vm.isEnergyTable()"
                    ng-disabled="!vm.isEnergyTable() || vm.readonly"
                    ng-options="item.value as ('ThousandthsTables.Form.EnergyType.' + item.value | translate) group by item.group for item in vm.energyTypes">
            </select>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 col-md-4">
        <div class="form-group">
            <label for="competence"><span translate>.Competence.Label</span> *</label>
            <select id="competence" name="competence" class="form-control"
                    ng-model="vm.ngModel.competenceType" ng-required="true"
                    ng-disabled="vm.readonly">
                <option value="FULL" translate>.Competence.Full</option>
                <option value="PERIOD" translate>.Competence.Period</option>
            </select>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="form-group">
            <label for="firstPeriodStart"><span translate>.FirstPeriod</span><span ng-if="vm.isCompetencePeriod()"> *</span></label>
            <div class="input-group">
                <input id="firstPeriodStart" name="firstPeriodStart" class="form-control text-right"
                       ng-model="vm.ngModel.firstCompentencePeriodFrom"
                       ng-required="vm.isCompetencePeriod()"
                       ng-disabled="!vm.isCompetencePeriod() || vm.readonly"
                       ng-model-options="{timezone: 'utc'}"
                       uib-datepicker-popup="{{ 'Formats.DayMonth' | translate }}"
                       is-open="vm.firstPeriodStartOpened"
                       on-open-focus="true"
                       show-button-bar="false"
                       disable-valid-styling="true"
                       ng-change="vm.change(vm.tableForm)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.firstPeriodStartOpened = !vm.firstPeriodStartOpened">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="form-group">
            <label for="firstPeriodEnd">&nbsp;</label>
            <div class="input-group">
                <input id="firstPeriodEnd" name="firstPeriodEnd" class="form-control text-right"
                       ng-model="vm.ngModel.firstCompentencePeriodTo"
                       ng-required="vm.isCompetencePeriod()"
                       ng-disabled="!vm.isCompetencePeriod() || vm.readonly"
                       ng-model-options="{timezone: 'utc'}"
                       uib-datepicker-popup="{{ 'Formats.DayMonth' | translate }}"
                       datepicker-options="{ minDate: vm.ngModel.firstCompentencePeriodFrom }"
                       is-open="vm.firstPeriodEndOpened"
                       on-open-focus="true"
                       show-button-bar="false"
                       disable-valid-styling="true"
                       ng-change="vm.change(vm.tableForm)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.firstPeriodEndOpened = !vm.firstPeriodEndOpened">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="form-group">
            <label for="secondPeriodStart"><span translate>.SecondPeriod</span></label>
            <div class="input-group">
                <input id="secondPeriodStart" name="secondPeriodStart" class="form-control text-right"
                       ng-model="vm.ngModel.secondCompentencePeriodFrom"
                       ng-disabled="!vm.ngModel.firstCompentencePeriodFrom || !vm.ngModel.firstCompentencePeriodTo || vm.readonly"
                       ng-model-options="{timezone: 'utc'}"
                       uib-datepicker-popup="{{ 'Formats.DayMonth' | translate }}"
                       is-open="vm.secondPeriodStartOpened"
                       on-open-focus="true"
                       show-button-bar="false"
                       disable-valid-styling="true"
                       ng-change="vm.change(vm.tableForm)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.secondPeriodStartOpened = !vm.secondPeriodStartOpened">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-2">
        <div class="form-group">
            <label for="secondPeriodEnd">&nbsp;</label>
            <div class="input-group">
                <input id="secondPeriodEnd" name="secondPeriodEnd" class="form-control text-right"
                       ng-model="vm.ngModel.secondCompentencePeriodTo"
                       ng-required="vm.ngModel.secondCompentencePeriodFrom"
                       ng-disabled="!vm.ngModel.firstCompentencePeriodFrom || !vm.ngModel.firstCompentencePeriodTo || vm.readonly"
                       ng-model-options="{timezone: 'utc'}"
                       uib-datepicker-popup="{{ 'Formats.DayMonth' | translate }}"
                       datepicker-options="{ minDate: vm.ngModel.secondCompentencePeriodFrom }"
                       is-open="vm.secondPeriodEndOpened"
                       on-open-focus="true"
                       show-button-bar="false"
                       disable-valid-styling="true"
                       ng-change="vm.change(vm.tableForm)">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="vm.secondPeriodEndOpened = !vm.secondPeriodEndOpened">
                        <i class="fa fa-calendar"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12" ng-switch="vm.ngModel.thousandthType">
        <div class="table-responsive" ng-switch-when="THOUSANDTH">
            <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-hover">
                <colgroup>
                    <col class="col-md-3">
                    <col class="col-md-3">
                    <col class="col-md-4">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td data-title="'ThousandthsTables.Form.Building' | translate"
                        data-sortable="'building'"
                        data-filter="{ building: 'select' }" data-filter-data="vm.buildings">
                        {{ row.building }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.Group' | translate"
                        data-sortable="'group'"
                        data-filter="{ group: 'select' }" data-filter-data="vm.groups">
                        {{ row.group }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.HousingUnit' | translate"
                        data-sortable="'housingUnitDescription'"
                        data-filter="{ housingUnitDescription: 'select' }" data-filter-data="vm.housingUnits">
                        {{ row.housingUnitDescription }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.Coefficient' | translate"
                        data-sortable="'coefficient'">
                        <input ng-currency min="0" max="99999"  data-ng-min="0" data-ng-max="99999" data-fraction="5"
                               currency-symbol="" hard-cap="true"
                               ng-model="row.coefficient" class="text-right form-control"
                               ng-change="vm.calculateSum()"
                               ng-disabled="vm.readonly">
                    </td>
                </tr>
                <tfoot>
                <tr>
                    <td class="text-right" colspan="3" translate>.Total</td>
                    <td class="text-right">{{ vm.coefficientSum | number : 5}}</td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="table-responsive" ng-switch-when="INDIVIDUAL">
            <table ng-table="vm.tableParams" class="table table-condensed table-bordered table-hover">
                <colgroup>
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-2">
                    <col class="col-md-4">
                    <col class="col-md-2">
                </colgroup>
                <tr ng-repeat="row in $data">
                    <td data-title="'ThousandthsTables.Form.Building' | translate"
                        data-sortable="'building'"
                        data-filter="{ building: 'select' }" data-filter-data="vm.buildings">
                        {{ row.building }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.Group' | translate"
                        data-sortable="'group'"
                        data-filter="{ group: 'select' }" data-filter-data="vm.groups">
                        {{ row.group }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.HousingUnit' | translate"
                        data-sortable="'housingUnitDescription'"
                        data-filter="{ housingUnitDescription: 'select' }" data-filter-data="vm.housingUnits">
                        {{ row.housingUnitDescription }}
                    </td>
                    <td data-title="'ThousandthsTables.Form.Person' | translate"
                        data-sortable="'fullName'" data-filter="{ fullName: 'text' }">
                       {{row.fullName}}
                    </td>
                    <td data-title="'ThousandthsTables.Form.Coefficient' | translate"
                        data-sortable="'coefficient'">
                        <input ng-currency min="0" max="99999" data-ng-min="0" data-ng-max="99999" data-fraction="5"
                               currency-symbol="" hard-cap="true"
                               ng-model="row.coefficient" class="text-right form-control"
                               ng-change="vm.calculateSum()"
                               ng-disabled="vm.readonly">
                    </td>
                </tr>
                <tfoot>
                <tr>
                    <td class="text-right" colspan="4" translate>.Total</td>
                    <td class="text-right">{{ vm.coefficientSum | number : 5 }}</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/thousandths-tables/fullName.html">
    <input type="text" name="{{name}}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]" class="input-filter form-control" maxlengh="3" angular-mask="000" placeholder="nnn" />
</script>