<script type="text/ng-template" id="app/thousandths-tables/thousandths-table-type-filter.html">
    <select name="{{ name }}" ng-disabled="$filterRow.disabled" ng-model="params.filter()[name]"
            class="input-filter form-control"
            ng-options="item as ('ThousandthsTables.List.Type.' + item | translate) for item in vm.thousandthsTablesTypes">
        <option value=""></option>
    </select>
</script>
<div class="wrapper wrapper-content" translate-namespace="ThousandthsTables.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="text-right">
                        <a ng-if="!vm.readOnly" ui-sref=".create" class="btn btn-sm btn-primary">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <a ng-if="vm.readOnly" class="btn btn-sm btn-primary" ng-disabled="true">
                            <i class="fa fa-plus"></i>
                            <span translate>.AddNew</span>
                        </a>
                        <button class="btn btn-default btn-sm" ng-click="vm.toggleFilters()" type="button">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" ng-click="vm.doPrintConfirm('xlsx')">
                            <i class="fa fa-file-excel-o fa-fw"></i>
                            <span translate>.ExportXlsx</span>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="vm.doPrintConfirm('pdf')">
                            <i class="fa fa-print fa-fw"></i>
                            <span translate>.Print</span>
                        </button>
                    </div>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div class="ibox-content" ng-hide="vm.loading">
                    <table ng-table="vm.tableParams" show-filter="vm.showFilters" class="table table-condensed table-bordered table-striped">
                        <colgroup>
                            <col class="col-md-5">
                            <col class="col-md-3">
                            <col class="col-md-3">
                            <col class="col-md-1">
                        </colgroup>
                        <tr ng-repeat="row in $data">
                            <td data-title="'ThousandthsTables.List.Name' | translate" data-sortable="'description'" data-filter="{ description : 'text' }">
                                {{ row.description }}
                            </td>
                            <td data-title="'ThousandthsTables.List.Type.Label' | translate" data-sortable="'thousandthType'" data-filter="{ thousandthType: 'app/thousandths-tables/thousandths-table-type-filter.html' }"
                                class="text-center">
                                {{ 'ThousandthsTables.List.Type.' + row.thousandthType | translate }}
                                <span ng-if="row.thousandthType === 'ENERGY'">
                                    ({{ 'ThousandthsTables.Form.EnergyType.' + row.energyDistributionColumn | translate }})
                                </span>
                            </td>
                            <td data-title="'ThousandthsTables.List.Competence.Label' | translate" class="text-center">
                                <span ng-if="row.competenceType === 'FULL'">{{ 'ThousandthsTables.List.Competence.' + row.competenceType | translate }}</span>
                                <span ng-if="row.competenceType === 'PERIOD'">
                                    <span translate>.Competence.From</span>
                                    {{ row.firstCompentencePeriodFrom | date: ('Formats.DayMonth' | translate) }}
                                    <span translate>.Competence.To</span>
                                    {{ row.firstCompentencePeriodTo | date: ('Formats.DayMonth' | translate) }}
                                </span>
                                <span ng-if="row.competenceType === 'PERIOD' && row.secondCompentencePeriodFrom">
                                    <span translate>.Competence.AndFrom</span>
                                    {{ row.secondCompentencePeriodFrom | date: ('Formats.DayMonth' | translate) }}
                                    <span translate>.Competence.To</span>
                                    {{ row.secondCompentencePeriodTo | date: ('Formats.DayMonth' | translate) }}
                                </span>
                            </td>
                            <td data-title="'ThousandthsTables.List.Actions' | translate" class="text-right">
                                <a ui-sref=".edit({ tableId: row.id })" class="btn btn-circle btn-default" uib-tooltip="{{ 'ThousandthsTables.List.Edit' | translate }}"
                                    tooltip-append-to-body="true">
                                    <i class="fa fa-fw fa-pencil"></i>
                                </a>
                                <button class="btn btn-circle btn-danger" ng-click="vm.removeTable(row)" uib-tooltip="{{ 'ThousandthsTables.List.Delete' | translate }}"
                                    tooltip-append-to-body="true" ng-disabled="vm.readOnly">
                                    <i class="fa fa-fw fa-trash-o"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>