<div class="wrapper wrapper-content" ng-form="vm.form" translate-namespace="ThousandthsTables.Create">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <spinner-loader ng-show="vm.loading"></spinner-loader>
                <div class="ibox-content" ng-if="!vm.loading">
                    <thousandths-table-form ng-model="vm.table"></thousandths-table-form>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="vm.loading">
        <div class="col-md-12 text-right">
            <a class="btn btn-default" ui-sref="^" translate>.Cancel</a>
            <button class="btn btn-primary" type="button" ng-disabled="vm.form.$invalid || vm.form.$pristine" ng-click="vm.doSave()" translate>.Save</button>
        </div>
    </div>
</div>
