<select id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.class }}"
        data-ng-model="$ctrl.value" data-ng-change="$ctrl.onChange()" data-ng-required="$ctrl.ngRequired"
        data-ng-disabled="$ctrl.ngDisabled" ng-options="tt as tt.description for tt in $ctrl.tables track by tt.id">
    <option value="" ng-if="!$ctrl.ngRequired"></option>
</select>