<form class="meetings-container" novalidate name="$ctrl.form" translate-namespace="Meetings.Unroll.Votation.Edit">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <wizard on-finish="$ctrl.doSave()" hide-indicators="true" current-step="$ctrl.currentStep" edit-mode="true">
        <div class="modal-body">
            <div ng-form="$ctrl.votationTypeForm">
                <wz-step wz-title="configuration">
                    <votation-input data-ng-model="$ctrl.votation"
                                    data-condominium="$ctrl.resolve.condominium"
                                    data-meeting="$ctrl.resolve.meeting"
                                    data-call="$ctrl.resolve.call"
                                    data-edit="true"
                                    on-entries-loaded="$ctrl.loadVoters()"
                                    ></votation-input>
                </wz-step>
            </div>
            <div ng-form="$ctrl.votationForm">
                <wz-step wz-title="votation">
                    <vote-input data-ng-model="$ctrl.votation.votes"
                                data-voters="$ctrl.voters"
                                data-voting-settings="$ctrl.votingSettings"></vote-input>
                    <vote-result data-votes="$ctrl.votation.votes"
                                 data-voters="$ctrl.voters"
                                 data-voting-settings="$ctrl.votingSettings"
                                 data-rule="$ctrl.votation.votingRule"
                                 data-call="$ctrl.resolve.call"
                                 on-votation-result="$ctrl.updateVotationResult(result)"></vote-result>
                </wz-step>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-6 text-left">
                    <button class="btn btn-default" type="button"
                            wz-previous="" ng-disabled="$ctrl.currentStep !== 'votation'">
                        <span translate>.Back</span>
                    </button>
                </div>
                <div class="col-md-6">
                    <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
                    <button class="btn btn-success" type="button"
                            wz-next=""
                            ng-disabled="$ctrl.votationTypeForm.$invalid"
                            ng-hide="$ctrl.currentStep === 'votation'">
                        <span translate>.Next</span>
                    </button>
                    <button class="btn btn-primary" type="button"
                            wz-finish=""
                            ng-disabled="$ctrl.votationForm.$invalid">
                        <span translate>.Save</span>
                    </button>
                </div>
            </div>
        </div>
    </wizard>
</form>
