<div translate-namespace="Meetings.Unroll.Votation">
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            <div class="form-group">
                <label for="datetime"><span translate>.DateTime</span><span> *</span></label>
                <p class="input-group">
                    <input id="datetime" name="datetime" type="text" class="form-control text-right"
                           datetime-picker="dd/MM/yyyy HH:mm"
                           data-ng-model="$ctrl.value.dateTime"
                           data-ng-model-options="{ timezone: 'utc' }"
                           data-ng-required="true"
                           data-is-open="$ctrl.open"
                           data-datepicker-append-to-body="true"
                           data-datepicker-options="$ctrl.datepickerOptions"
                           data-timepicker-options="{ 'show-meridian': false }">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default"
                              ng-click="$ctrl.open = !$ctrl.open">
                          <i class="fa fa-calendar"></i>
                      </button>
                  </span>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="agendaEntry"><span translate>.AgendaEntry</span><span> *</span></label>
                <meeting-agenda-entry-select id="agendaEntry" name="agendaEntry"
                                             condominium-id="$ctrl.condominium.id"
                                             meeting-id="$ctrl.meeting.id"
                                             ng-model="$ctrl.value.meetingAgendaEntry"
                                             ng-required="true"
                                             ng-disabled="$ctrl.edit"
                                             on-entries-loaded="$ctrl.onEntriesLoaded()"
                                             data-ng-change="$ctrl.onAgendaEntryChange()"></meeting-agenda-entry-select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="votingRuleId"><span translate>.VotingRule</span><span> *</span></label>
                <voting-rule-select id="votingRuleId" name="votingRuleId"
                                    ng-required="true"
                                    data-ng-model="$ctrl.value.votingRuleId"
                                    data-ng-change="$ctrl.onVotingRuleChange()"></voting-rule-select>

            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="displayAs"><span translate>.DisplayAs.Label</span><span> *</span></label>
                <select id="displayAs" name="displayAs" class="form-control"
                        ng-required="true" data-ng-model="$ctrl.value.displayAs" data-ng-change="$ctrl.onChange()">
                    <option value="COMPACT_LIST" translate>.DisplayAs.COMPACT_LIST</option>
                    <option value="TABLE_FULL" translate>.DisplayAs.TABLE_FULL</option>
                    <option value="TABLE_WO_YES" translate>.DisplayAs.TABLE_WO_YES</option>
                    <option value="TABLE_WO_NO" translate>.DisplayAs.TABLE_WO_NO</option>
                    <option value="SUMMARY" translate>.DisplayAs.SUMMARY</option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="propertyTable"><span translate>.PropertyTable</span><span> *</span></label>
                <thousandths-table-select id="propertyTable" name="propertyTable" data-property-only="true"
                                          data-ng-model="$ctrl.value.propertyTable"
                                          data-condominium-id="$ctrl.condominium.id"
                                          data-ng-required="true"
                                          data-ng-change="$ctrl.onChange()"></thousandths-table-select>
            </div>
        </div>
        <div class="col-md-12">
            <participants-input ng-model="$ctrl.value"
                                data-condominium="$ctrl.condominium"
                                data-ng-change="$ctrl.onChange()"></participants-input>
        </div>
    </div>
</div>