<div class="m-t-md">
    <div class="alert alert-info" translate-namespace="Meetings.Unroll.Votation">
        <span translate translate-values="$ctrl">.Presents</span>
        <br>
        <span translate translate-values="$ctrl">.YesVotes</span>
        <span>,&nbsp;</span>
        <span translate translate-values="$ctrl">.NoVotes</span>
        <span>,&nbsp;</span>
        <span translate translate-values="$ctrl">.AbsVotes</span>
        <span>&nbsp;</span>
        <strong ng-if="$ctrl.approved" translate>.Approved</strong>
        <strong ng-if="!$ctrl.approved" translate>.NotApproved</strong>
    </div>
</div>