<div class="table-responsive" translate-namespace="Meetings.Unroll.Votation">
    <table ng-table="$ctrl.tableParams"
           data-show-group="false"
           class="table table-condensed table-bordered">
        <colgroup>
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-1">
            <col class="col-md-2">
            <col class="col-md-2">
            <col class="col-md-3">
            <col class="col-md-1">
            <col class="col-md-1">
        </colgroup>
        <tr ng-repeat-start="group in $groups">
            <td data-header="'app/meetings/votation/yesHeader.html'"
                class="text-center">
                <div class="form-group">
                    <input type="radio" name="person_{{group.data[0].personId}}" data-ng-model="$ctrl.votes[group.data[0].personId]" value="YES"
                           data-ng-change="$ctrl.onVoteChange()">
                </div>
            </td>
            <td data-header="'app/meetings/votation/noHeader.html'"
                class="text-center">
                <div class="form-group">
                    <input type="radio" name="person_{{group.data[0].unitId}}" data-ng-model="$ctrl.votes[group.data[0].personId]" value="NO"
                           data-ng-change="$ctrl.onVoteChange()">
                </div>
            </td>
            <td data-header="'app/meetings/votation/absHeader.html'"
                class="text-center">
                <div class="form-group">
                    <input type="radio" name="person_{{group.data[0].unitId}}" data-ng-model="$ctrl.votes[group.data[0].personId]" value="ABS"
                           data-ng-change="$ctrl.onVoteChange()">
                </div>
            </td>
            <td data-title="'Meetings.Unroll.Appeal.Person' | translate"
                data-groupable="'personId'"
                data-sortable="'fullName'">
                {{ group.data[0] | fullName }}
            </td>
            <td data-title="'Meetings.Unroll.Appeal.Delegate' | translate">
                {{ group.data[0].delegate }}
            </td>
            <td data-title="'Meetings.Unroll.Appeal.HousingUnit' | translate">
                <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                    <i class="fa" ng-class="{ 'fa-plus-square-o': group.$hideRows, 'fa-minus-square-o': !group.$hideRows }"></i>
                </a>
                <span ng-if="group.data.length === 1">
                    {{ group.data[0].building }} / {{ group.data[0].group }} / {{ group.data[0].unit }}
                </span>
            </td>
            <td data-title="'Meetings.Unroll.Appeal.Role' | translate" class="text-center">
                <span ng-if="group.data.length === 1"
                      uib-tooltip="{{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate }}"
                      data-tooltip-placement="top" data-tooltip-append-to-body="true">
                    {{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate | truncate: 4 : '...' }}
                </span>
            </td>
            <td data-title="'Meetings.Unroll.Appeal.Thousandths' | translate" class="text-right">
                <span>
                    {{ (group.data | map: 'thousandths' | sum) / $ctrl.totalThousandths * 1000 | number: 4 }}
                </span>
            </td>
        </tr>
        <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td> </td>
            <td> </td>
            <td>
                {{ row.building }} / {{ row.group }} / {{ row.unit }}
            </td>
            <td class="text-center">
                <span uib-tooltip="{{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate }}"
                      data-tooltip-placement="top" data-tooltip-append-to-body="true">
                    {{ 'Structures.Edit.Role.Type.' + group.data[0].roleType | translate | truncate: 4 : '...' }}
                </span>
            </td>
            <td class="text-right">{{ row.thousandths / $ctrl.totalThousandths * 1000 | number: 4 }}</td>
        </tr>
        <tfoot>
        <tr>
            <td colspan="7" class="text-right">
                <span translate>.ThousandthsSum</span>
            </td>
            <td class="text-right">
                {{ $ctrl.totalPresentsThousandths | number: 4 }}
            </td>
        </tr>
        </tfoot>
    </table>
</div>
<script type="text/ng-template" id="app/meetings/votation/yesHeader.html">
    <a href="" ng-click="$ctrl.toggleYesVotes()"><u translate>Meetings.Unroll.Votation.Yes</u></a>
</script>
<script type="text/ng-template" id="app/meetings/votation/noHeader.html">
    <a href="" ng-click="$ctrl.toggleNoVotes()"><u translate>Meetings.Unroll.Votation.No</u></a>
</script>
<script type="text/ng-template" id="app/meetings/votation/absHeader.html">
    <a href="" ng-click="$ctrl.toggleAbsVotes()"><u translate>Meetings.Unroll.Votation.Abs</u></a>
</script>