<div class="col-sm-4 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span translate>.Detail</span>
        </div>
        <div class="panel-body2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><span translate>.Kind.Title</span></td>
                        <td class="text-right"><span class="label" translate>  {{ '.NewRecord.' + vm.tx.type }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.KindInvoice</span></td>
                        <td class="text-right">
                            <span translate ng-if="vm.tx.accreditationNote">.AccreditationNote</span>
                            <span translate ng-if="vm.tx.proformaInvoice && !vm.tx.proformaAccounted">.ProformaInvoice</span>
                            <span translate ng-if="!vm.tx.accreditationNote && vm.tx.proformaAccounted">.Invoice</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.Protocol</span></td>
                        <td class="text-right">{{ vm.tx.typeCode}}{{ vm.tx.protocol}}</td>
                    </tr>
                    <tr>
                        <td><span translate>.EconomicPath</span></td>
                        <td class="text-right">
                            <span translate ng-if="vm.tx.economicWritingDetail.length > 1">.MultiCost</span>
                            <span translate ng-if="vm.tx.economicWritingDetail.length == 1"> {{ vm.tx.economicWritingDetail[0].materializedPathDescription }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.PatrimonialPath</span></td>
                        <td class="text-right"><span translate>  {{ vm.tx.patrimonialWritingDetail.materializedPathDescription }}</span>
                        </td>
                    </tr>                    
                    <tr>
                        <td><span translate>.Status.Status</span></td>
                        <td class="text-right">
                            <div ng-repeat="counter in vm.tx.counter.amountCounter track by counter.type" class="transaction-types">
                                <button class="btn btn-mix-{{ counter.status }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.RecordKind.' + counter.type | translate }} - {{ 'ManualTransaction.Status.' + counter.status | translate }}"
                                    tooltip-append-to-body="true"><i class="fa fa-mix-{{ counter.status }}"></i>
				                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.Status.CheckedTitle</span></td>
                        <td class="text-right">
                            <button class="btn btn-mix-{{ vm.tx.checked }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + vm.tx.checked | translate }}"
                                tooltip-append-to-body="true">
				                                        <i class="fa fa-mix-{{ vm.tx.checked }}"></i>
				                                    </button>
                        </td>
                    </tr>
                    <tr ng-if="vm.tx.rejected != 'NOT_REJECTED'">
                        <td><span translate>.Status.RejectedTitle</span></td>
                        <td class="text-right">
                            <button class="btn btn-mix-{{ vm.tx.rejected }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + vm.tx.rejected | translate }}"
                                tooltip-append-to-body="true">
				                                        <i class="fa fa-mix-{{ vm.tx.rejected }}"></i>
				                                    </button>
                        </td>
                    </tr>
                    <tr ng-if="vm.tx.withHolding">
                        <td colspan="2"><span translate>.Amount</span></td>
                    </tr>
                    <tr ng-if="vm.tx.withHolding">
                        <td colspan="2" class="transaction-totals-container">

                            <table class="table">
                                <tbody>
                                    <div>
                                        <tr>
                                            <td class="text-left"><span translate>.NetAmount</span></td>
                                            <td class="text-right"><span translate>{{ vm.tx.invoiceDetail.netAmount | currency }}</span></td>
                                        </tr>
                                        <tr>
                                            <td class="text-left"><span translate>.AmountWithHolding</span></td>
                                            <td class="text-right"><span translate><span translate>{{ vm.tx.invoiceDetail.withholdingToPay | currency }}</span></td>
                                        </tr>
                                    </div>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td class="text-left"><strong><span translate>.TotalAmount</span></strong></td>
                                        <td class="text-right">{{ vm.tx.totalAmount | currency }}</td>
                                    </tr>
                                </tfoot>
                            </table>

                        </td>
                    </tr>
                    <tr ng-if="!vm.tx.withHolding">
                        <td><span translate>.Amount</span></td>
                        <td class="text-right">{{ vm.tx.totalAmount | currency }}</td>
                    </tr>    
                    <tr>
                        <td><span translate>.Period</span></td>
                        <td class="text-right">{{ vm.tx.startDate | date: 'shortDate' }} - {{ vm.tx.endDate | date: 'shortDate'}}</td>
                    </tr>
                    <tr>
                        <td><span translate>.WithHolding</span></td>
                        <td class="text-right"><input type="checkbox" ng-model="vm.tx.withHolding" disabled="true"></td>
                    </tr>
                    <tr>
                        <td><span translate>.FacilitatedSupplier</span></td>
                        <td class="text-right"><input type="checkbox" ng-model="vm.tx.facilitatedSupplier" disabled="true"></td>
                    </tr>
                    <tr>
                        <td><span translate>.AccreditationNote</span></td>
                        <td class="text-right"><input type="checkbox" ng-model="vm.tx.accreditationNote" disabled="true"></td>
                    </tr>
                    <tr>
                        <td><span translate>.Unexpected</span></td>
                        <td class="text-right"><input type="checkbox" ng-model="vm.tx.unexpected" disabled="true"></td>
                    </tr>
                    <tr>
                        <td><span translate>.Deductible</span></td>
                        <td class="text-right"><input type="checkbox" ng-model="vm.tx.deductible" disabled="true"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>