<div class="wrapper wrapper-content manual-transaction-container" ng-form="vm.form" translate-namespace="ManualTransaction">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.AddManualTransaction</h5>
                    </div>
                    <spinner-loader ng-show="vm.loading"></spinner-loader>
                    <div class="ibox-content" ng-if="!vm.loading" >
                        <div ng-include="'app/accounting-transaction/manual-transaction/manual-transaction-form.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="vm.loading">
            <div class="col-md-12 text-right">
        
                <button class="btn btn-primary" ng-if="vm.period.status == 'OPEN'" type="button" data-ng-disabled="vm.form.$invalid || vm.form.$pristine"  progress-button="vm.doInsertAndExit()"     ><span translate>.SaveReturn</span></button>
                <button class="btn btn-primary" ng-if="vm.period.status == 'OPEN'" type="button" ng-disabled="vm.form.$invalid || vm.form.$pristine"       progress-button="vm.doInsertAndContinue()" ><span translate>.SaveInsert</span></button>
                <a onClick="javascript:history.go(-1);"  class="btn btn-default" translate>.Cancel</a>
            </div>
        </div>
    </div>


    