    <div class="panel panel-primary" ng-if="vm.tx.alreadyPaid">
        <div class="panel-heading">
            <div class="panel-title" translate>.Payment</div>
        </div>
        <div class="panel-body">
            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <label for="startPaymentDate"><span translate>.PaymentDate</span><span ng-show="vm.tx.alreadyPaid">*</span></label>
                        <div class="input-group">
                            <input id="record-paymentDate" name="dateTo" class="form-control" ng-model="vm.tx.payment.record.date" ng-required="vm.tx.alreadyPaid"
                                ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate}}"
                                is-open="vm.paymentDateOpened" on-open-focus="true" show-button-bar="false
                           " disable-valid-styling="true"
                                ng-disabled="!vm.tx.alreadyPaid">
                            <span class="input-group-btn" ng-disabled="!vm.tx.alreadyPaid">
                                            <button type="button" class="btn btn-default" ng-click="vm.paymentDateOpened=!vm.paymentDateOpened">
                                            <i class="fa fa-calendar"  ng-disabled="!vm.tx.alreadyPaid"></i>
                                        </button>
                                    </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="paiddescr"><span translate>.PaymentDescription</span><span ng-show="vm.tx.alreadyPaid">*</span></label>
                        <input min="0" ng-model="vm.tx.payment.record.description" class="form-control text-left" name="paiddescr"
                           ng-required="vm.tx.alreadyPaid"
                            ng-min="5" id="paiddescr" value="100" ng-disabled="!vm.tx.alreadyPaid" />
                    </div>
                </div>
                <div class="col-md-12" ng-if="vm.tx.withHolding">
                    <div class="form-group">
                        <label for="withHoldDesc"><span translate>.WithHoldingDescription</span><span ng-show="vm.tx.alreadyPaid">*</span></label>
                        <input min="0" ng-model="vm.tx.withHoldingDescription" class="form-control text-left" name="withHoldDesc"
                            ng-required="vm.tx.withHolding"
                            ng-min="5" id="withHoldDesc" value="100" ng-disabled="!vm.tx.alreadyPaid" />
                    </div>
                </div>                
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="refPay"><span translate>.DocumentReference</span><span ng-show="vm.tx.alreadyPaid">*</span></label>
                        <input min="0" ng-model="vm.tx.payment.record.referenceDocument" class="form-control text-left
                           " name="refPay" ng-required="false" 
                            ng-min="0" id="refPay" value="100" ng-disabled="!vm.tx.alreadyPaid" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="PaymentMode"><span translate>.PaymentMode</span>*</label>
                        <select id="PaymentMode" name="PaymentMode" class="form-control" ng-model="vm.tx.payment.record.paymentMode"
                            ng-options="item as item | translate for item in vm.paymentModeList" required="true" >
                    </select>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="paymentResourcePath"><span translate>.PaymentResourcePath</span><span ng-show="vm.tx.alreadyPaid">*</span></label>
                        <account-input id="paymentResourcePath" name="paymentResourcePath" ng-model="vm.tx.payment.resourceWritingDetail.materializedPath" chart-of-accounts-id="vm.period.chartOfAccountsId"
                            company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedResourceRootPath}}" ng-disabled="!vm.tx.alreadyPaid"
                            ng-required="vm.tx.alreadyPaid"></account-input>
                    </div>

                </div>




            </div>



        </div>
    </div>