<div class="panel panel-primary" ng-if="vm.tx.withHolding">
    <div class="panel-heading">
        <div class="panel-title" translate>.WithHoldingDetail</div>
    </div>
    <div class="panel-body">
        <div class="row">

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="withHoldingRate"><span translate>.WithHoldingRate.Label</span>*</label>

                    <select id="withHoldingRate" name="withHoldingRate" class="form-control" ng-model="vm.tx.withHoldingRate"
                         ng-required="vm.tx.withHolding" ng-if="vm.tx.withHolding" 
                          ng-options="item.label as ('ManualTransaction.WithHoldingRate.Value.' + item.label | translate) | translate for item in vm.withHoldingRates">
                     
                    </select>
                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="socialSecurityAmount"><span translate>.SocialSecurityAmount</span></label>

                    <input id="socialSecurityAmount" min="0" ng-model="vm.tx.socialSecurityAmount" class="form-control text-right" name="socialSecurityAmount"
                        ng-currency  ng-if="vm.tx.withHolding" />

                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="exemptExpanses"><span translate>.ExemptExpanses</span></label>

                    <input id="exemptExpanses" min="0" ng-model="vm.tx.exemptExpanses" class="form-control text-right" name="exemptExpanses"
                        ng-currency ng-if="vm.tx.withHolding" />

                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-primary" ng-if="vm.tx.withHolding">
    <div class="panel-heading">
        <div class="panel-title" translate>.770Detail</div>
    </div>
    <div class="panel-body">
        <div class="row">
           <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="form-group">
                    <label for="lordAmount770"><span translate>.LordAmount770</span></label>

                    <input id="lordAmount770" min="0" ng-model="vm.tx.lordAmount770" class="form-control text-right" name="lordAmount770"
                        ng-currency value="100" ng-if="vm.tx.withHolding"
                    />

                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sumsExcluded770"><span translate>.SumsExcluded770</span></label>

                    <input id="sumsExcluded770" min="0" ng-model="vm.tx.sumsExcluded770" class="form-control text-right" name="sumsExcluded770"
                        ng-currency value="100" ng-if="vm.tx.withHolding"
                    />

                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="form-group">
                    <label for="sumsExcluded770"><span translate>.OtherSumsExcluded770</span></label>

                    <input id="otherSumsExcluded770" min="0" ng-model="vm.tx.otherSumsExcluded770" class="form-control text-right" name="otherSumsExcluded770"
                        ng-currency value="100"  ng-if="vm.tx.withHolding" />

                </div>
            </div>
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="form-group ">
                    <label for="taxable770 "><span translate>.Taxable770</span></label>
                    <input id="taxable770" min="0 " ng-model="vm.tx.taxable770" class="form-control text-right"
                        name="taxable770" ng-currency value="100"  ng-if="vm.tx.withHolding"  />
                </div>
            </div>    
            <div class="col-md-4 col-sm-6 col-xs-12 ">
                <div class="form-group ">
                    <label for="suspendendAmount770 "><span translate>.SuspendendAmount770</span></label>
                    <input id="suspendendAmount770" min="0 " ng-model="vm.tx.suspendendAmount770 " class="form-control text-right " name="suspendendAmount770 "
                        ng-currency value="100" 
                        ng-if="vm.tx.withHolding"  />

                </div>
            </div>                 
        
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            

        </div>



    </div>
</div> 