<div class="content" translate-namespace="ManualTransaction">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>{{ vm.tx.type }} </span> --
                <span> {{vm.period.description}} - {{ vm.period.period.startDate | date: 'shortDate' }} - {{ vm.period.period.endDate
                    | date: 'shortDate' }} </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="vm.periodLoaded && vm.period.status !='OPEN'">
                    <div class="form-group">
                        <label for="type">
                            <span class="label-danger" ng-if="vm.periodLoaded && vm.period.status !='OPEN'" translate>.MessageFinancialPeriod</span>
                        </label>
                    </div>
                </div>

                <div class="col-md-8 col-sm-6 col-xs-12" ng-if="vm.tx.counter.numOfChildren > 0">
                    <div class="form-group">
                        <label for="noteChanged">
                            <span translate>.NoteUpdateWritingDisabled</span>
                        </label>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>{{'ManualTransaction.Type.Label' | translate}}:</label>
                        <div class="radio">
                            <label>
                                <input type="radio" name="invoiceType" ng-change="vm.onChangeType()" ng-model="vm.invoiceType" value="INVOICE"> {{'ManualTransaction.Type.Invoice' | translate}}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="invoiceType" ng-change="vm.onChangeType()" ng-model="vm.invoiceType" value="NOTE"> {{'ManualTransaction.Type.Accreditation' | translate}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.showWithHolding && !vm.tx.accreditationNote">
                    <div class="form-group">
                        <label for="withHolding">
                            <span translate>.WithHolding</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.withHolding" ng-model-options="{ debounce: 250 }" name="withHolding" id="withHolding"
                            ng-disabled="vm.tx.counter.numOfChildren> 0" ng-change="vm.onChangeWithholdingEnabled()" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.showProforma && !vm.tx.accreditationNote">
                    <div class="form-group">
                        <label for="proformaInvoice">
                            <span translate>.ProformaInvoice</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.proformaInvoice" ng-model-options="{ debounce: 250 }" name="proformaInvoice" id="proformaInvoice"
                            ng-disabled=" vm.tx.accreditationNote || vm.tx.counter.numOfChildren > 0 || vm.tx.proformaAccounted "
                            ng-change="vm.setProforma(vm.tx)" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.tx.proformaInvoice && vm.isUpdate">
                    <div class="form-group">
                        <button class="btn btn-primary" type="button" ng-click="vm.openPopupProforma()" translate ng-if="!vm.tx.proformaAccounted">ManualTransaction.CreateInvoice</button>
                        <button class="btn btn-primary" type="button" ng-click="vm.openPopupProforma()" translate ng-if="vm.tx.proformaAccounted">ManualTransaction.UpdateInvoice</button>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="costMatPath">
                            <span translate>.PatrimonialPath</span>*</label>
                        <account-input id="patrimonialPath" name="patrimonialPath" ng-model="vm.supplierMatPath" ng-disabled="vm.tx.counter.numOfChildren > 0 || vm.tx.proformaAccounted "
                            ng-required="true" chart-of-accounts-id="vm.period.chartOfAccountsId" company-id="vm.period.ownerCompanyId"
                            root-account="{{vm.patrimonialRootPath}}"></account-input>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12" ng-if="vm.tx.withHolding">
                    <div class="form-group">
                        <label for="facilitatedSupplier">
                            <span translate>.FacilitatedSupplier</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.facilitatedSupplier" ng-model-options="{ debounce: 250 }" name="facilitatedSupplier"
                            id="facilitatedSupplier" ng-disabled="vm.tx.counter.numOfChildren> 0" />
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="recordingDate">
                            <span translate>.RecordingDate</span>*</span>
                        </label>
                        <date-with-financial-period-check id="recordingDate" name="recordingDate" ng-required="true" ng-model="vm.tx.recordingDate"
                            ng-disabled="vm.tx.proformaAccounted" financial-period="vm.period" check-greater-start-date="false"
                            check-lowest-end-date="false" check-date-range="true"></date-with-financial-period-check>

                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div ng-if="vm.tx.proformaInvoice || vm.tx.proformaAccounted ">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="proformaDate">
                                <span translate>.ProformaDate</span>*</label>
                            <div class="input-group">
                                <input id="proformaDate" name="proformaDate" class="form-control" ng-model="vm.tx.proformaDate" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                    is-open="vm.proformaDateOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true"
                                    ng-required="vm.tx.proformaInvoice" ng-readonly="vm.tx.proformaAccounted">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.proformaDateOpened = !vm.proformaDateOpened" ng-disabled="vm.tx.proformaAccounted">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="proformaReferenceDocument">
                                <span translate>.ReferenceProformaDocument</span>*</label>
                            <input min="0" ng-model="vm.tx.proformaReferenceDocument" class="form-control text-left" name="proformaReferenceDocument"
                                ng-min="0" id="proformaReferenceDocument" value="100" ng-required="vm.tx.proformaInvoice" ng-readonly="vm.tx.proformaAccounted"
                            />
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div ng-if="!vm.tx.proformaInvoice">
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="invoiceExpireDate">
                                <span translate>.DocumentDate</span>*
                            </label>
                            <date-with-financial-period-check id="invoiceDate" name="invoiceDate" ng-model="vm.tx.invoiceDate" financial-period="vm.period"
                                check-greater-start-date="false" check-lowest-end-date="false" ng-disabled="vm.tx.proformaInvoice"
                                ng-required="true" check-date-range="false" external-initial-bindings="vm.tx.recordingDate" ng-disabled="vm.tx.proformaAccounted"></date-with-financial-period-check>

                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="expiryDate">
                                <span translate>.DocumentExpireDate</span>
                                <span>*</span>
                            </label>
                            <date-with-financial-period-check id="expiryDate" name="expiryDate" ng-required="true" ng-model="vm.tx.expiryDate" financial-period="vm.period"
                                check-greater-start-date="false" check-lowest-end-date="false" ng-disabled="vm.tx.proformaInvoice"
                                check-date-range="false" external-initial-bindings="vm.tx.recordingDate" ng-disabled="vm.tx.proformaAccounted"></date-with-financial-period-check>
                        </div>
                    </div>
                    <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="documentReference">
                                <span translate>.DocumentReference</span>*
                            </label>
                            <input min="0" ng-model="vm.tx.referenceDocument" class="form-control text-left" ng-required="true" uib-typeahead="a as a |  translate for a in vm.referenceDocumentList "
                                data-typeahead-append-to-body="false" data-typeahead-editable="true" typeahead-show-hint="true"
                                typeahead-min-length="0" name="documentReference" ng-required="false" ng-min="0" id="documentReference"
                                ng-maxlength="35" />
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="startDate">
                            <span translate>.StartDate</span>*</label>
                        <date-with-financial-period-check id="startDate" name="startDate" ng-required="true" ng-model="vm.tx.startDate" financial-period="vm.period"
                            check-greater-start-date="false" check-lowest-end-date="true" check-date-range="vm.period.type === 'SPECIAL'"
                            external-initial-bindings="vm.tx.recordingDate"></date-with-financial-period-check>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="endDate">
                            <span translate>.EndDate</span>*
                        </label>
                        <date-with-financial-period-check check="true" id="endDate" name="endDate" ng-required="true" ng-model="vm.tx.endDate" financial-period="vm.period"
                            check-greater-start-date="true" check-lowest-end-date="false" check-date-range="vm.period.type === 'SPECIAL'"
                            external-initial-bindings="vm.tx.startDate" min-date-range="vm.tx.startDate"></date-with-financial-period-check>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="unexpected">
                            <span translate>.EasyRecording</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.simplified" ng-model-options="{ debounce: 250 }" name="unexpected" id="unexpected"
                            ng-disabled="vm.tx.withHolding || vm.useOnlySimplified" />
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12" ng-show="vm.tx.simplified">
                    <div class="form-group">
                        <label for="unexpected">
                            <span translate>.Amount</span>
                        </label>
                        <input id="simplifiedAmount" name="simplifiedAmount" min="0" ng-model="vm.tx.totalAmount" class="form-control text-right"
                            ng-currency ng-required="true" ng-min="0">
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="!vm.useOnlySimplified">
                    <div class="form-group">
                        <invoice-amount ng-model="vm.tx.invoiceDetail" transaction="vm.tx" company-id="vm.companyId" withholding-enabled="vm.tx.withHolding"
                            facilitated-supplier="vm.tx.facilitatedSupplier" invoice-date="vm.tx.invoiceDate" simplified="vm.tx.simplified"
                            total-amount="vm.tx.totalAmount">
                        </invoice-amount>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <materialized-path-list ng-model="vm.tx.economicWritingDetail" external-root-path="vm.economicRootPath" component-title="{{ 'ManualTransaction.Account' | translate }}"
                            transaction="vm.tx" company-id="vm.companyId" period="vm.period" external-amount-to-divide="vm.tx.totalAmount">
                        </materialized-path-list>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="description">
                            <span translate>.Description</span>*</label>
                        <input id="description" name="description" ng-required="true" ng-model="vm.tx.description" class="form-control" ng-maxlength="300">
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="notes">
                            <span translate>.Note</span>
                        </label>
                        <textarea min="0" ng-model="vm.tx.notes" class="form-control text-left" name="notes" ng-required="false" ng-min="0" id="notes"
                            value="100" rows="5" ng-maxlength="1000" />
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="unexpected">
                            <span translate>.Unexpected</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.unexpected" ng-model-options="{ debounce: 250 }" name="unexpected" id="unexpected"
                        />
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="deductible">
                            <span translate>.Deductible</span>
                        </label>
                        <input type="checkbox" ng-model="vm.tx.deductible" ng-model-options="{ debounce: 250 }" name="deductible" id="deductible"
                        />
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12" ng-if="vm.tx.deductible">
                    <div class="form-group">
                        <label for="deducitibiltyType">
                            <span translate>.DeductibleType</span>*</label>

                        <select id="deducitibiltyType" name="deducitibiltyType" class="form-control" ng-model="vm.tx.deductibilityType" ng-required="vm.tx.deductible"
                            ng-if="vm.tx.deductible" ng-options="item as ('ManualTransaction.DeductibilityTypes.Value.' + item | translate) | translate for item in vm.deductibilityTypes">

                        </select>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-8 col-sm-6 col-xs-12" ng-if="vm.tx.counter.numOfChildren > 0">
                    <div class="form-group">
                        <label for="amountpaid">
                            <span translate>.NoteUpdatePayment</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12" ng-if="!vm.isUpdate">
                    <div class="form-group">
                        <label for="paid" translate>.Paid</label>
                        <input type="checkbox" ng-model="vm.tx.alreadyPaid" ng-disabled="vm.tx.createExpiry" ng-model-options="{ debounce: 250 }"
                            name="paid" id="paid" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/accounting-transaction/manual-transaction/manual-transaction-payment.html'" ng-if="vm.tx.alreadyPaid">
    </div>
</div>