<form novalidate name="form" translate-namespace="ManualTransaction">
        <div class="modal-header">
            <h4 class="modal-title" translate>.TitleUpdatePayment</h4>
        </div>
        <div class="modal-body">
            <spinner ng-show="vm.loading"></spinner>
    
            <div ng-if="!vm.loading" ng-include="'app/accounting-transaction/manual-transaction/payment-form.html'">
            </div>
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="vm.doSave()" ng-if="!vm.loading" ng-disabled="form.$invalid || Form.$pristine" translate>.Save</button>
        </div>
</form>


