<div ng-form="inner" translate-namespace="ManualTransaction">
    <uib-tabset active="vm.active">
        <uib-tab index="0" heading="{{ 'ManualTransaction.Payment' | translate }}">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="payment-paymentDate">
                                <span translate>.Date</span>*</label>
                            <div class="input-group">
                                <input id="payment-paymentDate" name="paymentDate" class="form-control" ng-model="vm.dto.paymentData.record.date" ng-required="false"
                                    ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                    is-open="vm.paymentDateOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true"
                                    ng-required="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.paymentDateOpened = !vm.paymentDateOpened">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <label for="amount">
                                <span translate>.Amount </span>*</label>
                            <input id="amount" name="amount" class="form-control text-right" ng-model="vm.dto.paymentData.record.amount" ng-currency
                                ng-required="true">
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label for="description">
                                <span translate>.Description</span>*</label>
                            <input id="description" name="description" required="true" class="form-control" ng-model="vm.dto.paymentData.record.description">
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label for="payment-refPay">
                                <span translate>.DocumentReference</span>
                                <span ng-if="vm.dto.paymentPaid">*</span>
                            </label>
                            <input id="payment-refPay" name="referenceDocument" ng-required="vm.dto.paymentPaid" class="form-control" ng-model="vm.dto.paymentData.record.referenceDocument">
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label for="PaymentMode">
                                <span translate>.PaymentMode</span>*</label>
                            <select id="PaymentMode" name="PaymentMode" class="form-control" required="true" ng-model="vm.dto.paymentData.record.paymentMode"
                                ng-options="item as item| translate for item in vm.paymentModeList">

                            </select>
                        </div>
                        <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="paymentPaid">
                                    <span translate>.Paid</span>
                                </label>
                                <input type="checkbox" ng-model="vm.dto.paymentPaid" ng-model-options="{ debounce: 250 }" name="paymentPaid" id="paymentPaid"
                                />
                            </div>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <label for="paymentResourcePath">
                                <span translate>.PaymentResourcePath</span>
                            </label>
                            <account-input id="paymentResourcePath" name="paymentResourcePath" ng-model=" vm.dto.paymentData.resourceWritingDetail.materializedPath"
                                chart-of-accounts-id="vm.period.chartOfAccountsId" company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedAccountPath}}"
                                ng-required="vm.dto.paymentPaid"></account-input>
                        </div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab index="1" heading="{{ 'ManualTransaction.WithHolding' | translate }}" ng-if="vm.showWithHolding">
                <div class="panel panel-primary" >
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <label for="witholdigExpiryDate">
                                        <span translate>.ExpiryDate</span>*</label>
                                    <div class="input-group">
                                        <input id="witholdigExpiryDate" name="witholdigExpiryDate" class="form-control" ng-model="vm.dto.withholdingData.record.expiryDate"
                                            ng-required="false" ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                            is-open="false" on-open-focus="true" show-button-bar="false" disable-valid-styling="true" disabled="true">
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" disabled="true">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <label for="withHoldingAmount">
                                        <span translate>.WithHoldingAmount</span>*</label>
                                    <input id="withHoldingAmount" name="withHoldingAmount" class="form-control text-right" ng-model="vm.dto.withholdingData.record.amount"
                                        ng-currency ng-required="vm.showWithHolding" ng-if="vm.isUpdate" ng-readonly="vm.dto.paymentPaid">
                                    <input id="withHoldingAmount" name="withHoldingAmount" class="form-control text-right" ng-model="vm.dto.withholdingData.record.amount"
                                        ng-currency ng-required="vm.showWithHolding" ng-init="vm.dto.withholdingData.record.amount=vm.residualWithHoldingAmount"
                                        ng-readonly="vm.dto.withholdingPaid" ng-if="!vm.isUpdate">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                                    <label for="description">
                                        <span translate>.WithHoldingDescription</span>*</label>
                                    <input id="description" name="description" required="true" class="form-control" ng-model="vm.dto.withholdingData.record.description">
                                </div>
                            </div>
                            <div ng-if="vm.isUpdate">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="withHoldingPaid">
                                                <span translate>.Paid</span>
                                            </label>
                                            <input type="checkbox" ng-model="vm.dto.withholdingPaid" ng-model-options="{ debounce: 250 }" name="withHoldingPaid" id="withHoldingPaid"
                                                ng-change="vm.changeWithholdingPaid()" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12" ng-if="vm.dto.withholdingPaid">
                                        <label for="withholdingDate">
                                            <span translate>.WithholdingPaymentDate</span>*</label>
                                        <div class="input-group">
                                            <input id="withholdingDate" name="withholdingDate" class="form-control" ng-model="vm.dto.withholdingData.record.date" ng-required="false"
                                                ng-model-options="{timezone: 'utc'}" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                                is-open="vm.withholdingDateOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true"
                                                ng-required="true">
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="vm.withholdingDateOpened = !vm.withholdingDateOpened">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12" ng-if="vm.dto.withholdingPaid">
                                        <label for="wResourcePath">
                                            <span translate>.WithHoldingResourcePath</span>
                                        </label>
                                        <account-input id="wResourcePath" name="wResourcePath" ng-model="vm.dto.withholdingData.resourceWritingPath" chart-of-accounts-id="vm.period.chartOfAccountsId"
                                            company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedAccountPath}}" ng-required="true"></account-input>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.dto.withholdingPaid">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="secondaryAmount">
                                            <span translate>.WithHoldingInterest</span>
                                        </label>
                                        <input id="secondaryAmount" name="secondaryAmount" class="form-control text-right" ng-model="vm.dto.withholdingData.interestAmount"
                                            ng-currency ng-if="vm.showWithHolding">
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="additionalAmount">
                                            <span translate>.WithHoldingSanction</span>
                                        </label>
                                        <input id="additionalAmount" name="additionalAmount" class="form-control text-right" ng-model="vm.dto.withholdingData.sanctionAmount"
                                            ng-currency ng-if="vm.showWithHolding">
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.dto.withholdingPaid">
                                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                        <label for="withHoldingUsingCredit">
                                            <span translate>.WithHoldingUsingCreditAmount</span>
                                        </label>
                                        <input id="withHoldingUsingCredit" name="withHoldingUsingCredit" class="form-control text-right" ng-model="vm.dto.withholdingData.usingCreditAmount"
                                            ng-currency ng-if="vm.showWithHolding" ng-disabled="true">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="WithHoldingGenereteCreditAmount">
                                                <span translate>.WithHoldingGenereteCreditAmount</span>
                                            </label>
                                            <input id="WithHoldingGenereteCreditAmount" name="WithHoldingGenereteCreditAmount" class="form-control text-right" ng-model="vm.dto.withholdingData.generateCreditAmount"
                                                ng-currency ng-if="vm.showWithHolding" ui-validate="{amount_credit_withholding: 'vm.checkGenerateCredit($value)' }">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.dto.withholdingPaid">
                                    <div class="form-group col-md-12 col-sm-12 col-xs-12 text-right">
                                        <hr>
                                        <label for="withHoldingGenerateCreditAmount">
                                            <span translate>.WithholdingPaidF24</span> : {{ (vm.dto.withholdingData.record.amount) + (vm.dto.withholdingData.sanctionAmount)
                                            + (vm.dto.withholdingData.interestAmount) + (vm.dto.withholdingData.generateCreditAmount) - (vm.dto.withholdingData.usingCreditAmount)
                                            | currency }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                
        </uib-tab>
    </uib-tabset>




    </div>
</div>