<form novalidate name="form" translate-namespace="ManualTransaction">
    <div class="modal-header">
        <h4 class="modal-title" translate>.ProformaUpdateTitle</h4>
    </div>
    <div class="modal-body">
        <spinner ng-show="vm.loading"></spinner>

        <div ng-if="!vm.loading">
            <div ng-form="inner" translate-namespace="ManualTransaction">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="invoiceExpireDate">
                                        <span translate>.Accounted</span>
                                    </label>
                                    <input type="checkbox" ng-model="vm.tx.proformaAccounted" ng-model-options="{ debounce: 250 }" name="proformaInvoice" id="proformaInvoice"
                                        ng-change="vm.updateProforma(vm.tx)" />
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="invoiceExpireDate">
                                        <span translate>.DocumentDate</span>
                                    </label>
                                    <date-with-financial-period-check id="invoiceDate" name="invoiceDate" ng-required="vm.tx.proformaAccounted" ng-model="vm.tx.invoiceDate" financial-period="vm.period"
                                        check-greater-start-date="false"   ng-disabled="!vm.tx.proformaAccounted" check-lowest-end-date="false" check-date-range="false"></date-with-financial-period-check>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="invoiceExpireDate">
                                        <span translate>.DocumentExpireDate</span>
                                        <span>*</span>
                                    </label>
                                    <date-with-financial-period-check id="invoiceExpireDate" name="invoiceExpireDate" ng-required="vm.tx.proformaAccounted" ng-model="vm.tx.expiryDate"
                                        financial-period="vm.period" check-greater-start-date="false" check-lowest-end-date="false" ng-disabled="!vm.tx.proformaAccounted"
                                        check-date-range="false"></date-with-financial-period-check>

                                </div>
                            </div>
                            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="referenceDocument">
                                        <span translate>.DocumentReference</span>
                                        <span ng-show="vm.tx.withHolding">*</span>
                                    </label>
                                    <input min="0" ng-model="vm.tx.referenceDocument" class="form-control text-left" ng-required="vm.tx.proformaAccounted"
                                        name="referenceDocument" ng-required="false" ng-min="0" id="record-refDoc" value="100" ng-disabled="!vm.tx.proformaAccounted"/>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.doSave()" ng-disabled="form.$invalid || Form.$pristine" translate>.Save</button>
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>

    </div>
</form>