<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'centre-cost.title' | translate}}</h5>
                    <div ibox-tools class="text-right">
                        <button class="btn btn-sm btn-primary" type="button" ng-click="addCentreCost()">
                            <i class="fa fa-plus"></i>
                            {{'centre-cost.add.btn' | translate}}
                        </button>
                    </div>
                </div>
                <spinner-loader ng-if="loading"></spinner-loader>

                <div class="ibox-content">
                    <div ui-tree="ccTreeOptions" data-drag-enabled="true" data-max-depth="2" data-drag-delay="500">
                        <ol ui-tree-nodes="" ng-model="ccList">
                            <li ng-repeat="node in ccList" ui-tree-node>
                                <div ui-tree-handle class="tree-node tree-node-content">
                                    <a class="pull-right btn btn-white btn-xs" ng-click="remove(this)"><span
                                            class="fa fa-trash"></span></a>
                                    <a class="pull-right btn btn-white btn-xs" ng-click="newSubItem(this)"><span
                                            class="fa fa-plus"></span></a>
                                    <a class="btn btn-primary btn-xs" ng-click="toggle(this)"><span class="fa"
                                                                                                    ng-class="{'fa-angle-down': collapsed, 'fa-angle-right': !collapsed}"></span></a>
                                    <div class="tree-input-container">
                                        <input class="tree-input code" ng-model="node.code" limit-to="4">
                                        <input class="tree-input text" ng-model="node.description">
                                    </div>
                                </div>
                                <ol ui-tree-nodes="" ng-model="node.items" ng-class="{hidden: collapsed}">
                                    <li ng-repeat="node in node.items" ui-tree-node>
                                        <div ui-tree-handle class="tree-node tree-node-content">
                                            <a class="pull-right btn btn-white btn-xs" data-nodrag
                                               ng-click="remove(this)"><span class="fa fa-trash"></span></a>
                                            <div class="tree-input-container">
                                                <input class="tree-input code" ng-model="node.code" limit-to="4">
                                                <input class="tree-input text" ng-model="node.description">
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-click="save()">{{'save' | translate }}</button>
        </div>
    </div>

</div>
