
<div class="row spaPageHeader">
    <div class="col-sm-1 text-center">
        <i class="fa fa-th fa-5x"></i>
    </div>
    <div class="col-sm-6">
        <h2>{{'distribution-criterion-detail.title' | translate}}</h2>
    </div>
    <div class="col-sm-5">
        <div class="title-action text-right">
            <button ui-sref="index.distribution-criterion({condominiumId: condominiumId})"
                    class="btn btn-default btn-outline" type="button">
                <i class="fa fa-angle-left back"></i>
                <span>{{'back' | translate}}</span>
            </button>
        </div>
    </div>
</div>


<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <spinner-loader ng-if="loading"></spinner-loader>

                <div class="ibox-content" ng-if="!loading">

                    <div class="container">
                        <form name="form" novalidate ng-submit="save(form)">
                            <div class="form-group">
                                <label for="description" class="control-label">{{'distribution-criterion-detail.description.label' | translate}}:</label>
                                <input type="text" class="form-control" id="description" ng-model="distribution.description" ng-required="true">
                            </div>

                            <div class="form-group" >
                                <label for="table-type" class="control-label">{{'distribution-criterion-detail.table.type.label' | translate}}:</label>
                                <select id="table-type" class="form-control" ng-change="updatedTableType()" ng-model="distribution.thousandthType" ng-options="type.value as type.label for type in tableTypeSelect" ng-disabled="!isNew()" required></select>
                            </div>

                            <div class="form-group" ng-if="distribution.thousandthType == 'ENERGY'">
                                <label for="energy-type" class="control-label">{{'distribution-criterion-detail.energy.type.label' | translate}}:</label>
                                <ui-select id="energy-type" search-enabled="false" ng-model="distribution.energyDistributionColumn">
                                    <ui-select-match>{{$select.selected.label}}</ui-select-match>
                                    <ui-select-choices group-by="groupFind" repeat="type.value as type in energyTypes">{{type.label}}</ui-select-choices>
                                </ui-select>
                            </div>

                            <div class="form-group">
                                <label>{{'distribution-criterion-detail.competence.type.label' | translate}}:</label>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="periodRadios" ng-model="distribution.competenceType" value="FULL">
                                        {{'distribution-criterion-detail.full.radio' | translate}}
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="periodRadios" ng-model="distribution.competenceType" value="PERIOD">
                                        {{'distribution-criterion-detail.period.radio' | translate}}
                                    </label>
                                </div>
                            </div>

                            <div class="period-container mgmt-inline-fields" ng-if="distribution.competenceType == 'PERIOD'">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="firstCompentencePeriodFrom" class="col-xs-2 control-label">{{'distribution-criterion-detail.first-period-from.label' | translate}}</label>
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input name="firstCompentencePeriodFrom" id="firstCompentencePeriodFrom" type="text" class="form-control" datepicker-append-to-body="true" uib-datepicker-popup="dd-MM-yyyy" ng-model="distribution.firstCompentencePeriodFrom" is-open="dates.firstFromOpened" ng-required="distribution.competenceType == 'PERIOD'" on-open-focus="true" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="dates.firstFromOpened = !dates.firstFromOpened">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="firstCompentencePeriodTo" class="col-xs-2 control-label">{{'distribution-criterion-detail.first-period-to.label' | translate}}</label>
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input name="firstCompentencePeriodTo" id="firstCompentencePeriodTo" type="text" class="form-control" datepicker-append-to-body="true" uib-datepicker-popup="dd-MM-yyyy" ng-model="distribution.firstCompentencePeriodTo" is-open="dates.firstToOpened" ng-required="distribution.competenceType == 'PERIOD'" on-open-focus="true" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="dates.firstToOpened = !dates.firstToOpened">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="secondCompentencePeriodFrom" class="col-xs-2 control-label">{{'distribution-criterion-detail.second-period-from.label' | translate}}</label>
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input name="secondCompentencePeriodFrom" id="secondCompentencePeriodFrom" type="text" class="form-control" datepicker-append-to-body="true" uib-datepicker-popup="dd-MM-yyyy" ng-model="distribution.secondCompentencePeriodFrom" is-open="dates.secondFromOpened" ng-required="distribution.competenceType == 'PERIOD'" on-open-focus="true" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="dates.secondFromOpened = !dates.secondFromOpened">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
                                            <label for="secondCompentencePeriodTo" class="col-xs-2 control-label">{{'distribution-criterion-detail.second-period-to.label' | translate}}</label>
                                            <div class="col-xs-10">
                                                <div class="input-group">
                                                    <input name="secondCompentencePeriodTo" id="secondCompentencePeriodTo" type="text" class="form-control" datepicker-append-to-body="true" uib-datepicker-popup="dd-MM-yyyy" ng-model="distribution.secondCompentencePeriodTo" is-open="dates.secondToOpened" ng-required="distribution.competenceType == 'PERIOD'" on-open-focus="true" show-button-bar="false"/>
                                                    <span class="input-group-btn">
                                                        <button type="button" class="btn btn-default" ng-click="dates.secondToOpened = !dates.secondToOpened">
                                                            <i class="glyphicon glyphicon-calendar"></i>
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div ng-if="distribution.thousandthType === 'THOUSANDTH'">
                                <table ng-table="tableParams" class="table table-condensed table-bordered table-hover">
                                    <colgroup>
                                        <col width="30%"/>
                                        <col width="50%"/>
                                        <col width="20%"/>
                                    </colgroup>
                                    <tr ng-repeat="row in $data">
                                        <td data-title="'distribution-criterion-detail.table.group.label' | translate" sortable="'group'" filter="{group : 'text'}">{{row.group}}</td>
                                        <td data-title="'distribution-criterion-detail.table.housingUnit.label' | translate" sortable="'housingUnitDescription'" filter="{housingUnitDescription : 'text'}">{{row.housingUnitDescription}}</td>
                                        <td data-title="'distribution-criterion-detail.table.coefficient.label' | translate" sortable="'coefficient'"><input ng-model="row.coefficient" type="number" class="text-right" ng-change="calcolateTotal()"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-center" ng-if="$data.length == 0">
                                            {{'sEmptyTable' | translate}}
                                        </td>
                                    </tr>
                                </table>
                                <div class="row">
                                    <div class="col-md-12 text-right">
                                        <label>{{'total' | translate }}: {{total}}</label>
                                    </div>
                                </div>
                            </div>

                            <div ng-if="distribution.thousandthType === 'INDIVIDUAL'">
                                prova prova
                                <table ng-table="tableParams" class="table table-condensed table-bordered table-hover">
                                    <tr ng-repeat="row in $data">
                                        <td data-title="'distribution-criterion-detail.table.group.label' | translate" sortable="'group'" filter="{group : 'text'}">{{row.group}}</td>
                                        <td data-title="'distribution-criterion-detail.table.housingUnit.label' | translate" sortable="'housingUnitDescription'" filter="{housingUnitDescription : 'select'}" filter-data="housingUnitDataSelect">{{row.housingUnitDescription}}</td>
                                        <td data-title="'distribution-criterion-detail.table.description.label' | translate" sortable="'description'" filter="individualNameFilter">{{row.firstName}} {{row.lastName}} ({{'distribution-criterion-detail.table.percentual.label' | translate}} {{row.rolePercentage}}%)</td>
                                        <td data-title="'distribution-criterion-detail.table.coefficient.label' | translate" sortable="'coefficient'" ><input ng-model="row.coefficient" type="number" class="text-right" ng-change="calcolateTotal()"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" class="text-center" ng-if="$data.length == 0">
                                            {{'sEmptyTable' | translate}}
                                        </td>
                                    </tr>
                                </table>

                                <div class="row">
                                    <div class="clearfix"></div>
                                    <div class="col-md-12 text-right">
                                        <label>{{'total' | translate }}: {{total}}</label>
                                    </div>
                                </div>
                            </div>

                            <hr>
                            
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-primary" type="submit" ng-disabled="saving">{{'save' | translate }}</button>
                                </div>
                            </div>

                        </form>


                    </div>


                </div>
            </div>
        </div>
    </div>


</div>
