<!-- Created by Damiele De Pasquale on 22/08/17 -->
<div class="distributionCriterioMasterDetail" ng-if="!loading">
    <div class="distributionCriterioMaster">
        <label>
            {{'distribution-criterio.chartOfAccounts' | translate}}
        </label>
        <table ng-table="tableMasterDetailChartOfAccounts" class="table table-condensed table-bordered table-hover">
            <thead>
                <th>
                    {{'distribution-criterio.descrizione' | translate}}
                </th>
                <th>
                    {{'distribution-criterio.level' | translate}}
                </th>
                <th>
                    {{'distribution-criterio.criterioState' | translate}}
                </th>
            </thead>
            <tbody class="clickConto" ng-repeat="conto in $data | orderBy: 'id'" ng-click="clickConto(conto)">
                <tr>
                    <td>
                        {{conto.descrizione}}
                    </td>
                    <td>
                        {{conto.level}}
                    </td>
                    <td>
                        <center>
                            <span ng-if="conto.hasDistributionCriterion == 0" class="fa fa-circle rosso" title="Nessuno"></span>
                            <span ng-if="conto.hasDistributionCriterion == 1" class="fa fa-circle giallo" title="Parziale"></span>
                            <span ng-if="conto.hasDistributionCriterion == 2" class="fa fa-circle verde" title="Tutti"></span>
                        </center>
                    </td>
                </tr>
                <tr class="clickSottoconto" ng-repeat="sottoconto in conto.children" ng-click="clickSottoconto(sottoconto.materializedPath, sottoconto.id)"
                    ng-if="contoChildren[sottoconto.id]">
                    <td>
                        {{sottoconto.descrizione}}
                    </td>
                    <td>
                        {{sottoconto.level}}
                    </td>
                    <td>
                        <center>
                            <span ng-if="sottoconto.hasDistributionCriterion == 0" class="fa fa-circle rosso" title="Nessuno"></span>
                            <span ng-if="sottoconto.hasDistributionCriterion == 2" class="fa fa-circle verde" title="Tutti"></span>
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <!-- spinner visualizzato durante fasi loading dati -->
                    <spinner-loader ng-if="loading"></spinner-loader>
                    <!-- modstra tabelle quando finisce il caricamento (non vedo + spinner) -->
                    <div class="ibox" ng-if="!loading">
                        <!-- nome criterio selezionato -->
                        <div ng-if="NomeCriterio">
                            <div class="criterioName">
                                <h4>
                                    {{'distribution-criterio.name' | translate}}
                                </h4>
                                <input ng-model="criterioName" readonly />
                            </div>
                            <!-- checkbox (flag) ripartizione differenziata -->
                            <input type="checkbox" ng-model="separatedDistribution" id="checkBoxRipartizioneDifferenziata" ng-click="ripartizione(separatedDistribution)"
                            />
                            <label for="checkBoxRipartizioneDifferenziata">
                                {{'distribution-criterio.separatedDistribution' | translate}}
                            </label>
                            <!-- tab selezione preventivo/consuntivo -->
                            <div class="tabs" ng-if="separatedDistribution">
                                <div class="tab" tabindex="1" ng-click="clickedTab(1)">
                                    {{'distribution-criterio.preventivo' | translate}}
                                </div>
                                <div class="tab" tabindex="2" ng-click="clickedTab(2)">
                                    {{'distribution-criterio.consuntivo' | translate}}
                                </div>
                            </div>
                        </div>
                        <!-- tab preventivo -->
                        <div ng-if="tabPreventivo">
                            <label ng-if="separatedDistribution">
                                {{'distribution-criterio.tabellaRipPrev' | translate}}
                            </label>
                            <table ng-table="tableParamsP" class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <th>
                                        {{'distribution-criterio.coefficent' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tabella' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tipologia' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.owner' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tenant' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.usufruct' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.others' | translate}}
                                    </th>
                                    <th>
                                        <input type="checkbox" ng-click="selectAllPreventivi()" class="checkBoxAllPreventivi" />
                                    </th>
                                </thead>
                                <tr ng-repeat="row in $data">
                                    <td>
                                        {{row.coefficent}}
                                    </td>
                                    <td ng-hide="editP[row.id]">
                                        {{row.thousandthTableDescription}}
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        <select ng-model="row.thousandthTableId">
                                            <option ng-repeat="option in dataThousandthTables" value="{{option.id}}">
                                                {{option.description}}
                                            </option>
                                        </select>
                                    </td>
                                    <td ng-hide="editP[row.id]">
                                        {{row.thousandthType}}
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        {{row.thousandthType}}
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="!(row.ownerPercent == null)">
                                        {{row.ownerPercent}}%
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="row.ownerPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        <input ng-model="row.ownerPercent" type="number" />
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="!(row.tenantPercent == null)">
                                        {{row.tenantPercent}}%
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="row.tenantPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        <input ng-model="row.tenantPercent" type="number" />
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="!(row.usufructPercent == null)">
                                        {{row.usufructPercent}}%
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="row.usufructPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        <input ng-model="row.usufructPercent" type="number" />
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="!(row.othersPercent == null)">
                                        {{row.othersPercent}}%
                                    </td>
                                    <td ng-hide="editP[row.id]" ng-if="row.othersPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editP[row.id]">
                                        <input ng-model="row.othersPercent" type="number" />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" id="{{row.id+'p'}}" class="checkBoxPreventivo" ng-click="selectAPreventivo()" />
                                    </td>
                                </tr>
                            </table>
                            <div class="col-md-12 text-right" ng-if="showButtonP">
                                <button class="btn btn-primary" ng-click="editPreventivo()" ng-if="editingPreventivo">
                                    {{'distribution-criterio.editPreventivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="updatePreventivoItem()" ng-show="updatePreventivo">
                                    {{'distribution-criterio.updatePreventivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="addPreventivo()">
                                    {{'distribution-criterio.addPreventivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="deletePreventivo()">
                                    {{'distribution-criterio.deletePreventivo' | translate}}
                                </button>
                            </div>
                        </div>
                        <!-- form inserimento nuovo preventivo -->
                        <div ng-if="addingP">
                            <form class="text-center formNewRowDistributionCriterion form-group" method="GET" action="">
                                <label class="spaceFormsItem" for="addPreventivoThousandthTable">
                                    {{'distribution-criterio.addFormPreventivoTabella' | translate}}
                                </label>
                                <select name="addPreventivoThousandthTable" ng-model="formDataP.thousandthTableId">
                                    <option ng-repeat="option in dataThousandthTables" value="{{option.id}}">
                                        {{option.description}}
                                    </option>
                                </select>
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.addFormPreventivoOwner' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataP.ownerPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.addFormPreventivoTenant' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataP.tenantPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.addFormPreventivoUsufruct' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataP.usufructPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.addFormPreventivoOthers' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataP.othersPercent" />
                                <div class="spaceFormButton">
                                    <button type="button" class="btn btn-primary" ng-click="savePreventivo()">
                                        {{'distribution-criterio.savePreventivo' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="cancelAddingP()">
                                        {{'distribution-criterio.cancelAddingPreventivo' | translate}}
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- tab consuntivo -->
                        <div ng-if="tabConsuntivo">
                            <label ng-if="separatedDistribution">
                                {{'distribution-criterio.tabellaRipCons' | translate}}
                            </label>
                            <table ng-table="tableParamsC" class="table table-condensed table-bordered table-striped">
                                <thead>
                                    <th>
                                        {{'distribution-criterio.coefficent' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tabella' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tipologia' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.owner' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.tenant' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.usufruct' | translate}}
                                    </th>
                                    <th>
                                        {{'distribution-criterio.others' | translate}}
                                    </th>
                                    <th>
                                        <input type="checkbox" ng-click="selectAllConsuntivi()" class="checkBoxAllConsuntivi" />
                                    </th>
                                </thead>
                                <tr ng-repeat="row in $data">
                                    <td>
                                        {{row.coefficent}}
                                    </td>
                                    <td ng-hide="editC[row.id]">
                                        {{row.thousandthTableDescription}}
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        <select ng-model="row.thousandthTableId">
                                            <option ng-repeat="option in dataThousandthTables" value="{{option.id}}">
                                                {{option.description}}
                                            </option>
                                        </select>
                                    </td>
                                    <td ng-hide="editC[row.id]">
                                        {{row.thousandthType}}
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        {{row.thousandthType}}
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="!(row.ownerPercent == null)">
                                        {{row.ownerPercent}}%
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="row.ownerPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        <input ng-model="row.ownerPercent" type="number" />
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="!(row.tenantPercent == null)">
                                        {{row.tenantPercent}}%
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="row.tenantPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        <input ng-model="row.tenantPercent" type="number" />
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="!(row.usufructPercent == null)">
                                        {{row.usufructPercent}}%
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="row.usufructPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        <input ng-model="row.usufructPercent" type="number" />
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="!(row.othersPercent == null)">
                                        {{row.othersPercent}}%
                                    </td>
                                    <td ng-hide="editC[row.id]" ng-if="row.othersPercent == null">
                                        0%
                                    </td>
                                    <td ng-show="editC[row.id]">
                                        <input ng-model="row.othersPercent" type="number" />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" id="{{row.id+'c'}}" class="checkBoxConsuntivo" ng-click="selectAConsuntivo()" />
                                    </td>
                                </tr>
                            </table>
                            <div class="col-md-12 text-right" ng-if="showButtonC">
                                <button class="btn btn-primary" ng-click="editConsuntivo()" ng-if="editingConsuntivo">
                                    {{'distribution-criterio.editConsuntivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="updateConsuntivoItem()" ng-show="updateConsuntivo">
                                    {{'distribution-criterio.updateConsuntivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="addConsuntivo()">
                                    {{'distribution-criterio.addConsuntivo' | translate}}
                                </button>
                                <button class="btn btn-primary" ng-click="deleteConsuntivo()">
                                    {{'distribution-criterio.deleteConsuntivo' | translate}}
                                </button>
                            </div>
                        </div>
                        <!-- form inserimento consuntivo -->
                        <div ng-if="addingC">
                            <form class="text-center formNewRowDistributionCriterion form-group" method="GET" action="">
                                <label class="spaceFormsItem" for="addConsuntivoThousandthTable">
                                    {{'distribution-criterio.tabella' | translate}}
                                </label>
                                <select name="addConsuntivoThousandthTable" ng-model="formDataC.thousandthTableId">
                                    <option ng-repeat="option in dataThousandthTables" value="{{option.id}}">
                                        {{option.description}}
                                    </option>
                                </select>
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.owner' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataC.ownerPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.tenant' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataC.tenantPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.usufruct' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataC.usufructPercent" />
                                <label class="spaceFormsItem">
                                    {{'distribution-criterio.others' | translate}}
                                </label>
                                <input class="spaceFormsItem" type="number" ng-model="formDataC.othersPercent" />
                                <div class="spaceFormButton">
                                    <button type="button" class="btn btn-primary" ng-click="saveConsuntivo()">
                                        {{'distribution-criterio.saveConsuntivo' | translate}}
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="cancelAddingC()">
                                        {{'distribution-criterio.cancelAddingConsuntivo' | translate}}
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- tabella eccezioni -->
                        <div ng-if="tabEccezioni">
                            <div ng-if="!loading">
                                <label>
                                    {{'distribution-criterio.tabellaEccezioni' | translate}}
                                </label>
                                <table ng-table="tableParamsE" class="table table-condensed table-bordered table-striped">
                                    <thead>
                                        <th>
                                            {{'distribution-criterio.housingUnitId' | translate}}
                                        </th>
                                        <th>
                                            {{'distribution-criterio.tabella' | translate}}
                                        </th>
                                        <th>
                                            {{'distribution-criterio.owner' | translate}}
                                        </th>
                                        <th>
                                            {{'distribution-criterio.tenant' | translate}}
                                        </th>
                                        <th>
                                            {{'distribution-criterio.usufruct' | translate}}
                                        </th>
                                        <th>
                                            {{'distribution-criterio.others' | translate}}
                                        </th>
                                        <th>
                                            <input type="checkbox" ng-click="selectAllExceptions()" class="checkBoxAllExceptions" />
                                        </th>
                                    </thead>
                                    <tr ng-repeat="row in $data">
                                        <td ng-hide="edit[row.id]">
                                            {{row.housingUnitDescription}}
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <select ng-model="row.housingUnitId">
                                                <option ng-repeat="option in dataHousingUnits" value="{{option.id}}">
                                                    {{option.description}}
                                                </option>
                                            </select>
                                        </td>
                                        <td ng-hide="edit[row.id]">
                                            {{row.thousandthTableDescription}}
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <select ng-model="row.thousandthTableDescription">
                                                <option ng-repeat="option in dataThousandthTables" value="{{option.description}}">
                                                    {{option.description}}
                                                </option>
                                            </select>
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="!(row.ownerPercent == null)">
                                            {{row.ownerPercent}}%
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="row.ownerPercent == null">
                                            0%
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <input ng-model="row.ownerPercent" type="number" />
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="!(row.tenantPercent == null)">
                                            {{row.tenantPercent}}%
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="row.tenantPercent == null">
                                            0%
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <input ng-model="row.tenantPercent" type="number" />
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="!(row.usufructPercent == null)">
                                            {{row.usufructPercent}}%
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="row.usufructPercent == null">
                                            0%
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <input ng-model="row.usufructPercent" type="number" />
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="!(row.othersPercent == null)">
                                            {{row.othersPercent}}%
                                        </td>
                                        <td ng-hide="edit[row.id]" ng-if="row.othersPercent == null">
                                            0%
                                        </td>
                                        <td ng-show="edit[row.id]">
                                            <input ng-model="row.othersPercent" type="number" />
                                        </td>
                                        <td class="text-center">
                                            <input type="checkbox" id="{{row.id+'e'}}" class="checkBoxException" ng-click="selectAnException()" />
                                        </td>
                                    </tr>
                                </table>
                                <div class="col-md-12 text-right" ng-if="showButton">
                                    <button class="btn btn-primary" ng-click="editException()" ng-if="editingException">
                                        {{'distribution-criterio.editException' | translate}}
                                    </button>
                                    <button class="btn btn-primary" ng-click="updateExceptionItem()" ng-show="updateException">
                                        {{'distribution-criterio.updateException' | translate}}
                                    </button>
                                    <button class="btn btn-primary" ng-click="addException()">
                                        {{'distribution-criterio.addException' | translate}}
                                    </button>
                                    <button class="btn btn-primary" ng-click="deleteException()">
                                        {{'distribution-criterio.deleteException' | translate}}
                                    </button>
                                </div>
                                <!-- form inserimento nuova eccezione -->
                                <div ng-if="adding">
                                    <form class="text-center formNewRowDistributionCriterion form-group">
                                        <label class="spaceFormsItem" for="addExceptionUnitId">
                                            {{'distribution-criterio.housingUnitId' | translate}}
                                        </label>
                                        <select name="addExceptionUnitId" ng-model="formData.housingUnitId">
                                            <option ng-repeat="option in dataHousingUnits" value="{{option.id}}">
                                                {{option.description}}
                                            </option>
                                        </select>
                                        <label class="spaceFormsItem" for="addExceptionThousandthTable">
                                            {{'distribution-criterio.tabella' | translate}}
                                        </label>
                                        <select name="addExceptionThousandthTable" ng-model="formData.thousandthTableId">
                                            <option ng-repeat="option in dataThousandthTables" value="{{option.id}}">
                                                {{option.description}}
                                            </option>
                                        </select>
                                        <label class="spaceFormsItem">
                                            {{'distribution-criterio.owner' | translate}}
                                        </label>
                                        <input class="spaceFormsItem" type="number" ng-model="formData.ownerPercent" />
                                        <label class="spaceFormsItem">
                                            {{'distribution-criterio.tenant' | translate}}
                                        </label>
                                        <input class="spaceFormsItem" type="number" ng-model="formData.tenantPercent" />
                                        <label class="spaceFormsItem">
                                            {{'distribution-criterio.usufruct' | translate}}
                                        </label>
                                        <input class="spaceFormsItem" type="number" ng-model="formData.usufructPercent" />
                                        <label class="spaceFormsItem">
                                            {{'distribution-criterio.others' | translate}}
                                        </label>
                                        <input class="spaceFormsItem" type="number" ng-model="formData.othersPercent" />
                                        <div class="spaceFormButton">
                                            <button type="button" class="btn btn-primary" ng-click="saveException()">
                                                {{'distribution-criterio.saveException' | translate}}
                                            </button>
                                            <button type="button" class="btn btn-primary" ng-click="cancelAdding()">
                                                {{'distribution-criterio.cancelAddingException' | translate}}
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>