<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>{{'distribution-criterion.title' | translate}}</h5>
                    <div ibox-tools class="text-right">
                        <button ui-sref="index.distribution-criterion-detail({condominiumId: condominiumId, id : 'new'})" class="btn btn-sm btn-primary" type="button">
                            <i class="fa fa-plus"></i>
                            {{'distribution-criterion.add.label'|translate}}
                        </button>
                    </div>
                </div>
                <spinner-loader ng-if="loading"></spinner-loader>

                <div class="ibox-content" ng-if="!loading">
                    <table ng-table="tableParams" class="table table-condensed table-bordered table-striped">
                        <tr ng-repeat="row in $data">
                            <td data-title="'distribution-criterion.table.name.label'|translate" sortable="'description'" filter="{description : 'text'}"><a ui-sref="index.distribution-criterion-detail({condominiumId: condominiumId, id: row.id})">{{row.description}}</a></td>
                            <td data-title="'distribution-criterion.table.type.label'|translate" sortable="'thousandthType'" filter="{ thousandthType: 'select'}" filter-data="getTypeList">{{row.thousandthType | translate}}</td>
                            <td data-title="'distribution-criterion.table.selection.label'|translate" class="text-center" ><input type="checkbox" ng-model="row.selected"></td>
                        </tr>
                        <tr>
                            <td colspan="3" class="text-center" ng-if="$data.length == 0">
                                {{'sEmptyTable' | translate}}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-click="delete()" ng-disabled="deleting || !isSelectedSomeCheck()">{{'del' | translate }}</button>
        </div>
    </div>

</div>
