.money-account {
    .table > tbody > tr > td {
        vertical-align: middle;
    }

    .tabs > button {
        color: black;
        background-color: lightgrey;
        margin-right: 3px;
        border: solid grey 1px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .red {
        color: #A94442;
    }

    .invalid {
        border-color: red;
    }
}