<form novalidate name="form" translate-namespace="MoneyAccount.Close">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <spinner-loader ng-show="vm.loading"></spinner-loader>
        <div ng-hide="vm.loading" translate-namespace="MoneyAccount.Form">
            <div class="form-group">
                <label><span translate>.Name</span></label>
                <p class="form-control-static">{{ vm.account.name }}</p>
            </div>
            <div class="form-group">
                <label><span translate>.Description</span></label>
                <p class="form-control-static">{{ vm.account.description }}</p>
            </div>
            <div class="form-group">
                <label><span translate>.Code</span></label>
                <p class="form-control-static">{{ vm.account.code }}</p>
            </div>
            <div class="form-group">
                <label><span translate>.Kind.Label</span></label>
                <p class="form-control-static">{{ 'MoneyAccount.Form.Kind.' + vm.account.tipology | translate }}</p>
            </div>
            <div class="form-group" ng-if="vm.account.typology == 'Bank' || vm.account.typology == 'Postal'">
                <label><span translate>.Iban</span></label>
                <p class="form-control-static">{{ vm.account.iban }}</p>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label><span translate>.OpeningDate</span></label>
                        <p class="form-control-static">{{ vm.account.openingDate | date: 'shortDate' }}</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="form-group">
                        <label for="accountClosingDate"><span translate>.ClosingDate</span></label>
                        <div class="input-group">
                            <input id="accountClosingDate" name="accountClosingDate" class="form-control text-right"
                                   ng-model="vm.account.closingDate" ng-model-options="{timezone: 'utc'}"
                                   ng-required="true"
                                   uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                   is-open="vm.closingDateOpened"
                                   on-open-focus="true"
                                   show-button-bar="false"
                                   datepicker-options="{ minDate: vm.account.openingDate }">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.closingDateOpened = !vm.closingDateOpened">
                                    <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-click="vm.doClose()" ng-disabled="form.$invalid" translate>.Close</button>
    </div>
</form>
