<spinner ng-show="vm.loading"></spinner>
<div class="wrapper wrapper-content" ng-hide="vm.loading" translate-namespace="MoneyAccount.List">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <a class="btn btn-sm btn-primary pull-right" ui-sref=".add">
                        <i class="fa fa-fw fa-plus"></i>
                        <span translate>.AddNew</span>
                    </a>
                </div>
                <uib-tabset active="vm.activeTab">
                    <uib-tab index="0" heading="Lista Conti" ui-sref="index.money-accounts.list({funds: 'false'})" ng-click="active = 0"></uib-tab>
                    <uib-tab index="1" heading="Fondi" ui-sref="index.money-accounts.list({funds: 'true'})" ng-click="active = 1"></uib-tab>
                </uib-tabset>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table ng-table="vm.tableParams" class="table table-condensed table-striped">
                            <colgroup>
                                <col class="col-md-2">
                                <col class="col-md-3">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-1">
                            </colgroup>
                            <tr ng-repeat="row in $data">
                                <td data-title="'MoneyAccount.List.Name' | translate">
                                    {{ row.name }}
                                </td>
                                <td data-title="'MoneyAccount.List.Description' | translate">
                                    {{ row.description }}
                                </td>
                                <td data-title="'MoneyAccount.List.Code' | translate">
                                    {{ row.code }}
                                </td>
                                <td data-title="'MoneyAccount.List.Kind.Label' | translate" class="text-center">
                                    <i class="fa fa-fw"
                                       ng-class="{ 'fa-bank': row.tipology === 'Bank', 'fa-money': row.tipology === 'Cash', 'fa-envelope': row.tipology === 'Postal', 'fa-balance-scale': row.tipology === 'Fund', 'fa-book': row.tipology === 'Generic' }"></i>
                                    &nbsp;
                                    <span>{{ 'MoneyAccount.List.Kind.' + row.tipology | translate }}</span>
                                </td>
                                <td data-title="'MoneyAccount.List.Period' | translate" class="text-center">
                                    {{ row.openingDate | date: 'shortDate' }}
                                    <span ng-if="row.closingDate"> - {{ row.closingDate | date: 'shortDate' }}</span>
                                </td>
                                <td data-title="'MoneyAccount.List.Actions.Label' | translate" class="text-right">
                                    <a ui-sref=".edit({ accountId: row.id })" class="btn btn-circle btn-default"
                                       uib-tooltip="{{ 'MoneyAccount.List.Actions.Edit' | translate }}"
                                       data-tooltip-append-to-body="true" ng-hide="row.closingDate">
                                        <i class="fa fa-fw fa-pencil"></i>
                                    </a>
                                    <a ui-sref=".edit({ accountId: row.id })" class="btn btn-circle btn-default"
                                       uib-tooltip="{{ 'MoneyAccount.List.Actions.View' | translate }}"
                                       data-tooltip-append-to-body="true" ng-show="row.closingDate">
                                        <i class="fa fa-fw fa-eye"></i>
                                    </a>
                                    <a ui-sref=".close({ accountId: row.id })" class="btn btn-circle btn-danger"
                                            uib-tooltip="{{ 'MoneyAccount.List.Actions.Close' | translate }}"
                                            data-tooltip-append-to-body="true" ng-disabled="row.closingDate">
                                        <i class="fa fa-fw fa-close"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>