<div id="moneyAccountForm" ng-form="inner" translate-namespace="MoneyAccount.Form">
    <div class="form-group">
        <label for="accountName">
            <span translate>.Name</span> *
        </label>
        <input id="accountName" name="accountName" class="form-control" maxlength="255"
            ng-model="vm.account.name" ng-maxlength="255" ng-required="true" ng-disabled="vm.account.closingDate">
    </div>
    <div class="form-group">
        <label for="accountKind">
            <span translate>.Kind.Label</span> *
        </label>
        <select id="accountKind" name="accountKind" class="form-control" ng-options="item as ('MoneyAccount.Form.Kind.' + item | translate) for item in vm.moneyAccountTypes"
            ng-model="vm.account.tipology" ng-required="true" ng-disabled="vm.account.closingDate" ng-change="vm.selectedAccountTipology()"></select>
    </div>
    <div class="form-group" ng-if="vm.selectAccount">
        <label for="accountSelected">
            <span translate>.SelectAccount</span> *
        </label>
        <select id="accountSelected" name="accountSelected" class="form-control" ng-options="item as item.description for item in vm.accounts"
            ng-model="vm.account.selectedAccount" ng-required="true" ng-change="vm.selectedAccount()"></select>
    </div>
    <div class="form-group">
        <label for="accountDescription">
            <span translate>.Description</span> * 
        </label>
        <input id="accountDescription" name="accountDescription" class="form-control" maxlength="255"
            ng-model="vm.account.description" ng-maxlength="255" ng-required="true" ng-disabled="vm.account.closingDate">
    </div>
    <div class="form-group">
        <label for="accountCode">
            <span translate>.Code</span> *
        </label>
        <input id="accountCode" name="accountCode" class="form-control" maxlength="18" ng-model="vm.account.code" ng-required="true"
            ng-maxlength="18" ng-disabled="vm.account.closingDate" ng-readonly="vm.readonly">
    </div>
    <div class="form-group" ng-if="vm.account.tipology == 'Bank' || vm.account.tipology == 'Postal'">
        <label for="accountIban">
            <span translate>.Iban</span> *
        </label>
        <input id="accountIban" name="accountIban" class="form-control" type="text" ng-model="vm.account.iban" ng-disabled="vm.account.closingDate"
               ng-required="true" ng-blur="vm.onBlur(form)" ng-class="{ invalid : vm.invalid }" ng-maxlength="27" maxlength="27"
               ng-change="vm.onChange(form)">
        <div ng-messages="form.accountIban.$error" role="alert">
            <div ng-if="vm.pattern" ng-message="pattern" class="red" translate>.Error.Pattern</div>
            <div ng-if="vm.length" ng-message="length" class="red" translate>.Error.Length</div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="accountOpeningDate"><span translate>.OpeningDate</span> *</label>
                <div class="input-group">
                    <input id="accountOpeningDate" name="accountOpeningDate" class="form-control text-right"
                        ng-model="vm.account.openingDate" ng-required="true" ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        ng-disabled="vm.account.closingDate"
                        is-open="vm.openingDateOpened"
                        on-open-focus="true"
                        show-button-bar="false">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openingDateOpened = !vm.openingDateOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="form-group">
                <label for="accountClosingDate"><span translate>.ClosingDate</span></label>
                <div class="input-group">
                    <input id="accountClosingDate" name="accountClosingDate" class="form-control text-right"
                        ng-model="vm.account.closingDate" ng-model-options="{timezone: 'utc'}"
                        uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                        is-open="vm.closingDateOpened"
                        on-open-focus="true"
                        show-button-bar="false"
                        ng-disabled="true"
                        datepicker-options="{ minDate: vm.account.openingDate }">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.closingDateOpened = !vm.closingDateOpened">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
