<div class="money-account">
    <form novalidate name="form" translate-namespace="MoneyAccount.Create">
        <div class="modal-header">
            <h4 class="modal-title" translate>.Title</h4>
        </div>
        <div class="modal-body">
            <div ng-include="'app/money-account/money-account-form.html'"></div>
        </div>
        <div class="modal-footer">
            <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
            <button class="btn btn-primary" type="button" ng-click="vm.doSave()" ng-disabled="form.$invalid" translate>.Save</button>
        </div>
    </form>
</div>