<div style="margin-right: 0" translate-namespace="TrasitionalAccounts.SelectedTransaction">
    <div name="account-detail">
        <table ng-table="$ctrl.tableParams" class="table" show-filter="false">
            <tr ng-repeat="data in $data">
                <td data-title="'TrasitionalAccounts.SelectedTransaction.Protocol' | translate" style="text-align: center">{{data.typeCode + data.protocol}}</td>
                <td data-title="'TrasitionalAccounts.SelectedTransaction.Description' | translate" style="text-align: center">{{data.description}}</td>
                <td data-title="'TrasitionalAccounts.SelectedTransaction.WritingDescription' | translate" style="text-align: center">{{data.writingDescription}}</td>
                <td title="'TrasitionalAccounts.SelectedTransaction.Type' | translate" style="text-align: center" translate>{{data.type | translate}}</td>
                <td title="'TrasitionalAccounts.SelectedTransaction.Date' | translate" style="text-align: center">{{data.startDate | date:'shortDate'}}</td>
                <td title="'TrasitionalAccounts.SelectedTransaction.Amount' | translate" style="text-align: right">{{data.totalAmount | currency}}</td>
            </tr>
        </table>
    </div>
    <div name="record-detail">
        <div class="text-right" style="padding-bottom: 10px;" ng-show="($ctrl.transaction.type === 'MAN_TX_GENERAL' || $ctrl.transaction.type === 'MAN_TX_REVENUE' || $ctrl.transaction.type === 'MAN_TX_PERSONAL')">
            <button class="btn btn-success" type="button" ng-click="$ctrl.addRow()" uib-tooltip="{{ 'TrasitionalAccounts.SelectedTransaction.AddPayment' | translate }}"
                tooltip-placement="left">
                <span translate>.AddPayment</span>
                <i class="fa fa-plus"></i>
            </button>
        </div>
        <table ng-table-dynamic="$ctrl.recordsTableParams with $ctrl.recordsColumn" class="table table-bordered table-bordered table-hover">
            <colgroup>
                <col ng-repeat="col in $columns">
            </colgroup>
            <tr ng-repeat="row in $data">
                <td ng-repeat="col in $columns" ng-class="{  'text-right': col.kind === 'amount', 'text-center': col.kind === 'check' || col.kind === 'action' || col.kind === 'date' }">
                    <span ng-switch="col.kind">
                        <label ng-switch-when="protocol">
                            <span ng-if="row['id']!==null">{{ $ctrl.transaction.typeCode + $ctrl.transaction.protocol +'-'+ row[col.field]}}</span>
                        </label>
                        <label ng-switch-when="text">{{ row[col.field]}}</label>
                        <label ng-switch-when="edit-text">
                            <input ng-if="row['status'] !== 'PAID'" type="text" ng-model="row[col.field]" class="form-control" />
                            <label ng-if="row['status'] === 'PAID'">{{row[col.field]}}</label>
                        </label>
                        <label ng-switch-when="i18n-text">{{ 'TrasitionalAccounts.SelectedTransaction.'+ row[col.field] | translate}}</label>
                        <label ng-switch-when="amount">
                            <input ng-if="row['status'] !== 'PAID'" id="amount" name="amount" class="form-control text-right ng-pristine ng-untouched ng-valid-min ng-valid-max ng-valid-fraction ng-not-empty ng-valid ng-valid-required"
                                ng-model="row[col.field]" ng-currency="" ng-required="true" required="required">
                            <label ng-if="row['status'] === 'PAID'">{{row[col.field] | currency}}</label>
                        </label>
                        <label ng-switch-when="date">
                            <div ng-if="row['status'] !== 'PAID'" id="amount" class="input-group">
                                <input id="payment-paymentDate" name="paymentDate" class="form-control ng-pristine ng-untouched ng-isolate-scope ng-valid ng-valid-required ng-not-empty ng-valid-date"
                                    size="10" ng-model="row[col.field]" ng-required="false" ng-model-options="{timezone: 'utc'}"
                                    uib-datepicker-popup="dd/MM/yyyy" is-open="vm.paymentDateOpened" on-open-focus="true" show-button-bar="false"
                                    disable-valid-styling="true">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.paymentDateOpened = !vm.paymentDateOpened">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                            <label ng-if="row['status'] === 'PAID'">{{row[col.field] | date:'shortDate'}}</label>
                        </label>
                        <div>
                            <input ng-switch-when="check" type="checkbox" ng-model="row[col.field]" ng-click="$ctrl.onTransitionalSelection(row)" ng-hide="col.field=== 'select' &&  row['checked'] === true"/>
                            <label ng-show="col.field=== 'select' &&  row['checked'] === true" uib-tooltip="Riconciliato"><i class="fa fa-check"></i></label>
                        </div>
                        <div ng-switch-when="action">
                            <button ng-disabled="row['id'] !== null" class="btn btn-danger" type="button" ng-click="$ctrl.removeRow($data.indexOf(row))"
                                uib-tooltip="Rimuovi riga" data-tooltip-append-to-body="true" tooltip-placement="left">
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </span>
                </td>
            </tr>
        </table>
        <div ng-repeat="writing in $ctrl.transaction.writings">
            <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <materialized-path-list ng-model="writing.details['TO_GIVE']" transaction="$ctrl.transaction" period="$ctrl.period" component-title="{{ 'UserDefinedTransaction.ToGive' | translate }}"
                />
            </div>
        </div>
    </div>
</div>