<spinner-loader ng-show="vm.loading"></spinner-loader>
<div class="account-list" ng-scrollbars ng-scroolbars-config="vm.scrollbars">
    <ul id="{{vm.id}}" class="list-group" ng-if="!vm.loading">
        <li class="list-group-item list-group-item-warning" ng-if="vm.ngModel.length == 0">{{ "ChartOfAccounts.List.NoAccount" | translate }}</li>
        <li class="list-group-item" ng-repeat="account in vm.ngModel">
            <span ng-if="vm.showCode">{{ account }} - </span> {{ vm.getAccountName(account) }}
            <button class="btn btn-default btn-xs pull-right" ng-click="vm.remove($index)"><i class="fa fa-trash"></i></button>
        </li>
    </ul>
</div>
<button type="button" ng-click="vm.openLookup()" class="btn btn-default">{{ "ChartOfAccounts.List.AddMore" | translate }}</button>
