<form novalidate name="form" translate-namespace="ChartOfAccounts.Edit.Account">
    <div class="modal-header">
        <i class="fa fa-list-alt modal-icon"></i>
        <h4 class="modal-title" translate>.EditTitle</h4>
        <h5 ng-if="vm.showCode"><span translate translate-values="{{vm.rootNode}}">.Parent</span></h5>
    </div>
    <div class="modal-body" ng-include="'app/chart-of-accounts/account-form.html'">
    </div>
    <div class="modal-footer">
        <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" ng-disabled="form.$invalid" ng-click="vm.doConfirm()" translate>.Confirm</button>
    </div>
</form>
