<div class="form-group" ng-if="vm.showCode">
    <label for="account-code"><span translate>.Code</span>*</label>
    <input id="account-code" name="code" class="form-control" ng-model="vm.account.codice"
           ng-maxlength="vm.codeSize" ng-minlength="vm.codeSize" ng-required="true" maxlength="{{vm.codeSize}}"
           ui-validate="{exists: 'vm.accountCodeDoesNotExists($value)'}">
</div>
<div class="form-group" ng-if="vm.showCode">
    <label for="accounting-code"><span translate>.AccountingCode</span></label>
    <input id="accounting-code" name="accountingCode" class="form-control"
           ng-model="vm.account.codiceContabilita">
</div>
<div class="form-group" ng-if="vm.allowAddressBook && vm.account.level === 'CONTO'">
    <label for="account-address-book" translate>.AddressBookType</label>
    <select id="account-address-book" name="addressBookType" class="form-control"
            ng-options="item as ('ChartOfAccounts.Edit.AddressBookType.' + item | translate) for item in vm.addressBookTypes"
            ng-model="vm.account.addressBookRef" ng-disabled="vm.fixedAddressBook || vm.account.children.length > 0">
        <option value="" translate>.NoAddressBookType</option>
    </select>
</div>
<div class="form-group">
    <label for="description"><span translate>.Description</span>*</label>
    <input id="description" name="description" class="form-control"
           ng-model="vm.account.descrizione" ng-required="true">
</div>
