<div class="input-group input-group-{{$ctrl.size}}">
    <input id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" placeholder="{{ $ctrl.placeholder }}" class="form-control"
           ng-model="$ctrl.description" ng-required="$ctrl.ngRequired" ng-disabled="$ctrl.ngDisabled" readonly="readonly"
             uib-tooltip="{{ $ctrl.breadcrumb }}"
            tooltip-placement="bottom"  data-tooltip-append-to-body="true" >
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="$ctrl.openLookup()" ng-disabled="$ctrl.ngDisabled"><i class="fa fa-search fa-fw"></i></button>
        <button class="btn btn-danger" type="button" ng-click="$ctrl.remove()" ng-disabled="$ctrl.ngDisabled || !$ctrl.ngModel"><i class="fa fa-fw fa-remove"></i></button>
    </span>
</div>
