<script type="text/ng-template" id="subtree-choose-node.html">
    <div ui-tree-handle>
        <button class="pull-right btn btn-default btn-xs coa-selector" data-nodrag ng-if="!vm.multiple && vm.isSelectable(account)"
                ng-click="vm.doChoose(account)">&nbsp;
                <!-- <i class="fa fa-square-o"></i> -->
        </button>
        <div class="form-group form-group-sm pull-right" ng-if="vm.multiple">
            <input class="form-control" type="checkbox" ng-model="vm.selected[account.materializedPath]"
                   name="accounts[]" ng-click="vm.toggleAccount(account)">
        </div>

        <span ng-switch="account.level">
            <span ng-switch-when="GRUPPO">
                <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                </a>
                <span ng-click="toggle(this)">
                    <span ng-if="!vm.hideCode">{{ account.codice }} - </span>
                    {{ account.descrizione }}
                </span>
                <span ng-if="account.tipo" class="label label-group-type">{{ account.tipo }}</span>
            </span>
            <span ng-switch-when="MASTRO">
                <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                </a>
                <span ng-click="toggle(this)">
                    <span ng-if="!vm.hideCode">{{ account.codice }} - </span>
                    {{ account.descrizione }}
                </span>
            </span>
            <span ng-switch-when="CONTO">
                <span ng-if="account.addressBookRef && !vm.includeAddressBookItems">
                    <a class="btn btn-toogle btn-xs"><span class="fa fa-lock"></span></a>
                    <span>
                        <span ng-if="!vm.hideCode">{{ account.codice }} - </span>
                        {{ account.descrizione }}
                    </span>
                    <span class="label label-address-book" translate>{{ 'ChartOfAccounts.Edit.AddressBookType.' + account.addressBookRef }}</span>
                </span>
                <span ng-if="!account.addressBookRef || vm.includeAddressBookItems">
                    <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                        <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                    </a>
                    <span ng-click="toggle(this)">
                        <span ng-if="!vm.hideCode">{{ account.codice }} - </span>
                        {{ account.descrizione }}
                    </span>
                </span>
            </span>
            <span ng-switch-default="">
                <span class="btn btn-toogle btn-xs fa fa-leaf"></span>
                <span>
                    <span ng-if="!vm.hideCode">{{ account.codice }} - </span>
                    {{ account.descrizione }}
                </span>
            </span>
        </span>
    </div>
    <ol ui-tree-nodes ng-model="account.children" ng-if="account.children && (!account.addressBookRef || vm.includeAddressBookItems)" class="angular-ui-tree-nodes"
        ng-class="{ hidden: collapsed }">
        <li ng-repeat="account in account.children" ui-tree-node ng-include="'subtree-choose-node.html'">
        </li>
    </ol>
</script>
<div class="modal-header">
    <h4 class="modal-title">
        <i class="fa fa-list-alt modal-icon"></i>
        <span ng-if="!vm.multiple" translate>ChartOfAccounts.AccountChooser.SelectOne</span>
        <span ng-if="vm.multiple" translate>ChartOfAccounts.AccountChooser.SelectMany</span>
    </h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ol class="breadcrumb">
                <li ng-repeat="element in vm.rootAccountTree"><span>{{ element.descrizione }}</span></li>
            </ol>
        </div>
    </div>
    <div ui-tree data-drag-enabled="false" class="angular-ui-tree" ng-if="vm.chartOfAccounts.children.length > 0">
        <ol ui-tree-nodes="" ng-model="vm.chartOfAccounts.children" class="angular-ui-tree-nodes"
            ng-class="{'group-centre-cost': vm.chartOfAccounts.level == 'GRUPPO'}">
            <li ng-repeat="account in vm.chartOfAccounts.children" ui-tree-node data-collapsed="true"
                class="angular-ui-tree-node"
                ng-class="{ 'group-node': account.level === 'GRUPPO', 'ledger-node': account.level === 'MASTRO', 'account-node': accunt.level === 'CONTO', 'sub-account-node': vm.isSelectable(account) }"
                ng-include="'subtree-choose-node.html'">
            </li>
        </ol>
    </div>
    <div class="alert alert-warning" role="alert" ng-if="vm.chartOfAccounts.children.length === 0">
        <span translate>ChartOfAccounts.AccountChooser.NoAccountAvailable</span>
    </div>
</div>
<div class="modal-footer">
    <button ng-click="$dismiss()" class="btn btn-default" type="button" translate>ChartOfAccounts.AccountChooser.Cancel</button>
    <button ng-if="vm.multiple" class="btn btn-primary" ng-click="vm.doConfirm()" translate>ChartOfAccounts.AccountChooser.Confirm</button>
</div>
