<div class="wrapper wrapper-content" ng-form="form" translate-namespace="ChartOfAccounts.Edit">
    <spinner-loader ng-show="vm.loading"></spinner-loader>
    <div class="row" ng-show="!vm.loading">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                </div>
                <div class="ibox-content">
                    <chart-of-accounts-tabs costs-disabled="!vm.costs" revenues-disabled="!vm.revenues"
                                            personal-expenses-disabled="!vm.personalExpenses">
                        <costs-pane>
                            <chart-of-accounts-subtree-edit ng-model="vm.costs" company-id="vm.companyId"
                                                            allow-address-book="false">
                            </chart-of-accounts-subtree-edit>
                        </costs-pane>
                        <revenues-pane>
                            <chart-of-accounts-subtree-edit ng-model="vm.revenues" company-id="vm.companyId"
                                                            allow-address-book="false">
                            </chart-of-accounts-subtree-edit>
                        </revenues-pane>
                        <personal-expenses-pane>
                            <chart-of-accounts-subtree-edit ng-model="vm.personalExpenses" company-id="vm.companyId"
                                                            allow-address-book="true"
                                                            fixed-address-book="'HousingPersons'">
                            </chart-of-accounts-subtree-edit>
                        </personal-expenses-pane>
                        <provisions-pane>
                            <chart-of-accounts-subtree-edit ng-model="vm.provisions" company-id="vm.companyId"
                                                            allow-address-book="false">
                            </chart-of-accounts-subtree-edit>
                        </provisions-pane>
                    </chart-of-accounts-tabs>
                </div>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!vm.loading">
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" ng-disabled="form.$invalid" ng-click="vm.doSave()" translate>.Save</button>
        </div>
    </div>
</div>
