<uib-tabset active="$ctrl.activeTab">
    <uib-tab index="0" disable="$ctrl.costsDisabled">
        <uib-tab-heading translate>.Costs</uib-tab-heading>
        <div ng-transclude="costs"></div>
    </uib-tab>
    <uib-tab index="1" disable="$ctrl.revenuesDisabled">
        <uib-tab-heading translate>.Revenues</uib-tab-heading>
        <div ng-transclude="revenues"></div>
    </uib-tab>
    <uib-tab index="2" disable="$ctrl.personalExpensesDisabled">
        <uib-tab-heading translate>.PersonalExpenses</uib-tab-heading>
        <div ng-transclude="personalExpenses"></div>
    </uib-tab>
    <uib-tab index="3" disabled="$ctrl.provisionsDisabled">
        <uib-tab-heading translate>.Provisions</uib-tab-heading>
        <div ng-transclude="provisions"></div>
    </uib-tab>
</uib-tabset>
