.account-chooser-modal {
  .modal-body {
    max-height: 600px;
    overflow: auto;

    .breadcrumb {
      margin-bottom: 20px;
    }

    .btn {
      &.coa-selector {
        min-width: 22px;
        border-color: #aaa;
      }
    }
    .angular-ui-tree-node {
      .form-group input {
        margin: 8px 20px 0 0;
        height: 12px;
      }
    }
  }
}
