<script type="text/ng-template" id="subtree-edit-node.html">
    <div ui-tree-handle>
        <a class="pull-right btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
           tooltip-placement="left" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Remove' | translate }}"
           ng-click="vm.removeAccount(this, account)" ng-disabled="!account.ownerCompanyId">
            <span class="fa fa-trash"></span>
        </a>
        <a class="pull-right btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
           tooltip-placement="left" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Edit' | translate }}"
           ng-click="vm.editAccount(account)" ng-disabled="!account.ownerCompanyId">
            <span class="fa fa-pencil"></span>
        </a>
        <a class="pull-right btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
           tooltip-placement="left" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.AddNew' | translate }}"
           ng-click="vm.addAccount(account)" ng-if="account.level !== 'SOTTOCONTO' && !account.addressBookRef">
            <span class="fa fa-plus"></span>
        </a>
        <a class="pull-right btn btn-default btn-circle btn-sm" data-nodrag tooltip-append-to-body="true"
           tooltip-placement="left" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Clone' | translate }}"
           ng-click="vm.cloneAccount(account)" ng-if="account.level !== 'SOTTOCONTO'">
            <span class="fa fa-clone"></span>
        </a>

        <span ng-switch="account.level">
            <span ng-switch-when="GRUPPO">
                <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                </a>
                <span ng-click="toggle(this)">
                    <span ng-if="vm.showCode">{{ account.materializedPath }} - </span>
                    {{ account.descrizione }}
                    <i class="fa fa-fw fa-lock" ng-if="!account.ownerCompanyId" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Locked' | translate }}"></i>
                </span>
                <span ng-if="account.tipo" class="label label-group-type">{{ account.tipo }}</span>
            </span>
            <span ng-switch-when="MASTRO">
                <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                    <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                </a>
                <span ng-click="toggle(this)">
                    <span ng-if="vm.showCode">{{ account.materializedPath }} - </span>
                    {{ account.descrizione }}
                    <i class="fa fa-fw fa-lock" ng-if="!account.ownerCompanyId" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Locked' | translate }}"></i>
                </span>
            </span>
            <span ng-switch-when="CONTO">
                <span ng-if="account.addressBookRef">
                    <span class="btn btn-toggle btn-xs fa fa-address-book"></span></a>
                    <span>
                        <span ng-if="vm.showCode">{{ account.materializedPath }} - </span>
                        {{ account.descrizione }}
                        <i class="fa fa-fw fa-lock" ng-if="!account.ownerCompanyId" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Locked' | translate }}"></i>
                    </span>
                    <span class="label label-address-book" translate>{{ 'ChartOfAccounts.Edit.AddressBookType.' + account.addressBookRef }}</span>
                </span>
                <span ng-if="!account.addressBookRef">
                    <a class="btn btn-toogle btn-xs" data-nodrag ng-click="toggle(this)">
                        <span class="fa fa-plus" ng-class="{'fa-plus': collapsed, 'fa-minus': !collapsed}"></span>
                    </a>
                    <span ng-click="toggle(this)">
                        <span ng-if="vm.showCode">{{ account.materializedPath }} - </span>
                        {{ account.descrizione }}
                        <i class="fa fa-fw fa-lock" ng-if="!account.ownerCompanyId" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Locked' | translate }}"></i>
                    </span>
                </span>
            </span>
            <span ng-switch-when="SOTTOCONTO">
                <span class="btn btn-toggle btn-xs fa fa-leaf"></span>
                <span>
                    <span ng-if="vm.showCode">{{ account.materializedPath }} - </span>
                    {{ account.descrizione }}
                    <i class="fa fa-fw fa-lock" ng-if="!account.ownerCompanyId" uib-tooltip="{{ 'ChartOfAccounts.Edit.Tree.Locked' | translate }}"></i>
                </span>
            </span>
        </span>
    </div>
    <ol ui-tree-nodes ng-model="account.children" ng-if="account.children && !account.addressBookRef" class="angular-ui-tree-nodes"
        ng-class="{ hidden: collapsed }">
        <li ng-repeat="account in account.children track by account.materializedPath" ui-tree-node ng-include="'subtree-edit-node.html'">
        </li>
    </ol>
</script>
<div class="row m-t-md">
    <div class="col-md-12">
        <div ui-tree data-drag-enabled="false" class="angular-ui-tree" ng-if="vm.ngModel.children.length > 0">
            <ol ui-tree-nodes="" ng-model="vm.ngModel.children" class="angular-ui-tree-nodes"
                ng-class="{'group-centre-cost': vm.ngModel.level == 'GRUPPO'}">
                <li ng-repeat="account in vm.ngModel.children track by account.materializedPath" ui-tree-node data-collapsed="true"
                    class="angular-ui-tree-node"
                    ng-class="{ 'group-node': account.level === 'GRUPPO', 'ledger-node': account.level === 'MASTRO', 'account-node': accunt.level === 'CONTO', 'sub-account-node': account.level === 'SOTTOCONTO' }"
                    ng-include="'subtree-edit-node.html'">
                </li>
            </ol>
        </div>
        <div class="alert alert-warning" role="alert" ng-if="vm.ngModel.children.length === 0">
            <span translate>.NoAccountAvailable</span>
        </div>
    </div>
</div>
<div class="row m-t-md">
    <div class="col-md-3 col-md-offset-9 text-right">
        <button type="button" class="btn btn-success btn-sm" ng-click="vm.addAccount(vm.ngModel)">
            <i class="fa fa-plus"></i>
            <span translate>ChartOfAccounts.Edit.Tree.AddNew</span>
        </button>
    </div>
</div>
