<div class="col-sm-4 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span translate>.Detail</span>
        </div>
        <div class="panel-body2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td><span translate>.Kind.Title</span></td>
                        <td class="text-right"><span class="label" translate>  {{ '.Kind.' + vm.tx.type }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.Protocol</span></td>
                        <td class="text-right">{{ vm.tx.typeCode}}{{ vm.tx.protocol}}</td>
                    </tr>                    
                    <tr>
                        <td><span translate>.EconomicPath</span></td>
                        <td class="text-right"><span translate>  {{ vm.tx.resourceFrom.materializedPathDescription }}</span>
                        </td>
                    </tr>   
                    <tr>
                        <td><span translate>.Status.Status</span></td>
                        <td class="text-right">
                            <div ng-repeat="counter in vm.tx.counter.amountCounter track by counter.type" class="transaction-types">
                                <button class="btn btn-mix-{{ counter.status }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.RecordKind.' + counter.type | translate }} - {{ 'ManualTransaction.Status.' + counter.status | translate }}"
                                    tooltip-append-to-body="true">
				                        <i class="fa fa-mix-{{ counter.status }}"></i>
				                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span translate>.Status.CheckedTitle</span></td>
                        <td class="text-right">
                            <button class="btn btn-mix-{{ vm.tx.checked }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + vm.tx.checked | translate }}"
                                tooltip-append-to-body="true"><i class="fa fa-mix-{{ vm.tx.checked }}"></i>
				            </button>
                        </td>
                    </tr>
                    <tr ng-if="vm.tx.rejected != 'NOT_REJECTED'">
                        <td><span translate>.Status.RejectedTitle</span></td>
                        <td class="text-right">
                            <button class="btn btn-mix-{{ vm.tx.rejected }} btn-circle" type="button" tooltip-placement="top" uib-tooltip="{{ 'ManualTransaction.Status.' + vm.tx.rejected | translate }}"
                                tooltip-append-to-body="true">
				                                        <i class="fa fa-mix-{{ vm.tx.rejected }}"></i>
				                                    </button>
                        </td>
                    </tr>

                    <tr>
                        <td><span translate>.TotalAmount</span></td>
                        <td class="text-right">{{ vm.tx.totalAmount  | currency }}</td>
                    </tr>  
                    <tr>
                        <td><span translate>.Period</span></td>
                        <td class="text-right">{{ vm.tx.startDate | date: 'shortDate' }} - {{ vm.tx.endDate | date: 'shortDate'}}</td>
                    </tr>
                 
                    
                </tbody>
            </table>
        </div>
    </div>

</div>