<div class="content" translate-namespace="MoneyTransferTransaction">
    <div class="panel panel-primary">
        <div class="panel-heading">
                <div class="panel-title" ><span translate>{{  vm.tx.type }}  </span> --
                    <span> {{vm.period.description}} - {{ vm.period.period.startDate | date: 'shortDate' }} - {{ vm.period.period.endDate
                        | date: 'shortDate' }} </span>
                </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="vm.periodLoaded && vm.period.status !='OPEN'">
                    <div class="form-group">
                        <span class="label-danger" ng-if="vm.periodLoaded && vm.period.status !='OPEN'" translate>.MessageFinancialPeriod</span>     
                        </label>
                     </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="amount"><span translate>.Amount</span>*</label>
                            <input id="amount" min="0" ng-model="vm.tx.totalAmount" class="form-control text-right" name="amountNet" ng-currency ng-required="true"
                                ng-min="0" id="record-amountNet" value="100" 
                            />
                        </div>
                    </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="dateFrom"><span translate>.Date</span>*</label>
                        <div class="input-group">
                            <input id="dateFrom" name="dateFrom" class="form-control" ng-model="vm.tx.startDate" ng-required="true" uib-datepicker-popup="{{ 'Formats.Date' | translate }}"
                                is-open="vm.dateOpened" on-open-focus="true" show-button-bar="false" disable-valid-styling="true" 
                                ui-validate="{date_range_period:'vm.checkFinancialPeriodDate($value)'}">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.dateOpened = !vm.dateOpened">
                                <i class="fa fa-calendar"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>

 
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="resourceFromPath"><span translate>.ResourceFromPath</span>*</label>
                        <account-input id="resourceFromPath" name="resourceFromPath" ng-model="vm.tx.resourceFrom.materializedPath" ng-required="true" chart-of-accounts-id="vm.period.chartOfAccountsId"
                            company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedResourceFromPath}}"></account-input>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="resourceToPath"><span translate>.ResourceToPath</span>*</label>
                        <account-input id="resourceToPath" name="resourceToPath" ng-model="vm.tx.resourceTo.materializedPath" 
                            ng-required="true" chart-of-accounts-id="vm.period.chartOfAccountsId"
                            company-id="vm.period.ownerCompanyId" root-account="{{vm.prefixedResourceToPath}}"></account-input>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="description"><span translate>.Description</span>*</label>
                        <input id="description" name="description" ng-required="true" ng-model="vm.tx.description" class="form-control"  ng-maxlength="300">
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs" ng-if="vm.showWithHolding"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="notes"><span translate>.Note</span></label>
                        <textarea min="0" ng-model="vm.tx.notes" class="form-control text-left" name="notes" ng-required="false" ng-min="0" id="notes"
                            value="100" rows="5" ng-maxlength="1000" />
                    </div>
                </div>
            </div>
        </div>
    </div>  
</div>