<div class="col-sm-4 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <span translate>.Detail</span>
        </div>
        <div class="panel-body2">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td>
                            <span translate>.Kind.Title</span>
                        </td>
                        <td class="text-right">
                            <span class="label" translate> {{ '.Kind.' + vm.tx.type }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.Protocol</span>
                        </td>
                        <td class="text-right">{{ vm.tx.typeCode}}{{ vm.tx.protocol}}</td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.TotalAmount</span>
                        </td>
                        <td class="text-right">{{ vm.tx.totalAmount | currency }}</td>
                    </tr>
                    <tr>
                        <td>
                            <span translate>.Period</span>
                        </td>
                        <td class="text-right">{{ vm.tx.startDate | date: 'shortDate' }} - {{ vm.tx.endDate | date: 'shortDate'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>