<div class="content" translate-namespace="UserDefinedTransaction">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="panel-title">
                <span translate>{{ vm.tx.type }} </span> --
                <span> {{vm.period.description}} - {{ vm.period.period.startDate | date: 'shortDate' }} - {{ vm.period.period.endDate
                    | date: 'shortDate' }} </span>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12" ng-if="vm.periodLoaded && vm.period.status !='OPEN'">
                    <div class="form-group">
                        <span class="label-danger" ng-if="vm.periodLoaded && vm.period.status !='OPEN'" translate>.MessageFinancialPeriod</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label for="recordingDate">
                            <span translate>.RecordingDate</span>*</label>
                        <date-with-financial-period-check id="recordingDate" name="recordingDate" ng-required="true" ng-model="vm.tx.writing.recordingDate"
                            financial-period="vm.period" check-greater-start-date="false" check-lowest-end-date="false" check-date-range="true"></date-with-financial-period-check>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" ng-if="!vm.isUpdate && !vm.externaltemplate">
                    <span ng-switch="row.rootPathIsDefined"></span>
                    <div class="form-group" ng-switch="vm.isUpdate">
                        <label for="template">
                            <span translate>.Template</span></label>
                        <select id="template" name="template" class="form-control" ng-model="vm.tx.writing.automatedWriting" ng-required="false"
                            ng-options="item as item.code + ' - ' + item.description for item in vm.templates" >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="documentReference">
                            <span translate>.DocumentReference</span>
                        </label>
                        <div class="input-group">
                            <input id="documentReference" name="documentReference" ng-required="false" ng-model="vm.tx.writing.documentReference" class="form-control"
                                ng-maxlength="200">
                        </div>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label for="startDate">
                            <span translate>.StartDate</span>*</label>
                        <date-with-financial-period-check id="startDate" name="startDate" ng-required="true" ng-model="vm.tx.writing.competence.startDate" financial-period="vm.period"
                            check-greater-start-date="false" check-lowest-end-date="false" check-date-range="true" external-initial-bindings="vm.tx.writing.recordingDate"></date-with-financial-period-check>
                    </div>
                </div>

                <div class="col-md-2 col-sm-2 col-xs-12">
                    <div class="form-group">
                        <label for="endDate">
                            <span translate>.EndDate</span>*
                        </label>
                        <date-with-financial-period-check id="endDate" name="endDate" ng-required="true" ng-model="vm.tx.writing.competence.endDate" financial-period="vm.period"
                            check-greater-start-date="false" check-lowest-end-date="false" check-date-range="true" external-initial-bindings="vm.tx.writing.competence.startDate"></date-with-financial-period-check>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label for="amount" >
                            <span translate>.AmountTodivide</span>*</label>
                        </label>
                        <input id="amountTodivide" min="0" ng-model="vm.tx.totalAmount" class="form-control text-right" name="amountTodivide" ng-currency ng-required="true"
                            ng-min="0" id="amountTodivide" />
                    </div>
                </div>


                
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <materialized-path-list ng-model="vm.tx.writing.details['TO_GIVE']" transaction="vm.tx"  period="vm.period"  disable-update-path="vm.disableUpdatePath"
                            component-title="{{ 'UserDefinedTransaction.ToGive' | translate }}" enable-duplicate-path="true" external-amount-to-divide="vm.tx.totalAmount" template="vm.tx.writing.automatedWriting">
                        </materialized-path-list>
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <materialized-path-list ng-model="vm.tx.writing.details['TO_HAVE']" transaction="vm.tx" period="vm.period" disable-update-path="vm.disableUpdatePath"
                            component-title="{{ 'UserDefinedTransaction.ToHave' | translate }}" enable-duplicate-path="true" external-amount-to-divide="vm.tx.totalAmount" template="vm.tx.writing.automatedWriting" is-to-have = "true">
                        </materialized-path-list>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="description">
                            <span translate>.Description</span>*</label>
                        <input id="description" name="description" ng-required="true" ng-model="vm.tx.writing.description" class="form-control" ng-maxlength="300">
                    </div>
                </div>
                <div class="clearfix visible-lg visible-md hidden-sm hidden-xs"></div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <label for="notes">
                            <span translate>.Note</span>
                        </label>
                        <textarea min="0" ng-model="vm.tx.notes" class="form-control text-left" name="notes" ng-required="false" ng-min="0" id="notes"
                            value="100" rows="5" ng-maxlength="1000" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>