<div class="wrapper wrapper-content manual-transaction-container" ng-form="vm.form" translate-namespace="ManualTransaction">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 translate>.Edit</h5>
                    </div>
                    <spinner-loader ng-show="vm.loading"></spinner-loader>
                    <div class="ibox-content" ng-if="!vm.loading">
                        <div ng-include="'app/accounting-transaction/user-defined/user-defined-tx-form.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-hide="vm.loading">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" type="button"  ng-if="vm.period.status == 'OPEN'" progress-button="vm.doSave()" 
                ng-disabled="vm.form.$invalid || vm.form.$pristine || vm.updateDisabled" ><span translate>.SaveReturn</span></button>
                <a ui-sref="^" class="btn btn-default" translate>.Cancel</a>
            </div>
        </div>
    </div>


    
