<spinner-loader ng-if="$ctrl.loading"></spinner-loader>
<div class="tree" ng-scrollbars ng-scrollbars-config="$ctrl.scrollbarConfig" ng-hide="$ctrl.loading">
    <div ui-tree="$ctrl.treeOptions" data-nodrop-enabled="true">
        <ol ui-tree-nodes data-ng-model="$ctrl.types">
            <li ng-repeat="type in $ctrl.types" ui-tree-node data-nodrag data-collapsed="true">
                <div class="tree-node tree-node-content safe-height">
                    <i class="fa fa-fw fa-address-book"></i>
                    <a class="btn btn-default btn-xs" data-nodrag  ng-class="{ disabled: !type.assignments }"
                       ng-click="this.toggle()">
                        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></i>
                    </a>
                    <span>{{ type.name }}</span>
                    <span class="pull-right m-r-sm">
                        <input type="checkbox" checklist-model="$ctrl.selectedTypes" data-checklist-value="type.id"
                               data-checklist-change="$ctrl.toggleType(type)" data-ng-disabled="!type.assignments">
                    </span>
                </div>
                <ol ui-tree-nodes data-ng-model="type.assignments" ng-hide="collapsed">
                    <li ng-repeat="assignment in type.assignments" ui-tree-node data-nodrag>
                        <div class="tree-node tree-node-content safe-height">
                            <i class="fa fa-fw fa-user"></i>
                            <span>{{ assignment.person | fullName }}</span>
                            <span class="pull-right m-r-sm">
                                <input type="checkbox" checklist-model="$ctrl.value" data-checklist-value="assignment.id"
                                       data-checklist-change="$ctrl.onChange()">
                            </span>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>