<spinner-loader ng-if="$ctrl.loading"></spinner-loader>
<div class="tree" ng-scrollbars ng-scrollbars-config="$ctrl.scrollbarConfig" ng-hide="$ctrl.loading">
    <div ui-tree="$ctrl.treeOptions" data-nodrop-enabled="true">
        <ol ui-tree-nodes data-ng-model="$ctrl.buildings">
            <li ng-repeat="building in $ctrl.buildings" ui-tree-node data-nodrag>
                <div class="tree-node tree-node-content safe-height">
                    <i class="fa fa-fw fa-building"></i>
                    <span>{{ building.description }}</span>
                    <span class="pull-right m-r-sm">
                        <input type="checkbox" checklist-model="$ctrl.value" data-checklist-value="building.id"
                               data-checklist-change="$ctrl.onChange()">
                    </span>
                </div>
            </li>
        </ol>
    </div>
</div>