<spinner-loader ng-if="$ctrl.loading"></spinner-loader>
<div class="tree" ng-scrollbars ng-scrollbars-config="$ctrl.scrollbarConfig" ng-hide="$ctrl.loading">
    <div ui-tree="$ctrl.treeOptions" data-nodrop-enabled="true">
        <ol ui-tree-nodes data-ng-model="$ctrl.buildings">
            <li ng-repeat="building in $ctrl.buildings" ui-tree-node data-nodrag>
                <div class="tree-node tree-node-content safe-height">
                    <i class="fa fa-fw fa-building"></i>
                    <a class="btn btn-default btn-xs" ng-class="{ disabled: !building.housingUnitGroups }" data-nodrag ng-click="collapsed = !collapsed">
                        <i class="fa fa-fw" ng-class="{ 'fa-chevron-right': collapsed, 'fa-chevron-down': !collapsed }"></i>
                    </a>
                    <span>{{ building.description }}</span>
                    <span class="pull-right m-r-sm">
                        <input type="checkbox" checklist-model="$ctrl.selectedBuildings" data-checklist-value="building.id"
                               data-checklist-change="$ctrl.toggleBuilding(building)">
                    </span>
                </div>
                <ol ui-tree-nodes data-ng-model="building.housingUnitGroups" ng-hide="collapsed">
                    <li ng-repeat="group in building.housingUnitGroups | orderBy: 'description'" ui-tree-node data-nodrag>
                        <div class="tree-node tree-node-content safe-height">
                            <i class="fa fa-fw fa-bars"></i>
                            <span>{{ group.description }}</span>
                            <span class="pull-right m-r-sm">
                                <input type="checkbox" checklist-model="$ctrl.value" data-checklist-value="group.id"
                                       data-checklist-change="$ctrl.onChange()">
                            </span>
                        </div>
                    </li>
                </ol>
            </li>
        </ol>
    </div>
</div>