<spinner-loader ng-if="$ctrl.loading"></spinner-loader>
<div ng-hide="$ctrl.loading">
    <div class="table-responsive">
        <table ng-table="$ctrl.tableParams" class="table table-striped table-bordered table-condensed">
            <colgroup>
                <col class="col-md-1">
                <col class="col-md-2">
                <col class="col-md-3">
                <col class="col-md-2">
                <col class="col-md-2">
                <col class="col-md-2">
            </colgroup>
            <tr ng-repeat="row in $data">
                <td class="text-center">
                    <input type="checkbox" checklist-model="$ctrl.value" data-checklist-value="row.personId"
                           data-checklist-change="$ctrl.onChange()">
                </td>
                <td data-title="'Meetings.Participants.Summoning.Role' | translate"
                    data-filter="{ roleType: 'app/meetings/participants-summon/role-filter.html' }">
                    {{ 'Structures.Edit.Role.Type.' + row.roleType | translate }}
                </td>
                <td data-title="'Meetings.Participants.Summoning.Name' | translate">
                    {{ row | fullName }}
                </td>
                <td data-title="'Meetings.Participants.Summoning.Building' | translate"
                    data-filter="{ buildingId: 'app/meetings/participants-summon/building-filter.html' }"
                    class="text-center">
                    {{ row.building }}
                </td>
                <td data-title="'Meetings.Participants.Summoning.Group' | translate"
                    data-filter="{ groupId: 'app/meetings/participants-summon/building-group-filter.html' }"
                    class="text-center">
                    {{ row.group }}
                </td>
                <td data-title="'Meetings.Participants.Summoning.HousingUnit' | translate"
                    data-filter="{ unit: 'text' }"
                    class="text-center">
                    {{ row.housingUnit }}
                </td>
            </tr>
        </table>
    </div>
</div>
<script type="text/ng-template" id="app/meetings/participants-summon/role-filter.html">
    <div class="form-group">
        <select name="{{ name }}"
                class="input-filter form-control"
                data-ng-disabled="$filterRow.disabled"
                data-ng-model="params.filter()[name]"
                data-ng-options="r.id as r.title for r in $ctrl.getRoleTypes() track by r.id">
            <option value=""></option>
        </select>
    </div>
</script>
<script type="text/ng-template" id="app/meetings/participants-summon/building-filter.html">
    <div class="form-group">
        <select name="{{ name }}"
                class="input-filter form-control"
                data-ng-disabled="$filterRow.disabled"
                data-ng-model="params.filter()[name]"
                data-ng-options="b.id as b.title for b in $ctrl.getBuildings() track by b.id">
            <option value=""></option>
        </select>
    </div>
</script>
<script type="text/ng-template" id="app/meetings/participants-summon/building-group-filter.html">
    <div class="form-group">
        <select name="{{ name }}"
                class="input-filter form-control"
                data-ng-disabled="$filterRow.disabled"
                data-ng-model="params.filter()[name]"
                data-ng-options="g.id as g.fullTitle for g in $ctrl.getGroups() track by g.id">
            <option value=""></option>
        </select>
    </div>
</script>