<select id="{{ $ctrl.id }}" name="{{ $ctrl.name }}" class="form-control {{ $ctrl.controlClass }}"
        data-ng-model="$ctrl.value" data-ng-change="$ctrl.onChange()" data-ng-required="$ctrl.ngRequired"
        data-ng-disabled="$ctrl.ngDisabled" translate-namespace="Meetings.ParticipantsType">
    <option value="" ng-if="!$ctrl.ngRequired"></option>
    <option value="ALL" translate>.ALL</option>
    <option value="BUILDINGS" translate>.BUILDINGS</option>
    <option value="GROUPS" translate>.GROUPS</option>
    <!--option value="ASSIGNMENTS" translate>.ASSIGNMENTS</option-->
    <option value="MANUAL" translate>.MANUAL</option>
</select>