<form novalidate name="$ctrl.form" translate-namespace="Meetings.Participants.Edit" class="meetings-container">
    <div class="modal-header">
        <h4 class="modal-title" translate>.Title</h4>
    </div>
    <div class="modal-body">
        <participants-input ng-model="$ctrl.participants"
                            data-condominium="$ctrl.condominium"></participants-input>
    </div>
    <div class="modal-footer">
        <button ng-click="$ctrl.dismiss()" class="btn btn-default" type="button" translate>.Cancel</button>
        <button class="btn btn-primary" type="button" data-ng-disabled="$ctrl.form.$invalid || $ctrl.form.$pristine"
                progress-button="$ctrl.doSave()"><span translate>.Save</span></button>
    </div>
</form>
