<div translate-namespace="Meetings.Form">
    <div class="form-group">
        <label for="participantsType"><span translate>.ParticipantsType</span></label>
        <participants-type-select id="participantsType" name="participantsType"
                                  data-ng-model="$ctrl.value.participantsType"
                                  data-ng-required="true"
                                  data-ng-change="$ctrl.onParticipantsTypeChange()"></participants-type-select>
    </div>
    <div class="row">
        <div class="col-md-12" ng-switch="$ctrl.value.participantsType">
            <div ng-switch-when="BUILDINGS">
                <buildings-chooser data-ng-model="$ctrl.value.participants" data-ng-change="$ctrl.onChange()"
                                   condominium="$ctrl.condominium"></buildings-chooser>
            </div>
            <div ng-switch-when="GROUPS">
                <groups-chooser data-ng-model="$ctrl.value.participants" data-ng-change="$ctrl.onChange()"
                                condominium="$ctrl.condominium"></groups-chooser>
            </div>
            <div ng-switch-when="ASSIGNMENTS">
                <assignment-chooser data-ng-model="$ctrl.value.participants" data-ng-change="$ctrl.onChange()"
                                    data-condominium="$ctrl.condominium"></assignment-chooser>
            </div>
            <div ng-switch-when="MANUAL">
                <manual-chooser data-ng-model="$ctrl.value.participants" data-ng-change="$ctrl.onChange()"
                                condominium="$ctrl.condominium"></manual-chooser>
            </div>
        </div>
    </div>
</div>