<div class="wrapper wrapper-content" translate-namespace="Meetings.Participants.Summoning">
    <div class="row">
        <div class="col-lg-12" ng-form="$ctrl.form">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5 translate>.Title</h5>
                    <div class="ibox-tools text-right">
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.selectAllVisible()" data-ng-disabled="$ctrl.tableParams.total() === 0">
                            <i class="fa fa-check-square-o"></i>
                            <span translate>.SelectAll</span>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.deselectAllVisible()" data-ng-disabled="$ctrl.tableParams.total() === 0">
                            <i class="fa fa-square-o"></i>
                            <span translate>.DeselectAll</span>
                        </button>
                        <button class="btn btn-default btn-sm" ng-click="$ctrl.toggleFilters()" ng-disabled="$ctrl.tableParams.total() === 0">
                            <i class="fa fa-search"></i>
                            <span translate>.ToggleFilters</span>
                        </button>
                        <button class="btn btn-primary btn-sm" progress-button="$ctrl.saveChanges()"
                                data-ng-disabled="$ctrl.form.$pristine || $ctrl.form.$invalid">
                            <i class="fa fa-envelope"></i>
                            <span translate>.SaveChanges</span>
                        </button>
                        <a ui-sref="^" class="btn btn-default btn-sm">
                            <i class="fa fa-backward"></i>
                            <span translate>.Cancel</span>
                        </a>
                    </div>
                </div>
                <spinner-loader ng-show="$ctrl.loading"></spinner-loader>
                <div ng-hide="$ctrl.loading" class="ibox-content">
                    <div class="table-responsive installment-plan-table-container">
                        <table ng-table="$ctrl.tableParams"
                               data-show-group="false"
                               data-show-filter="$ctrl.showFilters"
                               class="table table-bordered table-bordered table-hover">
                            <colgroup>
                                <col class="col-md-1">
                                <col class="col-md-3">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                                <col class="col-md-2">
                            </colgroup>
                            <tr ng-repeat-start="group in $groups">
                                <td class="text-center">
                                    <div class="form-group">
                                        <input type="checkbox"
                                               checklist-model="$ctrl.selectedParticipants"
                                               data-checklist-value="group.data[0].person.id">
                                    </div>
                                </td>
                                <td data-title="'Meetings.Participants.Summoning.Name' | translate">
                                    &nbsp;{{ group.data[0].person | fullName }}
                                </td>
                                <td data-title="'Meetings.Participants.Summoning.Role' | translate"
                                    data-filter="{ role: 'select' }"
                                    data-filter-data="$ctrl.getRoleTypes()">
                                    <a href="" ng-click="group.$hideRows = !group.$hideRows" ng-if="group.data.length > 1">
                                        <i class="fa" ng-class="{ 'fa-plus-square-o': group.$hideRows, 'fa-minus-square-o': !group.$hideRows }"></i>
                                    </a>
                                    <span ng-if="group.data.length === 1">
                                        {{ 'Structures.Edit.Role.Type.' + group.data[0].role | translate }} ({{ group.data[0].value }}%)
                                    </span>
                                </td>
                                <td data-title="'Meetings.Participants.Summoning.Building' | translate"
                                    data-filter="{ buildingId: 'select' }"
                                    data-filter-data="$ctrl.getBuildings()"
                                    class="text-center">
                                    <span ng-if="group.data.length === 1">
                                        {{ group.data[0].building }}
                                    </span>
                                </td>
                                <td data-title="'Meetings.Participants.Summoning.Group' | translate"
                                    data-filter="{ groupId: 'app/meetings/participants-summon/building-group-filter.html' }"
                                    class="text-center">
                                    <span ng-if="group.data.length === 1">
                                        {{ group.data[0].group }}
                                    </span>
                                </td>
                                <td data-title="'Meetings.Participants.Summoning.HousingUnit' | translate"
                                    data-filter="{ unit: 'text' }"
                                    class="text-center">
                                    <span ng-if="group.data.length === 1">
                                        {{ group.data[0].unit }}
                                    </span>
                                </td>
                            </tr>
                            <tr ng-hide="group.$hideRows" ng-repeat="row in group.data" ng-repeat-end>
                                <td data-header-class="'text-center'">
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    {{ 'Structures.Edit.Role.Type.' + row.role | translate }} ({{ row.value }}%)
                                </td>
                                <td class="text-center">
                                    {{ row.building }}
                                </td>
                                <td class="text-center">
                                    {{ row.group }}
                                </td>
                                <td class="text-center">
                                    {{ row.unit }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="app/meetings/participants-summon/building-group-filter.html">
    <select name="{{ name }}"
            class="input-filter form-control"
            data-ng-disabled="$filterRow.disabled"
            data-ng-model="params.filter()[name]"
            data-ng-options="g.id as g.fullTitle for g in $ctrl.getGroups() track by g.id">
        <option value=""></option>
    </select>
</script>