<div class="inmodal">
        <div class="modal-header">
            <i class="fa fa-user modal-icon"></i>
            <h4 class="modal-title">Cambio foto profilo utente</h4>
            <small class="font-bold">Trascina la tua foto nel riquadro grigio o clicca e seleziona la tua foto</small>
        </div>
        <div class="modal-body" style="height: 400px">
            <div class="col-lg-12">
                <form class="dropzone installer"
                      method="post"
                      ng-dropzone
                      dropzone="dropzone"
                      dropzone-config="dropzoneConfig"
                      event-handlers="{ 'addedfile': dzAddedFile, 'sending': dzSendingFile, 'error': dzError }">
                    <div></div>
                </form>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Chiudi</button>
        </div>
</div>