<div class="inmodal" >
    <form role="form" name="change_password_form" novalidate ng-submit="submitForm(change_password_form)" >
        <div class="modal-header">
            <i class="fa fa-key modal-icon"></i>
            <h4 class="modal-title">Cambio Password</h4>
            <small class="font-bold">Modifica la tua password di accesso</small>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-md-4 text-right">
                    <h4>Vecchia password *</h4>
                </div>
                <div class="col-md-8">
                    <div class="form-group"
                         ng-class="{ 'has-error': change_password_form.oldPassword.$invalid && change_password_form.submitted}">
                        <input id="oldPassword"
                               name="oldPassword"
                               ng-model="changePassword.oldPassword"
                               type="password"
                               class="form-control"
                               required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                        <h4>Nuova password *</h4>
                </div>
                <div class="col-md-8">
                    <div class="form-group"
                         ng-class="{ 'has-error': change_password_form.newPassword.$invalid && change_password_form.submitted}">
                        <input id="newPassword"
                               name="newPassword"
                               minlength="8"
                               maxlength="20"
                               ng-model="changePassword.newPassword"
                               type="password" class="form-control" required/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-right">
                    <h4>Conferma nuova password *</h4>
                </div>
                <div class="col-md-8">
                    <div class="form-group"
                         ng-class="{ 'has-error': change_password_form.newPasswordConfirm.$invalid && change_password_form.submitted}">
                        <input id="newPasswordConfirm"
                               name="newPasswordConfirm"
                               minlength="8"
                               maxlength="20"
                               ng-model="changePassword.newPasswordConfirm"
                               ng-pattern="changePassword.newPassword"
                               pattern-err-type="new_password_confirm"
                               type="password" class="form-control" required/>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-white" ng-click="cancel()">Chiudi</button>
            <button class="btn btn-primary" type="submit">Modifica</button>
        </div>
    </form>
</div>