<div class="wrapper wrapper-content ">
    <div class="row m-b-lg m-t-lg">
        <div class="col-md-3">

            <a ng-click="showChangeUserPhotoModal()">
            <div class="profile-image">
                <img ng-src="{{contextAddressFile}}v1/files/download/{{user.userPhotoId}}{{timer}}"
                     class="img-circle circle-border m-b-md"
                     alt="foto profilo utente">
            </div>
            </a>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            {{user.firstName}} {{user.lastName}}
                        </h2>
                        <h4>Installatore</h4>
                        <small>

                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <spinner-loader ng-show="statsLoading"></spinner-loader>
            <div ng-show="!statsLoading">
                Statistiche utente
                <table class="table small m-b-xs">
                    <tbody>
                    <tr>
                        <td>
                            <strong>{{stats.plantCount}}</strong> Negozi abilitati
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{stats.gatewayCount}}</strong> Gateway
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{stats.energyMeterCount}}</strong> Contatori Energia
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>{{stats.sensTUMeterCount}}</strong> Sensori Temperatura
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Azione</span>
                    <h5>Cambio Password</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <button ng-click="showChangePasswordModal()"
                                    tooltip-placement="top" uib-tooltip="Cambia la tua password di accesso"
                                    class="btn btn-primary dim flat" type="button">
                                <i class="fa fa-key"></i>
                            </button>
                        </div>
                        <div class="col-lg-9">
                            <a href="" ng-click="showChangePasswordModal()">
                                <span>Cambia la tua password di accesso</span>
                            </a>
                            <!-- -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="col-md-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Azione</span>
                    <h5>Configura Notifiche</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-3">
                            <button ui-sref="index.install-list"
                                    tooltip-placement="top" uib-tooltip="Configura le notifiche che vuoi ricevere"
                                    class="btn btn-primary dim flat" type="button">
                                <i class="fa fa-bell"></i>
                            </button>
                        </div>
                        <div class="col-lg-9">
                            <a ui-sref="index.install-list">
                                <span>Configura le notifiche che vuoi ricevere</span>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div-->


    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Dettagli profilo</h5>
                    </div>
                    <div>
                        <!--
                        <div class="ibox-content no-padding border-left-right">
                            <img alt="image" class="img-responsive" src="img/profile_big.jpg">
                        </div>
                        -->
                        <div class="ibox-content profile-content">
                            <h4><strong>{{user.firstName}} {{user.lastName}}</strong></h4>
                            <label>Username:</label> {{user.email}}<br/>
                            <label>{{'customerCode'|translate}}:</label> {{user.customerCode}}<br/>
                            <label>{{'taxCode'|translate}}:</label> {{user.taxCode}}<br/>
                            <p>
                                <i class="fa fa-map-marker"></i>
                                {{user.address.town}}, {{user.address.streetName}} {{user.address.buildingNumber}}, {{user.address.postalCode}}
                            </p>
                            <ul>
                                <li>
                                    <span class="fa fa-phone m-r-xs"></span>
                                    <label>{{'phone'|translate}}:</label>
                                    {{user.phoneNumber}}
                                </li>
                                <li>
                                    <span class="fa fa-fax m-r-xs"></span>
                                    <label>{{'fax'|translate}}:</label>
                                    {{user.faxNumber}}
                                </li>
                                <li>
                                    <span class="fa fa-mobile m-r-xs"></span>
                                    <label>{{'mobile'|translate}}:</label>
                                    {{user.mobileNumber}}
                                </li>
                                <li>
                                    <span class="fa fa-envelope m-r-xs"></span>
                                    <label>{{ 'email' | translate}}</label>
                                    {{user.email}}
                                </li>
                            </ul>
                            <div class="row m-t-lg">
                            </div>
                            <div class="user-button">
                                <div class="row">
                                    <div class="pull-right">
                                        <a class="btn btn-xs btn-success"><i class="fa fa-thumbs-up"></i> Like Condominio102</a>
                                        <!--
                                        <a class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i> Message</a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dettaglio profili associati</h5>
                </div>
                <div class="ibox-content">
                    <ul class="list-unstyled file-list">

                        <li ng-repeat="auth in user.authorities" >
                            <a href=""><i class="fa fa-key"></i> {{auth | translate}}</a>
                        </li>

                    </ul>
                </div>
            </div>

        </div>
        <!--div class="col-md-8">
            <spinner-loader ng-show="changesLoading"></spinner-loader>
            <div ng-show="!changesLoading" class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Dettagli attivit&agrave; sui condomini</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">

                    <div id="vertical-timeline" class="vertical-container light-timeline no-margins">

                        <div ng-repeat="change in changes" class="vertical-timeline-block">
                            <div class="vertical-timeline-icon lazur-bg">
                                <i class="fa fa-{{selectIcon(change.status)}}"></i>
                            </div>

                            <div class="vertical-timeline-content">
                                <h2>{{ change.status | translate }}</h2>
                                <a ui-sref="index.plants-detail({plantId: change.plantId})" class="btn btn-sm btn-primary">Vai al condominio</a>
                                    <span class="vertical-date">
                                        <small>{{ change.changeDate | date: medium}}</small>
                                    </span>
                            </div>
                        </div>

                    </div>


                </div>
            </div>

        </div-->

    </div>
</div>

